Pi-ve flow v1-40beta
[{"id":"60c9808.a6c568","type":"tab","label":"Pi-ve v1.40","disabled":false,"info":""},{"id":"a01010fa.0bf2d","type":"mqtt in","z":"60c9808.a6c568","name":"","topic":"pive2mqtt/SLR/#","qos":"2","datatype":"auto","broker":"87a36cb6.d5267","x":140,"y":280,"wires":[["b32ac3bc.dcc2d"]]},{"id":"79553883.bdb3a8","type":"split","z":"60c9808.a6c568","name":"SplitKeys","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":120,"y":400,"wires":[["7dc11749.8ae5f8","2450af28.4a12e"]]},{"id":"7dc11749.8ae5f8","type":"switch","z":"60c9808.a6c568","name":"SLR MQTT Topics","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"linkquality","vt":"str"},{"t":"eq","v":"local_temperature_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_water","vt":"str"},{"t":"eq","v":"running_state_heat","vt":"str"},{"t":"eq","v":"running_state_water","vt":"str"},{"t":"eq","v":"system_mode","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_heat","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_water","vt":"str"},{"t":"eq","v":"system_mode_heat","vt":"str"},{"t":"eq","v":"system_mode_water","vt":"str"},{"t":"eq","v":"last_seen","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":470,"y":300,"wires":[[],["e31c97e1.78e2e8"],["bafd179a.0c17e8"],["b38f1ccc.95d56"],["71d40fc0.3edb6"],["8e8a98a0.c65ab8"],["5ffcaa24.038e64"],["69c4bc1b.6209a4"],["9832657b.644568"],["62efbea4.58313"],["14f118b6.c60cb7"],["308d640f.bfe15c"]]},{"id":"ab383f5f.aced4","type":"inject","z":"60c9808.a6c568","name":"CH system_mode (payload) / 1min Ticker","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"system_mode_heat\": \"\"}","payloadType":"str","x":210,"y":80,"wires":[["82febc4f.eade7"]]},{"id":"234415ec.57693a","type":"mqtt out","z":"60c9808.a6c568","name":"Controller/heat/set/occupied_heating_setpoint","topic":"pive2mqtt/SLR/heat/set/occupied_heating_setpoint","qos":"2","retain":"true","broker":"87a36cb6.d5267","x":1300,"y":200,"wires":[]},{"id":"fa9248e5.e1ba78","type":"mqtt out","z":"60c9808.a6c568","name":"Controller/heat/set/system_mode","topic":"pive2mqtt/SLR/heat/set/system_mode","qos":"2","retain":"true","broker":"87a36cb6.d5267","x":1260,"y":260,"wires":[]},{"id":"bf7bfecd.9c222","type":"function","z":"60c9808.a6c568","name":"System Heat Payload/Boost off?","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_heat\": value}\nmsg.value = value\nif (msg.value === 'heat'){\n    flow.set('switchStateCH', \"On\");\n}\nelse {\n    flow.set('switchStateCH', \"Off\");\n    flow.set('boostTimeEndCH', flow.get('SSE'));    //effectively ends boost (if active)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1340,"wires":[["1fc1c8a7.b3eb97","8e8650ff.73976","1a7a6019.94e8b"]]},{"id":"1a33fec0.9aa091","type":"function","z":"60c9808.a6c568","name":"System Water Payload/Boost off?","func":"var value = msg.payload;\nmsg.value = value\nmsg.payload = {\"system_mode_water\": value}\nflow.set('switchStateHW', msg.value);\nif (msg.value === 'heat'){\n    flow.set('switchStateHW', \"On\");\n}\nelse {\n    flow.set('switchStateHW', \"Off\");\n    flow.set('boostTimeEndHW', flow.get('SSE'));    //effectively ends boost (if active)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":1340,"wires":[["c47a5539.a56868","b2f4f054.c108d","f5cb149a.886f38"]]},{"id":"82febc4f.eade7","type":"mqtt out","z":"60c9808.a6c568","name":"Controller/get","topic":"pive2mqtt/SLR/get","qos":"2","retain":"true","broker":"87a36cb6.d5267","x":200,"y":140,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"b2f4f054.c108d","type":"function","z":"60c9808.a6c568","name":"\"temperature_setpoint_hold_water\" pub to SLR","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":1380,"wires":[["ff0ef62d.27fea8"]]},{"id":"43f3d6e8.af11c8","type":"mqtt out","z":"60c9808.a6c568","name":"Controller/set","topic":"pive2mqtt/SLR/set","qos":"2","retain":"true","broker":"87a36cb6.d5267","x":1190,"y":140,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"8e8650ff.73976","type":"function","z":"60c9808.a6c568","name":"\"temperature_setpoint_hold_heat\" pub to SLR","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1380,"wires":[["88d26d4f.f800a"]]},{"id":"b31986fd.25b368","type":"link out","z":"60c9808.a6c568","name":"HW Payload out","links":["6c62a8a4.8e5dd8"],"x":1575,"y":1400,"wires":[]},{"id":"6c62a8a4.8e5dd8","type":"link in","z":"60c9808.a6c568","name":"Controller/get","links":["b31986fd.25b368","bded5310.8d646","85ffacb5.83dae"],"x":55,"y":140,"wires":[["82febc4f.eade7"]]},{"id":"85ffacb5.83dae","type":"link out","z":"60c9808.a6c568","name":"CH Payload out","links":["6c62a8a4.8e5dd8"],"x":395,"y":1400,"wires":[]},{"id":"ff0ef62d.27fea8","type":"link out","z":"60c9808.a6c568","name":"Controller/set","links":["d01ce556.0ae828"],"x":2215,"y":1380,"wires":[]},{"id":"d01ce556.0ae828","type":"link in","z":"60c9808.a6c568","name":"Controller/set","links":["ff0ef62d.27fea8","88d26d4f.f800a","c47a5539.a56868","1fc1c8a7.b3eb97"],"x":1035,"y":140,"wires":[["43f3d6e8.af11c8"]]},{"id":"88d26d4f.f800a","type":"link out","z":"60c9808.a6c568","name":"Controller/set","links":["d01ce556.0ae828"],"x":1015,"y":1380,"wires":[]},{"id":"c47a5539.a56868","type":"link out","z":"60c9808.a6c568","name":"Controller/set","links":["d01ce556.0ae828","1d5dc33b.7b0dad"],"x":1835,"y":1340,"wires":[]},{"id":"1fc1c8a7.b3eb97","type":"link out","z":"60c9808.a6c568","name":"Controller/set","links":["d01ce556.0ae828"],"x":635,"y":1340,"wires":[]},{"id":"2cf3ffef.632b5","type":"delay","z":"60c9808.a6c568","name":"Delay Therm Payload & pub","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":1460,"wires":[["81bc5965.589368"]]},{"id":"62efbea4.58313","type":"link out","z":"60c9808.a6c568","name":"system_mode_heat","links":["a589eb81.20f098","fddde02d.ff846"],"x":655,"y":480,"wires":[]},{"id":"14f118b6.c60cb7","type":"link out","z":"60c9808.a6c568","name":"system_mode_water","links":["bc1bd10b.98732"],"x":675,"y":520,"wires":[]},{"id":"bafd179a.0c17e8","type":"link out","z":"60c9808.a6c568","name":"occupied_heating_setpoint_heat","links":["e439906c.aae5"],"x":655,"y":200,"wires":[]},{"id":"71d40fc0.3edb6","type":"link out","z":"60c9808.a6c568","name":"running_state_heat","links":["af748ac9.0c7a38","5e5ffe2b.c2ab6"],"x":655,"y":280,"wires":[]},{"id":"af748ac9.0c7a38","type":"link in","z":"60c9808.a6c568","name":"running_state_heat","links":["71d40fc0.3edb6"],"x":75,"y":1080,"wires":[["49c441e0.291bc","495371a5.b73d7","2341f385.a0556c"]]},{"id":"8e8a98a0.c65ab8","type":"link out","z":"60c9808.a6c568","name":"running_state_water","links":["9d3bf979.eebb98","9331ed15.b485"],"x":675,"y":320,"wires":[]},{"id":"9d3bf979.eebb98","type":"link in","z":"60c9808.a6c568","name":"running_state_water","links":["8e8a98a0.c65ab8"],"x":1035,"y":1080,"wires":[["c0f2b429.f43bc8","e801027b.39b9a","4a8b80af.29ce3"]]},{"id":"e31c97e1.78e2e8","type":"link out","z":"60c9808.a6c568","name":"local_temperature_heat","links":["ab4f2bab.25a508","26c6923b.47bdde"],"x":655,"y":160,"wires":[]},{"id":"ab4f2bab.25a508","type":"link in","z":"60c9808.a6c568","name":"Temp Disp","links":["e31c97e1.78e2e8"],"x":1035,"y":980,"wires":[["3ebf2261.324a3e","fcb12cd4.5bfd4"]]},{"id":"2b20eac7.bbc426","type":"comment","z":"60c9808.a6c568","name":"Pi-ve - CH/HW Controller Project (Pi Zero W + Hive SLR/SLT) Beta 1.40","info":"","x":270,"y":40,"wires":[]},{"id":"e8c040d1.76c2c","type":"comment","z":"60c9808.a6c568","name":"local_temperature_heat","info":"","x":780,"y":160,"wires":[]},{"id":"1a99c7b3.d77f08","type":"comment","z":"60c9808.a6c568","name":"occupied_heating_setpoint_heat","info":"","x":810,"y":200,"wires":[]},{"id":"64aa992e.822428","type":"comment","z":"60c9808.a6c568","name":"running_state_water","info":"","x":790,"y":320,"wires":[]},{"id":"577bfe53.39c39","type":"link in","z":"60c9808.a6c568","name":"Controller/heat/set/occupied_heating_setpoint","links":["81bc5965.589368","3e9ed23e.863e1e","539dcc76.2b5964","bfed81ea.0969a"],"x":1035,"y":200,"wires":[["234415ec.57693a"]]},{"id":"81bc5965.589368","type":"link out","z":"60c9808.a6c568","name":"Controller/heat/set/occupied_heating_setpoint","links":["577bfe53.39c39"],"x":1015,"y":1460,"wires":[]},{"id":"d7c92202.4613c","type":"comment","z":"60c9808.a6c568","name":"running_state_heat","info":"","x":770,"y":280,"wires":[]},{"id":"b9ae67df.fcc0f8","type":"comment","z":"60c9808.a6c568","name":"system_mode_heat","info":"","x":770,"y":480,"wires":[]},{"id":"9c73d7e4.8cd668","type":"comment","z":"60c9808.a6c568","name":"system_mode_water","info":"","x":790,"y":520,"wires":[]},{"id":"5ffcaa24.038e64","type":"link out","z":"60c9808.a6c568","name":"system_mode","links":["bbca81c.524588"],"x":655,"y":440,"wires":[]},{"id":"3b5dc353.55c49c","type":"comment","z":"60c9808.a6c568","name":"system_mode","info":"","x":750,"y":440,"wires":[]},{"id":"69c4bc1b.6209a4","type":"link out","z":"60c9808.a6c568","name":"temperature_setpoint_hold_heat","links":["74310ead.91b41","ffe572b5.3a925"],"x":655,"y":360,"wires":[]},{"id":"4c88f03c.d6c35","type":"comment","z":"60c9808.a6c568","name":"temperature_setpoint_hold_heat","info":"","x":810,"y":360,"wires":[]},{"id":"9832657b.644568","type":"link out","z":"60c9808.a6c568","name":"temperature_setpoint_hold_water","links":["aece101.52c99f","9e7ac1eb.398c8"],"x":675,"y":400,"wires":[]},{"id":"4d99a132.f9227","type":"comment","z":"60c9808.a6c568","name":"temperature_setpoint_hold_water","info":"","x":830,"y":400,"wires":[]},{"id":"b38f1ccc.95d56","type":"link out","z":"60c9808.a6c568","name":"occupied_heating_setpoint_water","links":["1d5dc33b.7b0dad"],"x":675,"y":240,"wires":[]},{"id":"496ebb6f.a784a4","type":"comment","z":"60c9808.a6c568","name":"occupied_heating_setpoint_water","info":"","x":830,"y":240,"wires":[]},{"id":"d77df65b.60db38","type":"comment","z":"60c9808.a6c568","name":"Heat and Hot Water On/Off flow - triggers relevant mqtt messages","info":"","x":1130,"y":1340,"wires":[]},{"id":"5b94eb8b.b43e14","type":"comment","z":"60c9808.a6c568","name":"Display CH Thermostat Sliders - Get Changes. Publish to SLR and save","info":"","x":1350,"y":800,"wires":[]},{"id":"2e5c2f46.3c8db","type":"comment","z":"60c9808.a6c568","name":"Display Thermostat Temperature Gauge and Value","info":"","x":1530,"y":980,"wires":[]},{"id":"1a3aaee0.ca6741","type":"link in","z":"60c9808.a6c568","name":"Controller/heat/set/system_mode","links":["83d9d7b7.0f43a8"],"x":1035,"y":260,"wires":[["fa9248e5.e1ba78"]]},{"id":"e326c1ae.9d8d4","type":"comment","z":"60c9808.a6c568","name":"Display CH and HW demand_state and demand icons","info":"","x":800,"y":1080,"wires":[]},{"id":"8b7cf0e5.36495","type":"comment","z":"60c9808.a6c568","name":"mqqt publish topics to SLR","info":"","x":1130,"y":100,"wires":[]},{"id":"e611f31c.b1dac","type":"comment","z":"60c9808.a6c568","name":"mqqt subscribe to SLR topics","info":"","x":180,"y":240,"wires":[]},{"id":"b32ac3bc.dcc2d","type":"json","z":"60c9808.a6c568","name":"","property":"payload","action":"","pretty":false,"x":110,"y":360,"wires":[["79553883.bdb3a8"]]},{"id":"4cd06a4.e76c594","type":"comment","z":"60c9808.a6c568","name":"SLR/SLT status (online/offline)","info":"","x":280,"y":480,"wires":[]},{"id":"2450af28.4a12e","type":"trigger","z":"60c9808.a6c568","name":"online trigger 65 secs","op1":"online","op2":"offline","op1type":"str","op2type":"str","duration":"65","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":160,"y":520,"wires":[["94a6afb.c0ce75","d5c213e4.ef67d"]]},{"id":"e63d318d.5ad36","type":"template","z":"60c9808.a6c568","name":"HTML page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK - {{req.params.cmd}}</h1>\n    </body>\n</html>","x":1750,"y":1760,"wires":[["61968948.955738"]]},{"id":"61968948.955738","type":"http response","z":"60c9808.a6c568","name":"","x":2010,"y":1760,"wires":[]},{"id":"23e99549.60f2fa","type":"http in","z":"60c9808.a6c568","name":"","url":"/cmd","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1820,"wires":[["ade646e9.af20a8"]]},{"id":"dea41939.d7a3e8","type":"switch","z":"60c9808.a6c568","name":"HW state","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"On","vt":"str"},{"t":"cont","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":1840,"wires":[["14858a62.67ffb6","d575fe1e.2308f"],["14858a62.67ffb6","e1890c4.f8da0f"]]},{"id":"35be4392.b1a49c","type":"link out","z":"60c9808.a6c568","name":"HW On","links":["68bedef5.98af9"],"x":935,"y":1820,"wires":[]},{"id":"fb27b820.800658","type":"link out","z":"60c9808.a6c568","name":"HW Off","links":["68bedef5.98af9"],"x":935,"y":1860,"wires":[]},{"id":"62c07d59.5102b4","type":"link out","z":"60c9808.a6c568","name":"/GetHW","links":["68bedef5.98af9"],"x":2215,"y":1840,"wires":[]},{"id":"bb88d445.2332c8","type":"switch","z":"60c9808.a6c568","name":"Check topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"HW","vt":"str"},{"t":"eq","v":"CH","vt":"str"},{"t":"eq","v":"SP","vt":"str"},{"t":"eq","v":"CHBoost","vt":"str"},{"t":"eq","v":"HWBoost","vt":"str"},{"t":"eq","v":"tmrActive","vt":"str"},{"t":"eq","v":"manActive","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":110,"y":1980,"wires":[["dea41939.d7a3e8"],["c297a3aa.2fdc9"],["94001f34.4d0df"],["93f3ddca.b81a2"],["626658d7.887ad8"],["7293bf8d.c3b8b"],["f8dbe415.d49748"],["c13c6a7c.35c5a8"]]},{"id":"ade646e9.af20a8","type":"split","z":"60c9808.a6c568","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":90,"y":1880,"wires":[["bb88d445.2332c8"]]},{"id":"c297a3aa.2fdc9","type":"switch","z":"60c9808.a6c568","name":"CH state","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"On","vt":"str"},{"t":"cont","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":1880,"wires":[["14858a62.67ffb6","e9ac4c65.98f1c"],["14858a62.67ffb6","999fc0fc.bd3fb"]]},{"id":"9e1aede3.38636","type":"link out","z":"60c9808.a6c568","name":"CH On","links":["ae2008f7.6d3de8"],"x":935,"y":1960,"wires":[]},{"id":"4cc57221.435e9c","type":"link out","z":"60c9808.a6c568","name":"CH Off","links":["f58a9dac.df5d6","ae2008f7.6d3de8"],"x":935,"y":2000,"wires":[]},{"id":"ee405a79.511928","type":"link out","z":"60c9808.a6c568","name":"/GetCH","links":["ae2008f7.6d3de8"],"x":2215,"y":1940,"wires":[]},{"id":"e3b0c482.87ca78","type":"comment","z":"60c9808.a6c568","name":"HTTP GETs","info":"","x":1410,"y":1700,"wires":[]},{"id":"94001f34.4d0df","type":"switch","z":"60c9808.a6c568","name":"SP Value","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"btwn","v":"1","vt":"num","v2":"30","v2t":"num"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":3,"x":340,"y":1780,"wires":[["c13c6a7c.35c5a8"],["68c78a3f.860d54","14858a62.67ffb6"],["c13c6a7c.35c5a8"]]},{"id":"68c78a3f.860d54","type":"link out","z":"60c9808.a6c568","name":"/SP Out","links":["2ee46308.3e983c"],"x":815,"y":1740,"wires":[]},{"id":"c13c6a7c.35c5a8","type":"template","z":"60c9808.a6c568","name":"ERR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>ERR</h1>\n    </body>\n    <meta http-equiv=\"refresh\" content=\"3; url=/ctrl/page\" />\n</html>","x":550,"y":1740,"wires":[["e507b09a.13007"]]},{"id":"e507b09a.13007","type":"http response","z":"60c9808.a6c568","name":"","x":890,"y":1700,"wires":[]},{"id":"14858a62.67ffb6","type":"template","z":"60c9808.a6c568","name":"OK","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK</h1>\n    </body>\n    <meta http-equiv=\"refresh\" content=\"3; url=/ctrl/page\" />\n</html>","x":550,"y":1700,"wires":[["e507b09a.13007"]]},{"id":"8218bae7.b3d8f8","type":"http in","z":"60c9808.a6c568","name":"","url":"/ctrl/:cmd","method":"get","upload":false,"swaggerDoc":"","x":1410,"y":1780,"wires":[["705dfdfb.e5f674"]]},{"id":"fcb12cd4.5bfd4","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1000,"wires":[[]]},{"id":"fedc7500.ecdc38","type":"template","z":"60c9808.a6c568","name":"ctrl page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta http-equiv=\"refresh\" content=\"30\">\n    <title>Pi-ve ctrl v0.47</title>\n    <style>\n    body {font-family: Arial, serif;}\n      \n#slidecontainer {\n    width: 100%;\n}\n\nbutton {/* Customize the button here*/\n  font-size:20px;\n  width:100px;\n  height:35px;\n  background:lightblue;\n  border-radius: 12px;\n}      \n      \n.slider {\n    -webkit-appearance: none;\n    -webkit-transform: rotate(0deg);\n    width: 400px;\n    height: 10px;\n  position:absolute;\n    top:50%;\n    left:50%;\n    left:0px;\n    top:230px;\n    background: #e2dcdc;\n    outline: none;\n    opacity: 0.7;\n    -webkit-transition: .2s;\n    transition: opacity .2s;\n}\n\ninput[type=\"submit\"] {\n  -webkit-appearance: none;\n  -moz-appearance:    none;\n  appearance:         none;\n  font-size:20px;\n  padding: 0px;\n  height: 35px;\n  width: 100px;\n  border-radius: 12px;\n}\n          \nsection {\n    display: table;\n    width: 100%;\n    background-color: ;\n  \tmax-width: 420px;\n  \tbackground-color: ;\n}\n\n\n.bcol-1, .bcol-2, .bcol-3, .bcol-4 {\n    width: 0%;\n    display: table-cell;\n    background-color: ;\n}\n\n      \n}\n</style> </head>\n  <body>\n    <h1>Pi-ve HW/CH Controller</h1>\n    <h2><span style=\" color:blue; background-color: #e2dcdc;\">Temperature:\n        {{flow.temp}} C</span></h2>\n    <h2 style=\" color:blue;\">Set Thermostat Setpoint</h2>\n    <form action=\"/cmd\" method=\"POST\" id=\"form\" style=\"width: 455px;\">\n      <p> <input name=\"SP\" min=\"0\" max=\"30\" value=\"20\" step=\"0.5\" class=\"slider\"\n\n          id=\"myRange\" type=\"range\"> </p>\n      <h3>SP Temp: <span id=\"sp\"></span>C</h3>\n      <br>\n      <br>\n      <button type=\"submit\" value=\"SP\">Submit</button>\n      <p></p>\n      <br>\n    </form>\n    <h2><span style=\"color: #3333ff; background-color: #e2dcdc;\">HW -\n        {{flow.switchStateHW}} / {{flow.modeHW}} / Demand = {{flow.DemandHW}}</span></h2>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"HW\" value=\"On\">HWOn</button>\n        </form>\n      </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"HW\" value=\"Off\">HWOff</button>\n          </form>\n        </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"tmrActive\" value=\"HW\">Timer\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"manActive\" value=\"HW\">Manual\n              </button></form> </div>\n      </div>\n    </section>\n    <h2> <span style=\"color: #3333ff; background-color: #e2dcdc;\">CH -\n        {{flow.switchStateCH}} / {{flow.modeCH}} / Demand = {{flow.DemandCH}}</span></h2>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"CH\" value=\"On\">CHOn</button>\n        </form>\n      </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"CH\" value=\"Off\">CHOff</button>\n          </form>\n        </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"tmrActive\" value=\"CH\">Timer\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"manActive\" value=\"CH\">Manual\n              </button></form> </div>\n      </div>\n    </section>\n    <p> </p>\n    <br>\n    <h2><span style=\"color: #3333ff; background-color: #e2dcdc;\">HW Boost -\n        {{flow.boostTxtHW}} {{flow.boostTimeTxtHW}}</span> </h2>\n    <p> </p>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"30\">+30m</button>\n        </form>\n      </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"60\">+60m\n              </button></form> </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"90\">+90m\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"Off\">Off\n              </button></form> </div>\n      </div>\n    </section>\n    <h2><span style=\"color: #3333ff; background-color: #e2dcdc;\">CH Boost -\n        {{flow.boostTxtCH}} {{flow.boostTimeTxtCH}}<br>\n      </span></h2>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"30\">+30m\n            </button></form> </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"60\">+60m\n              </button></form> </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"90\">+90m\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"Off\">Off\n              </button></form> </div>\n      </div>\n    </section>\n    <script>      \nlet thermSP = {{flow.thermSP}};\nvar slider = document.getElementById(\"myRange\");\ndocument.getElementById(\"myRange\").defaultValue = thermSP;\n\nslider = document.getElementById(\"myRange\");\nvar output = document.getElementById(\"sp\");\noutput.innerHTML = slider.value;\n\nslider.oninput = function() {\n  output.innerHTML = this.value;\n}\n\nslider.onmouseup = function () {\n  document.getElementById(\"form\").submit();\n} \n  </script>\n    \n  </body>\n</html>","x":1760,"y":1720,"wires":[["61968948.955738"]]},{"id":"3b916a74.bcd3e6","type":"ui_slider","z":"60c9808.a6c568","name":"","label":"Thermostat SP","tooltip":"","group":"6b9905d5.01ca1c","order":5,"width":6,"height":2,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"1","max":"30","step":"0.5","x":1180,"y":740,"wires":[["bfed81ea.0969a","91985d8a.ae344"]]},{"id":"9dec08b1.a4fec8","type":"ui_text","z":"60c9808.a6c568","group":"6b9905d5.01ca1c","order":1,"width":"3","height":1,"name":"Last Seen","label":"Last Seen:","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":480,"wires":[]},{"id":"49c441e0.291bc","type":"ui_text","z":"60c9808.a6c568","group":"6b9905d5.01ca1c","order":7,"width":"2","height":1,"name":"CH Demand","label":"Demand:","format":"","layout":"row-spread","x":210,"y":1080,"wires":[]},{"id":"c0f2b429.f43bc8","type":"ui_text","z":"60c9808.a6c568","group":"6b9905d5.01ca1c","order":15,"width":"2","height":1,"name":"HW Demand","label":"Demand:","format":"","layout":"row-spread","x":1170,"y":1080,"wires":[]},{"id":"73e297f6.346ab8","type":"ui_text","z":"60c9808.a6c568","group":"6b9905d5.01ca1c","order":17,"width":"2","height":1,"name":"HW State","label":"State:","format":"","layout":"row-spread","x":1780,"y":1500,"wires":[]},{"id":"7cdcb6a.b394748","type":"ui_text","z":"60c9808.a6c568","group":"6b9905d5.01ca1c","order":10,"width":"2","height":1,"name":"CH State","label":"State:","format":"","layout":"row-spread","x":620,"y":1500,"wires":[]},{"id":"94a6afb.c0ce75","type":"ui_text","z":"60c9808.a6c568","group":"6b9905d5.01ca1c","order":2,"width":"2","height":1,"name":"State","label":"State:","format":"{{value}}","layout":"row-spread","x":490,"y":520,"wires":[]},{"id":"3ebf2261.324a3e","type":"ui_gauge","z":"60c9808.a6c568","name":"Thermostat Temp Gauge","group":"6b9905d5.01ca1c","order":4,"width":"6","height":"3","gtype":"gage","title":"SLR Thermostat Temperature","label":"","format":"{{value | number:2}}","min":0,"max":"30","colors":["#a9402d","#e6e600","#3acb4a"],"seg1":"15","seg2":"18","x":1210,"y":960,"wires":[]},{"id":"308d640f.bfe15c","type":"function","z":"60c9808.a6c568","name":"Store 'Last Seen'","func":"let thisString = new Date(msg.payload);\nlet spl = thisString.toString().split(\" \");\nlet tme = spl[4].toString().split(\":\");\n\nmsg.payload = tme[0] + \":\" + tme[1];\nflow.set('lastSeen', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":440,"wires":[["9dec08b1.a4fec8"]]},{"id":"6aaa00c9.c5d96","type":"ui_switch","z":"60c9808.a6c568","name":"HW Switch","label":"Manual Mode - Off/On","tooltip":"","group":"6b9905d5.01ca1c","order":19,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"offonSwitch","topicType":"str","style":"","onvalue":"heat","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":1470,"y":1460,"wires":[["b719e35f.9afc8","73e297f6.346ab8","cf0f2419.967168","27b3dd79.af8452","1a33fec0.9aa091"]]},{"id":"1fdccb8.b30d235","type":"ui_switch","z":"60c9808.a6c568","name":"CH Switch","label":"Manual Mode - Off/On","tooltip":"","group":"6b9905d5.01ca1c","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"offonSwitch","topicType":"str","style":"","onvalue":"heat","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":310,"y":1460,"wires":[["1a340aa2.ed61e5","7cdcb6a.b394748","a52955f0.59c088","ad4a8645.06b018","bf7bfecd.9c222","a31f1499.b910d8"]]},{"id":"8f8971ca.2d86c","type":"change","z":"60c9808.a6c568","name":"-> weekday/dayIndex HW","rules":[{"t":"set","p":"dayIndexHW","pt":"flow","to":"$number(msg.topic)\t","tot":"jsonata"},{"t":"set","p":"selectedDayHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2540,"wires":[["59629111.e4fd1"]]},{"id":"e12a40de.dc4b3","type":"ui_button","z":"60c9808.a6c568","name":"Sun HW","group":"a8133ce.6bd81c","order":7,"width":"1","height":"1","passthru":true,"label":"Sun","tooltip":"Show Sunday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions ","color":"","bgcolor":"","icon":"","payload":"Sun","payloadType":"str","topic":"0","topicType":"str","x":280,"y":2540,"wires":[["8f8971ca.2d86c"]]},{"id":"d7dde373.25ec3","type":"ui_button","z":"60c9808.a6c568","name":"Mon HW","group":"a8133ce.6bd81c","order":1,"width":"1","height":"1","passthru":true,"label":"Mon","tooltip":"Show Monday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Mon","payloadType":"str","topic":"1","topicType":"str","x":280,"y":2580,"wires":[["8f8971ca.2d86c"]]},{"id":"e71463a3.e0a22","type":"ui_button","z":"60c9808.a6c568","name":"Tue HW","group":"a8133ce.6bd81c","order":2,"width":"1","height":"1","passthru":true,"label":"Tue","tooltip":"Show Tuesday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Tue","payloadType":"str","topic":"2","topicType":"str","x":280,"y":2620,"wires":[["8f8971ca.2d86c"]]},{"id":"ec4409b9.2ede58","type":"ui_button","z":"60c9808.a6c568","name":"Wed HW","group":"a8133ce.6bd81c","order":3,"width":"1","height":"1","passthru":true,"label":"Wed","tooltip":"Show Wednesday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Wed","payloadType":"str","topic":"3","topicType":"str","x":280,"y":2660,"wires":[["8f8971ca.2d86c"]]},{"id":"513486b5.789de8","type":"ui_button","z":"60c9808.a6c568","name":"Thu HW","group":"a8133ce.6bd81c","order":4,"width":"1","height":"1","passthru":true,"label":"Thu","tooltip":"Show Thursday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Thu","payloadType":"str","topic":"4","topicType":"str","x":280,"y":2700,"wires":[["8f8971ca.2d86c"]]},{"id":"3c2a1103.79572e","type":"ui_button","z":"60c9808.a6c568","name":"Fri HW","group":"a8133ce.6bd81c","order":5,"width":"1","height":"1","passthru":true,"label":"Fri","tooltip":"Show Friday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Fri","payloadType":"str","topic":"5","topicType":"str","x":270,"y":2740,"wires":[["8f8971ca.2d86c"]]},{"id":"edd7c701.a4f498","type":"ui_button","z":"60c9808.a6c568","name":"Sat HW","group":"a8133ce.6bd81c","order":6,"width":"1","height":"1","passthru":true,"label":"Sat","tooltip":"Show Saturday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Sat","payloadType":"str","topic":"6","topicType":"str","x":280,"y":2780,"wires":[["8f8971ca.2d86c"]]},{"id":"59629111.e4fd1","type":"file in","z":"60c9808.a6c568","name":"Read HW (1)","filename":"Pive-HW","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":870,"y":2540,"wires":[["f5df4082.deba7"]]},{"id":"f5df4082.deba7","type":"json","z":"60c9808.a6c568","name":"","property":"payload","action":"","pretty":false,"x":610,"y":2580,"wires":[["b56f9ac9.163258"]]},{"id":"d3e8f0fe.d7052","type":"link in","z":"60c9808.a6c568","name":"Submit HW","links":["1437b72a.6f3c99","95a3c685.507048"],"x":935,"y":2360,"wires":[["ac8c8073.31ac4","b1c74511.2c8978","59629111.e4fd1"]]},{"id":"2e2d24a.a7ff5dc","type":"change","z":"60c9808.a6c568","name":"-> weekday/dayIndexHW","rules":[{"t":"set","p":"dayIndexHW","pt":"flow","to":"dayIndexHW","tot":"msg"},{"t":"set","p":"selectedDayHW","pt":"flow","to":"dayHW","tot":"msg"},{"t":"set","p":"dbWriteLockHW","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostHW","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":2460,"wires":[["ac8c8073.31ac4","b1c74511.2c8978","59629111.e4fd1"]]},{"id":"b56f9ac9.163258","type":"change","z":"60c9808.a6c568","name":"set weekdayHW","rules":[{"t":"set","p":"stored-dbHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2640,"wires":[["a7f007b9.9fb528"]]},{"id":"ac8c8073.31ac4","type":"function","z":"60c9808.a6c568","name":"Reset Start/End","func":"msg.payload = '00:00';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":2600,"wires":[["95918bf2.549d68","7372b682.b2d4f8"]]},{"id":"b1c74511.2c8978","type":"function","z":"60c9808.a6c568","name":"Reset Timeslot Title","func":"msg.payload = '<-- Select Day/Time Slot';\nflow.set('selectTSHW', \"-\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":2560,"wires":[["6a1abc1.7f2a044"]]},{"id":"ca94adaf.f437d","type":"function","z":"60c9808.a6c568","name":"get date/time","func":"let date = Date();\nvar DayIndex = []; \nDayIndex['Sun'] = 0;\nDayIndex['Mon'] = 1;\nDayIndex['Tue'] = 2;\nDayIndex['Wed'] = 3;\nDayIndex['Thu'] = 4;\nDayIndex['Fri'] = 5;\nDayIndex['Sat'] = 6;    //'Day' , DayIndex for lookup\n            \nlet day = date.substring(0, 3);\nmsg.dayIndexHW = DayIndex[day];\nmsg.dayHW = day;\nmsg.payload = date;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":2420,"wires":[["2e2d24a.a7ff5dc"]]},{"id":"a7f007b9.9fb528","type":"switch","z":"60c9808.a6c568","name":"Select Day of Week HW","property":"selectedDayHW","propertyType":"flow","rules":[{"t":"eq","v":"Sun","vt":"str"},{"t":"eq","v":"Mon","vt":"str"},{"t":"eq","v":"Tue","vt":"str"},{"t":"eq","v":"Wed","vt":"str"},{"t":"eq","v":"Thu","vt":"str"},{"t":"eq","v":"Fri","vt":"str"},{"t":"eq","v":"Sat","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":610,"y":2760,"wires":[["7ac78467.7ea2ac"],["a330480.d2162b8"],["f9dad112.62f81"],["a2cc92a2.a7af7"],["b1ca6fd6.06391"],["7cd170e0.32369"],["ffe2b465.f3b938"]]},{"id":"95918bf2.549d68","type":"ui_text_input","z":"60c9808.a6c568","name":"TS Start","label":"Start","tooltip":"","group":"7c94183b.9ba938","order":2,"width":"0","height":"0","passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1380,"y":2880,"wires":[["3a951d74.129bb2"]]},{"id":"7372b682.b2d4f8","type":"ui_text_input","z":"60c9808.a6c568","name":"TSEnd","label":"End","tooltip":"","group":"7c94183b.9ba938","order":3,"width":"0","height":"0","passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1370,"y":2920,"wires":[["a58999d4.e462d8"]]},{"id":"6a1abc1.7f2a044","type":"ui_text_input","z":"60c9808.a6c568","name":"Day/Time Slot","label":"Time Slot","tooltip":"","group":"7c94183b.9ba938","order":1,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1400,"y":2840,"wires":[[]]},{"id":"4f1abe76.4418f","type":"inject","z":"60c9808.a6c568","name":"OnInit Setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"resetHW","payload":"","payloadType":"date","x":1130,"y":2360,"wires":[["ca94adaf.f437d","251cdf88.df3ae"]]},{"id":"7ac78467.7ea2ac","type":"change","z":"60c9808.a6c568","name":"Get Sun array (0)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[0][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2640,"wires":[["33641b75.4f7774"]]},{"id":"a330480.d2162b8","type":"change","z":"60c9808.a6c568","name":"Get Mon array (1)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[1][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2680,"wires":[["33641b75.4f7774"]]},{"id":"f9dad112.62f81","type":"change","z":"60c9808.a6c568","name":"Get Tue array (2)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[2][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2720,"wires":[["33641b75.4f7774"]]},{"id":"a2cc92a2.a7af7","type":"change","z":"60c9808.a6c568","name":"Get Wed array (3)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[3][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2760,"wires":[["33641b75.4f7774"]]},{"id":"b1ca6fd6.06391","type":"change","z":"60c9808.a6c568","name":"Get Thu array (4)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[4][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2800,"wires":[["33641b75.4f7774"]]},{"id":"7cd170e0.32369","type":"change","z":"60c9808.a6c568","name":"Get Fri array (5)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[5][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":2840,"wires":[["33641b75.4f7774"]]},{"id":"ffe2b465.f3b938","type":"change","z":"60c9808.a6c568","name":"Get Sat array (6)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[6][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2880,"wires":[["33641b75.4f7774"]]},{"id":"3a951d74.129bb2","type":"moment","z":"60c9808.a6c568","name":"","topic":"","input":"","inputType":"msg","inTz":"","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"","output":"","outputType":"msg","outTz":"","x":1580,"y":2880,"wires":[["57dce213.af6f4c"]]},{"id":"75585560.e9e52c","type":"change","z":"60c9808.a6c568","name":"HW TS Start","rules":[{"t":"set","p":"dayHW","pt":"flow","to":"payload.title","tot":"msg"},{"t":"set","p":"savedDaySlotPayloadHW","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \"On Time \")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(msg.payload, \" \")","tot":"jsonata"},{"t":"set","p":"StartTimeHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":2880,"wires":[["95918bf2.549d68"]]},{"id":"a58999d4.e462d8","type":"moment","z":"60c9808.a6c568","name":"","topic":"","input":"","inputType":"msg","inTz":"","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"","output":"","outputType":"msg","outTz":"","x":1580,"y":2920,"wires":[["f5681a3d.bf7b28"]]},{"id":"e41e4269.bbaef","type":"change","z":"60c9808.a6c568","name":"HW TS End","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \" - \")","tot":"jsonata"},{"t":"set","p":"EndTimeHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":2920,"wires":[["7372b682.b2d4f8"]]},{"id":"6d3b7059.ebdab","type":"change","z":"60c9808.a6c568","name":"HW Day/TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"},{"t":"set","p":"selectTSHW","pt":"flow","to":"$substring(msg.payload, 14, 1)\t","tot":"jsonata"},{"t":"set","p":"selectedTSIndexHW","pt":"flow","to":"$number($substring(msg.payload, 14, 1)\t) -1","tot":"jsonata"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":2840,"wires":[["6a1abc1.7f2a044"]]},{"id":"33641b75.4f7774","type":"function","z":"60c9808.a6c568","name":"Format HW timeslots","func":"newPayload = [];                                        //init new Array\nflow.set('savedSelectedDayHW', msg.payload);            //save whole week HW array\nflow.set('savedSelectedTimeSlotHW', msg.period);        //time slot elements from day selected\nflow.set('TSArraySizeHW', msg.period.length);           //save length of daily time slot selected (eg 8)\nselectedDayHW = flow.get('selectedDayHW');              //get day selected eg \"Sat\"             \n\nfunction timeConv(totalMins) {                          //convert mins to \"hh:mm\" function\nlet hours = Math.floor(totalMins / 60);\nlet minutes = totalMins - (hours*60);\n\n// If you want strings with leading zeroes:\nminutes = String(minutes).padStart(2, \"0\");\nhours = String(hours).padStart(2, \"0\");\ntimeString = (hours + \":\" + minutes);\nreturn timeString;\n}\n\n\n// create array ready to populate\nlet StartEndArrHW = new Array(2);                       //to contain start and end mins since midnight\nfor (var i = 0; i < msg.period.length; i++) {           //create msg.period.length of them\n  StartEndArrHW[i] = new Array(2);\n}\n\n\n//now loop through each element of selected day time slots (in msg.period) to \n//make time slot info in HW TS List on dashboard AND a StartEnd time array stored and used elsewhere\nmsg.period.forEach(doit,0);                             //loop thru daily time slots.. init i to be 0\nfunction doit(entry,i) {\n    StartEndArrHW[i][0] = entry.startTime;              //store start/end times in array\n    StartEndArrHW[i][1] = entry.endTime;\n    \n    i++;                                                //time slot number = index+1 then create 'title' and 'description' for dashboard\n    newentry = {'title' : selectedDayHW + ' Time Slot ' +i,\n                'description' : 'On Time ' + timeConv(entry.startTime) + ' - ' + timeConv(entry.endTime)\n    }\n    newPayload.push(newentry);                          //put newly created element into newPayload array\n}\n\nflow.set('StartEndArrHW', StartEndArrHW);               //save start/end array\nmsg.payload=newPayload;                                 //and put new payload into payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":2640,"wires":[["f86f1739.b74908"]]},{"id":"57dce213.af6f4c","type":"function","z":"60c9808.a6c568","name":"newStartTime","func":"//if empty string returned from formatter, then send old StartTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newStartTimeHW', '12345678901' + flow.get('StartTimeHW'));\n    msg.payload = '12345678901' + flow.get('StartTimeHW');\n}\nelse {\n    flow.set('newStartTimeHW', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":2880,"wires":[["e0671d2.581d6e"]]},{"id":"f86f1739.b74908","type":"ui_list","z":"60c9808.a6c568","group":"a8133ce.6bd81c","name":"HW TS List","order":9,"width":"4","height":"11","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":1150,"y":2720,"wires":[["6d3b7059.ebdab","75585560.e9e52c","e41e4269.bbaef"]]},{"id":"13dd0979.c97a57","type":"change","z":"60c9808.a6c568","name":"Restore Daily TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedDaySlotPayloadHW","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2940,"wires":[["75585560.e9e52c","e41e4269.bbaef"]]},{"id":"f5681a3d.bf7b28","type":"function","z":"60c9808.a6c568","name":"newEndTime","func":"//if empty string returned from formatter, then send old EndTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newEndTimeHW', '12345678901' + flow.get('EndTimeHW'));\n    msg.payload = '12345678901' + flow.get('EndTimeHW');\n}\nelse {\n    flow.set('newEndTimeHW', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1770,"y":2920,"wires":[["dd776e76.d98de"]]},{"id":"e0671d2.581d6e","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"newStartTimeHW","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":2880,"wires":[[]]},{"id":"e82aee26.a1c6","type":"ui_button","z":"60c9808.a6c568","name":"Cancel HW","group":"7c94183b.9ba938","order":5,"width":"1","height":"1","passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Cancel","payloadType":"str","topic":"topic","topicType":"msg","x":650,"y":2980,"wires":[["13dd0979.c97a57","ead27fbf.34f86"]]},{"id":"dd776e76.d98de","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"newEndTimeHW","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":2920,"wires":[[]]},{"id":"ead27fbf.34f86","type":"ui_toast","z":"60c9808.a6c568","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":1350,"y":3040,"wires":[]},{"id":"27aaa6c.bcc5e5a","type":"switch","z":"60c9808.a6c568","name":"SAVE ERROR - No TS Selected","property":"selectTSHW","propertyType":"flow","rules":[{"t":"eq","v":"-","vt":"str"},{"t":"neq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":3100,"wires":[["ead27fbf.34f86"],["cf2540ab.3721a"]]},{"id":"1db3d1eb.192cfe","type":"switch","z":"60c9808.a6c568","name":"ERR - No TS Selected","property":"selectTSHW","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":3040,"wires":[["a33e90aa.f9528"],["ead27fbf.34f86"]]},{"id":"6b9606e9.534f08","type":"switch","z":"60c9808.a6c568","name":"ERROR - 8 TS Limit","property":"TSArraySizeHW","propertyType":"flow","rules":[{"t":"gte","v":"8","vt":"num"},{"t":"lt","v":"8","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":3160,"wires":[["ead27fbf.34f86"],["93e2f2f5.bcfba"]]},{"id":"3ecf2c92.96b204","type":"change","z":"60c9808.a6c568","name":"DEL #1 Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"DELETE Error - Cannot Delete Time Slot  #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":3000,"wires":[["ead27fbf.34f86"]]},{"id":"b2a7a1d0.4a9a8","type":"change","z":"60c9808.a6c568","name":"ADD Error - Select TS Mess","rules":[{"t":"set","p":"payload","pt":"msg","to":"ADD Error - Select Day/Time Slot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3200,"wires":[["ead27fbf.34f86"]]},{"id":"28018f49.aa868","type":"ui_button","z":"60c9808.a6c568","name":"Save HW","group":"7c94183b.9ba938","order":4,"width":"1","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SAVE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":3100,"wires":[["27aaa6c.bcc5e5a"]]},{"id":"cf2540ab.3721a","type":"function","z":"60c9808.a6c568","name":"Save EDIT","func":"dayIndexHW = flow.get('dayIndexHW');\nHWSelTS = flow.get('savedSelectedTimeSlotHW');\nsavedSelectedDayHW = flow.get('savedSelectedDayHW');\nNET = flow.get('newEndTimeHW');\nNST = flow.get('newStartTimeHW');\n\nNETmin = NET.split(':');\nNETmin = (Number(NETmin[0]) * 60) + Number(NETmin[1]);\nNSTmin = NST.split(':');\nNSTmin = (Number(NSTmin[0]) * 60) + Number(NSTmin[1]);\nmsg.NETmin = NETmin;\nmsg.NSTmin = NSTmin;\n\nvalidCheck = true;\nerrorMess = \"OK\";\nStartEndArrHW = flow.get('StartEndArrHW');\nTSArraySizeHW = flow.get('TSArraySizeHW');\n\nselectedTSIndexHW = flow.get('selectedTSIndexHW');                      //Selected TS index\n\nmsg.dayIndexHW = dayIndexHW;\nmsg.HWSelTS = HWSelTS;\nmsg.NET = NET;\nmsg.NST = NST;\n\n//carry out sanity checks on new values dependant on position within total array being edited\nif (NETmin < NSTmin ){                                                  //firstly end time must never be less than start time\n        errorMess = \"SAVE ERROR - End < Start Time\";\n}\nelse if (selectedTSIndexHW+1 ==1 && TSArraySizeHW > 1) {                //first and only element being edited?\n    if (NETmin > StartEndArrHW[selectedTSIndexHW+1][0] ) {              //check if ET < next ST\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n}  \nelse if (selectedTSIndexHW+1 == TSArraySizeHW && TSArraySizeHW > 1) {   //last element?\n    if (NSTmin < StartEndArrHW[selectedTSIndexHW-1][1]) {               //check if ST < prev ET\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\nelse if (TSArraySizeHW > 1) {\n    if (NETmin > StartEndArrHW[selectedTSIndexHW+1][0] ) {              //neither first nor last, so check both prev and next\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n    if (NSTmin < StartEndArrHW[selectedTSIndexHW-1][1]) {\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\n\nmsg.errorMess = errorMess;\n\nHWSelTS[selectedTSIndexHW]['startTime'] = NSTmin;                       //set selected TS starttime to new value (in mins)\nHWSelTS[selectedTSIndexHW]['endTime'] = NETmin;                         //similar for endtime\nsavedSelectedDayHW[dayIndexHW][1] = HWSelTS;                            //now insert modified array back into weekly array\n\nmsg.postHWSelTS = HWSelTS;\nmsg.payload = savedSelectedDayHW;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":3100,"wires":[["ba99f060.2ed55"]]},{"id":"3955e3bd.a96a0c","type":"ui_button","z":"60c9808.a6c568","name":"Del HW","group":"7c94183b.9ba938","order":7,"width":"1","height":"1","passthru":true,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"DELETE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":3040,"wires":[["1db3d1eb.192cfe"]]},{"id":"a33e90aa.f9528","type":"switch","z":"60c9808.a6c568","name":"ERR - Del #1","property":"selectedTSIndexHW","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":2980,"wires":[["2d4717e.816cfe8"],["3ecf2c92.96b204"]]},{"id":"4a7479a0.f41ad8","type":"ui_button","z":"60c9808.a6c568","name":"Add HW","group":"7c94183b.9ba938","order":6,"width":"1","height":"1","passthru":false,"label":"Add","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ADD Error - Maximum 8 Time Slots","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":3160,"wires":[["6b9606e9.534f08","68fffbf.2ba0004"]]},{"id":"93e2f2f5.bcfba","type":"function","z":"60c9808.a6c568","name":"ADD new TS to day array","func":"//ADD.. ie insert new TS either between 2 entries, or appended to whole daily TS array\n\nmsg.payload = flow.get('savedSelectedTimeSlotHW');\nmsg.selectedDayHW = flow.get('savedSelectedTimeSlotHW');\nmsg.selectedTSIndexHW = flow.get('selectedTSIndexHW');\n\nnewTSArray = [];\nnewDayArrayHW = [];\nselectedTSIndexHW = flow.get('selectedTSIndexHW');\nselectedDayHW = flow.get('selectedDayHW');\nStartEndArrHW = flow.get('StartEndArrHW');\nerrorMess = \"OK\";\n\ni = 0;\nmsg.mpl = msg.payload.length;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexHW) {                                       //id day index is not selected TS\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n    }\n    else {\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n                                                                        //now make new entry values based on StartEndArrHW: values\n        \n        if (i==msg.payload.length -1){                                  //appending last entry?\n            newentry = {                                                //yes...\n                startTime : (StartEndArrHW[i][1]),                      //previous end time\n                endTime : ((24*60)-1)                                   //new end time 1 min to midnight\n            }\n            newTSArray.push(newentry);\n        }\n        else {                                                          //inserting new TS...so\n            if ( (StartEndArrHW[i+1][0]) - (StartEndArrHW[i][1]) >2 ){  //is there space for entry between two ts?\n                newentry = {                                            //yes\n                startTime : (StartEndArrHW[i][1]),                      //previous end time\n                endTime : (StartEndArrHW[i+1][0])                       //next TS start time\n                }\n                if (((StartEndArrHW[i][1])) < 24*60 && (StartEndArrHW[i][1] +1) <24*60) {\n                    newTSArray.push(newentry);\n                }\n                else {\n                    errorMess = \"ADD ERROR - Time Goes Into Next Day!\"; //last time goes into next day\n                }\n            }\n            else {\n                errorMess = \"ADD ERROR - Cannot Insert Time Slot\";      //no time between slots\n            }\n        }\n    }\n    i++;\n}\n\nmsg.errorMess = errorMess;\nnewDayArrayHW = [selectedDayHW, newTSArray];                            //reconstruct array for day\nmsg.newDayArrayHW = newDayArrayHW;\nflow.set('newDayArrayHW', msg.newDayArrayHW);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":3160,"wires":[["2675c53d.49baaa"]]},{"id":"68fffbf.2ba0004","type":"switch","z":"60c9808.a6c568","name":"ERROR - No TS Selected","property":"selectTSHW","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":3200,"wires":[[],["b2a7a1d0.4a9a8"]]},{"id":"ba99f060.2ed55","type":"switch","z":"60c9808.a6c568","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":3100,"wires":[["2cb1a010.f35a7","9880db24.f0f5e8"],["2cb1a010.f35a7"]]},{"id":"2d4717e.816cfe8","type":"function","z":"60c9808.a6c568","name":"remove TS from selected day HW","func":"//for each element of the array input, copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nmsg.payload = flow.get('savedSelectedTimeSlotHW');\nmsg.selectedDay = flow.get('savedSelectedTimeSlotHW');          //eg 'Wed'\nmsg.selectedTSIndexHW = flow.get('selectedTSIndexHW');\n\nnewTSArray = [];\nnewDayArrayHW = [];\nselectedTSIndexHW = flow.get('selectedTSIndexHW');              //array index picked from list of day TS eg 4\nselectedDayHW = flow.get('selectedDayHW');                      //day picked eg \"Mon\"\n\ni = 0;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexHW) {                               //id day index is not selected TS\n        newentry = TSEntry;                                     //then make newentry = element\n        newTSArray.push(newentry);                              //and push onto new array\n    }\n    i++;\n}\n\nnewDayArrayHW = [selectedDayHW, newTSArray];                        //reconstruct array for day\nmsg.newDayArrayHW = newDayArrayHW;\nflow.set('newDayArrayHW', msg.newDayArrayHW);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":2980,"wires":[["74e3c582.30e54c"]]},{"id":"2675c53d.49baaa","type":"switch","z":"60c9808.a6c568","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"neq","v":"OK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":3160,"wires":[["2cb1a010.f35a7"],["3194edbc.bd7572","2cb1a010.f35a7"]]},{"id":"2cb1a010.f35a7","type":"change","z":"60c9808.a6c568","name":"Set SAVE Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"errorMess","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":3100,"wires":[["b1b2d5e9.da0be8"]]},{"id":"9880db24.f0f5e8","type":"link out","z":"60c9808.a6c568","name":"Update HW","links":["cde9b158.60c74"],"x":2095,"y":2980,"wires":[]},{"id":"74e3c582.30e54c","type":"function","z":"60c9808.a6c568","name":"reconstruct day array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexHW = flow.get('dayIndexHW');\nmsg.payload = flow.get('savedSelectedDayHW');\nnewDayArrayHW = flow.get('newDayArrayHW');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexHW) {                                              //id day index is not modified day\n        newentry = dayEntry;                                            //then make newentry = element\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    else {\n        newentry = newDayArrayHW;                                       //get modified day array\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":2980,"wires":[["9880db24.f0f5e8"]]},{"id":"3194edbc.bd7572","type":"function","z":"60c9808.a6c568","name":"Reconstruct week array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexHW = flow.get('dayIndexHW');\nmsg.payload = flow.get('savedSelectedDayHW');\nnewDayArrayHW = flow.get('newDayArrayHW');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexHW) {                                               //id day index is not modified day\n        newentry = dayEntry;                                             //then make newentry = element\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    else {\n        newentry = newDayArrayHW;                                          //get modified day array\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":3180,"wires":[["9880db24.f0f5e8"]]},{"id":"b1b2d5e9.da0be8","type":"ui_toast","z":"60c9808.a6c568","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"SAVE Status","x":2290,"y":3100,"wires":[]},{"id":"659523cc.01221c","type":"comment","z":"60c9808.a6c568","name":"Update  db HW ","info":"","x":1960,"y":2640,"wires":[]},{"id":"9541b683.371398","type":"comment","z":"60c9808.a6c568","name":"EDIT Time Slot timers","info":"","x":1800,"y":2840,"wires":[]},{"id":"4c53eb79.c1b904","type":"comment","z":"60c9808.a6c568","name":"Update  dbHW & Refresh List","info":"","x":2240,"y":2980,"wires":[]},{"id":"8d23b8a8.d5efd8","type":"comment","z":"60c9808.a6c568","name":"HW Start/End Picker","info":"","x":1410,"y":2800,"wires":[]},{"id":"72751966.97df38","type":"comment","z":"60c9808.a6c568","name":"HW Daily Time Slots","info":"","x":1170,"y":2680,"wires":[]},{"id":"9451c0d6.79eb9","type":"comment","z":"60c9808.a6c568","name":"HW Array Updated, so refresh dashboard","info":"","x":760,"y":2360,"wires":[]},{"id":"19c07d0.6fbe883","type":"comment","z":"60c9808.a6c568","name":"Init HW Weekly Schedule","info":"","x":410,"y":2320,"wires":[]},{"id":"1ed64117.18c38f","type":"inject","z":"60c9808.a6c568","name":"Init HW Objects","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2320,"wires":[["19d1be0e.1e1d22"]]},{"id":"19d1be0e.1e1d22","type":"ui_button","z":"60c9808.a6c568","name":"INIT HW","group":"a8133ce.6bd81c","order":8,"width":"1","height":"1","passthru":true,"label":"C","tooltip":"Initialise HW Time Slots to Default Values - Double tap to Activate","color":"","bgcolor":"","icon":"","payload":"open","payloadType":"str","topic":"control","topicType":"str","x":160,"y":2360,"wires":[["3a12083e.4714a8"]]},{"id":"b65fd762.f9f818","type":"function","z":"60c9808.a6c568","name":"Init HW Data","func":"let dayPeriod = [0,1,2,3,4,5,6,7];  // array 8 periods in a day\n\ndpLen = dayPeriod.length;           //init day periods\nfor (i = 0; i < dpLen; i++) {\n    dayPeriod[i] = {\n        startTime : (i*120+480),\n        endTime : (i*120+480) +60\n    }\n}\n\nlet HWDay = [['Sun', dayPeriod],\n            ['Mon', dayPeriod],\n            ['Tue', dayPeriod],\n            ['Wed', dayPeriod],\n            ['Thu', dayPeriod],\n            ['Fri', dayPeriod],\n            ['Sat', dayPeriod]];    //array 7 days\n\n\nmsg.payload = HWDay;                //return with whole HWDay object in msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":2440,"wires":[["7fae79a0.c0dfc8"]]},{"id":"7fae79a0.c0dfc8","type":"link out","z":"60c9808.a6c568","name":"Init DB HW","links":["cde9b158.60c74"],"x":495,"y":2440,"wires":[]},{"id":"927aa0b7.845a8","type":"change","z":"60c9808.a6c568","name":"set db lock (true)","rules":[{"t":"set","p":"dbWriteLockHW","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":2680,"wires":[["e25a201f.3ac56"]]},{"id":"e25a201f.3ac56","type":"file","z":"60c9808.a6c568","name":"Save Pive-HW","filename":"Pive-HW","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2060,"y":2720,"wires":[["83a4f9e7.84ddc8"]]},{"id":"83a4f9e7.84ddc8","type":"change","z":"60c9808.a6c568","name":"reset db lock (false)","rules":[{"t":"set","p":"dbWriteLockHW","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":2760,"wires":[["1437b72a.6f3c99"]]},{"id":"cde9b158.60c74","type":"link in","z":"60c9808.a6c568","name":"dbWriteHW","links":["9880db24.f0f5e8","7fae79a0.c0dfc8"],"x":1895,"y":2680,"wires":[["927aa0b7.845a8"]]},{"id":"1437b72a.6f3c99","type":"link out","z":"60c9808.a6c568","name":"DB Updated HW","links":["d3e8f0fe.d7052"],"x":2235,"y":2760,"wires":[]},{"id":"a41002b1.b8fba","type":"change","z":"60c9808.a6c568","name":"extract now time","rules":[{"t":"set","p":"nowDay","pt":"flow","to":"$substring(msg.payload, 0, 3)\t","tot":"jsonata"},{"t":"set","p":"nowMins","pt":"flow","to":"($number($substring(msg.payload, 16, 2)) *60) + ($number($substring(msg.payload, 19, 2))) ","tot":"jsonata"},{"t":"set","p":"nowDay","pt":"msg","to":"$substring(msg.payload, 0, 3)\t","tot":"jsonata"},{"t":"set","p":"nowMins","pt":"msg","to":"($number($substring(msg.payload, 16, 2)) *60) + ($number($substring(msg.payload, 19, 2))) ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":3700,"wires":[["38410aa.cc020f6","812a1b7a.8ab058"]]},{"id":"f373fa86.b4ba48","type":"function","z":"60c9808.a6c568","name":"get date/time","func":"msg.payload = Date();                               //get date in payload ready to extract parts next...\nflow.set('SSE',(Math.round(Date.now() / 1000)))     //and store time in seconds since epoch (used for BOOST)\n\nmsg.dayPart = msg.payload.substring(0, 3);          //get Day part of Date in msg.dayPart\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":3640,"wires":[["a41002b1.b8fba","9d5b27e9.856538"]]},{"id":"38410aa.cc020f6","type":"switch","z":"60c9808.a6c568","name":"db WR Lock?","property":"dbWriteLockHW","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":3500,"wires":[[],["80601383.bb853"]]},{"id":"4279d165.da0c9","type":"inject","z":"60c9808.a6c568","name":"1 Sec Ticker","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":120,"y":3580,"wires":[["f373fa86.b4ba48"]]},{"id":"80601383.bb853","type":"file in","z":"60c9808.a6c568","name":"Read HW (2)","filename":"Pive-HW","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":3460,"wires":[["8ae7a292.711b1"]]},{"id":"8ae7a292.711b1","type":"json","z":"60c9808.a6c568","name":"","property":"payload","action":"","pretty":false,"x":490,"y":3460,"wires":[["9386ef32.6f2f9"]]},{"id":"9386ef32.6f2f9","type":"change","z":"60c9808.a6c568","name":"get array parts","rules":[{"t":"set","p":"dbHW","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"savedarraydayHW","pt":"flow","to":"dbHW[0][0]","tot":"flow"},{"t":"set","p":"savedarrayTSHW","pt":"flow","to":"dbHW[0][1]","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":3460,"wires":[["f955785c.99cef8"]]},{"id":"8b360b25.235e18","type":"function","z":"60c9808.a6c568","name":"TS HW on/off - inc override check ","func":"hwOVERRIDE=flow.get('overActiveHW');            //get override active - true or false\nmsg.overActiveHW = flow.get('overActiveHW');\nmsg.topic='';\nonHW = 'off';\ndbHW = flow.get('dbHW');\nnowDay = msg.nowDay;\nnowMins = msg.nowMins;\n\nif (hwOVERRIDE && nowMins >= (flow.get('overrideEndTimeHW'))){      //if override active AND time >= stored override end time\n    flow.set('overActiveHW', false);                                //then set override false and reset all the override variables\n    flow.set('overrideStartTimeHW', 0);\n    flow.set('overrideEndTimeHW', 0);\n    hwOVERRIDE = false;\n    msg.topic = 'resetHW';                                          //set topic to 'resetHW'\n    msg.payload = 0;\n}\n\nfor (var day = 0; day < dbHW.length; day++) {                           //for each element of dbHW (ie the days)\n    if (dbHW[day][0]===nowDay){                                         //check each 'day' array element [0] for current day\n        for (var ts = 0; ts < dbHW[day][1].length; ts++) {              //for each element of dbHW[day][1] (ie the ts objects)\n            if((nowMins >= dbHW[day][1][ts].startTime && nowMins < dbHW[day][1][ts].endTime)){\n                onHW = 'heat';                                            //HWon true if nowMins is between>=start and <end\n            }\n        }\n    }\n}    \n\nif (hwOVERRIDE) {      //override active? if so, invert onHW\n    if (onHW == 'heat') {\n        onHW = 'off';\n    }\n    else {\n        onHW = 'heat';\n    }\n}\nmsg.hwOVERRIDE = hwOVERRIDE;\nflow.set('StateHW', onHW);\nmsg.payload = onHW;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":3460,"wires":[["77d030b7.d7035","e976b3f3.cfe27"]]},{"id":"b719e35f.9afc8","type":"ui_led","z":"60c9808.a6c568","order":18,"group":"6b9905d5.01ca1c","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"off","valueType":"str"},{"color":"#008000","value":"heat","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"HW Ctrl","x":1780,"y":1460,"wires":[]},{"id":"812a1b7a.8ab058","type":"switch","z":"60c9808.a6c568","name":"db WR Lock?","property":"dbWriteLockCH","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":4000,"wires":[[],["97fc4144.07487"]]},{"id":"97fc4144.07487","type":"file in","z":"60c9808.a6c568","name":"Read CH (2)","filename":"Pive-CH","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":3960,"wires":[["e3734beb.66c1e8"]]},{"id":"e3734beb.66c1e8","type":"json","z":"60c9808.a6c568","name":"","property":"payload","action":"","pretty":false,"x":490,"y":3960,"wires":[["3270148e.cbd89c"]]},{"id":"3270148e.cbd89c","type":"change","z":"60c9808.a6c568","name":"get array parts","rules":[{"t":"set","p":"dbCH","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"savedarraydayCH","pt":"flow","to":"dbCH[0][0]","tot":"flow"},{"t":"set","p":"savedarrayTSCH","pt":"flow","to":"dbCH[0][1]","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":3960,"wires":[["926226e7.b368e8"]]},{"id":"7947f151.10458","type":"function","z":"60c9808.a6c568","name":"TS CH on/off - inc override check ","func":"chOVERRIDE=flow.get('overActiveCH');            //get override active - true or false\nmsg.overActiveCH = flow.get('overActiveCH');\nmsg.topic='';\nonCH = 'off';\ndbCH = flow.get('dbCH');\nnowDay = msg.nowDay;\nnowMins = msg.nowMins;\n\nif (chOVERRIDE && nowMins >= (flow.get('overrideEndTimeCH'))){      //if override active AND time >= stored override end time\n    flow.set('overActiveCH', false);                                //then set override false and reset all the override variables\n    flow.set('overrideStartTimeCH', 0);\n    flow.set('overrideEndTimeCH', 0);\n    chOVERRIDE = false;\n    msg.topic = 'resetCH';                                          //set topic to 'resetCH'\n    msg.payload = 0;\n}\n\nfor (var day = 0; day < dbCH.length; day++) {                           //for each element of dbCH (ie the days)\n    if (dbCH[day][0]===nowDay){                                         //check each 'day' array element [0] for current day\n        for (var ts = 0; ts < dbCH[day][1].length; ts++) {              //for each element of dbCH[day][1] (ie the ts objects)\n            if((nowMins >= dbCH[day][1][ts].startTime && nowMins < dbCH[day][1][ts].endTime)){\n                onCH = 'heat';                                            //CHon true if nowMins is between>=start and <end\n            }\n        }\n    }\n}    \n\nif (chOVERRIDE) {      //override active? if so, invert onCH\n    if (onCH == 'heat') {\n        onCH = 'off';\n    }\n    else {\n        onCH = 'heat';\n    }\n}\nmsg.chOVERRIDE = chOVERRIDE;\nflow.set('StateCH', onCH);\nmsg.payload = onCH;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":3960,"wires":[["ae21fcef.f52e9","5e292e6.85f50d"]]},{"id":"1a340aa2.ed61e5","type":"ui_led","z":"60c9808.a6c568","order":11,"group":"6b9905d5.01ca1c","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"off","valueType":"str"},{"color":"#008000","value":"heat","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"CH Ctrl","x":620,"y":1460,"wires":[]},{"id":"739ad422.5ea1fc","type":"function","z":"60c9808.a6c568","name":"Reconstruct week array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexCH = flow.get('dayIndexCH');\nmsg.payload = flow.get('savedSelectedDayCH');\nnewDayArrayCH = flow.get('newDayArrayCH');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexCH) {                                               //id day index is not modified day\n        newentry = dayEntry;                                             //then make newentry = element\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    else {\n        newentry = newDayArrayCH;                                          //get modified day array\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":4960,"wires":[["4c2d364b.bb8ac8"]]},{"id":"4c2d364b.bb8ac8","type":"link out","z":"60c9808.a6c568","name":"Update CH","links":["1f70722c.b0b21e","4c69a920.cbacb8"],"x":2095,"y":4760,"wires":[]},{"id":"f9ae718c.3969e","type":"switch","z":"60c9808.a6c568","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"neq","v":"OK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":4940,"wires":[["5f5211c9.4459e"],["739ad422.5ea1fc","5f5211c9.4459e"]]},{"id":"3db58d11.2f6ac2","type":"function","z":"60c9808.a6c568","name":"reconstruct day array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexCH = flow.get('dayIndexCH');\nmsg.payload = flow.get('savedSelectedDayCH');\nnewDayArrayCH = flow.get('newDayArrayCH');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexCH) {                                              //id day index is not modified day\n        newentry = dayEntry;                                            //then make newentry = element\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    else {\n        newentry = newDayArrayCH;                                       //get modified day array\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":4760,"wires":[["4c2d364b.bb8ac8"]]},{"id":"86b61485.d45e18","type":"switch","z":"60c9808.a6c568","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":4880,"wires":[["5f5211c9.4459e","4c2d364b.bb8ac8"],["5f5211c9.4459e"]]},{"id":"5f5211c9.4459e","type":"change","z":"60c9808.a6c568","name":"Set SAVE Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"errorMess","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":4880,"wires":[["961fb6f.dc75c48"]]},{"id":"e1415e71.692e5","type":"function","z":"60c9808.a6c568","name":"remove TS from selected day CH","func":"//for each element of the array input, copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nmsg.payload = flow.get('savedSelectedTimeSlotCH');\nmsg.selectedDay = flow.get('savedSelectedTimeSlotCH');          //eg 'Wed'\nmsg.selectedTSIndexCH = flow.get('selectedTSIndexCH');\n\nnewTSArray = [];\nnewDayArrayCH = [];\nselectedTSIndexCH = flow.get('selectedTSIndexCH');\nselectedDayCH = flow.get('selectedDayCH');\n\ni = 0;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexCH) {                               //id day index is not selected TS\n        newentry = TSEntry;                                     //then make newentry = element\n        newTSArray.push(newentry);                              //and push onto new array\n    }\n    i++;\n}\n\nnewDayArrayCH = [selectedDayCH, newTSArray];                        //reconstruct array for day\nmsg.newDayArrayCH = newDayArrayCH;\nflow.set('newDayArrayCH', msg.newDayArrayCH);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":4760,"wires":[["3db58d11.2f6ac2"]]},{"id":"961fb6f.dc75c48","type":"ui_toast","z":"60c9808.a6c568","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"SAVE Status","x":2290,"y":4880,"wires":[]},{"id":"742a7138.a115f","type":"switch","z":"60c9808.a6c568","name":"ERROR - 8 TS Limit","property":"TSArraySizeCH","propertyType":"flow","rules":[{"t":"gte","v":"8","vt":"num"},{"t":"lt","v":"8","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":4940,"wires":[["889e46b5.69f5f8"],["bda13cb7.f7614"]]},{"id":"347a4a93.2f82a6","type":"switch","z":"60c9808.a6c568","name":"ERR - Del #1","property":"selectedTSIndexCH","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":4760,"wires":[["e1415e71.692e5"],["9b4832ac.65d1c"]]},{"id":"e69d2f4d.b3cc5","type":"switch","z":"60c9808.a6c568","name":"SAVE ERROR - No TS Selected","property":"selectTSCH","propertyType":"flow","rules":[{"t":"eq","v":"-","vt":"str"},{"t":"neq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":4880,"wires":[["889e46b5.69f5f8"],["e7ceabaa.27abe8"]]},{"id":"889e46b5.69f5f8","type":"ui_toast","z":"60c9808.a6c568","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":1350,"y":4820,"wires":[]},{"id":"45d69e58.65aa7","type":"ui_button","z":"60c9808.a6c568","name":"Add CH","group":"fe205910.6c7388","order":6,"width":"1","height":"1","passthru":false,"label":"Add","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ADD Error - Maximum 8 Time Slots","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":4940,"wires":[["742a7138.a115f","f7dcf61.ec19208"]]},{"id":"9b4832ac.65d1c","type":"change","z":"60c9808.a6c568","name":"DEL #1 Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"DELETE Error - Cannot Delete Time Slot #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":4780,"wires":[["889e46b5.69f5f8"]]},{"id":"45e56d37.b177d4","type":"switch","z":"60c9808.a6c568","name":"ERR - No TS Selected","property":"selectTSCH","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":4820,"wires":[["347a4a93.2f82a6"],["889e46b5.69f5f8"]]},{"id":"eee98860.9a87e8","type":"ui_button","z":"60c9808.a6c568","name":"Save CH","group":"fe205910.6c7388","order":4,"width":"1","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SAVE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":4880,"wires":[["e69d2f4d.b3cc5"]]},{"id":"27f56d1a.cbc672","type":"ui_button","z":"60c9808.a6c568","name":"Cancel CH","group":"fe205910.6c7388","order":5,"width":"1","height":"1","passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Cancel","payloadType":"str","topic":"topic","topicType":"msg","x":630,"y":4760,"wires":[["ce01f24f.3c7c7","889e46b5.69f5f8"]]},{"id":"98f536a4.3a7978","type":"change","z":"60c9808.a6c568","name":"ADD Error - Select TS Mess","rules":[{"t":"set","p":"payload","pt":"msg","to":"ADD Error - Select Day/Time Slot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":4980,"wires":[["889e46b5.69f5f8"]]},{"id":"f7dcf61.ec19208","type":"switch","z":"60c9808.a6c568","name":"ERROR - No TS Selected","property":"selectTSCH","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":4980,"wires":[[],["98f536a4.3a7978"]]},{"id":"e6f976e2.fc9048","type":"ui_button","z":"60c9808.a6c568","name":"Del CH","group":"fe205910.6c7388","order":7,"width":"1","height":"1","passthru":true,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"DELETE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":4820,"wires":[["45e56d37.b177d4"]]},{"id":"ce01f24f.3c7c7","type":"change","z":"60c9808.a6c568","name":"Restore Daily TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedDaySlotPayloadCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4720,"wires":[["d1646df3.6895b","9abe510c.1cc41"]]},{"id":"d1646df3.6895b","type":"change","z":"60c9808.a6c568","name":"CH TS Start","rules":[{"t":"set","p":"dayCH","pt":"flow","to":"payload.title","tot":"msg"},{"t":"set","p":"savedDaySlotPayloadCH","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \"On Time \")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(msg.payload, \" \")","tot":"jsonata"},{"t":"set","p":"StartTimeCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":4660,"wires":[["b75fe3f9.5495b"]]},{"id":"9abe510c.1cc41","type":"change","z":"60c9808.a6c568","name":"CH TS End","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \" - \")","tot":"jsonata"},{"t":"set","p":"EndTimeCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":4700,"wires":[["cc16e0e8.d0d81"]]},{"id":"b75fe3f9.5495b","type":"ui_text_input","z":"60c9808.a6c568","name":"TS Start","label":"Start","tooltip":"","group":"fe205910.6c7388","order":2,"width":0,"height":0,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1380,"y":4660,"wires":[["1e12cbba.e8b284"]]},{"id":"f072846.be11a78","type":"ui_list","z":"60c9808.a6c568","group":"4418cf8e.1586b","name":"CH TS List","order":9,"width":"4","height":"11","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":1150,"y":4500,"wires":[["3b25fad7.67def6","d1646df3.6895b","9abe510c.1cc41"]]},{"id":"cc16e0e8.d0d81","type":"ui_text_input","z":"60c9808.a6c568","name":"TSEnd","label":"End","tooltip":"","group":"fe205910.6c7388","order":3,"width":0,"height":0,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1370,"y":4700,"wires":[["c149b257.6bdb7"]]},{"id":"1e12cbba.e8b284","type":"moment","z":"60c9808.a6c568","name":"","topic":"","input":"","inputType":"msg","inTz":"","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"","output":"","outputType":"msg","outTz":"","x":1580,"y":4660,"wires":[["3370d848.542988"]]},{"id":"4e669b39.774c34","type":"function","z":"60c9808.a6c568","name":"Reset Start/End","func":"msg.payload = '00:00';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":4380,"wires":[["b75fe3f9.5495b","cc16e0e8.d0d81"]]},{"id":"3b25fad7.67def6","type":"change","z":"60c9808.a6c568","name":"CH Day/TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"},{"t":"set","p":"selectTSCH","pt":"flow","to":"$substring(msg.payload, 14, 1)\t","tot":"jsonata"},{"t":"set","p":"selectedTSIndexCH","pt":"flow","to":"$number($substring(msg.payload, 14, 1)) -1","tot":"jsonata"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":4620,"wires":[["5f460a5b.5c8694"]]},{"id":"d1faaf49.a1ed6","type":"function","z":"60c9808.a6c568","name":"Format CH timeslots","func":"newPayload = [];                                        //init new Array\nflow.set('savedSelectedDayCH', msg.payload);            //save whole week CH array\nflow.set('savedSelectedTimeSlotCH', msg.period);        //time slot elements from day selected\nflow.set('TSArraySizeCH', msg.period.length);           //save length of daily time slot selected (eg 8)\nselectedDayCH = flow.get('selectedDayCH');              //get day selected eg \"Sat\"             \n\nfunction timeConv(totalMins) {                          //convert mins to \"hh:mm\" function\nlet hours = Math.floor(totalMins / 60);\nlet minutes = totalMins - (hours*60);\n\n// If you want strings with leading zeroes:\nminutes = String(minutes).padStart(2, \"0\");\nhours = String(hours).padStart(2, \"0\");\ntimeString = (hours + \":\" + minutes);\nreturn timeString;\n}\n\n\n// create array ready to populate\nlet StartEndArrCH = new Array(2);                       //to contain start and end mins since midnight\nfor (var i = 0; i < msg.period.length; i++) {           //create msg.period.length of them\n  StartEndArrCH[i] = new Array(2);\n}\n\n\n//now loop through each element of selected day time slots (in msg.period) to \n//make time slot info in CH TS List on dashboard AND a StartEnd time array stored and used elsewhere\nmsg.period.forEach(doit,0);                             //loop thru daily time slots.. init i to be 0\nfunction doit(entry,i) {\n    StartEndArrCH[i][0] = entry.startTime;              //store start/end times in array\n    StartEndArrCH[i][1] = entry.endTime;\n    \n    i++;                                                //time slot number = index+1 then create 'title' and 'description' for dashboard\n    newentry = {'title' : selectedDayCH + ' Time Slot ' +i,\n                'description' : 'On Time ' + timeConv(entry.startTime) + ' - ' + timeConv(entry.endTime)\n    }\n    newPayload.push(newentry);                          //put newly created element into newPayload array\n}\n\nflow.set('StartEndArrCH', StartEndArrCH);               //save start/end array\nmsg.payload=newPayload;                                 //and put new payload into payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":4420,"wires":[["f072846.be11a78"]]},{"id":"c149b257.6bdb7","type":"moment","z":"60c9808.a6c568","name":"","topic":"","input":"","inputType":"msg","inTz":"","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"","output":"","outputType":"msg","outTz":"","x":1580,"y":4700,"wires":[["ca949895.762148"]]},{"id":"3370d848.542988","type":"function","z":"60c9808.a6c568","name":"newStartTime","func":"//if empty string returned from formatter, then send old StartTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newStartTimeCH', '12345678901' + flow.get('StartTimeCH'));\n    msg.payload = '12345678901' + flow.get('StartTimeCH');\n}\nelse {\n    flow.set('newStartTimeCH', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":4660,"wires":[["b1f8c11.d1e834"]]},{"id":"38569795.a6b288","type":"link in","z":"60c9808.a6c568","name":"Submit CH","links":["ff0656c9.8367c8","be4e6dde.5a321","95a3c685.507048"],"x":895,"y":4120,"wires":[["4e669b39.774c34","f4274c6b.6449","68d75b30.76f284"]]},{"id":"4a4d4283.8bc44c","type":"change","z":"60c9808.a6c568","name":"-> weekday/dayIndexCH","rules":[{"t":"set","p":"dayIndexCH","pt":"flow","to":"dayIndexCH","tot":"msg"},{"t":"set","p":"selectedDayCH","pt":"flow","to":"dayCH","tot":"msg"},{"t":"set","p":"dbWriteLockCH","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostCH","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":4220,"wires":[["68d75b30.76f284","4e669b39.774c34","f4274c6b.6449"]]},{"id":"5f460a5b.5c8694","type":"ui_text_input","z":"60c9808.a6c568","name":"Day/Time Slot","label":"Time Slot","tooltip":"","group":"fe205910.6c7388","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1400,"y":4620,"wires":[[]]},{"id":"99b5ff19.e3c4a","type":"change","z":"60c9808.a6c568","name":"Get Mon array (1)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[1][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4460,"wires":[["d1faaf49.a1ed6"]]},{"id":"351735e8.9430ba","type":"change","z":"60c9808.a6c568","name":"Get Tue array (2)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[2][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4500,"wires":[["d1faaf49.a1ed6"]]},{"id":"a0110c19.c7106","type":"change","z":"60c9808.a6c568","name":"Get Wed array (3)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[3][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4540,"wires":[["d1faaf49.a1ed6"]]},{"id":"ec10b4f2.417e88","type":"change","z":"60c9808.a6c568","name":"Get Thu array (4)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[4][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4580,"wires":[["d1faaf49.a1ed6"]]},{"id":"f56dab72.e2fd98","type":"change","z":"60c9808.a6c568","name":"Get Fri array (5)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[5][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":4620,"wires":[["d1faaf49.a1ed6"]]},{"id":"49d114a2.0e3e2c","type":"change","z":"60c9808.a6c568","name":"Get Sat array (6)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[6][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4660,"wires":[["d1faaf49.a1ed6"]]},{"id":"c9e596ea.e90948","type":"change","z":"60c9808.a6c568","name":"Get Sun array (0)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[0][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4420,"wires":[["d1faaf49.a1ed6"]]},{"id":"ca949895.762148","type":"function","z":"60c9808.a6c568","name":"newEndTime","func":"//if empty string returned from formatter, then send old EndTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newEndTimeCH', '12345678901' + flow.get('EndTimeCH'));\n    msg.payload = '12345678901' + flow.get('EndTimeCH');\n}\nelse {\n    flow.set('newEndTimeCH', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1770,"y":4700,"wires":[["9524f1fa.d44ed"]]},{"id":"b1f8c11.d1e834","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"newStartTimeCH","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":4660,"wires":[[]]},{"id":"f4274c6b.6449","type":"function","z":"60c9808.a6c568","name":"Reset Timeslot Title","func":"msg.payload = '<-- Select Day/Time Slot';\nflow.set('selectTSCH', \"-\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":4340,"wires":[["5f460a5b.5c8694"]]},{"id":"68d75b30.76f284","type":"file in","z":"60c9808.a6c568","name":"Read-CH (1)","filename":"Pive-CH","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":870,"y":4280,"wires":[["aae89478.44dc78"]]},{"id":"c72739.6e3508c8","type":"switch","z":"60c9808.a6c568","name":"Select Day of WeekCH","property":"selectedDayCH","propertyType":"flow","rules":[{"t":"eq","v":"Sun","vt":"str"},{"t":"eq","v":"Mon","vt":"str"},{"t":"eq","v":"Tue","vt":"str"},{"t":"eq","v":"Wed","vt":"str"},{"t":"eq","v":"Thu","vt":"str"},{"t":"eq","v":"Fri","vt":"str"},{"t":"eq","v":"Sat","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":600,"y":4540,"wires":[["c9e596ea.e90948"],["99b5ff19.e3c4a"],["351735e8.9430ba"],["a0110c19.c7106"],["ec10b4f2.417e88"],["f56dab72.e2fd98"],["49d114a2.0e3e2c"]]},{"id":"9524f1fa.d44ed","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"newEndTimeCH","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":4700,"wires":[[]]},{"id":"aae89478.44dc78","type":"json","z":"60c9808.a6c568","name":"","property":"payload","action":"","pretty":false,"x":610,"y":4340,"wires":[["b721bb85.702f48"]]},{"id":"428b2a6c.037744","type":"change","z":"60c9808.a6c568","name":"-> weekday/dayIndexCH","rules":[{"t":"set","p":"dayIndexCH","pt":"flow","to":"$number(msg.topic)\t","tot":"jsonata"},{"t":"set","p":"selectedDayCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":4280,"wires":[["68d75b30.76f284"]]},{"id":"373903bf.7e59fc","type":"inject","z":"60c9808.a6c568","name":"OnInit Setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"resetCH","payload":"","payloadType":"date","x":1070,"y":4120,"wires":[["1b5655f.14757aa","314cdf2b.0c0ff"]]},{"id":"b721bb85.702f48","type":"change","z":"60c9808.a6c568","name":"set weekdayCH","rules":[{"t":"set","p":"stored-dbCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":4420,"wires":[["c72739.6e3508c8"]]},{"id":"f229a8e4.707848","type":"ui_button","z":"60c9808.a6c568","name":"Sun CH","group":"4418cf8e.1586b","order":7,"width":"1","height":"1","passthru":true,"label":"Sun","tooltip":"Show Sunday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Sun","payloadType":"str","topic":"0","topicType":"str","x":280,"y":4280,"wires":[["428b2a6c.037744"]]},{"id":"2060cacb.b19556","type":"ui_button","z":"60c9808.a6c568","name":"Mon CH","group":"4418cf8e.1586b","order":1,"width":"1","height":"1","passthru":true,"label":"Mon","tooltip":"Show Monday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Mon","payloadType":"str","topic":"1","topicType":"str","x":280,"y":4320,"wires":[["428b2a6c.037744"]]},{"id":"4c8eb93e.42d5b8","type":"ui_button","z":"60c9808.a6c568","name":"Tue CH","group":"4418cf8e.1586b","order":2,"width":"1","height":"1","passthru":true,"label":"Tue","tooltip":"Show Tuesday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Tue","payloadType":"str","topic":"2","topicType":"str","x":280,"y":4360,"wires":[["428b2a6c.037744"]]},{"id":"cb347f4f.e9413","type":"ui_button","z":"60c9808.a6c568","name":"Wed CH","group":"4418cf8e.1586b","order":3,"width":"1","height":"1","passthru":true,"label":"Wed","tooltip":"Show Wednesday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Wed","payloadType":"str","topic":"3","topicType":"str","x":280,"y":4400,"wires":[["428b2a6c.037744"]]},{"id":"7aa6a5fa.bd9a1c","type":"ui_button","z":"60c9808.a6c568","name":"Thu CH","group":"4418cf8e.1586b","order":4,"width":"1","height":"1","passthru":true,"label":"Thu","tooltip":"Show Thursday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Thu","payloadType":"str","topic":"4","topicType":"str","x":280,"y":4440,"wires":[["428b2a6c.037744"]]},{"id":"ce2554ff.a187d8","type":"ui_button","z":"60c9808.a6c568","name":"Fri CH","group":"4418cf8e.1586b","order":5,"width":"1","height":"1","passthru":true,"label":"Fri","tooltip":"Show Friday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Fri","payloadType":"str","topic":"5","topicType":"str","x":270,"y":4480,"wires":[["428b2a6c.037744"]]},{"id":"dcd36ad0.c4afd8","type":"comment","z":"60c9808.a6c568","name":"Update  dbCH & Refresh List","info":"","x":2240,"y":4760,"wires":[]},{"id":"ef74d5fb.165058","type":"comment","z":"60c9808.a6c568","name":"EDIT Time Slot timers","info":"","x":1800,"y":4620,"wires":[]},{"id":"e727afa9.18eb2","type":"comment","z":"60c9808.a6c568","name":"CH Start/End Picker","info":"","x":1410,"y":4580,"wires":[]},{"id":"64be30da.75df","type":"comment","z":"60c9808.a6c568","name":"CH Daily Time Slots","info":"","x":1170,"y":4460,"wires":[]},{"id":"8742b60a.2f8e98","type":"comment","z":"60c9808.a6c568","name":"CH Array Updated, so refresh dashboard","info":"","x":720,"y":4120,"wires":[]},{"id":"e7ea4408.457bb8","type":"comment","z":"60c9808.a6c568","name":"Init CH Weekly Schedule","info":"","x":410,"y":4100,"wires":[]},{"id":"438b4a47.038504","type":"function","z":"60c9808.a6c568","name":"Init CH Data","func":"let dayPeriod = [0,1,2,3,4,5,6,7];  // array 8 periods in a day\n\ndpLen = dayPeriod.length;           //init day periods\nfor (i = 0; i < dpLen; i++) {\n    dayPeriod[i] = {\n        startTime : (i*120+480),\n        endTime : (i*120+480) +60\n    }\n}\n\nlet CHDay = [['Sun', dayPeriod],\n            ['Mon', dayPeriod],\n            ['Tue', dayPeriod],\n            ['Wed', dayPeriod],\n            ['Thu', dayPeriod],\n            ['Fri', dayPeriod],\n            ['Sat', dayPeriod]];    //array 7 days\n\n\nmsg.payload = CHDay;                //return with whole HWDay object in msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":4220,"wires":[["65129583.82813c"]]},{"id":"65129583.82813c","type":"link out","z":"60c9808.a6c568","name":"Init DB CH","links":["1f70722c.b0b21e"],"x":495,"y":4220,"wires":[]},{"id":"f5387ba7.4e35e8","type":"comment","z":"60c9808.a6c568","name":"Update  db CH","info":"","x":2010,"y":4440,"wires":[]},{"id":"f6fed4cd.b1e6a8","type":"change","z":"60c9808.a6c568","name":"set db lock (true)","rules":[{"t":"set","p":"dbWriteLockCH","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":4480,"wires":[["6e591cdb.d10bb4"]]},{"id":"6e591cdb.d10bb4","type":"file","z":"60c9808.a6c568","name":"Save Pive-CH","filename":"Pive-CH","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2100,"y":4520,"wires":[["f59e30da.7dcad"]]},{"id":"f59e30da.7dcad","type":"change","z":"60c9808.a6c568","name":"reset db lock (false)","rules":[{"t":"set","p":"dbWriteLockCH","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":4560,"wires":[["ff0656c9.8367c8"]]},{"id":"ff0656c9.8367c8","type":"link out","z":"60c9808.a6c568","name":"DB Updated CH","links":["38569795.a6b288"],"x":2275,"y":4560,"wires":[]},{"id":"1f70722c.b0b21e","type":"link in","z":"60c9808.a6c568","name":"dbWriteCH","links":["4c2d364b.bb8ac8","65129583.82813c"],"x":1955,"y":4480,"wires":[["f6fed4cd.b1e6a8"]]},{"id":"57fa8b6f.c1c4d4","type":"link out","z":"60c9808.a6c568","name":"ch ctrl","links":["ae2008f7.6d3de8"],"x":1375,"y":4000,"wires":[]},{"id":"82574796.38ddb8","type":"link out","z":"60c9808.a6c568","name":"hw ctrl","links":["68bedef5.98af9"],"x":1375,"y":3500,"wires":[]},{"id":"ae2008f7.6d3de8","type":"link in","z":"60c9808.a6c568","name":"MAN CH Off/On","links":["5ec24d33.bd64c4","4cc57221.435e9c","ee405a79.511928","57fa8b6f.c1c4d4","9e1aede3.38636","1c1a8a44.438ad6","45bcdb4f.b685c4","3f975b3a.9f3944"],"x":155,"y":1500,"wires":[["1fdccb8.b30d235"]]},{"id":"77d030b7.d7035","type":"rbe","z":"60c9808.a6c568","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1120,"y":3500,"wires":[["c6ad59af.515fb8"]]},{"id":"ae21fcef.f52e9","type":"rbe","z":"60c9808.a6c568","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1120,"y":4000,"wires":[["36928ac6.b73db6"]]},{"id":"e3973c74.e9a2b","type":"ui_button","z":"60c9808.a6c568","name":"","group":"7c94183b.9ba938","order":15,"width":0,"height":0,"passthru":true,"label":"HW Override Timer","tooltip":"HW Override Current Setting - (Timer Mode Only)","color":"","bgcolor":"","icon":"","payload":"toggleHW","payloadType":"str","topic":"toggleHW","topicType":"str","x":1730,"y":3380,"wires":[["687f0354.4a863c"]]},{"id":"f33d2b7d.245cd8","type":"ui_led","z":"60c9808.a6c568","order":16,"group":"7c94183b.9ba938","width":0,"height":0,"label":"Override Active:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"HW Override Active","x":2030,"y":3460,"wires":[]},{"id":"e976b3f3.cfe27","type":"function","z":"60c9808.a6c568","name":"Set/Reset HW Override","func":"let stTmHW = 0;\noverrideEndTimeHW = 0;                              //init override end time to 0\nstateHW=flow.get('overActiveHW');                     //override active? true/false\n\nif (msg.topic=='resetHW') {                           //reset received in topic\n    startHW = false;\n    stateHW = false;\n    msg.payload = 0;\n    msg.topic = '';\n    flow.set('overActiveHW',false);\n    flow.set('overrideStartTimeHW', 0);\n    flow.set('overrideEndTimeHW', 0);\n    \n}\n\nelse if (msg.topic=='toggleHW'){\n    if (stateHW=== false){\n        stateHW = true;\n        msg.payload = 1;\n        flow.set('overActiveHW',true);                          //override active\n        stTm= flow.get('nowMins');                              //override start time = nowMins\n        flow.set('overrideStartTimeHW',flow.get('nowMins'));    //save override start time\n    }\n    else {\n        stateHW = false;\n        msg.payload = 0;\n        flow.set('overActiveHW',false);                         //override inactive\n        flow.set('overrideStartTimeHW', 0);\n        flow.set('overrideEndTimeHW', 0);\n    }\n}\n\n//if override active... calc and store override end time\nif (stateHW){                                                //if override active then calc and store stop time\n    dbHW = flow.get('dbHW');                                    //get weekly TS array\n    nowDay = flow.get('nowDay');                                //current day\n    nowMins = flow.get('nowMins');                              //and current time since 00:00 in mins\n    stTmHW = flow.get('overrideStartTimeHW');\n\n    for (var day = 0; day < dbHW.length; day++) {               //for each element of dbHW (ie the days)\n        if (dbHW[day][0]===nowDay){                             //check each 'day' array element [0] for current day\n            for (var ts = 0; ts < dbHW[day][1].length; ts++) {  //for each element of dbHW[day][1] (ie the ts objects)\n                if((stTmHW >= dbHW[day][1][ts].startTime && stTm <= dbHW[day][1][ts].endTime)){\n                    overrideEndTimeHW = dbHW[day][1][ts].endTime;   //if start time is between start/end of a TS then TS end=override end\n                }\n                if((stTmHW < dbHW[day][1][ts].startTime) && (overrideEndTimeHW === 0)){\n                    overrideEndTimeHW = dbHW[day][1][ts].startTime; //if start time is lt start of a TS then TS start=override end\n                }\n            }\n        }\n    }\n    \n    if(overrideEndTimeHW === 0){\n        overrideEndTimeHW = 1439;                               //if no end time set, then now must be after last TS, so set end=23:59\n        \n    }\n    flow.set('overrideEndTimeHW', overrideEndTimeHW);           //checked all TS slots, so store end time\n}\nmsg.payload = stateHW;                                            //return true/false as payload to control override active led\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nstateHW = 0;\nstart = true;\nflow.set('overActiveHW',false);","finalize":"","x":1750,"y":3460,"wires":[["f33d2b7d.245cd8","51edbd32.561614","ad387a68.7772b8"]]},{"id":"1fe0638.692939d","type":"ui_text","z":"60c9808.a6c568","group":"7c94183b.9ba938","order":17,"width":"2","height":"1","name":"Override Start","label":"Start","format":"{{value}}","layout":"row-spread","x":2380,"y":3380,"wires":[]},{"id":"c8c7de40.d577a","type":"ui_text","z":"60c9808.a6c568","group":"7c94183b.9ba938","order":18,"width":"2","height":"1","name":"Override End","label":"End","format":"{{value}}","layout":"row-spread","x":2370,"y":3420,"wires":[]},{"id":"51edbd32.561614","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideStartTimeHW","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3380,"wires":[["60bace41.9625d"]]},{"id":"ad387a68.7772b8","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideEndTimeHW","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3420,"wires":[["edf9e422.6ac088"]]},{"id":"edf9e422.6ac088","type":"function","z":"60c9808.a6c568","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveHW')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3420,"wires":[["c8c7de40.d577a"]]},{"id":"60bace41.9625d","type":"function","z":"60c9808.a6c568","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveHW')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3380,"wires":[["1fe0638.692939d"]]},{"id":"d7b16eb6.0c536","type":"ui_text","z":"60c9808.a6c568","group":"fe205910.6c7388","order":17,"width":"2","height":"1","name":"Override Start","label":"Start","format":"{{value}}","layout":"row-spread","x":2380,"y":3880,"wires":[]},{"id":"414b35ed.40521c","type":"function","z":"60c9808.a6c568","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveCH')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3880,"wires":[["d7b16eb6.0c536"]]},{"id":"366c7741.f66268","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideStartTimeCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3880,"wires":[["414b35ed.40521c"]]},{"id":"5e292e6.85f50d","type":"function","z":"60c9808.a6c568","name":"Set/Reset CH Override","func":"let stTmCH = 0;\noverrideEndTimeCH = 0;                              //init override end time to 0\nstateCH=flow.get('overActiveCH');                     //override active? true/false\n\nif (msg.topic=='resetCH') {                           //reset received in topic\n    startCH = false;\n    stateCH = false;\n    msg.payload = 0;\n    msg.topic = '';\n    flow.set('overActiveCH',false);\n    flow.set('overrideStartTimeCH', 0);\n    flow.set('overrideEndTimeCH', 0);\n    \n}\n\nelse if (msg.topic=='toggleCH'){\n    if (stateCH=== false){\n        stateCH = true;\n        msg.payload = 1;\n        flow.set('overActiveCH',true);                          //override active\n        stTm= flow.get('nowMins');                              //override start time = nowMins\n        flow.set('overrideStartTimeCH',flow.get('nowMins'));    //save override start time\n    }\n    else {\n        stateCH = false;\n        msg.payload = 0;\n        flow.set('overActiveCH',false);                         //override inactive\n        flow.set('overrideStartTimeCH', 0);\n        flow.set('overrideEndTimeCH', 0);\n    }\n}\n\n//if override active... calc and store override end time\nif (stateCH){                                                   //if override active then calc and store stop time\n    dbCH = flow.get('dbCH');                                    //get weekly TS array\n    nowDay = flow.get('nowDay');                                //current day\n    nowMins = flow.get('nowMins');                              //and current time since 00:00 in mins\n    stTmCH = flow.get('overrideStartTimeCH');\n\n    for (var day = 0; day < dbCH.length; day++) {               //for each element of dbCH (ie the days)\n        if (dbCH[day][0]===nowDay){                             //check each 'day' array element [0] for current day\n            for (var ts = 0; ts < dbCH[day][1].length; ts++) {  //for each element of dbCH[day][1] (ie the ts objects)\n                if((stTmCH >= dbCH[day][1][ts].startTime && stTm <= dbCH[day][1][ts].endTime)){\n                    overrideEndTimeCH = dbCH[day][1][ts].endTime;   //if start time is between start/end of a TS then TS end=override end\n                }\n                if((stTmCH < dbCH[day][1][ts].startTime) && (overrideEndTimeCH === 0)){\n                    overrideEndTimeCH = dbCH[day][1][ts].startTime; //if start time is lt start of a TS then TS start=override end\n                }\n            }\n        }\n    }\n    \n    if(overrideEndTimeCH === 0){\n        overrideEndTimeCH = 1439;                               //if no end time set, then now must be after last TS, so set end=23:59\n        \n    }\n    flow.set('overrideEndTimeCH', overrideEndTimeCH);           //checked all TS slots, so store end time\n}\nmsg.payload = stateCH;                                            //return true/false as payload to control override active led\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nstateCH = 0;\nstart = true;\nflow.set('overActiveCH',false);","finalize":"","x":1740,"y":3960,"wires":[["8e44f145.a1daf","366c7741.f66268","c2e1b4cb.73f688"]]},{"id":"293e7a36.37ce26","type":"ui_button","z":"60c9808.a6c568","name":"","group":"fe205910.6c7388","order":15,"width":0,"height":0,"passthru":true,"label":"CH Override Timer","tooltip":"CH Override Current Setting - (Timer Mode Only)","color":"","bgcolor":"","icon":"","payload":"toggleCH","payloadType":"str","topic":"toggleCH","topicType":"str","x":1730,"y":3880,"wires":[["2d3fb990.b31a56"]]},{"id":"8e44f145.a1daf","type":"ui_led","z":"60c9808.a6c568","order":16,"group":"fe205910.6c7388","width":0,"height":0,"label":"Override Active:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"CH Override Active","x":2030,"y":3960,"wires":[]},{"id":"c2e1b4cb.73f688","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideEndTimeCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3920,"wires":[["9dc24da3.309a4"]]},{"id":"9dc24da3.309a4","type":"function","z":"60c9808.a6c568","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveCH')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3920,"wires":[["337c6ad9.8bfb96"]]},{"id":"337c6ad9.8bfb96","type":"ui_text","z":"60c9808.a6c568","group":"fe205910.6c7388","order":18,"width":"2","height":"1","name":"Override End","label":"End","format":"{{value}}","layout":"row-spread","x":2370,"y":3920,"wires":[]},{"id":"1b5655f.14757aa","type":"function","z":"60c9808.a6c568","name":"get date/time","func":"let date = Date();\nvar DayIndex = []; \nDayIndex['Sun'] = 0;\nDayIndex['Mon'] = 1;\nDayIndex['Tue'] = 2;\nDayIndex['Wed'] = 3;\nDayIndex['Thu'] = 4;\nDayIndex['Fri'] = 5;\nDayIndex['Sat'] = 6;    //'Day' , DayIndex for lookup\n            \nlet day = date.substring(0, 3);\nmsg.dayIndexCH = DayIndex[day];\nmsg.dayCH = day;\nmsg.payload = date;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":4180,"wires":[["4a4d4283.8bc44c"]]},{"id":"e7ceabaa.27abe8","type":"function","z":"60c9808.a6c568","name":"Save EDIT","func":"dayIndexCH = flow.get('dayIndexCH');\nCHSelTS = flow.get('savedSelectedTimeSlotCH');\nsavedSelectedDayCH = flow.get('savedSelectedDayCH');\nNET = flow.get('newEndTimeCH');\nNST = flow.get('newStartTimeCH');\n\nNETmin = NET.split(':');\nNETmin = (Number(NETmin[0]) * 60) + Number(NETmin[1]);\nNSTmin = NST.split(':');\nNSTmin = (Number(NSTmin[0]) * 60) + Number(NSTmin[1]);\nmsg.NETmin = NETmin;\nmsg.NSTmin = NSTmin;\n\nvalidCheck = true;\nerrorMess = \"OK\";\nStartEndArrCH = flow.get('StartEndArrCH');\nTSArraySizeCH = flow.get('TSArraySizeCH');\n\nselectedTSIndexCH = flow.get('selectedTSIndexCH');                      //Selected TS index\n\nmsg.dayIndexCH = dayIndexCH;\nmsg.CHSelTS = CHSelTS;\nmsg.NET = NET;\nmsg.NST = NST;\n\n//carry out sanity checks on new values dependant on position within total array being edited\nif (NETmin < NSTmin ){                                                  //firstly end time must never be less than start time\n        errorMess = \"SAVE ERROR - End < Start Time\";\n}\nelse if (selectedTSIndexCH+1 ==1 && TSArraySizeCH > 1) {                //first and only element being edited?\n    if (NETmin > StartEndArrCH[selectedTSIndexCH+1][0] ) {              //check if ET < next ST\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n}  \nelse if (selectedTSIndexCH+1 == TSArraySizeCH && TSArraySizeCH > 1) {   //last element?\n    if (NSTmin < StartEndArrCH[selectedTSIndexCH-1][1]) {               //check if ST < prev ET\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\nelse if (TSArraySizeCH > 1) {\n    if (NETmin > StartEndArrCH[selectedTSIndexCH+1][0] ) {              //neither first nor last, so check both prev and next\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n    if (NSTmin < StartEndArrCH[selectedTSIndexCH-1][1]) {\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\n\nmsg.errorMess = errorMess;\n\nCHSelTS[selectedTSIndexCH]['startTime'] = NSTmin;                       //set selected TS starttime to new value (in mins)\nCHSelTS[selectedTSIndexCH]['endTime'] = NETmin;                         //similar for endtime\nsavedSelectedDayCH[dayIndexCH][1] = CHSelTS;                            //now insert modified array back into weekly array\n\nmsg.postCHSelTS = CHSelTS;\nmsg.payload = savedSelectedDayCH;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":4880,"wires":[["86b61485.d45e18"]]},{"id":"bda13cb7.f7614","type":"function","z":"60c9808.a6c568","name":"ADD new TS to day array","func":"//ADD.. ie insert new TS either between 2 entries, or appended to whole daily TS array\n\nmsg.payload = flow.get('savedSelectedTimeSlotCH');\nmsg.selectedDayCH = flow.get('savedSelectedTimeSlotCH');\nmsg.selectedTSIndexCH = flow.get('selectedTSIndexCH');\n\nnewTSArray = [];\nnewDayArrayCH = [];\nselectedTSIndexCH = flow.get('selectedTSIndexCH');\nselectedDayCH = flow.get('selectedDayCH');\nStartEndArrCH = flow.get('StartEndArrCH');\nerrorMess = \"OK\";\n\ni = 0;\nmsg.mpl = msg.payload.length;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexCH) {                                       //id day index is not selected TS\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n    }\n    else {\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n                                                                        //now make new entry values based on StartEndArrCH: values\n        \n        if (i==msg.payload.length -1){                                  //appending last entry?\n            newentry = {                                                //yes...\n                startTime : (StartEndArrCH[i][1]),                      //previous end time\n                endTime : ((24*60)-1)                                   //new end time 1 min to midnight\n            }\n        newTSArray.push(newentry);    \n        }\n        else {                                                          //inserting new TS...so\n            if ( (StartEndArrCH[i+1][0]) - (StartEndArrCH[i][1]) >2 ){  //is there space for entry between two ts?\n                newentry = {                                            //yes\n                startTime : (StartEndArrCH[i][1]),                      //previous end time\n                endTime : (StartEndArrCH[i+1][0])                       //next TS start time\n                }\n                if (((StartEndArrCH[i][1])) < 24*60 && (StartEndArrCH[i][1] +1) <24*60) {\n                    newTSArray.push(newentry);\n                }\n                else {\n                    errorMess = \"ADD ERROR - Time Goes Into Next Day!\"; //last time goes into next day\n                }\n            }\n            else {\n                errorMess = \"ADD ERROR - Cannot Insert Time Slot\";      //no time between slots\n            }\n        }\n    }\n    i++;\n}\n\nmsg.errorMess = errorMess;\nnewDayArrayCH = [selectedDayCH, newTSArray];                            //reconstruct array for day\nmsg.newDayArrayCH = newDayArrayCH;\nflow.set('newDayArrayCH', msg.newDayArrayCH);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":4940,"wires":[["f9ae718c.3969e"]]},{"id":"359560e0.c0205","type":"ui_media","z":"60c9808.a6c568","group":"6b9905d5.01ca1c","name":"HW Icon","width":"1","height":"1","order":16,"category":"Images","file":"HW_On.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1620,"y":1120,"wires":[[]]},{"id":"91d87034.46f82","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/HW_Off.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1120,"wires":[["359560e0.c0205"]]},{"id":"4449c5c0.c4c48c","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/HW_On.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1080,"wires":[["359560e0.c0205"]]},{"id":"e801027b.39b9a","type":"switch","z":"60c9808.a6c568","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":1120,"wires":[["4449c5c0.c4c48c"],["91d87034.46f82"]]},{"id":"cab102ce.2875d","type":"ui_media","z":"60c9808.a6c568","group":"6b9905d5.01ca1c","name":"CH Icon","width":"1","height":"1","order":9,"category":"Images","file":"HW_On.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":660,"y":1120,"wires":[[]]},{"id":"725d08a2.67d5e8","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/CH_On.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1080,"wires":[["cab102ce.2875d"]]},{"id":"e98e7ca2.dac6c","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/CH_Off.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1120,"wires":[["cab102ce.2875d"]]},{"id":"495371a5.b73d7","type":"switch","z":"60c9808.a6c568","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":1120,"wires":[["725d08a2.67d5e8"],["e98e7ca2.dac6c"]]},{"id":"81ecf52.7f05808","type":"change","z":"60c9808.a6c568","name":"thermSP","rules":[{"t":"set","p":"thermSP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":820,"wires":[["16e60e6a.83ce62"]]},{"id":"ba3b89f7.31f3b8","type":"ui_switch","z":"60c9808.a6c568","name":"Man/Tmr Mode HW","label":"Man<>Timer","tooltip":"","group":"7c94183b.9ba938","order":20,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"resetHW","topicType":"str","style":"","onvalue":"tmrActiveHW","onvalueType":"str","onicon":"","oncolor":"","offvalue":"manActiveHW","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":870,"y":3380,"wires":[["ac63154d.645058"]]},{"id":"4bb70df3.d86dc4","type":"function","z":"60c9808.a6c568","name":"","func":"if (msg.payload === 'tmrActiveHW'){\n    flow.set('ctrlModeHW',msg.payload);\n    flow.set('modeHW','Timer');\n    msg.topic = 'ctrlModeHW';\n}\nelse {\n    flow.set('ctrlModeHW','manActiveHW');\n    flow.set('modeHW','Manual');\n    msg.topic = 'ctrlModeHW';\n    msg.payload = 'manActiveHW';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":3420,"wires":[["8a11ecf7.b00e5","687f0354.4a863c","5a972bdd.76dbe4"]]},{"id":"8a11ecf7.b00e5","type":"gate","z":"60c9808.a6c568","name":"man/tmr?","controlTopic":"ctrlModeHW","defaultState":"closed","openCmd":"tmrActiveHW","closeCmd":"manActiveHW","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1000,"y":3460,"wires":[["8b360b25.235e18"]]},{"id":"687f0354.4a863c","type":"gate","z":"60c9808.a6c568","name":"","controlTopic":"ctrlModeHW","defaultState":"closed","openCmd":"tmrActiveHW","closeCmd":"manActiveHW","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1690,"y":3420,"wires":[["e976b3f3.cfe27"]]},{"id":"e8894e15.e717e","type":"ui_switch","z":"60c9808.a6c568","name":"Man/Tmr Mode CH","label":"Man<>Timer","tooltip":"","group":"fe205910.6c7388","order":20,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"resetCH","topicType":"str","style":"","onvalue":"tmrActiveCH","onvalueType":"str","onicon":"","oncolor":"","offvalue":"manActiveCH","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":870,"y":3880,"wires":[["a0346840.bf1418"]]},{"id":"9d880a3d.b3ee78","type":"function","z":"60c9808.a6c568","name":"","func":"if (msg.payload === 'tmrActiveCH'){\n    flow.set('ctrlModeCH',msg.payload);\n    flow.set('modeCH','Timer');\n    msg.topic = 'ctrlModeCH';\n    }\nelse {\n    flow.set('ctrlModeCH','manActiveCH');\n    flow.set('modeCH','Manual');\n    msg.topic = 'ctrlModeCH';\n    msg.payload = 'manActiveCH';\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":3920,"wires":[["7747ebc3.9fcc54","2d3fb990.b31a56","6ce0bba0.ab5c34"]]},{"id":"7747ebc3.9fcc54","type":"gate","z":"60c9808.a6c568","name":"man/tmr?","controlTopic":"ctrlModeCH","defaultState":"closed","openCmd":"tmrActiveCH","closeCmd":"manActiveCH","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1000,"y":3960,"wires":[["7947f151.10458"]]},{"id":"2d3fb990.b31a56","type":"gate","z":"60c9808.a6c568","name":"","controlTopic":"ctrlModeCH","defaultState":"closed","openCmd":"tmrActiveCH","closeCmd":"manActiveCH","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1690,"y":3920,"wires":[["5e292e6.85f50d"]]},{"id":"99c07187.d65d8","type":"ui_media","z":"60c9808.a6c568","group":"7c94183b.9ba938","name":"HW Mode","width":"1","height":"1","order":21,"category":"Images","file":"tmrActiveCH.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1420,"y":3340,"wires":[[]]},{"id":"5a972bdd.76dbe4","type":"function","z":"60c9808.a6c568","name":"set image","func":"msg.payload = \"/Images/\" + msg.payload + \".png\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3380,"wires":[["99c07187.d65d8"]]},{"id":"e67bd04a.735b8","type":"ui_media","z":"60c9808.a6c568","group":"fe205910.6c7388","name":"CH Mode","width":"1","height":"1","order":21,"category":"Images","file":"tmrActiveCH.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1420,"y":3840,"wires":[[]]},{"id":"6ce0bba0.ab5c34","type":"function","z":"60c9808.a6c568","name":"set image","func":"msg.payload = \"/Images/\" + msg.payload + \".png\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3880,"wires":[["e67bd04a.735b8"]]},{"id":"19f0a327.bd2a8d","type":"ui_button","z":"60c9808.a6c568","name":"Central Heat Control/Status","group":"6b9905d5.01ca1c","order":6,"width":0,"height":0,"passthru":true,"label":"Central Heating Control/Status","tooltip":"Toggle CH - Off/On","color":"","bgcolor":"","icon":"","payload":"CHOnOff","payloadType":"str","topic":"toggleCH","topicType":"str","x":120,"y":1580,"wires":[["a52955f0.59c088"]]},{"id":"a6dfa7a7.f82ba8","type":"ui_template","z":"60c9808.a6c568","group":"1ea34d06.1438c3","name":"Button font - 11.5px","order":0,"width":0,"height":0,"format":"<style>\n.md-button {\n    font-size: 11.5px !important;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":1650,"y":80,"wires":[[]]},{"id":"aa31282a.92b4f8","type":"ui_button","z":"60c9808.a6c568","name":"Mode HW","group":"7c94183b.9ba938","order":19,"width":0,"height":0,"passthru":true,"label":"Manual On/Off - Timer Mode","tooltip":"Toggle HW Mode - Manual/Timer","color":"","bgcolor":"","icon":"","payload":"HWModeToggle","payloadType":"str","topic":"topic","topicType":"msg","x":340,"y":3380,"wires":[["d32dd49e.758bb8"]]},{"id":"3638ee76.769652","type":"ui_button","z":"60c9808.a6c568","name":"Mode CH","group":"fe205910.6c7388","order":19,"width":0,"height":0,"passthru":true,"label":"Manual On/Off - Timer Mode","tooltip":"Toggle CH Mode - Manual/Timer","color":"","bgcolor":"","icon":"","payload":"CHModeToggle","payloadType":"str","topic":"topic","topicType":"msg","x":340,"y":3880,"wires":[["81fbdcca.5b2d5"]]},{"id":"d32dd49e.758bb8","type":"function","z":"60c9808.a6c568","name":"Toggle/Reset HW","func":"if (msg.topic === 'resetHW'){\n    if (msg.payload === 'tmrActiveHW'){\n        state = 0;                          //tmr switch active\n    }\n    else {\n        state = 1;                          //man switch active\n    }\n}\n\n\nif (msg.payload === 'HWModeToggle') {\n    if(state === 0){\n        state = 1;\n        msg.payload = 'manActiveHW';\n    }\n    else {\n        state = 0;\n        msg.payload = 'tmrActiveHW';\n    }\n}\n\nmsg.topic = '';\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed\nstate=0;","finalize":"","x":530,"y":3380,"wires":[["68c15a73.196ba4"]]},{"id":"81fbdcca.5b2d5","type":"function","z":"60c9808.a6c568","name":"Toggle/Reset CH","func":"if (msg.topic === 'resetCH'){\n    if (msg.payload === 'tmrActiveCH'){\n        state = 0;\n    }\n    else {\n        state = 1;\n    }\n}\n\n\n\nif (msg.payload === 'CHModeToggle') {\n    if(state === 0){\n        state = 1;\n        msg.payload = 'manActiveCH';\n    }\n    else {\n        state = 0;\n        msg.payload = 'tmrActiveCH';\n    }\n}\n\nmsg.topic = '';\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed\nstate=0;","finalize":"","x":530,"y":3880,"wires":[["e8dad646.45f6c8"]]},{"id":"a52955f0.59c088","type":"function","z":"60c9808.a6c568","name":"CH State/Toggle","func":"if (msg.topic === 'offonSwitch'){\n    if (msg.payload === 'off'){                      //off or heat\n        chstate = 0;\n    }   \n    else {\n        chstate = 1;\n    }\n}\n\n\nif (msg.payload === 'CHOnOff' && msg.topic === 'toggleCH'){                 //toggle state with button\n    msg.topic = 'offonSwitch';\n    if (chstate === 0 ){\n        chstate = 1 ;\n        msg.payload = 'heat';\n    }\n    else {\n        chstate = 0;\n        msg.payload = 'off';\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed","finalize":"","x":360,"y":1580,"wires":[["b638c963.e02458"]]},{"id":"3a12083e.4714a8","type":"function","z":"60c9808.a6c568","name":"","func":"const now = new Date();\nconst thisSecEpoch = Math.round(now.getTime()/1000);\n\ndiff = thisSecEpoch - prevSecEpoch\nprevSecEpoch = thisSecEpoch;\nmsg.initTimeSlotsHW = false;\nmsg.payload = \"\";\n\nif(diff >=3){\n    msg.payload = \"Press Button twice within 2 seconds to initialise default Hot Water time slots\"\n    msg.topic = \"INITIALISE HOT WATER TIME SLOTS\";\n    ctr = 0;                            //reset press/click counter if activation >= 3 secs\n}\nelse {\n    ctr ++;\n}\n\nif (ctr >=1) {                          //more than 3 presses/clicks within 3 secs\n    msg.payload = \"Resetting ...\"\n    msg.topic = \"INITIALISE HOT WATER TIME SLOTS\";\n    msg.initTimeSlotsHW = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nprevSecEpoch = 0;","finalize":"","x":160,"y":2400,"wires":[["c647a4b3.332638","a97026aa.a27848"]]},{"id":"c647a4b3.332638","type":"ui_toast","z":"60c9808.a6c568","position":"top right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":370,"y":2400,"wires":[]},{"id":"a97026aa.a27848","type":"switch","z":"60c9808.a6c568","name":"","property":"msg.initTimeSlotsHW","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":2440,"wires":[["b65fd762.f9f818"]]},{"id":"916219fd.19f688","type":"switch","z":"60c9808.a6c568","name":"","property":"msg.initTimeSlotsCH","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":4220,"wires":[["438b4a47.038504"]]},{"id":"5ad726c6.2f3448","type":"ui_toast","z":"60c9808.a6c568","position":"top right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":370,"y":4180,"wires":[]},{"id":"8f936a88.bccd88","type":"ui_button","z":"60c9808.a6c568","name":"INIT CH","group":"4418cf8e.1586b","order":8,"width":"1","height":"1","passthru":true,"label":"C","tooltip":"Initialise CH Time Slots to Default Values - Double tap to Activate","color":"","bgcolor":"","icon":"","payload":"open","payloadType":"str","topic":"control","topicType":"str","x":160,"y":4140,"wires":[["730537b.bd3a5c8"]]},{"id":"7c49cd52.9f8d64","type":"inject","z":"60c9808.a6c568","name":"Init CH Objects","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":4100,"wires":[["8f936a88.bccd88"]]},{"id":"c61bf66b.bc3488","type":"comment","z":"60c9808.a6c568","name":"Change Dashboard BUTTON font size","info":"","x":1710,"y":40,"wires":[]},{"id":"730537b.bd3a5c8","type":"function","z":"60c9808.a6c568","name":"","func":"const now = new Date();\nconst thisSecEpoch = Math.round(now.getTime()/1000);\n\ndiff = thisSecEpoch - prevSecEpoch\nprevSecEpoch = thisSecEpoch;\nmsg.initTimeSlotsCH = false;\nmsg.payload = \"\";\n\nif(diff >=3){\n    msg.payload = \"Press Button twice within 2 seconds to initialise default Central Heating time slots\"\n    msg.topic = \"INITIALISE CENTRAL HEATING TIME SLOTS\";\n    ctr = 0;                            //reset press/click counter if activation >= 3 secs\n}\nelse {\n    ctr ++;\n}\n\nif (ctr >=1) {                          //more than 3 presses/clicks within 3 secs\n    msg.payload = \"Resetting ...\"\n    msg.topic = \"INITIALISE CENTRAL HEATING TIME SLOTS\";\n    msg.initTimeSlotsCH = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nprevSecEpoch = 0;","finalize":"","x":162,"y":4179.60009765625,"wires":[["916219fd.19f688","5ad726c6.2f3448"]]},{"id":"150e33a9.36de1c","type":"mqtt out","z":"60c9808.a6c568","name":"pub SLR Control (ie Off/On/Therm setting.. etc)","topic":"","qos":"2","retain":"true","broker":"87a36cb6.d5267","x":1580,"y":580,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"68bedef5.98af9","type":"link in","z":"60c9808.a6c568","name":"MAN HW Off/On","links":["82574796.38ddb8","fb27b820.800658","62c07d59.5102b4","35be4392.b1a49c","c36d472e.d929d8","fed80139.bb731","b4a3ef7d.6098a"],"x":1315,"y":1500,"wires":[["6aaa00c9.c5d96"]]},{"id":"3494ae93.146562","type":"mqtt in","z":"60c9808.a6c568","name":"","topic":"pive2mqtt/SLRCtrl/#","qos":"2","datatype":"auto","broker":"87a36cb6.d5267","x":150,"y":700,"wires":[["7a81de4d.dc7e8"]]},{"id":"7a81de4d.dc7e8","type":"switch","z":"60c9808.a6c568","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"pive2mqtt/SLRCtrl/HWManAuto","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/CHManAuto","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/CHOffOn","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/HWOffOn","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/savedSP","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":720,"wires":[["ca393a05.e58e98"],["14ca6e9b.5f2de1"],["b08907dc.0997a8"],["89e5e6d0.451628"],["81ecf52.7f05808","3eb6e13a.afafce"]]},{"id":"b26f63f9.41f9","type":"link in","z":"60c9808.a6c568","name":"HWManSwitchsub","links":["ca393a05.e58e98","27f5d11.6c07c2e"],"x":1095,"y":3340,"wires":[["a30c8118.6c548"]]},{"id":"ca393a05.e58e98","type":"link out","z":"60c9808.a6c568","name":"apiary2mqtt/SLRCtrl/HWManAuto","links":["b26f63f9.41f9"],"x":735,"y":700,"wires":[]},{"id":"5a90ac46.330294","type":"comment","z":"60c9808.a6c568","name":"/HWManAuto","info":"","x":830,"y":700,"wires":[]},{"id":"3da2e15a.d8dbce","type":"comment","z":"60c9808.a6c568","name":"to HW Off/On Switch","info":"","x":1490,"y":3500,"wires":[]},{"id":"737df629.2b9348","type":"comment","z":"60c9808.a6c568","name":"pub HW off/heat to SLR","info":"","x":1960,"y":1340,"wires":[]},{"id":"e9e5b94e.8b2cd8","type":"comment","z":"60c9808.a6c568","name":"pub CH off/heat to SLR","info":"","x":760,"y":1340,"wires":[]},{"id":"e30ef0f3.4ad6d","type":"comment","z":"60c9808.a6c568","name":"to CH Off/On Switch","info":"","x":1490,"y":4000,"wires":[]},{"id":"ac63154d.645058","type":"link out","z":"60c9808.a6c568","name":"HWAutoManModepub","links":["dd87c325.f67a4"],"x":995,"y":3380,"wires":[]},{"id":"dd87c325.f67a4","type":"link in","z":"60c9808.a6c568","name":"pub SLR Ctrl HW","links":["ac63154d.645058"],"x":1035,"y":580,"wires":[["f28ce506.dd8a68"]]},{"id":"f28ce506.dd8a68","type":"change","z":"60c9808.a6c568","name":"HW Man/Auto","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":580,"wires":[["150e33a9.36de1c"]]},{"id":"a30c8118.6c548","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"resetHW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":3340,"wires":[["4bb70df3.d86dc4","d32dd49e.758bb8"]]},{"id":"68c15a73.196ba4","type":"rbe","z":"60c9808.a6c568","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":700,"y":3380,"wires":[["ba3b89f7.31f3b8"]]},{"id":"e8dad646.45f6c8","type":"rbe","z":"60c9808.a6c568","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":700,"y":3880,"wires":[["e8894e15.e717e"]]},{"id":"a0346840.bf1418","type":"link out","z":"60c9808.a6c568","name":"CHAutoManModepub","links":["8ff18d8e.ae3e1"],"x":995,"y":3880,"wires":[]},{"id":"8ff18d8e.ae3e1","type":"link in","z":"60c9808.a6c568","name":"pub SLR Ctrl CH","links":["a0346840.bf1418"],"x":1035,"y":620,"wires":[["d60233f3.b981c"]]},{"id":"d60233f3.b981c","type":"change","z":"60c9808.a6c568","name":"CH Man/Auto","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":620,"wires":[["150e33a9.36de1c"]]},{"id":"14ca6e9b.5f2de1","type":"link out","z":"60c9808.a6c568","name":"apiary2mqtt/SLRCtrl/CHManAuto","links":["495a5b07.2de2e4"],"x":735,"y":740,"wires":[]},{"id":"deabce38.e9389","type":"comment","z":"60c9808.a6c568","name":"/CHManAuto","info":"","x":830,"y":740,"wires":[]},{"id":"495a5b07.2de2e4","type":"link in","z":"60c9808.a6c568","name":"CHManSwitchsub","links":["14ca6e9b.5f2de1","ec59402e.0eafb"],"x":1115,"y":3840,"wires":[["85788c25.8d2d5"]]},{"id":"85788c25.8d2d5","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":3840,"wires":[["9d880a3d.b3ee78","81fbdcca.5b2d5"]]},{"id":"c2ec281d.da45e8","type":"comment","z":"60c9808.a6c568","name":"CH Auto/Man sub","info":"","x":1180,"y":3800,"wires":[]},{"id":"966bb9a4.681108","type":"comment","z":"60c9808.a6c568","name":"HW Auto/Man sub","info":"","x":1170,"y":3300,"wires":[]},{"id":"91985d8a.ae344","type":"change","z":"60c9808.a6c568","name":"savedSP","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/savedSP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":660,"wires":[["150e33a9.36de1c"]]},{"id":"b638c963.e02458","type":"rbe","z":"60c9808.a6c568","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":400,"y":1540,"wires":[["1fdccb8.b30d235"]]},{"id":"d5c213e4.ef67d","type":"switch","z":"60c9808.a6c568","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"offline","vt":"str"},{"t":"eq","v":"online","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":560,"wires":[["2366c082.14f0d"],["9072c0ce.1c5f2"]]},{"id":"2366c082.14f0d","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/slr2-offline.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":560,"wires":[["845d3a6f.0e69d8"]]},{"id":"9072c0ce.1c5f2","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/slr2-online.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["845d3a6f.0e69d8"]]},{"id":"845d3a6f.0e69d8","type":"ui_media","z":"60c9808.a6c568","group":"6b9905d5.01ca1c","name":"Hive Status Icon","width":"1","height":"1","order":3,"category":"Images","file":"HW_On.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":780,"y":600,"wires":[[]]},{"id":"fd7939d2.b01948","type":"comment","z":"60c9808.a6c568","name":"Toggle HW Override","info":"","x":1730,"y":3340,"wires":[]},{"id":"26c6b6c0.9e4c9a","type":"comment","z":"60c9808.a6c568","name":"Toggle CH Override","info":"","x":1730,"y":3840,"wires":[]},{"id":"fc3a1a4f.0fb7c8","type":"comment","z":"60c9808.a6c568","name":"Switch HW IP","info":"","x":1230,"y":1500,"wires":[]},{"id":"3f879fcb.b7355","type":"ui_button","z":"60c9808.a6c568","name":"Hot Water Control/Status","group":"6b9905d5.01ca1c","order":14,"width":0,"height":0,"passthru":true,"label":"Hot Water Control/Status","tooltip":"Toggle HW - Off/On","color":"","bgcolor":"","icon":"","payload":"HWOnOff","payloadType":"str","topic":"toggleHW","topicType":"str","x":1270,"y":1580,"wires":[["cf0f2419.967168"]]},{"id":"cf0f2419.967168","type":"function","z":"60c9808.a6c568","name":"HW State/Toggle","func":"if (msg.topic === 'offonSwitch'){\n    if (msg.payload === 'off'){                      //off or heat\n        hwstate = 0;\n    }   \n    else {\n        hwstate = 1;\n    }\n}\n\n\nif (msg.payload === 'HWOnOff' && msg.topic === 'toggleHW'){                 //toggle state with button\n    msg.topic = 'offonSwitch';\n    if (hwstate === 0 ){\n        hwstate = 1 ;\n        msg.payload = 'heat';\n    }\n    else {\n        hwstate = 0;\n        msg.payload = 'off';\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1510,"y":1580,"wires":[["f92eceba.2fc9b"]]},{"id":"fe4c501d.8adb2","type":"comment","z":"60c9808.a6c568","name":"Switch CH IP","info":"","x":70,"y":1500,"wires":[]},{"id":"ded953df.55a53","type":"comment","z":"60c9808.a6c568","name":"Every second, check for CH/HW off or on as stored in daily on/off timeslots","info":"","x":540,"y":3640,"wires":[]},{"id":"4cdfbad9.487304","type":"comment","z":"60c9808.a6c568","name":"Override HW (in timer mode)","info":"","x":1760,"y":3500,"wires":[]},{"id":"ddc0849f.ae8888","type":"comment","z":"60c9808.a6c568","name":"Display Override start/end if override active","info":"","x":2280,"y":3460,"wires":[]},{"id":"fe188d8a.aadb2","type":"comment","z":"60c9808.a6c568","name":"SLR subscribed topics","info":"","x":740,"y":120,"wires":[]},{"id":"2b009a.351dbf66","type":"comment","z":"60c9808.a6c568","name":"sub to controls, off/on/thermostat setting etc","info":"","x":230,"y":660,"wires":[]},{"id":"62e78d3a.4616d4","type":"comment","z":"60c9808.a6c568","name":"Man/Tmr switch and push button toggles for CH","info":"","x":460,"y":3840,"wires":[]},{"id":"b96e21b7.8bccb","type":"comment","z":"60c9808.a6c568","name":"Man/Tmr switch and push button toggles for HW","info":"","x":460,"y":3340,"wires":[]},{"id":"d575fe1e.2308f","type":"change","z":"60c9808.a6c568","name":"HW heat","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1820,"wires":[["35be4392.b1a49c"]]},{"id":"e1890c4.f8da0f","type":"change","z":"60c9808.a6c568","name":"HW off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1860,"wires":[["fb27b820.800658"]]},{"id":"e9ac4c65.98f1c","type":"change","z":"60c9808.a6c568","name":"CH heat","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1960,"wires":[["9e1aede3.38636"]]},{"id":"999fc0fc.bd3fb","type":"change","z":"60c9808.a6c568","name":"CH off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2000,"wires":[["4cc57221.435e9c"]]},{"id":"bbb48597.52add8","type":"comment","z":"60c9808.a6c568","name":"/savedSP","info":"","x":820,"y":860,"wires":[]},{"id":"16e60e6a.83ce62","type":"link out","z":"60c9808.a6c568","name":"apiary2mqtt/SLRCtrl/savedSP","links":["d685c78e.75c548"],"x":735,"y":860,"wires":[]},{"id":"2ee46308.3e983c","type":"link in","z":"60c9808.a6c568","name":"pub SLR savedSP","links":["c2f5321b.4b14a","43e59dc.cd4a764","7fba4ced.9cb5d4","68c78a3f.860d54","c4acf53.5357a08"],"x":1035,"y":660,"wires":[["91985d8a.ae344"]]},{"id":"2d60076.a60c1f8","type":"ui_button","z":"60c9808.a6c568","name":"Sat CH","group":"4418cf8e.1586b","order":6,"width":"1","height":"1","passthru":true,"label":"Sat","tooltip":"Show Saturday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Sat","payloadType":"str","topic":"6","topicType":"str","x":280,"y":4520,"wires":[["428b2a6c.037744"]]},{"id":"55e0e0f4.4f4a5","type":"change","z":"60c9808.a6c568","name":"Restore SP","rules":[{"t":"set","p":"payload","pt":"msg","to":"boostsavedSPCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":4120,"wires":[["c2f5321b.4b14a"]]},{"id":"9a92b19b.ae627","type":"switch","z":"60c9808.a6c568","name":"Boost End?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1710,"y":4120,"wires":[["55e0e0f4.4f4a5","80c77117.8b31a"]]},{"id":"c2f5321b.4b14a","type":"link out","z":"60c9808.a6c568","name":"boostSPCH out","links":["2ee46308.3e983c","d1ca1dce.c5eed"],"x":2395,"y":4160,"wires":[]},{"id":"e24d1774.7324c8","type":"change","z":"60c9808.a6c568","name":"BoostCH Setup","rules":[{"t":"set","p":"boostSecsCH","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"SSE","tot":"flow"},{"t":"set","p":"boostTimeEndCH","pt":"flow","to":"msg.payload + msg.boostSecsCH","tot":"jsonata"},{"t":"set","p":"boostsavedSPCH","pt":"flow","to":"thermSP","tot":"flow"},{"t":"set","p":"boostCH","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":4200,"wires":[["a99bc9eb.4e9d18"]]},{"id":"a5d1a90b.2d6658","type":"ui_text","z":"60c9808.a6c568","group":"fe205910.6c7388","order":13,"width":"4","height":"1","name":"Boost remaining CH","label":"Boost Time Remaining","format":"{{msg.remain}}","layout":"row-spread","x":2220,"y":4080,"wires":[]},{"id":"574e6a22.4ea104","type":"function","z":"60c9808.a6c568","name":"CH Boost?","func":"msg.topic='';\nonCH = 'off';\n\nboostTimeEndCH = flow.get('boostTimeEndCH');\nboostCH = flow.get('boostCH');\nboostRemainingCH = 0;\nnowsse = flow.get('SSE');\n\nif (boostCH){                                                           //if boost is true, then\n    if (nowsse < boostTimeEndCH){                                      //if current time is less or equal boost end time\n        boostRemainingCH = boostTimeEndCH - nowsse; //boost remaining in mins\n        flow.set('boostRemainingCH',boostRemainingCH);\n        flow.set('boostTxtCH','Active');\n        onCH = 'heat'; //heat demand\n    }\n    else {\n        onCH = 'off';                                                   //boost ended\n        boostRemainingCH = 0;                                         //mins remaining\n        flow.set('boostCH', false);                                     //reset boost to false\n        flow.set('boostTxtCH','InActive');\n    }\n}\n\nflow.set('StateCH', onCH);\nmsg.payload = onCH;\nmsg.boostRemainingCH = boostRemainingCH;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":4000,"wires":[["9a92b19b.ae627","ae21fcef.f52e9","b3e0b5c8.72fe58"]]},{"id":"9bbb00d2.adba4","type":"ui_button","z":"60c9808.a6c568","name":"Boost +30m","group":"fe205910.6c7388","order":9,"width":"1","height":"1","passthru":true,"label":"+ 30m","tooltip":"Activate CH Boost for 30mins","color":"","bgcolor":"","icon":"","payload":"1800","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4160,"wires":[["72625bc9.f467b4"]]},{"id":"eb060a4f.fb07b8","type":"comment","z":"60c9808.a6c568","name":"pub Therm SP","info":"","x":2490,"y":4160,"wires":[]},{"id":"b7e1f18f.01a4f","type":"comment","z":"60c9808.a6c568","name":"BOOST CH","info":"","x":1930,"y":4200,"wires":[]},{"id":"a99bc9eb.4e9d18","type":"change","z":"60c9808.a6c568","name":"CH Man Active","rules":[{"t":"set","p":"savedModeCH","pt":"flow","to":"ctrlModeCH","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"manActiveCH","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":4240,"wires":[["aa00d1b8.bddd2","f3fad5bb.700b48"]]},{"id":"dfa8cd83.c64d1","type":"link in","z":"60c9808.a6c568","name":"ManTmrModeCH","links":["aa00d1b8.bddd2","6c1a0e54.732fc"],"x":375,"y":3920,"wires":[["81fbdcca.5b2d5"]]},{"id":"aa00d1b8.bddd2","type":"link out","z":"60c9808.a6c568","name":"BoostUpdateModeCH","links":["dfa8cd83.c64d1"],"x":2395,"y":4200,"wires":[]},{"id":"a14259aa.33bc78","type":"comment","z":"60c9808.a6c568","name":"Update Mode CH","info":"","x":2500,"y":4200,"wires":[]},{"id":"80c77117.8b31a","type":"change","z":"60c9808.a6c568","name":"Restore Mode CH","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedModeCH","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"},{"t":"set","p":"boostCH","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostTxtCH","pt":"flow","to":"InActive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":4160,"wires":[["aa00d1b8.bddd2"]]},{"id":"6107c281.a4edec","type":"change","z":"60c9808.a6c568","name":"Boost SP","rules":[{"t":"set","p":"boostSPCH","pt":"msg","to":"temp","tot":"flow"},{"t":"set","p":"boostSPCH","pt":"flow","to":"msg.boostSPCH + 1","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"boostSPCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":4320,"wires":[["c2f5321b.4b14a"]]},{"id":"926226e7.b368e8","type":"switch","z":"60c9808.a6c568","name":"Boost True?","property":"boostCH","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":3960,"wires":[["7747ebc3.9fcc54"],["574e6a22.4ea104"]]},{"id":"cddd7a7d.a3f198","type":"ui_button","z":"60c9808.a6c568","name":"Boost +60m","group":"fe205910.6c7388","order":10,"width":"1","height":"1","passthru":true,"label":"+ 60m","tooltip":"Activate CH Boost for 60mins","color":"","bgcolor":"","icon":"","payload":"3600","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4200,"wires":[["72625bc9.f467b4"]]},{"id":"9e4f0384.4292e","type":"ui_button","z":"60c9808.a6c568","name":"Boost Cancel","group":"fe205910.6c7388","order":12,"width":"1","height":"1","passthru":true,"label":"Cancel","tooltip":"Cancel CH Boost","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4280,"wires":[["dadb2312.b80ae"]]},{"id":"dadb2312.b80ae","type":"change","z":"60c9808.a6c568","name":"Boost 0","rules":[{"t":"set","p":"boostTimeEndCH","pt":"flow","to":"SSE","tot":"flow"},{"t":"set","p":"boostTxtCH","pt":"flow","to":"InActive","tot":"str"},{"t":"set","p":"boostTimeTxtCH","pt":"flow","to":"00:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":4360,"wires":[[]]},{"id":"4039de0a.1b7fe","type":"change","z":"60c9808.a6c568","name":"Restore Mode HW","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedModeHW","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetHW","tot":"str"},{"t":"set","p":"boostHW","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostTxtHW","pt":"flow","to":"InActive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":3620,"wires":[["f7830aa0.eff818"]]},{"id":"e7c93afa.6f4bc8","type":"switch","z":"60c9808.a6c568","name":"Boost End?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1710,"y":3620,"wires":[["4039de0a.1b7fe"]]},{"id":"f7830aa0.eff818","type":"link out","z":"60c9808.a6c568","name":"BoostUpdateModeCH","links":["42049d8b.8843c4"],"x":2395,"y":3660,"wires":[]},{"id":"5bb6be98.9d56e","type":"change","z":"60c9808.a6c568","name":"HW Man Active","rules":[{"t":"set","p":"savedModeHW","pt":"flow","to":"ctrlModeHW","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetHW","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"manActiveHW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":3700,"wires":[["f7830aa0.eff818","fdf3b26b.7ea2c"]]},{"id":"9b68406f.1fdc6","type":"ui_text","z":"60c9808.a6c568","group":"7c94183b.9ba938","order":13,"width":"4","height":"1","name":"Boost remaining HW","label":"Boost Time Remaining","format":"{{msg.remain}}","layout":"row-spread","x":2220,"y":3580,"wires":[]},{"id":"c4b89e09.0748d","type":"ui_button","z":"60c9808.a6c568","name":"Boost +30m","group":"7c94183b.9ba938","order":9,"width":"1","height":"1","passthru":true,"label":"+ 30m","tooltip":"Activate HW Boost for 30mins","color":"","bgcolor":"","icon":"","payload":"1800","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3660,"wires":[["6b6e07e1.d529c8"]]},{"id":"f22a2f5c.03939","type":"ui_button","z":"60c9808.a6c568","name":"Boost +60m","group":"7c94183b.9ba938","order":10,"width":"1","height":"1","passthru":true,"label":"+ 60m","tooltip":"Activate HW Boost for 60mins","color":"","bgcolor":"","icon":"","payload":"3600","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3700,"wires":[["6b6e07e1.d529c8"]]},{"id":"22fdf829.bba618","type":"change","z":"60c9808.a6c568","name":"BoostHW Setup","rules":[{"t":"set","p":"boostSecsHW","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"SSE","tot":"flow"},{"t":"set","p":"boostTimeEndHW","pt":"flow","to":"msg.payload + msg.boostSecsHW","tot":"jsonata"},{"t":"set","p":"boostsavedSPHW","pt":"flow","to":"thermSP","tot":"flow"},{"t":"set","p":"boostHW","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":3660,"wires":[["5bb6be98.9d56e"]]},{"id":"a67408ed.a0fbe8","type":"comment","z":"60c9808.a6c568","name":"Update Mode HW","info":"","x":2510,"y":3660,"wires":[]},{"id":"bc1abc71.6a02f","type":"comment","z":"60c9808.a6c568","name":"BOOST HW","info":"","x":1950,"y":3660,"wires":[]},{"id":"a793621.24a60a","type":"ui_button","z":"60c9808.a6c568","name":"Boost Cancel","group":"7c94183b.9ba938","order":12,"width":"1","height":"1","passthru":true,"label":"Cancel","tooltip":"Cancel HW Boost","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3780,"wires":[["9456ee44.d6275"]]},{"id":"9456ee44.d6275","type":"change","z":"60c9808.a6c568","name":"Boost 0","rules":[{"t":"set","p":"boostTimeEndHW","pt":"flow","to":"SSE","tot":"flow"},{"t":"set","p":"boostTxtHW","pt":"flow","to":"InActive","tot":"str"},{"t":"set","p":"boostTimeTxtHW","pt":"flow","to":"00:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":3780,"wires":[[]]},{"id":"434a6fbb.88a76","type":"function","z":"60c9808.a6c568","name":"HW Boost?","func":"msg.topic='';\nonHW = 'off';\n\nboostTimeEndHW = flow.get('boostTimeEndHW');\nboostHW = flow.get('boostHW');\nboostRemainingHW = 0;\nnowsse = flow.get('SSE');\n\nif (boostHW){                                                           //if boost is true, then\n    if (nowsse < boostTimeEndHW){                                      //if current time is less or equal boost end time\n        boostRemainingHW = boostTimeEndHW - nowsse; //boost remaining in mins\n        flow.set('boostRemainingHW',boostRemainingHW);\n        flow.set('boostTxtHW','Active');\n        onHW = 'heat'; //heat demand\n    }\n    else {\n        onHW = 'off';                                                   //boost ended\n        boostRemainingHW = 0;                                         //mins remaining\n        flow.set('boost', false);                                     //reset boost to false\n        flow.set('boostTxtHW','InActive');\n    }\n}\n\nflow.set('StateHW', onHW);\nmsg.payload = onHW;\nmsg.boostRemainingHW = boostRemainingHW;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":3500,"wires":[["e7c93afa.6f4bc8","15f76c34.c7f744","77d030b7.d7035"]]},{"id":"f955785c.99cef8","type":"switch","z":"60c9808.a6c568","name":"Boost True?","property":"boostHW","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":3460,"wires":[["8a11ecf7.b00e5"],["434a6fbb.88a76"]]},{"id":"c97cfae6.fde368","type":"comment","z":"60c9808.a6c568","name":"Override CH (in timer mode)","info":"","x":1760,"y":4000,"wires":[]},{"id":"4e1d00fd.1b17c","type":"comment","z":"60c9808.a6c568","name":"Display Override start/end if override active","info":"","x":2280,"y":3960,"wires":[]},{"id":"42049d8b.8843c4","type":"link in","z":"60c9808.a6c568","name":"ManTmrModeHW","links":["f7830aa0.eff818"],"x":375,"y":3420,"wires":[["d32dd49e.758bb8"]]},{"id":"15f76c34.c7f744","type":"function","z":"60c9808.a6c568","name":"Boost Tme","func":"function time_convert(num)\n { \n    var minutes = Math.floor(num / 60);  \n    var seconds = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (minutes   < 10) {minutes   = \"0\"+minutes;}\n    if (seconds < 10) {seconds = \"0\"+seconds;}\n  \n    return minutes + \":\" + seconds;         \n}\n\n\nmsg.remain = time_convert(msg.boostRemainingHW);\nflow.set('boostTimeTxtHW',msg.remain);\nmsg.payload = msg.boostRemainingHW;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":3580,"wires":[["e7c93afa.6f4bc8","9b68406f.1fdc6"]]},{"id":"b3e0b5c8.72fe58","type":"function","z":"60c9808.a6c568","name":"Boost Tme","func":"function time_convert(num)\n { \n    var minutes = Math.floor(num / 60);  \n    var seconds = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (minutes   < 10) {minutes   = \"0\"+minutes;}\n    if (seconds < 10) {seconds = \"0\"+seconds;}\n  \n    return minutes + \":\" + seconds;         \n}\n\n\nmsg.remain = time_convert(msg.boostRemainingCH);\nflow.set('boostTimeTxtCH',msg.remain);\nmsg.payload = msg.boostRemainingCH;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":4080,"wires":[["a5d1a90b.2d6658","9a92b19b.ae627"]]},{"id":"66717381.67813c","type":"ui_button","z":"60c9808.a6c568","name":"Boost +90m","group":"7c94183b.9ba938","order":11,"width":"1","height":"1","passthru":true,"label":"+ 90m","tooltip":"Activate HW Boost for 90mins","color":"","bgcolor":"","icon":"","payload":"5400","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3740,"wires":[["6b6e07e1.d529c8"]]},{"id":"fdbf7250.5ffe2","type":"ui_button","z":"60c9808.a6c568","name":"Boost +90m","group":"fe205910.6c7388","order":11,"width":"1","height":"1","passthru":true,"label":"+ 90m","tooltip":"Activate CH Boost for 90mins","color":"","bgcolor":"","icon":"","payload":"5400","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4240,"wires":[["72625bc9.f467b4"]]},{"id":"6b6e07e1.d529c8","type":"switch","z":"60c9808.a6c568","name":"Boost True?","property":"boostHW","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1950,"y":3720,"wires":[["22fdf829.bba618"],[]]},{"id":"72625bc9.f467b4","type":"switch","z":"60c9808.a6c568","name":"Boost True?","property":"boostCH","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1930,"y":4260,"wires":[["6107c281.a4edec","e24d1774.7324c8"],[]]},{"id":"dfd0198d.d8c258","type":"change","z":"60c9808.a6c568","name":"payload 'heat'","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":1860,"wires":[["62c07d59.5102b4"]]},{"id":"3ef05127.459abe","type":"change","z":"60c9808.a6c568","name":"payload 'off'","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"req.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":1820,"wires":[["62c07d59.5102b4"]]},{"id":"2341f385.a0556c","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"DemandCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":248,"y":1166,"wires":[[]]},{"id":"4a8b80af.29ce3","type":"change","z":"60c9808.a6c568","name":"","rules":[{"t":"set","p":"DemandHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1160,"wires":[[]]},{"id":"9d5b27e9.856538","type":"rbe","z":"60c9808.a6c568","name":"Check for 'Day' change","func":"rbe","gap":"","start":"","inout":"out","property":"dayPart","x":390,"y":3680,"wires":[["7d443aeb.fc7b74"]]},{"id":"95a3c685.507048","type":"link out","z":"60c9808.a6c568","name":"","links":["38569795.a6b288","d3e8f0fe.d7052"],"x":535,"y":3720,"wires":[]},{"id":"7d443aeb.fc7b74","type":"change","z":"60c9808.a6c568","name":"Set selectedDay","rules":[{"t":"set","p":"selectedDayHW","pt":"flow","to":"dayPart","tot":"msg"},{"t":"set","p":"selectedDayHW","pt":"flow","to":"dayPart","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":3720,"wires":[["95a3c685.507048"]]},{"id":"cf125a50.1c9238","type":"comment","z":"60c9808.a6c568","name":"Day rollover - update Time Slots","info":"","x":690,"y":3720,"wires":[]},{"id":"8864d074.dd6ec","type":"inject","z":"60c9808.a6c568","name":"Init Time","props":[{"p":"remain","v":"00:00","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":2180,"y":3540,"wires":[["9b68406f.1fdc6"]]},{"id":"b442099.59ce4f8","type":"inject","z":"60c9808.a6c568","name":"Init Time","props":[{"p":"remain","v":"00:00","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":2180,"y":4040,"wires":[["a5d1a90b.2d6658"]]},{"id":"ec3510af.0233b","type":"change","z":"60c9808.a6c568","name":"payload 'heat'","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":1920,"wires":[["ee405a79.511928"]]},{"id":"9ae0f12e.b6dc","type":"change","z":"60c9808.a6c568","name":"payload 'off'","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":1960,"wires":[["ee405a79.511928"]]},{"id":"93f3ddca.b81a2","type":"switch","z":"60c9808.a6c568","name":"CH Boost","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"60","vt":"str"},{"t":"eq","v":"90","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":340,"y":1960,"wires":[["9dfc33d6.96271","14858a62.67ffb6"],["32ec6c68.7a8a74","14858a62.67ffb6"],["bc5d6226.de76c","14858a62.67ffb6"],["552a39b7.e1b6c8","14858a62.67ffb6"],["c13c6a7c.35c5a8"]]},{"id":"626658d7.887ad8","type":"switch","z":"60c9808.a6c568","name":"HW Boost","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"60","vt":"str"},{"t":"eq","v":"90","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":340,"y":2200,"wires":[["4a9f7d48.860574","14858a62.67ffb6"],["37b30850.d4d3c8","14858a62.67ffb6"],["34a65893.df7fd8","14858a62.67ffb6"],["14858a62.67ffb6","80ae9b07.f6e5e8"],["c13c6a7c.35c5a8"]]},{"id":"8f34f2fd.b2e97","type":"link in","z":"60c9808.a6c568","name":"CHBoost30","links":["9dfc33d6.96271","badbaf2b.7a867"],"x":1615,"y":4160,"wires":[["9bbb00d2.adba4"]]},{"id":"657f5510.f5940c","type":"link in","z":"60c9808.a6c568","name":"CHBoost60","links":["32ec6c68.7a8a74","dbac7073.189e8"],"x":1615,"y":4200,"wires":[["cddd7a7d.a3f198"]]},{"id":"a7060a9a.f4aa88","type":"link in","z":"60c9808.a6c568","name":"CHBoost90","links":["bc5d6226.de76c","2279c086.f9e4e"],"x":1615,"y":4240,"wires":[["fdbf7250.5ffe2"]]},{"id":"2ae009d2.078e86","type":"link in","z":"60c9808.a6c568","name":"CHBoostC","links":["552a39b7.e1b6c8","3cb6fb8b.89b834"],"x":1575,"y":4280,"wires":[["9e4f0384.4292e"]]},{"id":"d404702.3ec519","type":"link in","z":"60c9808.a6c568","name":"HWBoost30","links":["4a9f7d48.860574","7ea9eac1.4f1354"],"x":1615,"y":3660,"wires":[["c4b89e09.0748d"]]},{"id":"48c220df.7c399","type":"link in","z":"60c9808.a6c568","name":"HWBoost60","links":["37b30850.d4d3c8","1844b2b5.9ec11d"],"x":1615,"y":3700,"wires":[["f22a2f5c.03939"]]},{"id":"ea20fd5f.5b4fa","type":"link in","z":"60c9808.a6c568","name":"HWBoost90","links":["34a65893.df7fd8","711ca030.7279b"],"x":1615,"y":3740,"wires":[["66717381.67813c"]]},{"id":"9cc6e47c.ac0a78","type":"link in","z":"60c9808.a6c568","name":"HWBoostC","links":["80ae9b07.f6e5e8","fcea312b.6743d"],"x":1575,"y":3780,"wires":[["a793621.24a60a"]]},{"id":"9dfc33d6.96271","type":"link out","z":"60c9808.a6c568","name":"CH30","links":["8f34f2fd.b2e97"],"x":555,"y":1980,"wires":[]},{"id":"32ec6c68.7a8a74","type":"link out","z":"60c9808.a6c568","name":"CH60","links":["657f5510.f5940c"],"x":595,"y":2000,"wires":[]},{"id":"bc5d6226.de76c","type":"link out","z":"60c9808.a6c568","name":"CH90","links":["a7060a9a.f4aa88"],"x":555,"y":2020,"wires":[]},{"id":"552a39b7.e1b6c8","type":"link out","z":"60c9808.a6c568","name":"CHC","links":["2ae009d2.078e86"],"x":595,"y":2040,"wires":[]},{"id":"4a9f7d48.860574","type":"link out","z":"60c9808.a6c568","name":"HW30","links":["d404702.3ec519"],"x":555,"y":2160,"wires":[]},{"id":"37b30850.d4d3c8","type":"link out","z":"60c9808.a6c568","name":"HW60","links":["48c220df.7c399"],"x":595,"y":2180,"wires":[]},{"id":"34a65893.df7fd8","type":"link out","z":"60c9808.a6c568","name":"HW90","links":["ea20fd5f.5b4fa"],"x":555,"y":2200,"wires":[]},{"id":"80ae9b07.f6e5e8","type":"link out","z":"60c9808.a6c568","name":"HWC","links":["9cc6e47c.ac0a78"],"x":595,"y":2220,"wires":[]},{"id":"7293bf8d.c3b8b","type":"switch","z":"60c9808.a6c568","name":"tmrActive dev","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HW","vt":"str"},{"t":"eq","v":"CH","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":2060,"wires":[["14858a62.67ffb6","2d1feacc.46fc26"],["14858a62.67ffb6","a4fc8096.10d88"],["c13c6a7c.35c5a8"]]},{"id":"f8dbe415.d49748","type":"switch","z":"60c9808.a6c568","name":"manActive dev","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HW","vt":"str"},{"t":"eq","v":"CH","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":2120,"wires":[["14858a62.67ffb6","2d1feacc.46fc26"],["14858a62.67ffb6","a4fc8096.10d88"],["c13c6a7c.35c5a8"]]},{"id":"27f5d11.6c07c2e","type":"link out","z":"60c9808.a6c568","name":"HW Man/Tmr","links":["b26f63f9.41f9"],"x":935,"y":2120,"wires":[]},{"id":"ec59402e.0eafb","type":"link out","z":"60c9808.a6c568","name":"CH Man/Tmr","links":["495a5b07.2de2e4"],"x":935,"y":2160,"wires":[]},{"id":"a4fc8096.10d88","type":"function","z":"60c9808.a6c568","name":"CH Tmr/Man","func":"msg.payload = msg.topic.concat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2160,"wires":[["ec59402e.0eafb"]]},{"id":"2d1feacc.46fc26","type":"function","z":"60c9808.a6c568","name":"HW Tmr/Man","func":"msg.payload = msg.topic.concat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2120,"wires":[["27f5d11.6c07c2e"]]},{"id":"b10a9e72.2257","type":"comment","z":"60c9808.a6c568","name":"HTTP /cmd POST handler","info":"","x":150,"y":1700,"wires":[]},{"id":"d4bc3091.7d57e","type":"comment","z":"60c9808.a6c568","name":"HW & CH Timer/Man cmd","info":"","x":850,"y":2080,"wires":[]},{"id":"dba8237c.61d6c","type":"comment","z":"60c9808.a6c568","name":"CH Off/On cmd","info":"","x":820,"y":1920,"wires":[]},{"id":"9e02f122.8fc7f","type":"comment","z":"60c9808.a6c568","name":"HW Off/On cmd","info":"","x":820,"y":1780,"wires":[]},{"id":"9c481fb4.29961","type":"comment","z":"60c9808.a6c568","name":"SP cmd","info":"","x":890,"y":1740,"wires":[]},{"id":"774c82ea.958e6c","type":"comment","z":"60c9808.a6c568","name":"HW Boost cmds","info":"","x":700,"y":2220,"wires":[]},{"id":"580d8b66.bab9b4","type":"comment","z":"60c9808.a6c568","name":"CH Boost cmds","info":"","x":710,"y":2040,"wires":[]},{"id":"badbaf2b.7a867","type":"link out","z":"60c9808.a6c568","name":"getCHBoost30","links":["8f34f2fd.b2e97"],"x":1875,"y":1980,"wires":[]},{"id":"dbac7073.189e8","type":"link out","z":"60c9808.a6c568","name":"getCHBoost60","links":["657f5510.f5940c"],"x":1875,"y":2020,"wires":[]},{"id":"2279c086.f9e4e","type":"link out","z":"60c9808.a6c568","name":"getCHBoost90","links":["a7060a9a.f4aa88"],"x":1875,"y":2060,"wires":[]},{"id":"3cb6fb8b.89b834","type":"link out","z":"60c9808.a6c568","name":"getCHBoostC","links":["2ae009d2.078e86"],"x":1875,"y":2100,"wires":[]},{"id":"7ea9eac1.4f1354","type":"link out","z":"60c9808.a6c568","name":"getHWBoost30","links":["d404702.3ec519"],"x":1875,"y":2160,"wires":[]},{"id":"1844b2b5.9ec11d","type":"link out","z":"60c9808.a6c568","name":"getHWBoost60","links":["48c220df.7c399"],"x":1875,"y":2200,"wires":[]},{"id":"711ca030.7279b","type":"link out","z":"60c9808.a6c568","name":"getHWBoost90","links":["ea20fd5f.5b4fa"],"x":1875,"y":2240,"wires":[]},{"id":"fcea312b.6743d","type":"link out","z":"60c9808.a6c568","name":"getHWBoostC","links":["9cc6e47c.ac0a78"],"x":1875,"y":2280,"wires":[]},{"id":"705dfdfb.e5f674","type":"switch","z":"60c9808.a6c568","name":"Check :cmd","property":"req.params.cmd","propertyType":"msg","rules":[{"t":"eq","v":"page","vt":"str"},{"t":"eq","v":"HWOff","vt":"str"},{"t":"eq","v":"HWOn","vt":"str"},{"t":"eq","v":"CHOn","vt":"str"},{"t":"eq","v":"CHOff","vt":"str"},{"t":"eq","v":"CHBoost30","vt":"str"},{"t":"eq","v":"CHBoost60","vt":"str"},{"t":"eq","v":"CHBoost90","vt":"str"},{"t":"eq","v":"CHBoostC","vt":"str"},{"t":"eq","v":"HWBoost30","vt":"str"},{"t":"eq","v":"HWBoost60","vt":"str"},{"t":"eq","v":"HWBoost90","vt":"str"},{"t":"eq","v":"HWBoostC","vt":"str"},{"t":"eq","v":"SP","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":15,"x":1410,"y":1920,"wires":[["fedc7500.ecdc38"],["e63d318d.5ad36","3ef05127.459abe"],["e63d318d.5ad36","dfd0198d.d8c258"],["ec3510af.0233b","e63d318d.5ad36"],["e63d318d.5ad36","9ae0f12e.b6dc"],["badbaf2b.7a867","e63d318d.5ad36"],["e63d318d.5ad36","dbac7073.189e8"],["e63d318d.5ad36","2279c086.f9e4e"],["e63d318d.5ad36","3cb6fb8b.89b834"],["7ea9eac1.4f1354","e63d318d.5ad36"],["e63d318d.5ad36","1844b2b5.9ec11d"],["e63d318d.5ad36","711ca030.7279b"],["e63d318d.5ad36","fcea312b.6743d"],["d540b5e1.eea398"],["e8af650.40c2498"]]},{"id":"79092dec.0445c4","type":"comment","z":"60c9808.a6c568","name":"to CHBoost switches","info":"","x":1990,"y":2040,"wires":[]},{"id":"a60c155f.0b77d8","type":"comment","z":"60c9808.a6c568","name":"to HWBoost switches","info":"","x":2000,"y":2220,"wires":[]},{"id":"9a03748a.7243a8","type":"catch","z":"60c9808.a6c568","name":"No HW!","scope":["59629111.e4fd1"],"uncaught":false,"x":850,"y":2580,"wires":[["91fce6b.1843618"]]},{"id":"91fce6b.1843618","type":"link out","z":"60c9808.a6c568","name":"Init HW - No file!","links":["447e83af.8062fc","c262e31e.44ae1"],"x":995,"y":2580,"wires":[]},{"id":"447e83af.8062fc","type":"link in","z":"60c9808.a6c568","name":"Init HW file","links":["91fce6b.1843618"],"x":35,"y":2360,"wires":[["19d1be0e.1e1d22"]]},{"id":"c262e31e.44ae1","type":"link in","z":"60c9808.a6c568","name":"Init CH file","links":["91fce6b.1843618","e54764c6.d14728"],"x":35,"y":4140,"wires":[["8f936a88.bccd88"]]},{"id":"e54764c6.d14728","type":"link out","z":"60c9808.a6c568","name":"Init CH - No file!","links":["c262e31e.44ae1"],"x":995,"y":4340,"wires":[]},{"id":"ae4e6b13.29b058","type":"catch","z":"60c9808.a6c568","name":"No CH!","scope":["68d75b30.76f284"],"uncaught":false,"x":850,"y":4340,"wires":[["e54764c6.d14728"]]},{"id":"bfed81ea.0969a","type":"link out","z":"60c9808.a6c568","name":"Slider SP","links":["577bfe53.39c39"],"x":1415,"y":740,"wires":[]},{"id":"d685c78e.75c548","type":"link in","z":"60c9808.a6c568","name":"ThermSPInput","links":["16e60e6a.83ce62"],"x":1035,"y":740,"wires":[["3b916a74.bcd3e6"]]},{"id":"addafd89.b743d","type":"switch","z":"60c9808.a6c568","name":"","property":"switchStateCH","propertyType":"flow","rules":[{"t":"eq","v":"On","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1420,"wires":[["2cf3ffef.632b5"]]},{"id":"6bb25222.6ef8ec","type":"change","z":"60c9808.a6c568","name":"CH Off/On pub","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":540,"wires":[["150e33a9.36de1c"]]},{"id":"77cfd83.20e5028","type":"change","z":"60c9808.a6c568","name":"HW Off/On pub","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":500,"wires":[["150e33a9.36de1c"]]},{"id":"a973d38b.d120c","type":"link in","z":"60c9808.a6c568","name":"HWOffOnpub","links":["45ed2565.c9e9ac"],"x":1035,"y":500,"wires":[["77cfd83.20e5028"]]},{"id":"37b0f134.475f2e","type":"link in","z":"60c9808.a6c568","name":"CHOffOnpub","links":["c0da44bc.717888"],"x":1035,"y":540,"wires":[["6bb25222.6ef8ec"]]},{"id":"c0da44bc.717888","type":"link out","z":"60c9808.a6c568","name":"","links":["37b0f134.475f2e"],"x":715,"y":1540,"wires":[]},{"id":"45ed2565.c9e9ac","type":"link out","z":"60c9808.a6c568","name":"","links":["a973d38b.d120c"],"x":1875,"y":1540,"wires":[]},{"id":"3dfd10e.ce04df","type":"comment","z":"60c9808.a6c568","name":"pub HW off/heat","info":"","x":1980,"y":1540,"wires":[]},{"id":"5e8be832.13f298","type":"comment","z":"60c9808.a6c568","name":"pub HW off/heat","info":"","x":820,"y":1540,"wires":[]},{"id":"b08907dc.0997a8","type":"link out","z":"60c9808.a6c568","name":"apiary2mqtt/SLRCtrl/CHOffOn","links":["aa998064.ada83"],"x":735,"y":780,"wires":[]},{"id":"89e5e6d0.451628","type":"link out","z":"60c9808.a6c568","name":"apiary2mqtt/SLRCtrl/HWOffOn","links":["b0ca229.9a2a9e"],"x":735,"y":820,"wires":[]},{"id":"b2a90f17.d93c1","type":"comment","z":"60c9808.a6c568","name":"/CHOffOn","info":"","x":820,"y":780,"wires":[]},{"id":"93b94ecd.1ac72","type":"comment","z":"60c9808.a6c568","name":"/HWOffOn","info":"","x":820,"y":820,"wires":[]},{"id":"b0ca229.9a2a9e","type":"link in","z":"60c9808.a6c568","name":"subHWOffOnIP","links":["89e5e6d0.451628"],"x":1295,"y":1440,"wires":[["6aaa00c9.c5d96"]]},{"id":"aa998064.ada83","type":"link in","z":"60c9808.a6c568","name":"subHWOffOnIP","links":["b08907dc.0997a8"],"x":135,"y":1440,"wires":[["1fdccb8.b30d235"]]},{"id":"d20712e7.52b98","type":"comment","z":"60c9808.a6c568","name":"sub CH IP","info":"","x":60,"y":1440,"wires":[]},{"id":"763df21d.d07bcc","type":"comment","z":"60c9808.a6c568","name":"sub HW IP","info":"","x":1220,"y":1440,"wires":[]},{"id":"f92eceba.2fc9b","type":"rbe","z":"60c9808.a6c568","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1560,"y":1540,"wires":[["6aaa00c9.c5d96"]]},{"id":"ad4a8645.06b018","type":"rbe","z":"60c9808.a6c568","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":620,"y":1540,"wires":[["c0da44bc.717888"]]},{"id":"36928ac6.b73db6","type":"delay","z":"60c9808.a6c568","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":4000,"wires":[["57fa8b6f.c1c4d4"]]},{"id":"27b3dd79.af8452","type":"rbe","z":"60c9808.a6c568","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1780,"y":1540,"wires":[["45ed2565.c9e9ac"]]},{"id":"c6ad59af.515fb8","type":"delay","z":"60c9808.a6c568","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":3500,"wires":[["82574796.38ddb8"]]},{"id":"251cdf88.df3ae","type":"link out","z":"60c9808.a6c568","name":"OnInitHW","links":["814efcc6.7cc76"],"x":1315,"y":2360,"wires":[]},{"id":"814efcc6.7cc76","type":"link in","z":"60c9808.a6c568","name":"InitBoostHW","links":["251cdf88.df3ae"],"x":1475,"y":3660,"wires":[["a793621.24a60a","e976b3f3.cfe27"]]},{"id":"314cdf2b.0c0ff","type":"link out","z":"60c9808.a6c568","name":"OnInitCH","links":["48bfbdf2.32cc64","365395a7.0828fa"],"x":1255,"y":4120,"wires":[]},{"id":"48bfbdf2.32cc64","type":"link in","z":"60c9808.a6c568","name":"InitBoostCH","links":["314cdf2b.0c0ff"],"x":1495,"y":4160,"wires":[["5e292e6.85f50d","9e4f0384.4292e"]]},{"id":"98fe0dc2.81a9d","type":"comment","z":"60c9808.a6c568","name":"Init BOOST CH","info":"","x":1400,"y":4160,"wires":[]},{"id":"506a0101.07486","type":"comment","z":"60c9808.a6c568","name":"Init BOOST HW","info":"","x":1380,"y":3660,"wires":[]},{"id":"79474564.2d14ac","type":"comment","z":"60c9808.a6c568","name":"publish controls, off/on/thermostat setting etc","info":"","x":1570,"y":640,"wires":[]},{"id":"e8af650.40c2498","type":"template","z":"60c9808.a6c568","name":"HTML ERR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>CMD Error</title>\n  </head>\n  <body> \n    <h1>ERROR, BAD CMD - {{req.params.cmd}}</h1>\n    <br>\n    <h2>Valid Commands:-</h2>\n    <h3>page&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;\n      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; GUI page</h3>\n    <h3>SP?temp=xx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Set\n      Thermostat SP to xx (Range 1 to 30)</h3>\n    <h3>HWOn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Hot Water - Switch Off</h3>\n    <h3>HWOn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Hot Water - Switch Off</h3>\n    <h3>CHOff&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - Switch Off</h3>\n    <h3>CHOn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - Switch On</h3>\n    <h3>HWBoost30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - 30 minute Boost</h3>\n    <h3>HWBoost60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - 60 minute Boost</h3>\n    <h3>HWBoost90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - 90 minute Boost</h3>\n    <h3>HWBoostC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - Clear Boost</h3>\n    <h3>CHBoost30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - 30 minute Boost</h3>\n    <h3>CHBoost60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - 60 minute Boost</h3>\n    <h3>CHBoost90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - 90 minute Boost</h3>\n    <h3>CHBoostC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - Clear Boost</h3>\n  </body>\n</html>\n","x":1750,"y":1800,"wires":[["61968948.955738"]]},{"id":"ebc62f38.2b89b","type":"trigger","z":"60c9808.a6c568","name":"Startup timeout","op1":"startup","op2":"startupTimeout","op1type":"str","op2type":"str","duration":"3","extend":false,"overrideDelay":false,"units":"s","reset":"resetTimeout","bytopic":"all","topic":"topic","outputs":1,"x":140,"y":800,"wires":[["5f8fe904.d4eac8"]]},{"id":"365395a7.0828fa","type":"link in","z":"60c9808.a6c568","name":"initStartup","links":["314cdf2b.0c0ff"],"x":35,"y":880,"wires":[["ebc62f38.2b89b","25932099.793e6","72f7b997.b45818","8643d6d0.9a7ff8","9ca479a2.2d69e8","7eca76c8.dcdf58"]]},{"id":"5f8fe904.d4eac8","type":"gate","z":"60c9808.a6c568","name":"","controlTopic":"resetCH","defaultState":"closed","openCmd":"startup","closeCmd":"startupTimeout","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":330,"y":800,"wires":[["7a81de4d.dc7e8"]]},{"id":"25932099.793e6","type":"change","z":"60c9808.a6c568","name":"HWMan","rules":[{"t":"set","p":"payload","pt":"msg","to":"manActiveHW","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":840,"wires":[["87d2a3fc.14dc2"]]},{"id":"87d2a3fc.14dc2","type":"delay","z":"60c9808.a6c568","name":"Init - Delay defaults","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":1000,"wires":[["5f8fe904.d4eac8"]]},{"id":"3eb6e13a.afafce","type":"change","z":"60c9808.a6c568","name":"close gate on SP","rules":[{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"startupTimeout","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":880,"wires":[["5f8fe904.d4eac8"]]},{"id":"72f7b997.b45818","type":"change","z":"60c9808.a6c568","name":"CHMan","rules":[{"t":"set","p":"payload","pt":"msg","to":"manActiveCH","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":880,"wires":[["87d2a3fc.14dc2"]]},{"id":"9ca479a2.2d69e8","type":"change","z":"60c9808.a6c568","name":"HWOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":960,"wires":[["87d2a3fc.14dc2"]]},{"id":"8643d6d0.9a7ff8","type":"change","z":"60c9808.a6c568","name":"CHOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":920,"wires":[["87d2a3fc.14dc2"]]},{"id":"7eca76c8.dcdf58","type":"change","z":"60c9808.a6c568","name":"SP","rules":[{"t":"set","p":"payload","pt":"msg","to":"18","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/savedSP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":1000,"wires":[["87d2a3fc.14dc2"]]},{"id":"5082b750.c65368","type":"comment","z":"60c9808.a6c568","name":"setup SLR default control values and publish if no values received on start","info":"","x":520,"y":920,"wires":[]},{"id":"f3fad5bb.700b48","type":"change","z":"60c9808.a6c568","name":"CH On","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":4280,"wires":[["3f975b3a.9f3944"]]},{"id":"3f975b3a.9f3944","type":"link out","z":"60c9808.a6c568","name":"BoostUpdateCHON","links":["ae2008f7.6d3de8"],"x":2395,"y":4280,"wires":[]},{"id":"f7dac677.7682c8","type":"comment","z":"60c9808.a6c568","name":"Update Off/On CH","info":"","x":2510,"y":4280,"wires":[]},{"id":"fdf3b26b.7ea2c","type":"change","z":"60c9808.a6c568","name":"HW On","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":3740,"wires":[["b4a3ef7d.6098a"]]},{"id":"b4a3ef7d.6098a","type":"link out","z":"60c9808.a6c568","name":"BoostUpdateHWON","links":["68bedef5.98af9"],"x":2395,"y":3740,"wires":[]},{"id":"a28e35d8.1a0a48","type":"comment","z":"60c9808.a6c568","name":"Update Off/On HW","info":"","x":2510,"y":3740,"wires":[]},{"id":"1a7a6019.94e8b","type":"change","z":"60c9808.a6c568","name":"Get CH Mode Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"system_mode_heat\": \"\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1400,"wires":[["85ffacb5.83dae"]]},{"id":"f5cb149a.886f38","type":"change","z":"60c9808.a6c568","name":"Get HW Mode Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"system_mode_water\": \"\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1400,"wires":[["b31986fd.25b368"]]},{"id":"a31f1499.b910d8","type":"change","z":"60c9808.a6c568","name":"Create Thermostat  Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"thermSP","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1420,"wires":[["addafd89.b743d"]]},{"id":"d540b5e1.eea398","type":"switch","z":"60c9808.a6c568","name":"SP - temp 1 to 30?","property":"payload.temp","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"30","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":2160,"wires":[["47a81dd7.9d5954","e63d318d.5ad36"],["53471aec.c59dd4"]]},{"id":"53471aec.c59dd4","type":"template","z":"60c9808.a6c568","name":"SP temp ERR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>SP ERR</h1>\n    </body>\n</html>","x":1580,"y":2180,"wires":[["61968948.955738"]]},{"id":"47a81dd7.9d5954","type":"change","z":"60c9808.a6c568","name":"temp to payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":2220,"wires":[["c4acf53.5357a08"]]},{"id":"c4acf53.5357a08","type":"link out","z":"60c9808.a6c568","name":"/SP Get Out","links":["2ee46308.3e983c"],"x":1495,"y":2220,"wires":[]},{"id":"f38682aa.a4016","type":"comment","z":"60c9808.a6c568","name":"to saved SP","info":"","x":1590,"y":2220,"wires":[]},{"id":"87a36cb6.d5267","type":"mqtt-broker","name":"local mqtt broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6b9905d5.01ca1c","type":"ui_group","name":"SLR/SLT Control/Status","tab":"98deb046.3418f","order":1,"disp":true,"width":"6","collapse":false},{"id":"a8133ce.6bd81c","type":"ui_group","name":"HW Daily Time Slots","tab":"98deb046.3418f","order":2,"disp":true,"width":"4","collapse":false},{"id":"7c94183b.9ba938","type":"ui_group","name":"HW Edit Time Slot","tab":"98deb046.3418f","order":3,"disp":true,"width":"4","collapse":false},{"id":"fe205910.6c7388","type":"ui_group","name":"CH Edit Time Slot","tab":"98deb046.3418f","order":6,"disp":true,"width":"4","collapse":false},{"id":"4418cf8e.1586b","type":"ui_group","name":"CH Daily Time Slots","tab":"98deb046.3418f","order":5,"disp":true,"width":"4","collapse":false},{"id":"1ea34d06.1438c3","type":"ui_group","name":"Default","tab":"5e2e41aa.9826b","order":1,"disp":true,"width":"6","collapse":true},{"id":"98deb046.3418f","type":"ui_tab","name":"Pi-ve Dashboard - Beta 1.40","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5e2e41aa.9826b","type":"ui_tab","name":"Home","icon":"dashboard","order":9}]