Old Node-RED flows/Pi-ve flow v2-03beta
[{"id":"59556271.2c7d9c","type":"tab","label":"Pi-ve v2.03","disabled":false,"info":""},{"id":"9a524e1a.99a55","type":"mqtt in","z":"59556271.2c7d9c","name":"","topic":"pive2mqtt/SLR/#","qos":"2","datatype":"auto","broker":"87a36cb6.d5267","x":140,"y":280,"wires":[["cb685bd0.3b0df8"]]},{"id":"522b64e5.90f71c","type":"split","z":"59556271.2c7d9c","name":"SplitKeys","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":120,"y":400,"wires":[["deca1b93.067468","e3cbc5d2.239818"]]},{"id":"deca1b93.067468","type":"switch","z":"59556271.2c7d9c","name":"SLR MQTT Topics","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"linkquality","vt":"str"},{"t":"eq","v":"local_temperature_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_water","vt":"str"},{"t":"eq","v":"running_state_heat","vt":"str"},{"t":"eq","v":"running_state_water","vt":"str"},{"t":"eq","v":"system_mode","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_heat","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_water","vt":"str"},{"t":"eq","v":"system_mode_heat","vt":"str"},{"t":"eq","v":"system_mode_water","vt":"str"},{"t":"eq","v":"last_seen","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":470,"y":300,"wires":[[],["584316e.3f895e8"],["fa1c7429.cbd048"],["c7246c17.3d792"],["7d0018ce.425a58"],["dbcf3038.e373a"],["8d8453b9.6fc3b"],["16f6255a.a2d09b"],["9510c992.289508"],["f3d3908.03aae7"],["e1c3cc0e.338d2"],["9ae19818.2f9b48"]]},{"id":"fe644c2a.37103","type":"inject","z":"59556271.2c7d9c","name":"CH system_mode (payload) / 1min Ticker","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"system_mode_heat\": \"\"}","payloadType":"str","x":210,"y":80,"wires":[["6e062d5f.aaf544"]]},{"id":"876a1f50.01471","type":"mqtt out","z":"59556271.2c7d9c","name":"Controller/heat/set/occupied_heating_setpoint","topic":"pive2mqtt/SLR/heat/set/occupied_heating_setpoint","qos":"2","retain":"true","broker":"87a36cb6.d5267","x":1300,"y":200,"wires":[]},{"id":"6b5dbe25.3c46","type":"mqtt out","z":"59556271.2c7d9c","name":"Controller/heat/set/system_mode","topic":"pive2mqtt/SLR/heat/set/system_mode","qos":"2","retain":"true","broker":"87a36cb6.d5267","x":1260,"y":260,"wires":[]},{"id":"4507f353.1b407c","type":"function","z":"59556271.2c7d9c","name":"System Heat Payload/Boost off?","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_heat\": value}\nmsg.value = value\nif (msg.value === 'heat'){\n    flow.set('switchStateCH', \"On\");\n}\nelse {\n    flow.set('switchStateCH', \"Off\");\n    flow.set('boostTimeEndCH', flow.get('SSE'));    //effectively ends boost (if active)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1340,"wires":[["65402563.34643c","cd133b21.5bfa88","dc6a7067.0e888"]]},{"id":"848dc356.2aa47","type":"function","z":"59556271.2c7d9c","name":"System Water Payload/Boost off?","func":"var value = msg.payload;\nmsg.value = value\nmsg.payload = {\"system_mode_water\": value}\nflow.set('switchStateHW', msg.value);\nif (msg.value === 'heat'){\n    flow.set('switchStateHW', \"On\");\n}\nelse {\n    flow.set('switchStateHW', \"Off\");\n    flow.set('boostTimeEndHW', flow.get('SSE'));    //effectively ends boost (if active)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":1340,"wires":[["86dedcc6.1dfa8","5b96af62.ded1b","5b0ceaf8.a5fa74"]]},{"id":"6e062d5f.aaf544","type":"mqtt out","z":"59556271.2c7d9c","name":"Controller/get","topic":"pive2mqtt/SLR/get","qos":"2","retain":"true","broker":"87a36cb6.d5267","x":200,"y":140,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"5b96af62.ded1b","type":"function","z":"59556271.2c7d9c","name":"\"temperature_setpoint_hold_water\" pub to SLR","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":1380,"wires":[["3da8b6a3.a57a5a"]]},{"id":"6113c67.fd37c38","type":"mqtt out","z":"59556271.2c7d9c","name":"Controller/set","topic":"pive2mqtt/SLR/set","qos":"2","retain":"true","broker":"87a36cb6.d5267","x":1190,"y":140,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"cd133b21.5bfa88","type":"function","z":"59556271.2c7d9c","name":"\"temperature_setpoint_hold_heat\" pub to SLR","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1380,"wires":[["52d241b3.f5906"]]},{"id":"b9a05ae5.8acfc8","type":"link out","z":"59556271.2c7d9c","name":"HW Payload out","links":["d8d82f3.7024fd"],"x":1575,"y":1400,"wires":[]},{"id":"d8d82f3.7024fd","type":"link in","z":"59556271.2c7d9c","name":"Controller/get","links":["b9a05ae5.8acfc8","bded5310.8d646","615493ab.90cebc"],"x":55,"y":140,"wires":[["6e062d5f.aaf544"]]},{"id":"615493ab.90cebc","type":"link out","z":"59556271.2c7d9c","name":"CH Payload out","links":["d8d82f3.7024fd","b9ba3dad.4d95e"],"x":395,"y":1400,"wires":[]},{"id":"3da8b6a3.a57a5a","type":"link out","z":"59556271.2c7d9c","name":"Controller/set","links":["b6de83d4.8e32d"],"x":2215,"y":1380,"wires":[]},{"id":"b6de83d4.8e32d","type":"link in","z":"59556271.2c7d9c","name":"Controller/set","links":["3da8b6a3.a57a5a","52d241b3.f5906","86dedcc6.1dfa8","65402563.34643c"],"x":1035,"y":140,"wires":[["6113c67.fd37c38"]]},{"id":"52d241b3.f5906","type":"link out","z":"59556271.2c7d9c","name":"Controller/set","links":["b6de83d4.8e32d"],"x":1015,"y":1380,"wires":[]},{"id":"86dedcc6.1dfa8","type":"link out","z":"59556271.2c7d9c","name":"Controller/set","links":["b6de83d4.8e32d","1d5dc33b.7b0dad"],"x":1835,"y":1340,"wires":[]},{"id":"65402563.34643c","type":"link out","z":"59556271.2c7d9c","name":"Controller/set","links":["b6de83d4.8e32d"],"x":635,"y":1340,"wires":[]},{"id":"e9f42e14.eb589","type":"delay","z":"59556271.2c7d9c","name":"Delay Therm Payload & pub","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":1460,"wires":[["49895ca8.6ac404"]]},{"id":"f3d3908.03aae7","type":"link out","z":"59556271.2c7d9c","name":"system_mode_heat","links":["a589eb81.20f098","fddde02d.ff846"],"x":655,"y":480,"wires":[]},{"id":"e1c3cc0e.338d2","type":"link out","z":"59556271.2c7d9c","name":"system_mode_water","links":["bc1bd10b.98732"],"x":675,"y":520,"wires":[]},{"id":"fa1c7429.cbd048","type":"link out","z":"59556271.2c7d9c","name":"occupied_heating_setpoint_heat","links":["e439906c.aae5"],"x":655,"y":200,"wires":[]},{"id":"7d0018ce.425a58","type":"link out","z":"59556271.2c7d9c","name":"running_state_heat","links":["ba90ea7b.5ef928","5e5ffe2b.c2ab6"],"x":655,"y":280,"wires":[]},{"id":"ba90ea7b.5ef928","type":"link in","z":"59556271.2c7d9c","name":"running_state_heat","links":["7d0018ce.425a58"],"x":75,"y":1080,"wires":[["b9a08895.b9e738","152d42a.02807bd","d3a5d025.3fc8b"]]},{"id":"dbcf3038.e373a","type":"link out","z":"59556271.2c7d9c","name":"running_state_water","links":["68e9de14.037fb","9331ed15.b485"],"x":675,"y":320,"wires":[]},{"id":"68e9de14.037fb","type":"link in","z":"59556271.2c7d9c","name":"running_state_water","links":["dbcf3038.e373a"],"x":1035,"y":1080,"wires":[["5f3dac58.10b214","ad70298e.6c94f8","16d7937a.53b36d"]]},{"id":"584316e.3f895e8","type":"link out","z":"59556271.2c7d9c","name":"local_temperature_heat","links":["a8e79f8b.6ba4e","26c6923b.47bdde"],"x":655,"y":160,"wires":[]},{"id":"a8e79f8b.6ba4e","type":"link in","z":"59556271.2c7d9c","name":"Temp Disp","links":["584316e.3f895e8"],"x":1035,"y":980,"wires":[["eeacbfb9.9b9ce","a80a21ed.87266"]]},{"id":"9f305465.0827d8","type":"comment","z":"59556271.2c7d9c","name":"Pi-ve - CH/HW Controller Project (Pi Zero W + Hive SLR/SLT) Beta 2.03","info":"","x":270,"y":40,"wires":[]},{"id":"3f6df812.34e268","type":"comment","z":"59556271.2c7d9c","name":"local_temperature_heat","info":"","x":780,"y":160,"wires":[]},{"id":"80125241.1f49d","type":"comment","z":"59556271.2c7d9c","name":"occupied_heating_setpoint_heat","info":"","x":810,"y":200,"wires":[]},{"id":"ad960a26.2669c8","type":"comment","z":"59556271.2c7d9c","name":"running_state_water","info":"","x":790,"y":320,"wires":[]},{"id":"b7c57d34.caa1f","type":"link in","z":"59556271.2c7d9c","name":"Controller/heat/set/occupied_heating_setpoint","links":["49895ca8.6ac404","3e9ed23e.863e1e","539dcc76.2b5964","54c62613.a65738"],"x":1035,"y":200,"wires":[["876a1f50.01471"]]},{"id":"49895ca8.6ac404","type":"link out","z":"59556271.2c7d9c","name":"Controller/heat/set/occupied_heating_setpoint","links":["b7c57d34.caa1f"],"x":1015,"y":1460,"wires":[]},{"id":"dfd89e8.55b0f6","type":"comment","z":"59556271.2c7d9c","name":"running_state_heat","info":"","x":770,"y":280,"wires":[]},{"id":"a5d469c3.9b6908","type":"comment","z":"59556271.2c7d9c","name":"system_mode_heat","info":"","x":770,"y":480,"wires":[]},{"id":"f42eb6b8.19d688","type":"comment","z":"59556271.2c7d9c","name":"system_mode_water","info":"","x":790,"y":520,"wires":[]},{"id":"8d8453b9.6fc3b","type":"link out","z":"59556271.2c7d9c","name":"system_mode","links":["bbca81c.524588"],"x":655,"y":440,"wires":[]},{"id":"37aec89c.d07408","type":"comment","z":"59556271.2c7d9c","name":"system_mode","info":"","x":750,"y":440,"wires":[]},{"id":"16f6255a.a2d09b","type":"link out","z":"59556271.2c7d9c","name":"temperature_setpoint_hold_heat","links":["74310ead.91b41","ffe572b5.3a925"],"x":655,"y":360,"wires":[]},{"id":"4b3810d5.76a36","type":"comment","z":"59556271.2c7d9c","name":"temperature_setpoint_hold_heat","info":"","x":810,"y":360,"wires":[]},{"id":"9510c992.289508","type":"link out","z":"59556271.2c7d9c","name":"temperature_setpoint_hold_water","links":["aece101.52c99f","9e7ac1eb.398c8"],"x":675,"y":400,"wires":[]},{"id":"59b68d0f.e2c064","type":"comment","z":"59556271.2c7d9c","name":"temperature_setpoint_hold_water","info":"","x":830,"y":400,"wires":[]},{"id":"c7246c17.3d792","type":"link out","z":"59556271.2c7d9c","name":"occupied_heating_setpoint_water","links":["1d5dc33b.7b0dad"],"x":675,"y":240,"wires":[]},{"id":"a0bace7c.b0056","type":"comment","z":"59556271.2c7d9c","name":"occupied_heating_setpoint_water","info":"","x":830,"y":240,"wires":[]},{"id":"a800459f.95a7d8","type":"comment","z":"59556271.2c7d9c","name":"Heat and Hot Water On/Off flow - triggers relevant mqtt messages","info":"","x":1130,"y":1340,"wires":[]},{"id":"19f69623.7e3cca","type":"comment","z":"59556271.2c7d9c","name":"Display CH Thermostat Sliders - Get Changes. Publish to SLR and save","info":"","x":1350,"y":800,"wires":[]},{"id":"b2fc8406.6121f8","type":"comment","z":"59556271.2c7d9c","name":"Display Thermostat Temperature Gauge and Value","info":"","x":1530,"y":980,"wires":[]},{"id":"f7e7a2b9.e3e2c","type":"link in","z":"59556271.2c7d9c","name":"Controller/heat/set/system_mode","links":["83d9d7b7.0f43a8"],"x":1035,"y":260,"wires":[["6b5dbe25.3c46"]]},{"id":"a6fa99c8.1c40f8","type":"comment","z":"59556271.2c7d9c","name":"Display CH and HW demand_state and demand icons","info":"","x":800,"y":1080,"wires":[]},{"id":"7a5f8e57.0adb8","type":"comment","z":"59556271.2c7d9c","name":"mqqt publish topics to SLR","info":"","x":1130,"y":100,"wires":[]},{"id":"5934ff0b.c9d8a","type":"comment","z":"59556271.2c7d9c","name":"mqqt subscribe to SLR topics","info":"","x":180,"y":240,"wires":[]},{"id":"cb685bd0.3b0df8","type":"json","z":"59556271.2c7d9c","name":"","property":"payload","action":"","pretty":false,"x":110,"y":360,"wires":[["522b64e5.90f71c"]]},{"id":"c1a02aa8.37ee98","type":"comment","z":"59556271.2c7d9c","name":"SLR/SLT status (online/offline)","info":"","x":180,"y":480,"wires":[]},{"id":"e3cbc5d2.239818","type":"trigger","z":"59556271.2c7d9c","name":"online trigger 65 secs","op1":"online","op2":"offline","op1type":"str","op2type":"str","duration":"65","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":160,"y":520,"wires":[["7fa85166.ab013","3b1f0948.2b2196","553ed96e.cb94f8"]]},{"id":"15bb6e70.8b64b2","type":"template","z":"59556271.2c7d9c","name":"HTML page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK - {{req.params.cmd}}</h1>\n    </body>\n</html>","x":1750,"y":1760,"wires":[["b7bdfc83.e29a"]]},{"id":"b7bdfc83.e29a","type":"http response","z":"59556271.2c7d9c","name":"","x":2010,"y":1760,"wires":[]},{"id":"d7ed30eb.fff92","type":"http in","z":"59556271.2c7d9c","name":"","url":"/cmd","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1820,"wires":[["b5748e28.1d4be"]]},{"id":"783c9831.608be8","type":"switch","z":"59556271.2c7d9c","name":"HW state","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"On","vt":"str"},{"t":"cont","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":1840,"wires":[["c688f2aa.6a699","f26514b5.51d288"],["c688f2aa.6a699","1a7ffbf7.5e88d4"]]},{"id":"b3e97038.bd34b","type":"link out","z":"59556271.2c7d9c","name":"HW On","links":["cf154313.05cc6"],"x":935,"y":1820,"wires":[]},{"id":"55fafb3d.08f2e4","type":"link out","z":"59556271.2c7d9c","name":"HW Off","links":["cf154313.05cc6"],"x":935,"y":1860,"wires":[]},{"id":"bf8a18b3.743738","type":"link out","z":"59556271.2c7d9c","name":"/GetHW","links":["cf154313.05cc6"],"x":2215,"y":1840,"wires":[]},{"id":"1917a5e7.b54f4a","type":"switch","z":"59556271.2c7d9c","name":"Check topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"HW","vt":"str"},{"t":"eq","v":"CH","vt":"str"},{"t":"eq","v":"SP","vt":"str"},{"t":"eq","v":"CHBoost","vt":"str"},{"t":"eq","v":"HWBoost","vt":"str"},{"t":"eq","v":"tmrActive","vt":"str"},{"t":"eq","v":"manActive","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":110,"y":1980,"wires":[["783c9831.608be8"],["11866835.26e8a8"],["7453f72b.b44878"],["2734aa5f.32bb46"],["53c3570d.58e928"],["d6b796e9.ef31d8"],["3b2aa059.04a2a"],["f98265f1.719eb8"]]},{"id":"b5748e28.1d4be","type":"split","z":"59556271.2c7d9c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":90,"y":1880,"wires":[["1917a5e7.b54f4a"]]},{"id":"11866835.26e8a8","type":"switch","z":"59556271.2c7d9c","name":"CH state","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"On","vt":"str"},{"t":"cont","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":1880,"wires":[["c688f2aa.6a699","318ce9b3.fb5906"],["c688f2aa.6a699","3709c03a.be855"]]},{"id":"90810ddc.d59c2","type":"link out","z":"59556271.2c7d9c","name":"CH On","links":["95b7f95c.bf8848"],"x":935,"y":1960,"wires":[]},{"id":"8f3eae1c.e3d7f","type":"link out","z":"59556271.2c7d9c","name":"CH Off","links":["f58a9dac.df5d6","95b7f95c.bf8848"],"x":935,"y":2000,"wires":[]},{"id":"86e87333.28d5a","type":"link out","z":"59556271.2c7d9c","name":"/GetCH","links":["95b7f95c.bf8848"],"x":2215,"y":1940,"wires":[]},{"id":"672fbade.8b96b4","type":"comment","z":"59556271.2c7d9c","name":"HTTP GETs","info":"","x":1410,"y":1700,"wires":[]},{"id":"7453f72b.b44878","type":"switch","z":"59556271.2c7d9c","name":"SP Value","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"btwn","v":"1","vt":"num","v2":"30","v2t":"num"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":3,"x":340,"y":1780,"wires":[["f98265f1.719eb8"],["756402cc.bb292c","c688f2aa.6a699"],["f98265f1.719eb8"]]},{"id":"756402cc.bb292c","type":"link out","z":"59556271.2c7d9c","name":"/SP Out","links":["52734077.b6ea8"],"x":815,"y":1740,"wires":[]},{"id":"f98265f1.719eb8","type":"template","z":"59556271.2c7d9c","name":"ERR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>ERR</h1>\n    </body>\n    <meta http-equiv=\"refresh\" content=\"3; url=/ctrl/page\" />\n</html>","x":550,"y":1740,"wires":[["6a12a7ce.7efac8"]]},{"id":"6a12a7ce.7efac8","type":"http response","z":"59556271.2c7d9c","name":"","x":890,"y":1700,"wires":[]},{"id":"c688f2aa.6a699","type":"template","z":"59556271.2c7d9c","name":"OK","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK</h1>\n    </body>\n    <meta http-equiv=\"refresh\" content=\"3; url=/ctrl/page\" />\n</html>","x":550,"y":1700,"wires":[["6a12a7ce.7efac8"]]},{"id":"98156469.86b978","type":"http in","z":"59556271.2c7d9c","name":"","url":"/ctrl/:cmd","method":"get","upload":false,"swaggerDoc":"","x":1410,"y":1780,"wires":[["b00aa991.7c8298"]]},{"id":"a80a21ed.87266","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1000,"wires":[[]]},{"id":"57e98ed0.95bd4","type":"template","z":"59556271.2c7d9c","name":"ctrl page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta http-equiv=\"refresh\" content=\"30\">\n    <title>Pi-ve ctrl v0.47</title>\n    <style>\n    body {font-family: Arial, serif;}\n      \n#slidecontainer {\n    width: 100%;\n}\n\nbutton {/* Customize the button here*/\n  font-size:20px;\n  width:100px;\n  height:35px;\n  background:lightblue;\n  border-radius: 12px;\n}      \n      \n.slider {\n    -webkit-appearance: none;\n    -webkit-transform: rotate(0deg);\n    width: 400px;\n    height: 10px;\n  position:absolute;\n    top:50%;\n    left:50%;\n    left:0px;\n    top:230px;\n    background: #e2dcdc;\n    outline: none;\n    opacity: 0.7;\n    -webkit-transition: .2s;\n    transition: opacity .2s;\n}\n\ninput[type=\"submit\"] {\n  -webkit-appearance: none;\n  -moz-appearance:    none;\n  appearance:         none;\n  font-size:20px;\n  padding: 0px;\n  height: 35px;\n  width: 100px;\n  border-radius: 12px;\n}\n          \nsection {\n    display: table;\n    width: 100%;\n    background-color: ;\n  \tmax-width: 420px;\n  \tbackground-color: ;\n}\n\n\n.bcol-1, .bcol-2, .bcol-3, .bcol-4 {\n    width: 0%;\n    display: table-cell;\n    background-color: ;\n}\n\n      \n}\n</style> </head>\n  <body>\n    <h1>Pi-ve HW/CH Controller</h1>\n    <h2><span style=\" color:blue; background-color: #e2dcdc;\">Temperature:\n        {{flow.temp}} C</span></h2>\n    <h2 style=\" color:blue;\">Set Thermostat Setpoint</h2>\n    <form action=\"/cmd\" method=\"POST\" id=\"form\" style=\"width: 455px;\">\n      <p> <input name=\"SP\" min=\"0\" max=\"30\" value=\"20\" step=\"0.5\" class=\"slider\"\n\n          id=\"myRange\" type=\"range\"> </p>\n      <h3>SP Temp: <span id=\"sp\"></span>C</h3>\n      <br>\n      <br>\n      <button type=\"submit\" value=\"SP\">Submit</button>\n      <p></p>\n      <br>\n    </form>\n    <h2><span style=\"color: #3333ff; background-color: #e2dcdc;\">HW -\n        {{flow.switchStateHW}} / {{flow.modeHW}} / Demand = {{flow.DemandHW}}</span></h2>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"HW\" value=\"On\">HWOn</button>\n        </form>\n      </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"HW\" value=\"Off\">HWOff</button>\n          </form>\n        </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"tmrActive\" value=\"HW\">Timer\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"manActive\" value=\"HW\">Manual\n              </button></form> </div>\n      </div>\n    </section>\n    <h2> <span style=\"color: #3333ff; background-color: #e2dcdc;\">CH -\n        {{flow.switchStateCH}} / {{flow.modeCH}} / Demand = {{flow.DemandCH}}</span></h2>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"CH\" value=\"On\">CHOn</button>\n        </form>\n      </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"CH\" value=\"Off\">CHOff</button>\n          </form>\n        </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"tmrActive\" value=\"CH\">Timer\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"manActive\" value=\"CH\">Manual\n              </button></form> </div>\n      </div>\n    </section>\n    <p> </p>\n    <br>\n    <h2><span style=\"color: #3333ff; background-color: #e2dcdc;\">HW Boost -\n        {{flow.boostTxtHW}} {{flow.boostTimeTxtHW}}</span> </h2>\n    <p> </p>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"30\">+30m</button>\n        </form>\n      </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"60\">+60m\n              </button></form> </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"90\">+90m\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"Off\">Off\n              </button></form> </div>\n      </div>\n    </section>\n    <h2><span style=\"color: #3333ff; background-color: #e2dcdc;\">CH Boost -\n        {{flow.boostTxtCH}} {{flow.boostTimeTxtCH}}<br>\n      </span></h2>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"30\">+30m\n            </button></form> </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"60\">+60m\n              </button></form> </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"90\">+90m\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"Off\">Off\n              </button></form> </div>\n      </div>\n    </section>\n    <script>      \nlet thermSP = {{flow.thermSP}};\nvar slider = document.getElementById(\"myRange\");\ndocument.getElementById(\"myRange\").defaultValue = thermSP;\n\nslider = document.getElementById(\"myRange\");\nvar output = document.getElementById(\"sp\");\noutput.innerHTML = slider.value;\n\nslider.oninput = function() {\n  output.innerHTML = this.value;\n}\n\nslider.onmouseup = function () {\n  document.getElementById(\"form\").submit();\n} \n  </script>\n    \n  </body>\n</html>","x":1760,"y":1720,"wires":[["b7bdfc83.e29a"]]},{"id":"3e33db84.61e2a4","type":"ui_slider","z":"59556271.2c7d9c","name":"","label":"Thermostat SP","tooltip":"","group":"aaa48299.7b526","order":5,"width":6,"height":2,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"1","max":"30","step":"0.5","x":1180,"y":740,"wires":[["54c62613.a65738","9ba86994.a070c8"]]},{"id":"cd2ae94a.13e6d8","type":"ui_text","z":"59556271.2c7d9c","group":"aaa48299.7b526","order":1,"width":3,"height":1,"name":"Last Seen","label":"Last Seen:","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":480,"wires":[]},{"id":"b9a08895.b9e738","type":"ui_text","z":"59556271.2c7d9c","group":"aaa48299.7b526","order":8,"width":2,"height":1,"name":"CH Demand","label":"Demand:","format":"","layout":"row-spread","x":210,"y":1080,"wires":[]},{"id":"5f3dac58.10b214","type":"ui_text","z":"59556271.2c7d9c","group":"aaa48299.7b526","order":14,"width":2,"height":1,"name":"HW Demand","label":"Demand:","format":"","layout":"row-spread","x":1170,"y":1080,"wires":[]},{"id":"817cb0d0.4251f","type":"ui_text","z":"59556271.2c7d9c","group":"aaa48299.7b526","order":16,"width":2,"height":1,"name":"HW State","label":"State:","format":"","layout":"row-spread","x":1780,"y":1500,"wires":[]},{"id":"4dc1d327.b37f9c","type":"ui_text","z":"59556271.2c7d9c","group":"aaa48299.7b526","order":10,"width":2,"height":1,"name":"CH State","label":"State:","format":"","layout":"row-spread","x":620,"y":1500,"wires":[]},{"id":"7fa85166.ab013","type":"ui_text","z":"59556271.2c7d9c","group":"aaa48299.7b526","order":2,"width":2,"height":1,"name":"State","label":"State:","format":"{{value}}","layout":"row-spread","x":490,"y":520,"wires":[]},{"id":"eeacbfb9.9b9ce","type":"ui_gauge","z":"59556271.2c7d9c","name":"Thermostat Temp Gauge","group":"aaa48299.7b526","order":4,"width":6,"height":3,"gtype":"gage","title":"SLR Thermostat Temperature","label":"","format":"{{value | number:2}}","min":0,"max":"30","colors":["#a9402d","#e6e600","#3acb4a"],"seg1":"15","seg2":"18","x":1210,"y":960,"wires":[]},{"id":"9ae19818.2f9b48","type":"function","z":"59556271.2c7d9c","name":"Store 'Last Seen'","func":"let thisString = new Date(msg.payload);\nlet spl = thisString.toString().split(\" \");\nlet tme = spl[4].toString().split(\":\");\n\nmsg.payload = tme[0] + \":\" + tme[1];\nflow.set('lastSeen', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":440,"wires":[["cd2ae94a.13e6d8"]]},{"id":"bdd01f93.7c345","type":"ui_switch","z":"59556271.2c7d9c","name":"HW Switch","label":"Manual Mode - Off/On","tooltip":"","group":"aaa48299.7b526","order":18,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"offonSwitch","topicType":"str","style":"","onvalue":"heat","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":1470,"y":1460,"wires":[["cae46430.c245f8","817cb0d0.4251f","9241c5e9.2dca48","62ffad9c.e88ad4","848dc356.2aa47"]]},{"id":"8806e75e.e6dfe8","type":"ui_switch","z":"59556271.2c7d9c","name":"CH Switch","label":"Manual Mode - Off/On","tooltip":"","group":"aaa48299.7b526","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"offonSwitch","topicType":"str","style":"","onvalue":"heat","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":310,"y":1460,"wires":[["3eed1d38.78edd2","4dc1d327.b37f9c","c006d39e.5d749","cec87a0c.35a028","4507f353.1b407c","bb86307a.064c5"]]},{"id":"6e9f0eb7.253a5","type":"change","z":"59556271.2c7d9c","name":"-> weekday/dayIndex HW","rules":[{"t":"set","p":"dayIndexHW","pt":"flow","to":"$number(msg.topic)\t","tot":"jsonata"},{"t":"set","p":"selectedDayHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2540,"wires":[["7eb001ea.8e977"]]},{"id":"4f048b53.eb1f44","type":"ui_button","z":"59556271.2c7d9c","name":"Sun HW","group":"4723d56a.5d74cc","order":7,"width":1,"height":1,"passthru":true,"label":"Sun","tooltip":"Show Sunday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions ","color":"","bgcolor":"","icon":"","payload":"Sun","payloadType":"str","topic":"0","topicType":"str","x":280,"y":2540,"wires":[["6e9f0eb7.253a5"]]},{"id":"d23cb7e7.7c08f8","type":"ui_button","z":"59556271.2c7d9c","name":"Mon HW","group":"4723d56a.5d74cc","order":1,"width":1,"height":1,"passthru":true,"label":"Mon","tooltip":"Show Monday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Mon","payloadType":"str","topic":"1","topicType":"str","x":280,"y":2580,"wires":[["6e9f0eb7.253a5"]]},{"id":"ed45d0e1.0e002","type":"ui_button","z":"59556271.2c7d9c","name":"Tue HW","group":"4723d56a.5d74cc","order":2,"width":1,"height":1,"passthru":true,"label":"Tue","tooltip":"Show Tuesday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Tue","payloadType":"str","topic":"2","topicType":"str","x":280,"y":2620,"wires":[["6e9f0eb7.253a5"]]},{"id":"6a36e2ab.34fd6c","type":"ui_button","z":"59556271.2c7d9c","name":"Wed HW","group":"4723d56a.5d74cc","order":3,"width":1,"height":1,"passthru":true,"label":"Wed","tooltip":"Show Wednesday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Wed","payloadType":"str","topic":"3","topicType":"str","x":280,"y":2660,"wires":[["6e9f0eb7.253a5"]]},{"id":"182aaf3f.9b92f1","type":"ui_button","z":"59556271.2c7d9c","name":"Thu HW","group":"4723d56a.5d74cc","order":4,"width":1,"height":1,"passthru":true,"label":"Thu","tooltip":"Show Thursday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Thu","payloadType":"str","topic":"4","topicType":"str","x":280,"y":2700,"wires":[["6e9f0eb7.253a5"]]},{"id":"32e60282.c2062e","type":"ui_button","z":"59556271.2c7d9c","name":"Fri HW","group":"4723d56a.5d74cc","order":5,"width":1,"height":1,"passthru":true,"label":"Fri","tooltip":"Show Friday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Fri","payloadType":"str","topic":"5","topicType":"str","x":270,"y":2740,"wires":[["6e9f0eb7.253a5"]]},{"id":"b950e527.7f6af8","type":"ui_button","z":"59556271.2c7d9c","name":"Sat HW","group":"4723d56a.5d74cc","order":6,"width":1,"height":1,"passthru":true,"label":"Sat","tooltip":"Show Saturday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Sat","payloadType":"str","topic":"6","topicType":"str","x":280,"y":2780,"wires":[["6e9f0eb7.253a5"]]},{"id":"7eb001ea.8e977","type":"file in","z":"59556271.2c7d9c","name":"Read HW (1)","filename":"Pive-HW","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":870,"y":2540,"wires":[["36cff1e3.281d8e"]]},{"id":"36cff1e3.281d8e","type":"json","z":"59556271.2c7d9c","name":"","property":"payload","action":"","pretty":false,"x":610,"y":2580,"wires":[["b4f8fd9a.95534"]]},{"id":"b6b631fd.dd155","type":"link in","z":"59556271.2c7d9c","name":"Submit HW","links":["c5f0c404.600048","f228393e.8fe2e8"],"x":935,"y":2360,"wires":[["930881d1.a425e","8aa52b5b.1fe468","7eb001ea.8e977"]]},{"id":"cf6bd69e.554148","type":"change","z":"59556271.2c7d9c","name":"-> weekday/dayIndexHW","rules":[{"t":"set","p":"dayIndexHW","pt":"flow","to":"dayIndexHW","tot":"msg"},{"t":"set","p":"selectedDayHW","pt":"flow","to":"dayHW","tot":"msg"},{"t":"set","p":"dbWriteLockHW","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostHW","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":2460,"wires":[["930881d1.a425e","8aa52b5b.1fe468","7eb001ea.8e977"]]},{"id":"b4f8fd9a.95534","type":"change","z":"59556271.2c7d9c","name":"set weekdayHW","rules":[{"t":"set","p":"stored-dbHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2640,"wires":[["de691f8b.6d82e"]]},{"id":"930881d1.a425e","type":"function","z":"59556271.2c7d9c","name":"Reset Start/End","func":"msg.payload = '00:00';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":2600,"wires":[["3c184dd3.3405a2","81181057.86b43"]]},{"id":"8aa52b5b.1fe468","type":"function","z":"59556271.2c7d9c","name":"Reset Timeslot Title","func":"msg.payload = '<-- Select Day/Time Slot';\nflow.set('selectTSHW', \"-\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":2560,"wires":[["98110ddf.4162a"]]},{"id":"9169cf11.f769","type":"function","z":"59556271.2c7d9c","name":"get date/time","func":"let date = Date();\nvar DayIndex = []; \nDayIndex['Sun'] = 0;\nDayIndex['Mon'] = 1;\nDayIndex['Tue'] = 2;\nDayIndex['Wed'] = 3;\nDayIndex['Thu'] = 4;\nDayIndex['Fri'] = 5;\nDayIndex['Sat'] = 6;    //'Day' , DayIndex for lookup\n            \nlet day = date.substring(0, 3);\nmsg.dayIndexHW = DayIndex[day];\nmsg.dayHW = day;\nmsg.payload = date;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":2420,"wires":[["cf6bd69e.554148"]]},{"id":"de691f8b.6d82e","type":"switch","z":"59556271.2c7d9c","name":"Select Day of Week HW","property":"selectedDayHW","propertyType":"flow","rules":[{"t":"eq","v":"Sun","vt":"str"},{"t":"eq","v":"Mon","vt":"str"},{"t":"eq","v":"Tue","vt":"str"},{"t":"eq","v":"Wed","vt":"str"},{"t":"eq","v":"Thu","vt":"str"},{"t":"eq","v":"Fri","vt":"str"},{"t":"eq","v":"Sat","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":610,"y":2760,"wires":[["38ba5625.4db28a"],["ced0f489.366da8"],["904684cc.c87438"],["d331c71b.7bfe98"],["b8bbc9f7.e09b88"],["44cc705f.47ca4"],["3b930990.8e0906"]]},{"id":"336cc0f9.a502e","type":"ui_text_input","z":"59556271.2c7d9c","name":"TS Start","label":"Start","tooltip":"","group":"e22da41f.72dcc8","order":2,"width":4,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1560,"y":2880,"wires":[["754e3e14.ada28"]]},{"id":"44114f52.e5bc","type":"ui_text_input","z":"59556271.2c7d9c","name":"TSEnd","label":"End","tooltip":"","group":"e22da41f.72dcc8","order":3,"width":4,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1550,"y":2920,"wires":[["8f27a228.44eaa"]]},{"id":"98110ddf.4162a","type":"ui_text_input","z":"59556271.2c7d9c","name":"Day/Time Slot","label":"Time Slot","tooltip":"","group":"e22da41f.72dcc8","order":1,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1400,"y":2840,"wires":[[]]},{"id":"b2e878de.1dc068","type":"inject","z":"59556271.2c7d9c","name":"OnInit Setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"resetHW","payload":"","payloadType":"date","x":1130,"y":2360,"wires":[["9169cf11.f769","cba2d799.5953b8"]]},{"id":"38ba5625.4db28a","type":"change","z":"59556271.2c7d9c","name":"Get Sun array (0)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[0][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2640,"wires":[["5dc8b455.61ac5c"]]},{"id":"ced0f489.366da8","type":"change","z":"59556271.2c7d9c","name":"Get Mon array (1)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[1][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2680,"wires":[["5dc8b455.61ac5c"]]},{"id":"904684cc.c87438","type":"change","z":"59556271.2c7d9c","name":"Get Tue array (2)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[2][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2720,"wires":[["5dc8b455.61ac5c"]]},{"id":"d331c71b.7bfe98","type":"change","z":"59556271.2c7d9c","name":"Get Wed array (3)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[3][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2760,"wires":[["5dc8b455.61ac5c"]]},{"id":"b8bbc9f7.e09b88","type":"change","z":"59556271.2c7d9c","name":"Get Thu array (4)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[4][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2800,"wires":[["5dc8b455.61ac5c"]]},{"id":"44cc705f.47ca4","type":"change","z":"59556271.2c7d9c","name":"Get Fri array (5)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[5][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":2840,"wires":[["5dc8b455.61ac5c"]]},{"id":"3b930990.8e0906","type":"change","z":"59556271.2c7d9c","name":"Get Sat array (6)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[6][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2880,"wires":[["5dc8b455.61ac5c"]]},{"id":"754e3e14.ada28","type":"moment","z":"59556271.2c7d9c","name":"secs to dte/tme","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-GB","output":"","outputType":"msg","outTz":"Europe/London","x":1740,"y":2880,"wires":[["6efd44be.ead27c"]]},{"id":"e983db4e.d41368","type":"change","z":"59556271.2c7d9c","name":"HW TS Start","rules":[{"t":"set","p":"dayHW","pt":"flow","to":"payload.title","tot":"msg"},{"t":"set","p":"savedDaySlotPayloadHW","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(msg.payload, \" \")","tot":"jsonata"},{"t":"set","p":"StartTimeHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":2880,"wires":[["3c184dd3.3405a2"]]},{"id":"8f27a228.44eaa","type":"moment","z":"59556271.2c7d9c","name":"secs to dte/tme","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-GB","output":"","outputType":"msg","outTz":"Europe/London","x":1740,"y":2920,"wires":[["2d52352e.8937ea"]]},{"id":"1b8e3afb.395385","type":"change","z":"59556271.2c7d9c","name":"HW TS End","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \" - \")","tot":"jsonata"},{"t":"set","p":"EndTimeHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":2920,"wires":[["81181057.86b43"]]},{"id":"6c190ff1.f5a1e","type":"change","z":"59556271.2c7d9c","name":"HW Day/TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"},{"t":"set","p":"selectTSHW","pt":"flow","to":"$substring(msg.payload, 20, 1)\t","tot":"jsonata"},{"t":"set","p":"selectedTSIndexHW","pt":"flow","to":"$number($substring(msg.payload, 20, 1)\t) -1","tot":"jsonata"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":2840,"wires":[["98110ddf.4162a"]]},{"id":"5dc8b455.61ac5c","type":"function","z":"59556271.2c7d9c","name":"Format HW timeslots","func":"newPayload = [];                                        //init new Array\nflow.set('savedSelectedDayHW', msg.payload);            //save whole week HW array\nflow.set('savedSelectedTimeSlotHW', msg.period);        //time slot elements from day selected\nflow.set('TSArraySizeHW', msg.period.length);           //save length of daily time slot selected (eg 8)\nselectedDayHW = flow.get('selectedDayHW');              //get day selected eg \"Sat\"             \n\nfunction timeConv(totalMins) {                          //convert mins to \"hh:mm\" function\nlet hours = Math.floor(totalMins / 60);\nlet minutes = totalMins - (hours*60);\n\n// If you want strings with leading zeroes:\nminutes = String(minutes).padStart(2, \"0\");\nhours = String(hours).padStart(2, \"0\");\ntimeString = (hours + \":\" + minutes);\nreturn timeString;\n}\n\n\n// create array ready to populate\nlet StartEndArrHW = new Array(2);                       //to contain start and end mins since midnight\nfor (var i = 0; i < msg.period.length; i++) {           //create msg.period.length of them\n  StartEndArrHW[i] = new Array(2);\n}\n\n\n//now loop through each element of selected day time slots (in msg.period) to \n//make time slot info in HW TS List on dashboard AND a StartEnd time array stored and used elsewhere\nmsg.period.forEach(doit,0);                             //loop thru daily time slots.. init i to be 0\nfunction doit(entry,i) {\n    StartEndArrHW[i][0] = entry.startTime;              //store start/end times in array\n    StartEndArrHW[i][1] = entry.endTime;\n    \n    i++;                                                //time slot number = index+1 then create 'title' and 'description' for dashboard\n    newentry = {'title' : selectedDayHW + ' (On)Time - Slot ' +i,\n                'description' : timeConv(entry.startTime) + ' - ' + timeConv(entry.endTime)\n    }\n    newPayload.push(newentry);                          //put newly created element into newPayload array\n}\n\nflow.set('StartEndArrHW', StartEndArrHW);               //save start/end array\nmsg.payload=newPayload;                                 //and put new payload into payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":2640,"wires":[["d3ac67d.1123598"]]},{"id":"6efd44be.ead27c","type":"function","z":"59556271.2c7d9c","name":"newStartTime","func":"//if empty string returned from formatter, then send old StartTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newStartTimeHW', '12345678901' + flow.get('StartTimeHW'));\n    msg.payload = '12345678901' + flow.get('StartTimeHW');\n}\nelse {\n    flow.set('newStartTimeHW', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1960,"y":2880,"wires":[["220c1774.b8fbf8"]]},{"id":"d3ac67d.1123598","type":"ui_list","z":"59556271.2c7d9c","group":"4723d56a.5d74cc","name":"HW TS List","order":9,"width":4,"height":11,"lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":1150,"y":2720,"wires":[["6c190ff1.f5a1e","e983db4e.d41368","1b8e3afb.395385"]]},{"id":"b6b3ebab.31fd28","type":"change","z":"59556271.2c7d9c","name":"Restore Daily TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedDaySlotPayloadHW","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2940,"wires":[["e983db4e.d41368","1b8e3afb.395385"]]},{"id":"2d52352e.8937ea","type":"function","z":"59556271.2c7d9c","name":"newEndTime","func":"//if empty string returned from formatter, then send old EndTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newEndTimeHW', '12345678901' + flow.get('EndTimeHW'));\n    msg.payload = '12345678901' + flow.get('EndTimeHW');\n}\nelse {\n    flow.set('newEndTimeHW', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1950,"y":2920,"wires":[["23fbb0b8.25e4b"]]},{"id":"220c1774.b8fbf8","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"newStartTimeHW","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":2880,"wires":[[]]},{"id":"35b49876.9fc678","type":"ui_button","z":"59556271.2c7d9c","name":"Cancel HW","group":"e22da41f.72dcc8","order":6,"width":1,"height":1,"passthru":false,"label":"Cancel","tooltip":"Cancel Time Slot Edits and Restore Previous Value","color":"","bgcolor":"","icon":"","payload":"Cancel","payloadType":"str","topic":"topic","topicType":"msg","x":650,"y":2980,"wires":[["b6b3ebab.31fd28","681505bd.4a19ec"]]},{"id":"23fbb0b8.25e4b","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"newEndTimeHW","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":2920,"wires":[[]]},{"id":"681505bd.4a19ec","type":"ui_toast","z":"59556271.2c7d9c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":1350,"y":3040,"wires":[]},{"id":"12a56eb3.855731","type":"switch","z":"59556271.2c7d9c","name":"SAVE ERROR - No TS Selected","property":"selectTSHW","propertyType":"flow","rules":[{"t":"eq","v":"-","vt":"str"},{"t":"neq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":3100,"wires":[["681505bd.4a19ec"],["ae1f03f.2fdd3"]]},{"id":"7a82c600.ea9dd8","type":"switch","z":"59556271.2c7d9c","name":"ERR - No TS Selected","property":"selectTSHW","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":3040,"wires":[["27b3238d.ffe65c"],["681505bd.4a19ec"]]},{"id":"a718459e.d899f8","type":"switch","z":"59556271.2c7d9c","name":"ERROR - 8 TS Limit","property":"TSArraySizeHW","propertyType":"flow","rules":[{"t":"gte","v":"8","vt":"num"},{"t":"lt","v":"8","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":3160,"wires":[["681505bd.4a19ec"],["80ac46f6.bc3118"]]},{"id":"d5ff7210.f53f6","type":"change","z":"59556271.2c7d9c","name":"DEL #1 Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"DELETE Error - Cannot Delete Time Slot  #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":3000,"wires":[["681505bd.4a19ec"]]},{"id":"1b8a54d3.bf29db","type":"change","z":"59556271.2c7d9c","name":"ADD Error - Select TS Mess","rules":[{"t":"set","p":"payload","pt":"msg","to":"ADD Error - Select Day/Time Slot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3200,"wires":[["681505bd.4a19ec"]]},{"id":"e76f180.f8e9fe8","type":"ui_button","z":"59556271.2c7d9c","name":"Save HW","group":"e22da41f.72dcc8","order":5,"width":1,"height":1,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SAVE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":3100,"wires":[["12a56eb3.855731"]]},{"id":"ae1f03f.2fdd3","type":"function","z":"59556271.2c7d9c","name":"Save EDIT","func":"dayIndexHW = flow.get('dayIndexHW');\nHWSelTS = flow.get('savedSelectedTimeSlotHW');\nsavedSelectedDayHW = flow.get('savedSelectedDayHW');\nNET = flow.get('newEndTimeHW');\nNST = flow.get('newStartTimeHW');\n\nNETmin = NET.split(':');\nNETmin = (Number(NETmin[0]) * 60) + Number(NETmin[1]);\nNSTmin = NST.split(':');\nNSTmin = (Number(NSTmin[0]) * 60) + Number(NSTmin[1]);\nmsg.NETmin = NETmin;\nmsg.NSTmin = NSTmin;\n\nvalidCheck = true;\nerrorMess = \"OK\";\nStartEndArrHW = flow.get('StartEndArrHW');\nTSArraySizeHW = flow.get('TSArraySizeHW');\n\nselectedTSIndexHW = flow.get('selectedTSIndexHW');                      //Selected TS index\n\nmsg.dayIndexHW = dayIndexHW;\nmsg.HWSelTS = HWSelTS;\nmsg.NET = NET;\nmsg.NST = NST;\n\n//carry out sanity checks on new values dependant on position within total array being edited\nif (NETmin < NSTmin ){                                                  //firstly end time must never be less than start time\n        errorMess = \"SAVE ERROR - End < Start Time\";\n}\nelse if (selectedTSIndexHW+1 ==1 && TSArraySizeHW > 1) {                //first and only element being edited?\n    if (NETmin > StartEndArrHW[selectedTSIndexHW+1][0] ) {              //check if ET < next ST\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n}  \nelse if (selectedTSIndexHW+1 == TSArraySizeHW && TSArraySizeHW > 1) {   //last element?\n    if (NSTmin < StartEndArrHW[selectedTSIndexHW-1][1]) {               //check if ST < prev ET\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\nelse if (TSArraySizeHW > 1) {\n    if (NETmin > StartEndArrHW[selectedTSIndexHW+1][0] ) {              //neither first nor last, so check both prev and next\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n    if (NSTmin < StartEndArrHW[selectedTSIndexHW-1][1]) {\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\n\nmsg.errorMess = errorMess;\n\nHWSelTS[selectedTSIndexHW]['startTime'] = NSTmin;                       //set selected TS starttime to new value (in mins)\nHWSelTS[selectedTSIndexHW]['endTime'] = NETmin;                         //similar for endtime\nsavedSelectedDayHW[dayIndexHW][1] = HWSelTS;                            //now insert modified array back into weekly array\n\nmsg.postHWSelTS = HWSelTS;\nmsg.payload = savedSelectedDayHW;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":3100,"wires":[["2a7fe17c.8641ae"]]},{"id":"ebc16fde.c116e","type":"ui_button","z":"59556271.2c7d9c","name":"Del HW","group":"e22da41f.72dcc8","order":8,"width":1,"height":1,"passthru":true,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"DELETE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":3040,"wires":[["7a82c600.ea9dd8"]]},{"id":"27b3238d.ffe65c","type":"switch","z":"59556271.2c7d9c","name":"ERR - Del #1","property":"selectedTSIndexHW","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":2980,"wires":[["726cea9e.bec694"],["d5ff7210.f53f6"]]},{"id":"dc017621.0ab708","type":"ui_button","z":"59556271.2c7d9c","name":"Add HW","group":"e22da41f.72dcc8","order":7,"width":1,"height":1,"passthru":false,"label":"Add","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ADD Error - Maximum 8 Time Slots","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":3160,"wires":[["a718459e.d899f8","170b8c98.3618d3"]]},{"id":"80ac46f6.bc3118","type":"function","z":"59556271.2c7d9c","name":"ADD new TS to day array","func":"//ADD.. ie insert new TS either between 2 entries, or appended to whole daily TS array\n\nmsg.payload = flow.get('savedSelectedTimeSlotHW');\nmsg.selectedDayHW = flow.get('savedSelectedTimeSlotHW');\nmsg.selectedTSIndexHW = flow.get('selectedTSIndexHW');\n\nnewTSArray = [];\nnewDayArrayHW = [];\nselectedTSIndexHW = flow.get('selectedTSIndexHW');\nselectedDayHW = flow.get('selectedDayHW');\nStartEndArrHW = flow.get('StartEndArrHW');\nerrorMess = \"OK\";\n\ni = 0;\nmsg.mpl = msg.payload.length;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexHW) {                                       //id day index is not selected TS\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n    }\n    else {\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n                                                                        //now make new entry values based on StartEndArrHW: values\n        \n        if (i==msg.payload.length -1){                                  //appending last entry?\n            newentry = {                                                //yes...\n                startTime : (StartEndArrHW[i][1]),                      //previous end time\n                endTime : ((24*60)-1)                                   //new end time 1 min to midnight\n            }\n            newTSArray.push(newentry);\n        }\n        else {                                                          //inserting new TS...so\n            if ( (StartEndArrHW[i+1][0]) - (StartEndArrHW[i][1]) >2 ){  //is there space for entry between two ts?\n                newentry = {                                            //yes\n                startTime : (StartEndArrHW[i][1]),                      //previous end time\n                endTime : (StartEndArrHW[i+1][0])                       //next TS start time\n                }\n                if (((StartEndArrHW[i][1])) < 24*60 && (StartEndArrHW[i][1] +1) <24*60) {\n                    newTSArray.push(newentry);\n                }\n                else {\n                    errorMess = \"ADD ERROR - Time Goes Into Next Day!\"; //last time goes into next day\n                }\n            }\n            else {\n                errorMess = \"ADD ERROR - Cannot Insert Time Slot\";      //no time between slots\n            }\n        }\n    }\n    i++;\n}\n\nmsg.errorMess = errorMess;\nnewDayArrayHW = [selectedDayHW, newTSArray];                            //reconstruct array for day\nmsg.newDayArrayHW = newDayArrayHW;\nflow.set('newDayArrayHW', msg.newDayArrayHW);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":3160,"wires":[["9fc67f90.0aea7"]]},{"id":"170b8c98.3618d3","type":"switch","z":"59556271.2c7d9c","name":"ERROR - No TS Selected","property":"selectTSHW","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":3200,"wires":[[],["1b8a54d3.bf29db"]]},{"id":"2a7fe17c.8641ae","type":"switch","z":"59556271.2c7d9c","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":3100,"wires":[["5904956a.03e87c","1c6ad1b6.34456e"],["5904956a.03e87c"]]},{"id":"726cea9e.bec694","type":"function","z":"59556271.2c7d9c","name":"remove TS from selected day HW","func":"//for each element of the array input, copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nmsg.payload = flow.get('savedSelectedTimeSlotHW');\nmsg.selectedDay = flow.get('savedSelectedTimeSlotHW');          //eg 'Wed'\nmsg.selectedTSIndexHW = flow.get('selectedTSIndexHW');\n\nnewTSArray = [];\nnewDayArrayHW = [];\nselectedTSIndexHW = flow.get('selectedTSIndexHW');              //array index picked from list of day TS eg 4\nselectedDayHW = flow.get('selectedDayHW');                      //day picked eg \"Mon\"\n\ni = 0;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexHW) {                               //id day index is not selected TS\n        newentry = TSEntry;                                     //then make newentry = element\n        newTSArray.push(newentry);                              //and push onto new array\n    }\n    i++;\n}\n\nnewDayArrayHW = [selectedDayHW, newTSArray];                        //reconstruct array for day\nmsg.newDayArrayHW = newDayArrayHW;\nflow.set('newDayArrayHW', msg.newDayArrayHW);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":2980,"wires":[["bbe049fd.607ed8"]]},{"id":"9fc67f90.0aea7","type":"switch","z":"59556271.2c7d9c","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"neq","v":"OK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":3160,"wires":[["5904956a.03e87c"],["495b5dde.59d194","5904956a.03e87c"]]},{"id":"5904956a.03e87c","type":"change","z":"59556271.2c7d9c","name":"Set SAVE Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"errorMess","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":3100,"wires":[["848964ec.df8998"]]},{"id":"1c6ad1b6.34456e","type":"link out","z":"59556271.2c7d9c","name":"Update HW","links":["dbc41c15.15397"],"x":2095,"y":2980,"wires":[]},{"id":"bbe049fd.607ed8","type":"function","z":"59556271.2c7d9c","name":"reconstruct day array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexHW = flow.get('dayIndexHW');\nmsg.payload = flow.get('savedSelectedDayHW');\nnewDayArrayHW = flow.get('newDayArrayHW');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexHW) {                                              //id day index is not modified day\n        newentry = dayEntry;                                            //then make newentry = element\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    else {\n        newentry = newDayArrayHW;                                       //get modified day array\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":2980,"wires":[["1c6ad1b6.34456e"]]},{"id":"495b5dde.59d194","type":"function","z":"59556271.2c7d9c","name":"Reconstruct week array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexHW = flow.get('dayIndexHW');\nmsg.payload = flow.get('savedSelectedDayHW');\nnewDayArrayHW = flow.get('newDayArrayHW');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexHW) {                                               //id day index is not modified day\n        newentry = dayEntry;                                             //then make newentry = element\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    else {\n        newentry = newDayArrayHW;                                          //get modified day array\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":3180,"wires":[["1c6ad1b6.34456e"]]},{"id":"848964ec.df8998","type":"ui_toast","z":"59556271.2c7d9c","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"SAVE Status","x":2290,"y":3100,"wires":[]},{"id":"b80692eb.f1939","type":"comment","z":"59556271.2c7d9c","name":"Update  db HW ","info":"","x":1960,"y":2640,"wires":[]},{"id":"aa86252c.691458","type":"comment","z":"59556271.2c7d9c","name":"EDIT Time Slot timers","info":"","x":1600,"y":2840,"wires":[]},{"id":"965c510a.2382f","type":"comment","z":"59556271.2c7d9c","name":"Update  dbHW & Refresh List","info":"","x":2240,"y":2980,"wires":[]},{"id":"c8a259e9.27c4a8","type":"comment","z":"59556271.2c7d9c","name":"HW Start/End Picker","info":"","x":1410,"y":2800,"wires":[]},{"id":"8895dbad.4f6228","type":"comment","z":"59556271.2c7d9c","name":"HW Daily Time Slots","info":"","x":1170,"y":2680,"wires":[]},{"id":"bcc749fa.250fb8","type":"comment","z":"59556271.2c7d9c","name":"HW Array Updated, so refresh dashboard","info":"","x":760,"y":2360,"wires":[]},{"id":"285c6238.f5786e","type":"comment","z":"59556271.2c7d9c","name":"Init HW Weekly Schedule","info":"","x":410,"y":2320,"wires":[]},{"id":"48fa4db9.795e24","type":"inject","z":"59556271.2c7d9c","name":"Init HW Objects","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2320,"wires":[["4ce16059.421dd"]]},{"id":"4ce16059.421dd","type":"ui_button","z":"59556271.2c7d9c","name":"INIT HW","group":"4723d56a.5d74cc","order":8,"width":1,"height":1,"passthru":true,"label":"C","tooltip":"Initialise HW Time Slots to Default Values - Double tap to Activate","color":"","bgcolor":"","icon":"","payload":"open","payloadType":"str","topic":"control","topicType":"str","x":160,"y":2360,"wires":[["2103715f.77aede"]]},{"id":"f17eafea.d9817","type":"function","z":"59556271.2c7d9c","name":"Init HW Data","func":"let dayPeriod = [0,1,2,3,4,5,6,7];  // array 8 periods in a day\n\ndpLen = dayPeriod.length;           //init day periods\nfor (i = 0; i < dpLen; i++) {\n    dayPeriod[i] = {\n        startTime : (i*120+480),\n        endTime : (i*120+480) +60\n    }\n}\n\nlet HWDay = [['Sun', dayPeriod],\n            ['Mon', dayPeriod],\n            ['Tue', dayPeriod],\n            ['Wed', dayPeriod],\n            ['Thu', dayPeriod],\n            ['Fri', dayPeriod],\n            ['Sat', dayPeriod]];    //array 7 days\n\n\nmsg.payload = HWDay;                //return with whole HWDay object in msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":2440,"wires":[["1f20eb46.5fd315"]]},{"id":"1f20eb46.5fd315","type":"link out","z":"59556271.2c7d9c","name":"Init DB HW","links":["dbc41c15.15397"],"x":495,"y":2440,"wires":[]},{"id":"7d787526.cf14cc","type":"change","z":"59556271.2c7d9c","name":"set db lock (true)","rules":[{"t":"set","p":"dbWriteLockHW","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":2680,"wires":[["cd9a495f.b831c8"]]},{"id":"cd9a495f.b831c8","type":"file","z":"59556271.2c7d9c","name":"Save Pive-HW","filename":"Pive-HW","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2060,"y":2720,"wires":[["1c26435a.6c287d"]]},{"id":"1c26435a.6c287d","type":"change","z":"59556271.2c7d9c","name":"reset db lock (false)","rules":[{"t":"set","p":"dbWriteLockHW","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":2760,"wires":[["c5f0c404.600048"]]},{"id":"dbc41c15.15397","type":"link in","z":"59556271.2c7d9c","name":"dbWriteHW","links":["1c6ad1b6.34456e","1f20eb46.5fd315"],"x":1895,"y":2680,"wires":[["7d787526.cf14cc"]]},{"id":"c5f0c404.600048","type":"link out","z":"59556271.2c7d9c","name":"DB Updated HW","links":["b6b631fd.dd155"],"x":2235,"y":2760,"wires":[]},{"id":"9978070f.002858","type":"change","z":"59556271.2c7d9c","name":"extract now time","rules":[{"t":"set","p":"nowDay","pt":"flow","to":"$substring(msg.payload, 0, 3)\t","tot":"jsonata"},{"t":"set","p":"nowMins","pt":"flow","to":"($number($substring(msg.payload, 16, 2)) *60) + ($number($substring(msg.payload, 19, 2))) ","tot":"jsonata"},{"t":"set","p":"nowDay","pt":"msg","to":"$substring(msg.payload, 0, 3)\t","tot":"jsonata"},{"t":"set","p":"nowMins","pt":"msg","to":"($number($substring(msg.payload, 16, 2)) *60) + ($number($substring(msg.payload, 19, 2))) ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":3700,"wires":[["2aedb2ca.822e3e","1939390f.2ff047"]]},{"id":"d7431f17.c0a1d","type":"function","z":"59556271.2c7d9c","name":"get date/time","func":"msg.payload = Date();                               //get date in payload ready to extract parts next...\nflow.set('SSE',(Math.round(Date.now() / 1000)))     //and store time in seconds since epoch (used for BOOST)\n\nmsg.dayPart = msg.payload.substring(0, 3);          //get Day part of Date in msg.dayPart\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":3640,"wires":[["9978070f.002858","7bbe997e.1db298"]]},{"id":"2aedb2ca.822e3e","type":"switch","z":"59556271.2c7d9c","name":"db WR Lock?","property":"dbWriteLockHW","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":3500,"wires":[[],["765f9b65.98c414"]]},{"id":"ee35da27.47dc68","type":"inject","z":"59556271.2c7d9c","name":"1 Sec Ticker","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":120,"y":3580,"wires":[["d7431f17.c0a1d"]]},{"id":"765f9b65.98c414","type":"file in","z":"59556271.2c7d9c","name":"Read HW (2)","filename":"Pive-HW","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":3460,"wires":[["b203bc55.215eb"]]},{"id":"b203bc55.215eb","type":"json","z":"59556271.2c7d9c","name":"","property":"payload","action":"","pretty":false,"x":490,"y":3460,"wires":[["865b1e84.885c4"]]},{"id":"865b1e84.885c4","type":"change","z":"59556271.2c7d9c","name":"get array parts","rules":[{"t":"set","p":"dbHW","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"savedarraydayHW","pt":"flow","to":"dbHW[0][0]","tot":"flow"},{"t":"set","p":"savedarrayTSHW","pt":"flow","to":"dbHW[0][1]","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":3460,"wires":[["3bed094e.9e1d76"]]},{"id":"54f986c1.ed82a8","type":"function","z":"59556271.2c7d9c","name":"TS HW on/off - inc override check ","func":"hwOVERRIDE=flow.get('overActiveHW');            //get override active - true or false\nmsg.overActiveHW = flow.get('overActiveHW');\nmsg.topic='';\nonHW = 'off';\ndbHW = flow.get('dbHW');\nnowDay = msg.nowDay;\nnowMins = msg.nowMins;\n\nif (hwOVERRIDE && nowMins >= (flow.get('overrideEndTimeHW'))){      //if override active AND time >= stored override end time\n    flow.set('overActiveHW', false);                                //then set override false and reset all the override variables\n    flow.set('overrideStartTimeHW', 0);\n    flow.set('overrideEndTimeHW', 0);\n    hwOVERRIDE = false;\n    msg.topic = 'resetHW';                                          //set topic to 'resetHW'\n    msg.payload = 0;\n}\n\nfor (var day = 0; day < dbHW.length; day++) {                           //for each element of dbHW (ie the days)\n    if (dbHW[day][0]===nowDay){                                         //check each 'day' array element [0] for current day\n        for (var ts = 0; ts < dbHW[day][1].length; ts++) {              //for each element of dbHW[day][1] (ie the ts objects)\n            if((nowMins >= dbHW[day][1][ts].startTime && nowMins <= dbHW[day][1][ts].endTime)){\n                onHW = 'heat';                                            //HWon true if nowMins is between>=start and <end\n            }\n        }\n    }\n}    \n\nif (hwOVERRIDE) {      //override active? if so, invert onHW\n    if (onHW == 'heat') {\n        onHW = 'off';\n    }\n    else {\n        onHW = 'heat';\n    }\n}\nmsg.hwOVERRIDE = hwOVERRIDE;\nflow.set('StateHW', onHW);\nmsg.payload = onHW;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":3460,"wires":[["57cb61ca.e2d9a","9a44dfc7.d7399"]]},{"id":"cae46430.c245f8","type":"ui_led","z":"59556271.2c7d9c","order":17,"group":"aaa48299.7b526","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"off","valueType":"str"},{"color":"#008000","value":"heat","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"HW Ctrl","x":1780,"y":1460,"wires":[]},{"id":"1939390f.2ff047","type":"switch","z":"59556271.2c7d9c","name":"db WR Lock?","property":"dbWriteLockCH","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":3940,"wires":[[],["13022782.ab2478"]]},{"id":"13022782.ab2478","type":"file in","z":"59556271.2c7d9c","name":"Read CH (2)","filename":"Pive-CH","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":3900,"wires":[["a417bd5c.b535d"]]},{"id":"a417bd5c.b535d","type":"json","z":"59556271.2c7d9c","name":"","property":"payload","action":"","pretty":false,"x":490,"y":3900,"wires":[["d3309cc8.778ac"]]},{"id":"d3309cc8.778ac","type":"change","z":"59556271.2c7d9c","name":"get array parts","rules":[{"t":"set","p":"dbCH","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"savedarraydayCH","pt":"flow","to":"dbCH[0][0]","tot":"flow"},{"t":"set","p":"savedarrayTSCH","pt":"flow","to":"dbCH[0][1]","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":3900,"wires":[["259b7dd0.426d72"]]},{"id":"76063e02.cc422","type":"function","z":"59556271.2c7d9c","name":"TS CH on/off - inc override check ","func":"chOVERRIDE=flow.get('overActiveCH');            //get override active - true or false\nmsg.overActiveCH = flow.get('overActiveCH');\nmsg.topic='';\nonCH = 'off';\ndbCH = flow.get('dbCH');\nnowDay = msg.nowDay;\nnowMins = msg.nowMins;\ntempSP = -1;\n\nif (chOVERRIDE && nowMins >= (flow.get('overrideEndTimeCH'))){      //if override active AND time >= stored override end time\n    flow.set('overActiveCH', false);                                //then set override false and reset all the override variables\n    flow.set('overrideStartTimeCH', 0);\n    flow.set('overrideEndTimeCH', 0);\n    chOVERRIDE = false;\n    msg.topic = 'resetCH';                                          //set topic to 'resetCH'\n    msg.payload = 0;\n}\n\nfor (var day = 0; day < dbCH.length; day++) {                           //for each element of dbCH (ie the days)\n    if (dbCH[day][0]===nowDay){                                         //check each 'day' array element [0] for current day\n        for (var ts = 0; ts < dbCH[day][1].length; ts++) {              //for each element of dbCH[day][1] (ie the ts objects)\n            if((nowMins >= dbCH[day][1][ts].startTime && nowMins <= dbCH[day][1][ts].endTime)){\n                onCH = 'heat';                                            //CHon true if nowMins is between>=start and <end\n                tempSP = dbCH[day][1][ts].SP;                           //SP from TS data\n            }\n        }\n    }\n}    \n\nif (chOVERRIDE) {      //override active? if so, invert onCH\n    if (onCH == 'heat') {\n        onCH = 'off';\n    }\n    else {\n        onCH = 'heat';\n    }\n}\nmsg.chOVERRIDE = chOVERRIDE;\nflow.set('StateCH', onCH);\nmsg.tempSP = tempSP;\nmsg.payload = onCH;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":3920,"wires":[["34a4f0ee.999ea","c78a53c0.6fd69","3550b33.f143c4c"]]},{"id":"3eed1d38.78edd2","type":"ui_led","z":"59556271.2c7d9c","order":11,"group":"aaa48299.7b526","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"off","valueType":"str"},{"color":"#008000","value":"heat","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"CH Ctrl","x":620,"y":1460,"wires":[]},{"id":"60f3be50.d07e7","type":"function","z":"59556271.2c7d9c","name":"Reconstruct week array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexCH = flow.get('dayIndexCH');\nmsg.payload = flow.get('savedSelectedDayCH');\nnewDayArrayCH = flow.get('newDayArrayCH');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexCH) {                                               //id day index is not modified day\n        newentry = dayEntry;                                             //then make newentry = element\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    else {\n        newentry = newDayArrayCH;                                          //get modified day array\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":4960,"wires":[["aeb133e1.b0cdf"]]},{"id":"aeb133e1.b0cdf","type":"link out","z":"59556271.2c7d9c","name":"Update CH","links":["d0dd48d2.e77c28","4c69a920.cbacb8"],"x":2095,"y":4760,"wires":[]},{"id":"9c40a4a4.685b88","type":"switch","z":"59556271.2c7d9c","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"neq","v":"OK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":4940,"wires":[["6d8cb657.a7ce18"],["60f3be50.d07e7","6d8cb657.a7ce18"]]},{"id":"e3672da3.49e04","type":"function","z":"59556271.2c7d9c","name":"reconstruct day array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexCH = flow.get('dayIndexCH');\nmsg.payload = flow.get('savedSelectedDayCH');\nnewDayArrayCH = flow.get('newDayArrayCH');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexCH) {                                              //id day index is not modified day\n        newentry = dayEntry;                                            //then make newentry = element\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    else {\n        newentry = newDayArrayCH;                                       //get modified day array\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":4760,"wires":[["aeb133e1.b0cdf"]]},{"id":"a56115b4.e7e518","type":"switch","z":"59556271.2c7d9c","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":4880,"wires":[["6d8cb657.a7ce18","aeb133e1.b0cdf"],["6d8cb657.a7ce18"]]},{"id":"6d8cb657.a7ce18","type":"change","z":"59556271.2c7d9c","name":"Set SAVE Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"errorMess","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":4880,"wires":[["590cd949.01cd58"]]},{"id":"90ad7cb0.f0c8f","type":"function","z":"59556271.2c7d9c","name":"remove TS from selected day CH","func":"//for each element of the array input, copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nmsg.payload = flow.get('savedSelectedTimeSlotCH');\nmsg.selectedDay = flow.get('savedSelectedTimeSlotCH');          //eg 'Wed'\nmsg.selectedTSIndexCH = flow.get('selectedTSIndexCH');\n\nnewTSArray = [];\nnewDayArrayCH = [];\nselectedTSIndexCH = flow.get('selectedTSIndexCH');\nselectedDayCH = flow.get('selectedDayCH');\n\ni = 0;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexCH) {                               //id day index is not selected TS\n        newentry = TSEntry;                                     //then make newentry = element\n        newTSArray.push(newentry);                              //and push onto new array\n    }\n    i++;\n}\n\nnewDayArrayCH = [selectedDayCH, newTSArray];                        //reconstruct array for day\nmsg.newDayArrayCH = newDayArrayCH;\nflow.set('newDayArrayCH', msg.newDayArrayCH);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":4760,"wires":[["e3672da3.49e04"]]},{"id":"590cd949.01cd58","type":"ui_toast","z":"59556271.2c7d9c","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"SAVE Status","x":2290,"y":4880,"wires":[]},{"id":"1fcbc3ad.b4395c","type":"switch","z":"59556271.2c7d9c","name":"ERROR - 8 TS Limit","property":"TSArraySizeCH","propertyType":"flow","rules":[{"t":"gte","v":"8","vt":"num"},{"t":"lt","v":"8","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":4940,"wires":[["a551ad83.b362"],["f0e9471b.2a6178"]]},{"id":"64ae0e45.6dc17","type":"switch","z":"59556271.2c7d9c","name":"ERR - Del #1","property":"selectedTSIndexCH","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":4760,"wires":[["90ad7cb0.f0c8f"],["313215ab.3bb9ca"]]},{"id":"6f345429.34147c","type":"switch","z":"59556271.2c7d9c","name":"SAVE ERROR - No TS Selected","property":"selectTSCH","propertyType":"flow","rules":[{"t":"eq","v":"-","vt":"str"},{"t":"neq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":4880,"wires":[["a551ad83.b362"],["4105aef4.e3744"]]},{"id":"a551ad83.b362","type":"ui_toast","z":"59556271.2c7d9c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":1350,"y":4820,"wires":[]},{"id":"4155bfcf.0d425","type":"ui_button","z":"59556271.2c7d9c","name":"Add CH","group":"9adbac80.1043b","order":8,"width":1,"height":1,"passthru":false,"label":"Add","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ADD Error - Maximum 8 Time Slots","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":4940,"wires":[["1fcbc3ad.b4395c","b3201724.025178"]]},{"id":"313215ab.3bb9ca","type":"change","z":"59556271.2c7d9c","name":"DEL #1 Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"DELETE Error - Cannot Delete Time Slot #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":4780,"wires":[["a551ad83.b362"]]},{"id":"8c133ff9.5d48","type":"switch","z":"59556271.2c7d9c","name":"ERR - No TS Selected","property":"selectTSCH","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":4820,"wires":[["64ae0e45.6dc17"],["a551ad83.b362"]]},{"id":"3e7b3307.76148c","type":"ui_button","z":"59556271.2c7d9c","name":"Save CH","group":"9adbac80.1043b","order":6,"width":1,"height":1,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SAVE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":4880,"wires":[["6f345429.34147c"]]},{"id":"ffa8289b.815288","type":"ui_button","z":"59556271.2c7d9c","name":"Cancel CH","group":"9adbac80.1043b","order":7,"width":1,"height":1,"passthru":false,"label":"Cancel","tooltip":"Cancel Time Slot Edits and Restore Previous Value","color":"","bgcolor":"","icon":"","payload":"Cancel","payloadType":"str","topic":"topic","topicType":"msg","x":630,"y":4760,"wires":[["3d15355c.a67bfa","a551ad83.b362"]]},{"id":"dd529639.268848","type":"change","z":"59556271.2c7d9c","name":"ADD Error - Select TS Mess","rules":[{"t":"set","p":"payload","pt":"msg","to":"ADD Error - Select Day/Time Slot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":4980,"wires":[["a551ad83.b362"]]},{"id":"b3201724.025178","type":"switch","z":"59556271.2c7d9c","name":"ERROR - No TS Selected","property":"selectTSCH","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":4980,"wires":[[],["dd529639.268848"]]},{"id":"23c4a29c.48647e","type":"ui_button","z":"59556271.2c7d9c","name":"Del CH","group":"9adbac80.1043b","order":9,"width":1,"height":1,"passthru":true,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"DELETE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":4820,"wires":[["8c133ff9.5d48"]]},{"id":"3d15355c.a67bfa","type":"change","z":"59556271.2c7d9c","name":"Restore Daily TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedDaySlotPayloadCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4720,"wires":[["fec64bc0.30e078","98269eb8.52dd5","ba7cf37d.0f617"]]},{"id":"fec64bc0.30e078","type":"change","z":"59556271.2c7d9c","name":"CH TS Start","rules":[{"t":"set","p":"dayCH","pt":"flow","to":"payload.title","tot":"msg"},{"t":"set","p":"savedDaySlotPayloadCH","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \"On Time \")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(msg.payload, \" \")","tot":"jsonata"},{"t":"set","p":"StartTimeCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":4620,"wires":[["12eb1514.b2116b"]]},{"id":"98269eb8.52dd5","type":"change","z":"59556271.2c7d9c","name":"CH TS End","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \" - \")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(msg.payload, \"   \")","tot":"jsonata"},{"t":"set","p":"EndTimeCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":4660,"wires":[["d364a527.4f64a8"]]},{"id":"e41b2f06.13771","type":"ui_text_input","z":"59556271.2c7d9c","name":"TS Start","label":"Start","tooltip":"","group":"9adbac80.1043b","order":2,"width":0,"height":0,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1560,"y":4620,"wires":[["9e81707c.4c03c"]]},{"id":"921647dc.c57a48","type":"ui_list","z":"59556271.2c7d9c","group":"4e5fc46e.0580dc","name":"CH TS List","order":9,"width":4,"height":11,"lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":1150,"y":4500,"wires":[["3a5f5c15.d168f4","fec64bc0.30e078","98269eb8.52dd5","ba7cf37d.0f617"]]},{"id":"3162248f.ad8cbc","type":"ui_text_input","z":"59556271.2c7d9c","name":"TSEnd","label":"End","tooltip":"","group":"9adbac80.1043b","order":3,"width":0,"height":0,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1550,"y":4660,"wires":[["7a077798.8bd1b8"]]},{"id":"9e81707c.4c03c","type":"moment","z":"59556271.2c7d9c","name":"secs to dte/tme","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-GB","output":"","outputType":"msg","outTz":"Europe/London","x":1740,"y":4620,"wires":[["8697eee2.0e65"]]},{"id":"ae5bd003.c34a7","type":"function","z":"59556271.2c7d9c","name":"Reset Start/End","func":"msg.payload = '00:00';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":4340,"wires":[["12eb1514.b2116b","d364a527.4f64a8"]]},{"id":"3a5f5c15.d168f4","type":"change","z":"59556271.2c7d9c","name":"CH Day/TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"},{"t":"set","p":"selectTSCH","pt":"flow","to":"$substring(msg.payload, 20, 1)\t","tot":"jsonata"},{"t":"set","p":"selectedTSIndexCH","pt":"flow","to":"$number($substring(msg.payload, 20, 1)) -1","tot":"jsonata"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":4580,"wires":[["14416c43.b0da04"]]},{"id":"8c5a9c31.3059b","type":"function","z":"59556271.2c7d9c","name":"Format CH timeslots","func":"newPayload = [];                                        //init new Array\nflow.set('savedSelectedDayCH', msg.payload);            //save whole week CH array\nflow.set('savedSelectedTimeSlotCH', msg.period);        //time slot elements from day selected\nflow.set('TSArraySizeCH', msg.period.length);           //save length of daily time slot selected (eg 8)\nselectedDayCH = flow.get('selectedDayCH');              //get day selected eg \"Sat\"             \n\nfunction timeConv(totalMins) {                          //convert mins to \"hh:mm\" function\nlet hours = Math.floor(totalMins / 60);\nlet minutes = totalMins - (hours*60);\n\n// If you want strings with leading zeroes:\nminutes = String(minutes).padStart(2, \"0\");\nhours = String(hours).padStart(2, \"0\");\ntimeString = (hours + \":\" + minutes);\nreturn timeString;\n}\n\n\n// create array ready to populate\nlet StartEndArrCH = new Array(2);                       //to contain start and end mins since midnight\nfor (var i = 0; i < msg.period.length; i++) {           //create msg.period.length of them\n  StartEndArrCH[i] = new Array(2);\n}\n\n\n//now loop through each element of selected day time slots (in msg.period) to \n//make time slot info in CH TS List on dashboard AND a StartEnd time array stored and used elsewhere\nmsg.period.forEach(doit,0);                             //loop thru daily time slots.. init i to be 0\nfunction doit(entry,i) {\n    StartEndArrCH[i][0] = entry.startTime;              //store start/end times in array\n    StartEndArrCH[i][1] = entry.endTime;\n    StartEndArrCH[i][2] = entry.SP\n    \n    i++;                                                //time slot number = index+1 then create 'title' and 'description' for dashboard\n    newentry = {'title' : selectedDayCH + ' (On)Time - Slot ' +i,\n                'description' : timeConv(entry.startTime) + ' - ' + timeConv(entry.endTime) + '   Temp ' + entry.SP //note 3 spaces before Temp. Important!\n    }\n    newPayload.push(newentry);                          //put newly created element into newPayload array\n}\n\nflow.set('StartEndArrCH', StartEndArrCH);               //save start/end array\nmsg.payload=newPayload;                                 //and put new payload into payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":4420,"wires":[["921647dc.c57a48"]]},{"id":"7a077798.8bd1b8","type":"moment","z":"59556271.2c7d9c","name":"secs to dte/tme","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-GB","output":"","outputType":"msg","outTz":"Europe/London","x":1740,"y":4660,"wires":[["53f33e45.74e8c"]]},{"id":"8697eee2.0e65","type":"function","z":"59556271.2c7d9c","name":"newStartTime","func":"//if empty string returned from formatter, then send old StartTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newStartTimeCH', '12345678901' + flow.get('StartTimeCH'));\n    msg.payload = '12345678901' + flow.get('StartTimeCH');\n}\nelse {\n    flow.set('newStartTimeCH', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":4620,"wires":[["c8406a48.f8ce08"]]},{"id":"e0c60c38.cd104","type":"link in","z":"59556271.2c7d9c","name":"Submit CH","links":["a83c15f5.2d3e28","be4e6dde.5a321","f228393e.8fe2e8"],"x":915,"y":4180,"wires":[["ae5bd003.c34a7","a1bcc474.7dfe58","50ea6272.dd06cc","dac7a132.53238"]]},{"id":"d5e5f767.926758","type":"change","z":"59556271.2c7d9c","name":"-> weekday/dayIndexCH","rules":[{"t":"set","p":"dayIndexCH","pt":"flow","to":"dayIndexCH","tot":"msg"},{"t":"set","p":"selectedDayCH","pt":"flow","to":"dayCH","tot":"msg"},{"t":"set","p":"dbWriteLockCH","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostCH","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":4220,"wires":[["50ea6272.dd06cc","ae5bd003.c34a7","a1bcc474.7dfe58"]]},{"id":"14416c43.b0da04","type":"ui_text_input","z":"59556271.2c7d9c","name":"Day/Time Slot","label":"Time Slot","tooltip":"","group":"9adbac80.1043b","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1400,"y":4580,"wires":[[]]},{"id":"2f76c1de.74fd8e","type":"change","z":"59556271.2c7d9c","name":"Get Mon array (1)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[1][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4460,"wires":[["8c5a9c31.3059b"]]},{"id":"6b25c7c.0526838","type":"change","z":"59556271.2c7d9c","name":"Get Tue array (2)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[2][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4500,"wires":[["8c5a9c31.3059b"]]},{"id":"c9a105c1.0177f8","type":"change","z":"59556271.2c7d9c","name":"Get Wed array (3)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[3][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4540,"wires":[["8c5a9c31.3059b"]]},{"id":"ed05be44.3ffac","type":"change","z":"59556271.2c7d9c","name":"Get Thu array (4)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[4][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4580,"wires":[["8c5a9c31.3059b"]]},{"id":"e8a4a998.175c38","type":"change","z":"59556271.2c7d9c","name":"Get Fri array (5)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[5][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":4620,"wires":[["8c5a9c31.3059b"]]},{"id":"ce44cd97.fd6c7","type":"change","z":"59556271.2c7d9c","name":"Get Sat array (6)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[6][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4660,"wires":[["8c5a9c31.3059b"]]},{"id":"bfd3a532.a7d148","type":"change","z":"59556271.2c7d9c","name":"Get Sun array (0)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[0][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4420,"wires":[["8c5a9c31.3059b"]]},{"id":"53f33e45.74e8c","type":"function","z":"59556271.2c7d9c","name":"newEndTime","func":"//if empty string returned from formatter, then send old EndTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newEndTimeCH', '12345678901' + flow.get('EndTimeCH'));\n    msg.payload = '12345678901' + flow.get('EndTimeCH');\n}\nelse {\n    flow.set('newEndTimeCH', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1950,"y":4660,"wires":[["eaf11f33.16498"]]},{"id":"c8406a48.f8ce08","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"newStartTimeCH","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":4620,"wires":[[]]},{"id":"a1bcc474.7dfe58","type":"function","z":"59556271.2c7d9c","name":"Reset Timeslot Title","func":"msg.payload = '<-- Select Day/Time Slot';\nflow.set('selectTSCH', \"-\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":4300,"wires":[["14416c43.b0da04"]]},{"id":"50ea6272.dd06cc","type":"file in","z":"59556271.2c7d9c","name":"Read-CH (1)","filename":"Pive-CH","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":870,"y":4280,"wires":[["3c181deb.a967c2"]]},{"id":"239bd9a6.767256","type":"switch","z":"59556271.2c7d9c","name":"Select Day of WeekCH","property":"selectedDayCH","propertyType":"flow","rules":[{"t":"eq","v":"Sun","vt":"str"},{"t":"eq","v":"Mon","vt":"str"},{"t":"eq","v":"Tue","vt":"str"},{"t":"eq","v":"Wed","vt":"str"},{"t":"eq","v":"Thu","vt":"str"},{"t":"eq","v":"Fri","vt":"str"},{"t":"eq","v":"Sat","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":600,"y":4540,"wires":[["bfd3a532.a7d148"],["2f76c1de.74fd8e"],["6b25c7c.0526838"],["c9a105c1.0177f8"],["ed05be44.3ffac"],["e8a4a998.175c38"],["ce44cd97.fd6c7"]]},{"id":"eaf11f33.16498","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"newEndTimeCH","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":4660,"wires":[[]]},{"id":"3c181deb.a967c2","type":"json","z":"59556271.2c7d9c","name":"","property":"payload","action":"","pretty":false,"x":610,"y":4340,"wires":[["e0dcbf1d.66244"]]},{"id":"c03f202d.ec53f","type":"change","z":"59556271.2c7d9c","name":"-> weekday/dayIndexCH","rules":[{"t":"set","p":"dayIndexCH","pt":"flow","to":"$number(msg.topic)\t","tot":"jsonata"},{"t":"set","p":"selectedDayCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":4280,"wires":[["50ea6272.dd06cc"]]},{"id":"ae4028a5.209658","type":"inject","z":"59556271.2c7d9c","name":"OnInit Setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"resetCH","payload":"","payloadType":"date","x":1030,"y":4140,"wires":[["3c617230.a102ee","9033bc4c.b627"]]},{"id":"e0dcbf1d.66244","type":"change","z":"59556271.2c7d9c","name":"set weekdayCH","rules":[{"t":"set","p":"stored-dbCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":4420,"wires":[["239bd9a6.767256"]]},{"id":"c469bf16.25b5f","type":"ui_button","z":"59556271.2c7d9c","name":"Sun CH","group":"4e5fc46e.0580dc","order":7,"width":1,"height":1,"passthru":true,"label":"Sun","tooltip":"Show Sunday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Sun","payloadType":"str","topic":"0","topicType":"str","x":280,"y":4280,"wires":[["c03f202d.ec53f"]]},{"id":"2eafb215.06912e","type":"ui_button","z":"59556271.2c7d9c","name":"Mon CH","group":"4e5fc46e.0580dc","order":1,"width":1,"height":1,"passthru":true,"label":"Mon","tooltip":"Show Monday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Mon","payloadType":"str","topic":"1","topicType":"str","x":280,"y":4320,"wires":[["c03f202d.ec53f"]]},{"id":"b27bd5.e754f428","type":"ui_button","z":"59556271.2c7d9c","name":"Tue CH","group":"4e5fc46e.0580dc","order":2,"width":1,"height":1,"passthru":true,"label":"Tue","tooltip":"Show Tuesday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Tue","payloadType":"str","topic":"2","topicType":"str","x":280,"y":4360,"wires":[["c03f202d.ec53f"]]},{"id":"d2de01f9.b4e06","type":"ui_button","z":"59556271.2c7d9c","name":"Wed CH","group":"4e5fc46e.0580dc","order":3,"width":1,"height":1,"passthru":true,"label":"Wed","tooltip":"Show Wednesday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Wed","payloadType":"str","topic":"3","topicType":"str","x":280,"y":4400,"wires":[["c03f202d.ec53f"]]},{"id":"e535846e.cdf8f8","type":"ui_button","z":"59556271.2c7d9c","name":"Thu CH","group":"4e5fc46e.0580dc","order":4,"width":1,"height":1,"passthru":true,"label":"Thu","tooltip":"Show Thursday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Thu","payloadType":"str","topic":"4","topicType":"str","x":280,"y":4440,"wires":[["c03f202d.ec53f"]]},{"id":"117db04e.1ade7","type":"ui_button","z":"59556271.2c7d9c","name":"Fri CH","group":"4e5fc46e.0580dc","order":5,"width":1,"height":1,"passthru":true,"label":"Fri","tooltip":"Show Friday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Fri","payloadType":"str","topic":"5","topicType":"str","x":270,"y":4480,"wires":[["c03f202d.ec53f"]]},{"id":"2676c1a5.56a87e","type":"comment","z":"59556271.2c7d9c","name":"Update  dbCH & Refresh List","info":"","x":2240,"y":4760,"wires":[]},{"id":"68480abf.1e79a4","type":"comment","z":"59556271.2c7d9c","name":"EDIT Time Slot timers","info":"","x":1600,"y":4580,"wires":[]},{"id":"a7d185d4.370208","type":"comment","z":"59556271.2c7d9c","name":"CH Start/End/SP Picker","info":"","x":1420,"y":4540,"wires":[]},{"id":"5651f334.39e57c","type":"comment","z":"59556271.2c7d9c","name":"CH Daily Time Slots","info":"","x":1170,"y":4460,"wires":[]},{"id":"58230f53.eddfb","type":"comment","z":"59556271.2c7d9c","name":"CH Array Updated, so refresh dashboard","info":"","x":740,"y":4180,"wires":[]},{"id":"c654d390.85fce","type":"comment","z":"59556271.2c7d9c","name":"Init CH Weekly Schedule","info":"","x":410,"y":4100,"wires":[]},{"id":"b5b21257.d5512","type":"function","z":"59556271.2c7d9c","name":"Init CH Data","func":"let dayPeriod = [0,1,2,3,4,5,6,7];  // array 8 periods in a day\n\ndpLen = dayPeriod.length;           //init day periods\nfor (i = 0; i < dpLen; i++) {\n    dayPeriod[i] = {\n        startTime : (i*120+480),\n        endTime : (i*120+480) +60,\n        SP : \"20\"\n    }\n}\n\nlet CHDay = [['Sun', dayPeriod],\n            ['Mon', dayPeriod],\n            ['Tue', dayPeriod],\n            ['Wed', dayPeriod],\n            ['Thu', dayPeriod],\n            ['Fri', dayPeriod],\n            ['Sat', dayPeriod]];    //array 7 days\n\n\nmsg.payload = CHDay;                //return with whole HWDay object in msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":4220,"wires":[["c0179568.22c358"]]},{"id":"c0179568.22c358","type":"link out","z":"59556271.2c7d9c","name":"Init DB CH","links":["d0dd48d2.e77c28"],"x":495,"y":4220,"wires":[]},{"id":"ecac1732.26a9a8","type":"comment","z":"59556271.2c7d9c","name":"Update  db CH","info":"","x":2010,"y":4440,"wires":[]},{"id":"eb4add8f.f7489","type":"change","z":"59556271.2c7d9c","name":"set db lock (true)","rules":[{"t":"set","p":"dbWriteLockCH","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":4480,"wires":[["43ebac88.d6e044"]]},{"id":"43ebac88.d6e044","type":"file","z":"59556271.2c7d9c","name":"Save Pive-CH","filename":"Pive-CH","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2100,"y":4520,"wires":[["11bd2d73.265333"]]},{"id":"11bd2d73.265333","type":"change","z":"59556271.2c7d9c","name":"reset db lock (false)","rules":[{"t":"set","p":"dbWriteLockCH","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":4560,"wires":[["a83c15f5.2d3e28"]]},{"id":"a83c15f5.2d3e28","type":"link out","z":"59556271.2c7d9c","name":"DB Updated CH","links":["e0c60c38.cd104"],"x":2275,"y":4560,"wires":[]},{"id":"d0dd48d2.e77c28","type":"link in","z":"59556271.2c7d9c","name":"dbWriteCH","links":["aeb133e1.b0cdf","c0179568.22c358"],"x":1955,"y":4480,"wires":[["eb4add8f.f7489"]]},{"id":"d675c15d.52cab","type":"link out","z":"59556271.2c7d9c","name":"ch ctrl","links":["95b7f95c.bf8848"],"x":1355,"y":4000,"wires":[]},{"id":"ede885d6.9235e8","type":"link out","z":"59556271.2c7d9c","name":"hw ctrl","links":["cf154313.05cc6"],"x":1375,"y":3500,"wires":[]},{"id":"95b7f95c.bf8848","type":"link in","z":"59556271.2c7d9c","name":"MAN CH Off/On","links":["5ec24d33.bd64c4","8f3eae1c.e3d7f","86e87333.28d5a","d675c15d.52cab","90810ddc.d59c2","1c1a8a44.438ad6","45bcdb4f.b685c4","1aaba7b2.8546f8"],"x":155,"y":1500,"wires":[["8806e75e.e6dfe8"]]},{"id":"57cb61ca.e2d9a","type":"rbe","z":"59556271.2c7d9c","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1120,"y":3500,"wires":[["65cf02ca.e0082c"]]},{"id":"34a4f0ee.999ea","type":"rbe","z":"59556271.2c7d9c","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1100,"y":4000,"wires":[["621244a8.5489bc"]]},{"id":"25212a8d.77f2f6","type":"ui_button","z":"59556271.2c7d9c","name":"","group":"e22da41f.72dcc8","order":16,"width":0,"height":0,"passthru":true,"label":"HW Override Timer","tooltip":"HW Override Current Setting - (Timer Mode Only)","color":"","bgcolor":"","icon":"","payload":"toggleHW","payloadType":"str","topic":"toggleHW","topicType":"str","x":1730,"y":3380,"wires":[["93d16a49.8bb5d8"]]},{"id":"5cdd769b.546ae8","type":"ui_led","z":"59556271.2c7d9c","order":17,"group":"e22da41f.72dcc8","width":0,"height":0,"label":"Override Active:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"HW Override Active","x":2030,"y":3460,"wires":[]},{"id":"9a44dfc7.d7399","type":"function","z":"59556271.2c7d9c","name":"Set/Reset HW Override","func":"let stTmHW = 0;\noverrideEndTimeHW = 0;                              //init override end time to 0\nstateHW=flow.get('overActiveHW');                     //override active? true/false\n\nif (msg.topic=='resetHW') {                           //reset received in topic\n    startHW = false;\n    stateHW = false;\n    msg.payload = 0;\n    msg.topic = '';\n    flow.set('overActiveHW',false);\n    flow.set('overrideStartTimeHW', 0);\n    flow.set('overrideEndTimeHW', 0);\n    \n}\n\nelse if (msg.topic=='toggleHW'){\n    if (stateHW=== false){\n        stateHW = true;\n        msg.payload = 1;\n        flow.set('overActiveHW',true);                          //override active\n        stTm= flow.get('nowMins');                              //override start time = nowMins\n        flow.set('overrideStartTimeHW',flow.get('nowMins'));    //save override start time\n    }\n    else {\n        stateHW = false;\n        msg.payload = 0;\n        flow.set('overActiveHW',false);                         //override inactive\n        flow.set('overrideStartTimeHW', 0);\n        flow.set('overrideEndTimeHW', 0);\n    }\n}\n\n//if override active... calc and store override end time\nif (stateHW){                                                //if override active then calc and store stop time\n    dbHW = flow.get('dbHW');                                    //get weekly TS array\n    nowDay = flow.get('nowDay');                                //current day\n    nowMins = flow.get('nowMins');                              //and current time since 00:00 in mins\n    stTmHW = flow.get('overrideStartTimeHW');\n\n    for (var day = 0; day < dbHW.length; day++) {               //for each element of dbHW (ie the days)\n        if (dbHW[day][0]===nowDay){                             //check each 'day' array element [0] for current day\n            for (var ts = 0; ts < dbHW[day][1].length; ts++) {  //for each element of dbHW[day][1] (ie the ts objects)\n                if((stTmHW >= dbHW[day][1][ts].startTime && stTm <= dbHW[day][1][ts].endTime)){\n                    overrideEndTimeHW = dbHW[day][1][ts].endTime;   //if start time is between start/end of a TS then TS end=override end\n                }\n                if((stTmHW < dbHW[day][1][ts].startTime) && (overrideEndTimeHW === 0)){\n                    overrideEndTimeHW = dbHW[day][1][ts].startTime; //if start time is lt start of a TS then TS start=override end\n                }\n            }\n        }\n    }\n    \n    if(overrideEndTimeHW === 0){\n        overrideEndTimeHW = 1439;                               //if no end time set, then now must be after last TS, so set end=23:59\n        \n    }\n    flow.set('overrideEndTimeHW', overrideEndTimeHW);           //checked all TS slots, so store end time\n}\nmsg.payload = stateHW;                                            //return true/false as payload to control override active led\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nstateHW = 0;\nstart = true;\nflow.set('overActiveHW',false);","finalize":"","x":1750,"y":3460,"wires":[["5cdd769b.546ae8","6ec31caf.730ce4","4d850c93.5074f4"]]},{"id":"53bb072a.f1df28","type":"ui_text","z":"59556271.2c7d9c","group":"e22da41f.72dcc8","order":18,"width":2,"height":1,"name":"Override Start","label":"Start","format":"{{value}}","layout":"row-spread","x":2380,"y":3380,"wires":[]},{"id":"6a08ef48.849d9","type":"ui_text","z":"59556271.2c7d9c","group":"e22da41f.72dcc8","order":19,"width":2,"height":1,"name":"Override End","label":"End","format":"{{value}}","layout":"row-spread","x":2370,"y":3420,"wires":[]},{"id":"6ec31caf.730ce4","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideStartTimeHW","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3380,"wires":[["ddbbaf7a.5ecfa"]]},{"id":"4d850c93.5074f4","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideEndTimeHW","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3420,"wires":[["2d20d61d.a08e4a"]]},{"id":"2d20d61d.a08e4a","type":"function","z":"59556271.2c7d9c","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveHW')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3420,"wires":[["6a08ef48.849d9"]]},{"id":"ddbbaf7a.5ecfa","type":"function","z":"59556271.2c7d9c","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveHW')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3380,"wires":[["53bb072a.f1df28"]]},{"id":"145fa1ca.74e1fe","type":"ui_text","z":"59556271.2c7d9c","group":"9adbac80.1043b","order":19,"width":2,"height":1,"name":"Override Start","label":"Start","format":"{{value}}","layout":"row-spread","x":2380,"y":3880,"wires":[]},{"id":"d9f4aa20.478c18","type":"function","z":"59556271.2c7d9c","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveCH')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3880,"wires":[["145fa1ca.74e1fe"]]},{"id":"fe655a67.9e0978","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideStartTimeCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3880,"wires":[["d9f4aa20.478c18"]]},{"id":"c78a53c0.6fd69","type":"function","z":"59556271.2c7d9c","name":"Set/Reset CH Override","func":"let stTmCH = 0;\noverrideEndTimeCH = 0;                              //init override end time to 0\nstateCH=flow.get('overActiveCH');                     //override active? true/false\n\nif (msg.topic=='resetCH') {                           //reset received in topic\n    startCH = false;\n    stateCH = false;\n    msg.payload = 0;\n    msg.topic = '';\n    flow.set('overActiveCH',false);\n    flow.set('overrideStartTimeCH', 0);\n    flow.set('overrideEndTimeCH', 0);\n    \n}\n\nelse if (msg.topic=='toggleCH'){\n    if (stateCH=== false){\n        stateCH = true;\n        msg.payload = 1;\n        flow.set('overActiveCH',true);                          //override active\n        stTm= flow.get('nowMins');                              //override start time = nowMins\n        flow.set('overrideStartTimeCH',flow.get('nowMins'));    //save override start time\n    }\n    else {\n        stateCH = false;\n        msg.payload = 0;\n        flow.set('overActiveCH',false);                         //override inactive\n        flow.set('overrideStartTimeCH', 0);\n        flow.set('overrideEndTimeCH', 0);\n    }\n}\n\n//if override active... calc and store override end time\nif (stateCH){                                                   //if override active then calc and store stop time\n    dbCH = flow.get('dbCH');                                    //get weekly TS array\n    nowDay = flow.get('nowDay');                                //current day\n    nowMins = flow.get('nowMins');                              //and current time since 00:00 in mins\n    stTmCH = flow.get('overrideStartTimeCH');\n\n    for (var day = 0; day < dbCH.length; day++) {               //for each element of dbCH (ie the days)\n        if (dbCH[day][0]===nowDay){                             //check each 'day' array element [0] for current day\n            for (var ts = 0; ts < dbCH[day][1].length; ts++) {  //for each element of dbCH[day][1] (ie the ts objects)\n                if((stTmCH >= dbCH[day][1][ts].startTime && stTm <= dbCH[day][1][ts].endTime)){\n                    overrideEndTimeCH = dbCH[day][1][ts].endTime;   //if start time is between start/end of a TS then TS end=override end\n                }\n                if((stTmCH < dbCH[day][1][ts].startTime) && (overrideEndTimeCH === 0)){\n                    overrideEndTimeCH = dbCH[day][1][ts].startTime; //if start time is lt start of a TS then TS start=override end\n                }\n            }\n        }\n    }\n    \n    if(overrideEndTimeCH === 0){\n        overrideEndTimeCH = 1439;                               //if no end time set, then now must be after last TS, so set end=23:59\n        \n    }\n    flow.set('overrideEndTimeCH', overrideEndTimeCH);           //checked all TS slots, so store end time\n}\nmsg.payload = stateCH;                                            //return true/false as payload to control override active led\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nstateCH = 0;\nstart = true;\nflow.set('overActiveCH',false);","finalize":"","x":1740,"y":3960,"wires":[["e857f458.8f33b8","fe655a67.9e0978","f8c89c26.f9733"]]},{"id":"3e60075.0e441f8","type":"ui_button","z":"59556271.2c7d9c","name":"","group":"9adbac80.1043b","order":17,"width":0,"height":0,"passthru":true,"label":"CH Override Timer","tooltip":"CH Override Current Setting - (Timer Mode Only)","color":"","bgcolor":"","icon":"","payload":"toggleCH","payloadType":"str","topic":"toggleCH","topicType":"str","x":1730,"y":3880,"wires":[["c20e4d08.21c2c"]]},{"id":"e857f458.8f33b8","type":"ui_led","z":"59556271.2c7d9c","order":18,"group":"9adbac80.1043b","width":0,"height":0,"label":"Override Active:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"CH Override Active","x":2030,"y":3960,"wires":[]},{"id":"f8c89c26.f9733","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideEndTimeCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3920,"wires":[["2cf92879.9f97b8"]]},{"id":"2cf92879.9f97b8","type":"function","z":"59556271.2c7d9c","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveCH')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3920,"wires":[["776fda7.86d0d24"]]},{"id":"776fda7.86d0d24","type":"ui_text","z":"59556271.2c7d9c","group":"9adbac80.1043b","order":20,"width":2,"height":1,"name":"Override End","label":"End","format":"{{value}}","layout":"row-spread","x":2370,"y":3920,"wires":[]},{"id":"3c617230.a102ee","type":"function","z":"59556271.2c7d9c","name":"get date/time","func":"let date = Date();\nvar DayIndex = []; \nDayIndex['Sun'] = 0;\nDayIndex['Mon'] = 1;\nDayIndex['Tue'] = 2;\nDayIndex['Wed'] = 3;\nDayIndex['Thu'] = 4;\nDayIndex['Fri'] = 5;\nDayIndex['Sat'] = 6;    //'Day' , DayIndex for lookup\n            \nlet day = date.substring(0, 3);\nmsg.dayIndexCH = DayIndex[day];\nmsg.dayCH = day;\nmsg.payload = date;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":4180,"wires":[["d5e5f767.926758"]]},{"id":"4105aef4.e3744","type":"function","z":"59556271.2c7d9c","name":"Save EDIT","func":"dayIndexCH = flow.get('dayIndexCH');\nCHSelTS = flow.get('savedSelectedTimeSlotCH');\nsavedSelectedDayCH = flow.get('savedSelectedDayCH');\nNET = flow.get('newEndTimeCH');\nNST = flow.get('newStartTimeCH');\nnewSP = flow.get('newSP');\n\nNETmin = NET.split(':');\nNETmin = (Number(NETmin[0]) * 60) + Number(NETmin[1]);\nNSTmin = NST.split(':');\nNSTmin = (Number(NSTmin[0]) * 60) + Number(NSTmin[1]);\nmsg.NETmin = NETmin;\nmsg.NSTmin = NSTmin;\n\nvalidCheck = true;\nerrorMess = \"OK\";\nStartEndArrCH = flow.get('StartEndArrCH');\nTSArraySizeCH = flow.get('TSArraySizeCH');\n\nselectedTSIndexCH = flow.get('selectedTSIndexCH');                      //Selected TS index\n\nmsg.dayIndexCH = dayIndexCH;\nmsg.CHSelTS = CHSelTS;\nmsg.NET = NET;\nmsg.NST = NST;\n\n//carry out sanity checks on new values dependant on position within total array being edited\nif (NETmin < NSTmin ){                                                  //firstly end time must never be less than start time\n        errorMess = \"SAVE ERROR - End < Start Time\";\n}\nelse if (selectedTSIndexCH+1 ==1 && TSArraySizeCH > 1) {                //first and only element being edited?\n    if (NETmin > StartEndArrCH[selectedTSIndexCH+1][0] ) {              //check if ET < next ST\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n}  \nelse if (selectedTSIndexCH+1 == TSArraySizeCH && TSArraySizeCH > 1) {   //last element?\n    if (NSTmin < StartEndArrCH[selectedTSIndexCH-1][1]) {               //check if ST < prev ET\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\nelse if (TSArraySizeCH > 1) {\n    if (NETmin > StartEndArrCH[selectedTSIndexCH+1][0] ) {              //neither first nor last, so check both prev and next\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n    if (NSTmin < StartEndArrCH[selectedTSIndexCH-1][1]) {\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\n\nmsg.errorMess = errorMess;\n\nCHSelTS[selectedTSIndexCH]['startTime'] = NSTmin;                       //set selected TS starttime to new value (in mins)\nCHSelTS[selectedTSIndexCH]['endTime'] = NETmin;                         //similar for endtime\nCHSelTS[selectedTSIndexCH]['SP'] = newSP;                               //save SP\nsavedSelectedDayCH[dayIndexCH][1] = CHSelTS;                            //now insert modified array back into weekly array\n\nmsg.postCHSelTS = CHSelTS;\nmsg.payload = savedSelectedDayCH;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":4880,"wires":[["a56115b4.e7e518"]]},{"id":"f0e9471b.2a6178","type":"function","z":"59556271.2c7d9c","name":"ADD new TS to day array","func":"//ADD.. ie insert new TS either between 2 entries, or appended to whole daily TS array\n\nmsg.payload = flow.get('savedSelectedTimeSlotCH');\nmsg.selectedDayCH = flow.get('savedSelectedTimeSlotCH');\nmsg.selectedTSIndexCH = flow.get('selectedTSIndexCH');\n\nnewTSArray = [];\nnewDayArrayCH = [];\nselectedTSIndexCH = flow.get('selectedTSIndexCH');\nselectedDayCH = flow.get('selectedDayCH');\nStartEndArrCH = flow.get('StartEndArrCH');\nerrorMess = \"OK\";\n\ni = 0;\nmsg.mpl = msg.payload.length;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexCH) {                                       //id day index is not selected TS\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n    }\n    else {\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n                                                                        //now make new entry values based on StartEndArrCH: values\n        \n        if (i==msg.payload.length -1){                                  //appending last entry?\n            newentry = {                                                //yes...\n                startTime : (StartEndArrCH[i][1]),                      //previous end time\n                endTime : ((24*60)-1),                                  //new end time 1 min to midnight\n                SP : \"20\"\n            }\n        newTSArray.push(newentry);    \n        }\n        else {                                                          //inserting new TS...so\n            if ( (StartEndArrCH[i+1][0]) - (StartEndArrCH[i][1]) >2 ){  //is there space for entry between two ts?\n                newentry = {                                            //yes\n                startTime : (StartEndArrCH[i][1]),                      //previous end time\n                endTime : (StartEndArrCH[i+1][0]),                      //next TS start time\n                SP : \"20\"\n                }\n                if (((StartEndArrCH[i][1])) < 24*60 && (StartEndArrCH[i][1] +1) <24*60) {\n                    newTSArray.push(newentry);\n                }\n                else {\n                    errorMess = \"ADD ERROR - Time Goes Into Next Day!\"; //last time goes into next day\n                }\n            }\n            else {\n                errorMess = \"ADD ERROR - Cannot Insert Time Slot\";      //no time between slots\n            }\n        }\n    }\n    i++;\n}\n\nmsg.errorMess = errorMess;\nnewDayArrayCH = [selectedDayCH, newTSArray];                            //reconstruct array for day\nmsg.newDayArrayCH = newDayArrayCH;\nflow.set('newDayArrayCH', msg.newDayArrayCH);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":4940,"wires":[["9c40a4a4.685b88"]]},{"id":"34f7c90b.01f886","type":"ui_media","z":"59556271.2c7d9c","group":"aaa48299.7b526","name":"HW Icon","width":1,"height":1,"order":15,"category":"Images","file":"HW_On.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1620,"y":1120,"wires":[[]]},{"id":"971a0ca6.72a75","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/HW_Off.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1120,"wires":[["34f7c90b.01f886"]]},{"id":"fd6712bd.17a67","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/HW_On.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1080,"wires":[["34f7c90b.01f886"]]},{"id":"ad70298e.6c94f8","type":"switch","z":"59556271.2c7d9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":1120,"wires":[["fd6712bd.17a67"],["971a0ca6.72a75"]]},{"id":"113c9683.45ce89","type":"ui_media","z":"59556271.2c7d9c","group":"aaa48299.7b526","name":"CH Icon","width":1,"height":1,"order":9,"category":"Images","file":"HW_On.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":660,"y":1120,"wires":[[]]},{"id":"fa4ff68.c097908","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/CH_On.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1080,"wires":[["113c9683.45ce89"]]},{"id":"1a77c80a.c4e578","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/CH_Off.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1120,"wires":[["113c9683.45ce89"]]},{"id":"152d42a.02807bd","type":"switch","z":"59556271.2c7d9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":1120,"wires":[["fa4ff68.c097908"],["1a77c80a.c4e578"]]},{"id":"456fe0bd.50723","type":"change","z":"59556271.2c7d9c","name":"thermSP","rules":[{"t":"set","p":"thermSP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":820,"wires":[["6a40cbe.f5c8b34"]]},{"id":"194ad4bb.d6396b","type":"ui_switch","z":"59556271.2c7d9c","name":"Man/Tmr Mode HW","label":"Man<>Timer","tooltip":"","group":"e22da41f.72dcc8","order":21,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"resetHW","topicType":"str","style":"","onvalue":"tmrActiveHW","onvalueType":"str","onicon":"","oncolor":"","offvalue":"manActiveHW","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":870,"y":3380,"wires":[["906b1880.1f22c8"]]},{"id":"dd7c7702.d55da8","type":"function","z":"59556271.2c7d9c","name":"","func":"if (msg.payload === 'tmrActiveHW'){\n    flow.set('ctrlModeHW',msg.payload);\n    flow.set('modeHW','Timer');\n    msg.topic = 'ctrlModeHW';\n}\nelse {\n    flow.set('ctrlModeHW','manActiveHW');\n    flow.set('modeHW','Manual');\n    msg.topic = 'ctrlModeHW';\n    msg.payload = 'manActiveHW';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":3420,"wires":[["6a22855c.be670c","93d16a49.8bb5d8","524ff8ec.104478"]]},{"id":"6a22855c.be670c","type":"gate","z":"59556271.2c7d9c","name":"man/tmr?","controlTopic":"ctrlModeHW","defaultState":"closed","openCmd":"tmrActiveHW","closeCmd":"manActiveHW","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1000,"y":3460,"wires":[["54f986c1.ed82a8"]]},{"id":"93d16a49.8bb5d8","type":"gate","z":"59556271.2c7d9c","name":"","controlTopic":"ctrlModeHW","defaultState":"closed","openCmd":"tmrActiveHW","closeCmd":"manActiveHW","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1690,"y":3420,"wires":[["9a44dfc7.d7399"]]},{"id":"d38cbea.897774","type":"ui_switch","z":"59556271.2c7d9c","name":"Man/Tmr Mode CH","label":"Man<>Timer","tooltip":"","group":"9adbac80.1043b","order":22,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"resetCH","topicType":"str","style":"","onvalue":"tmrActiveCH","onvalueType":"str","onicon":"","oncolor":"","offvalue":"manActiveCH","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":870,"y":3820,"wires":[["9958c193.1eb46"]]},{"id":"6c0799e6.70e6c8","type":"function","z":"59556271.2c7d9c","name":"","func":"if (msg.payload === 'tmrActiveCH'){\n    flow.set('ctrlModeCH',msg.payload);\n    flow.set('modeCH','Timer');\n    msg.topic = 'ctrlModeCH';\n    }\nelse {\n    flow.set('ctrlModeCH','manActiveCH');\n    flow.set('modeCH','Manual');\n    msg.topic = 'ctrlModeCH';\n    msg.payload = 'manActiveCH';\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":3860,"wires":[["2df81c9a.610404","c20e4d08.21c2c","7ab1167e.ba30e8"]]},{"id":"2df81c9a.610404","type":"gate","z":"59556271.2c7d9c","name":"man/tmr?","controlTopic":"ctrlModeCH","defaultState":"closed","openCmd":"tmrActiveCH","closeCmd":"manActiveCH","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1020,"y":3920,"wires":[["76063e02.cc422"]]},{"id":"c20e4d08.21c2c","type":"gate","z":"59556271.2c7d9c","name":"","controlTopic":"ctrlModeCH","defaultState":"closed","openCmd":"tmrActiveCH","closeCmd":"manActiveCH","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1690,"y":3920,"wires":[["c78a53c0.6fd69"]]},{"id":"e5f0ec14.27a39","type":"ui_media","z":"59556271.2c7d9c","group":"e22da41f.72dcc8","name":"HW Mode","width":1,"height":1,"order":22,"category":"Images","file":"tmrActiveCH.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1420,"y":3340,"wires":[[]]},{"id":"524ff8ec.104478","type":"function","z":"59556271.2c7d9c","name":"set image","func":"msg.payload = \"/Images/\" + msg.payload + \".png\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3380,"wires":[["e5f0ec14.27a39"]]},{"id":"17e4bd41.a00023","type":"ui_media","z":"59556271.2c7d9c","group":"9adbac80.1043b","name":"CH Mode","width":1,"height":1,"order":23,"category":"Images","file":"tmrActiveCH.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1420,"y":3780,"wires":[[]]},{"id":"7ab1167e.ba30e8","type":"function","z":"59556271.2c7d9c","name":"set image","func":"msg.payload = \"/Images/\" + msg.payload + \".png\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3820,"wires":[["17e4bd41.a00023"]]},{"id":"2b551e8c.d5b0e2","type":"ui_button","z":"59556271.2c7d9c","name":"Central Heat Control/Status","group":"aaa48299.7b526","order":7,"width":0,"height":0,"passthru":true,"label":"Central Heating Control/Status","tooltip":"Toggle CH - Off/On","color":"","bgcolor":"","icon":"","payload":"CHOnOff","payloadType":"str","topic":"toggleCH","topicType":"str","x":120,"y":1580,"wires":[["c006d39e.5d749"]]},{"id":"e3ed7364.2eb96","type":"ui_template","z":"59556271.2c7d9c","group":"2d4355f4.616c0a","name":"Button font - 11.5px","order":0,"width":0,"height":0,"format":"<style>\n.md-button {\n    font-size: 11.5px !important;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":1650,"y":80,"wires":[[]]},{"id":"910914b3.d13158","type":"ui_button","z":"59556271.2c7d9c","name":"Mode HW","group":"e22da41f.72dcc8","order":20,"width":0,"height":0,"passthru":true,"label":"Manual On/Off - Timer Mode","tooltip":"Toggle HW Mode - Manual/Timer","color":"","bgcolor":"","icon":"","payload":"HWModeToggle","payloadType":"str","topic":"topic","topicType":"msg","x":340,"y":3380,"wires":[["4141d544.e102ac"]]},{"id":"72599202.093f6c","type":"ui_button","z":"59556271.2c7d9c","name":"Mode CH","group":"9adbac80.1043b","order":21,"width":0,"height":0,"passthru":true,"label":"Manual On/Off - Timer Mode","tooltip":"Toggle CH Mode - Manual/Timer","color":"","bgcolor":"","icon":"","payload":"CHModeToggle","payloadType":"str","topic":"topic","topicType":"msg","x":340,"y":3820,"wires":[["4e49bcfb.557a84"]]},{"id":"4141d544.e102ac","type":"function","z":"59556271.2c7d9c","name":"Toggle/Reset HW","func":"if (msg.topic === 'resetHW'){\n    if (msg.payload === 'tmrActiveHW'){\n        state = 0;                          //tmr switch active\n    }\n    else {\n        state = 1;                          //man switch active\n    }\n}\n\n\nif (msg.payload === 'HWModeToggle') {\n    if(state === 0){\n        state = 1;\n        msg.payload = 'manActiveHW';\n    }\n    else {\n        state = 0;\n        msg.payload = 'tmrActiveHW';\n    }\n}\n\nmsg.topic = '';\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed\nstate=0;","finalize":"","x":530,"y":3380,"wires":[["7dc79e73.bed19"]]},{"id":"4e49bcfb.557a84","type":"function","z":"59556271.2c7d9c","name":"Toggle/Reset CH","func":"if (msg.topic === 'resetCH'){\n    if (msg.payload === 'tmrActiveCH'){\n        state = 0;\n    }\n    else {\n        state = 1;\n    }\n}\n\n\n\nif (msg.payload === 'CHModeToggle') {\n    if(state === 0){\n        state = 1;\n        msg.payload = 'manActiveCH';\n    }\n    else {\n        state = 0;\n        msg.payload = 'tmrActiveCH';\n    }\n}\n\nmsg.topic = '';\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed\nstate=0;","finalize":"","x":530,"y":3820,"wires":[["2dc3717b.4c84ee"]]},{"id":"c006d39e.5d749","type":"function","z":"59556271.2c7d9c","name":"CH State/Toggle","func":"if (msg.topic === 'offonSwitch'){\n    if (msg.payload === 'off'){                      //off or heat\n        chstate = 0;\n    }   \n    else {\n        chstate = 1;\n    }\n}\n\n\nif (msg.payload === 'CHOnOff' && msg.topic === 'toggleCH'){                 //toggle state with button\n    msg.topic = 'offonSwitch';\n    if (chstate === 0 ){\n        chstate = 1 ;\n        msg.payload = 'heat';\n    }\n    else {\n        chstate = 0;\n        msg.payload = 'off';\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed","finalize":"","x":360,"y":1580,"wires":[["3040cd2.364f332"]]},{"id":"2103715f.77aede","type":"function","z":"59556271.2c7d9c","name":"","func":"const now = new Date();\nconst thisSecEpoch = Math.round(now.getTime()/1000);\n\ndiff = thisSecEpoch - prevSecEpoch\nprevSecEpoch = thisSecEpoch;\nmsg.initTimeSlotsHW = false;\nmsg.payload = \"\";\n\nif(diff >=3){\n    msg.payload = \"Press Button twice within 2 seconds to initialise default Hot Water time slots\"\n    msg.topic = \"INITIALISE HOT WATER TIME SLOTS\";\n    ctr = 0;                            //reset press/click counter if activation >= 3 secs\n}\nelse {\n    ctr ++;\n}\n\nif (ctr >=1) {                          //more than 3 presses/clicks within 3 secs\n    msg.payload = \"Resetting ...\"\n    msg.topic = \"INITIALISE HOT WATER TIME SLOTS\";\n    msg.initTimeSlotsHW = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nprevSecEpoch = 0;","finalize":"","x":160,"y":2400,"wires":[["d9394a70.9ff728","e782ee3f.89cf8"]]},{"id":"d9394a70.9ff728","type":"ui_toast","z":"59556271.2c7d9c","position":"top right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":370,"y":2400,"wires":[]},{"id":"e782ee3f.89cf8","type":"switch","z":"59556271.2c7d9c","name":"","property":"msg.initTimeSlotsHW","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":2440,"wires":[["f17eafea.d9817"]]},{"id":"ae2b9d21.72207","type":"switch","z":"59556271.2c7d9c","name":"","property":"msg.initTimeSlotsCH","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":4220,"wires":[["b5b21257.d5512"]]},{"id":"dd765329.e0934","type":"ui_toast","z":"59556271.2c7d9c","position":"top right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":370,"y":4180,"wires":[]},{"id":"cf34bb79.036518","type":"ui_button","z":"59556271.2c7d9c","name":"INIT CH","group":"4e5fc46e.0580dc","order":8,"width":1,"height":1,"passthru":true,"label":"C","tooltip":"Initialise CH Time Slots to Default Values - Double tap to Activate","color":"","bgcolor":"","icon":"","payload":"open","payloadType":"str","topic":"control","topicType":"str","x":160,"y":4140,"wires":[["569a4803.e96e68"]]},{"id":"6e96eefa.39888","type":"inject","z":"59556271.2c7d9c","name":"Init CH Objects","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":4100,"wires":[["cf34bb79.036518"]]},{"id":"39ac8930.e36c66","type":"comment","z":"59556271.2c7d9c","name":"Change Dashboard BUTTON font size","info":"","x":1710,"y":40,"wires":[]},{"id":"569a4803.e96e68","type":"function","z":"59556271.2c7d9c","name":"","func":"const now = new Date();\nconst thisSecEpoch = Math.round(now.getTime()/1000);\n\ndiff = thisSecEpoch - prevSecEpoch\nprevSecEpoch = thisSecEpoch;\nmsg.initTimeSlotsCH = false;\nmsg.payload = \"\";\n\nif(diff >=3){\n    msg.payload = \"Press Button twice within 2 seconds to initialise default Central Heating time slots\"\n    msg.topic = \"INITIALISE CENTRAL HEATING TIME SLOTS\";\n    ctr = 0;                            //reset press/click counter if activation >= 3 secs\n}\nelse {\n    ctr ++;\n}\n\nif (ctr >=1) {                          //more than 3 presses/clicks within 3 secs\n    msg.payload = \"Resetting ...\"\n    msg.topic = \"INITIALISE CENTRAL HEATING TIME SLOTS\";\n    msg.initTimeSlotsCH = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nprevSecEpoch = 0;","finalize":"","x":162,"y":4179.60009765625,"wires":[["ae2b9d21.72207","dd765329.e0934"]]},{"id":"10e55900.967727","type":"mqtt out","z":"59556271.2c7d9c","name":"pub SLR Control (ie Off/On/Therm setting.. etc)","topic":"","qos":"2","retain":"true","broker":"87a36cb6.d5267","x":1580,"y":580,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"cf154313.05cc6","type":"link in","z":"59556271.2c7d9c","name":"MAN HW Off/On","links":["ede885d6.9235e8","55fafb3d.08f2e4","bf8a18b3.743738","b3e97038.bd34b","c36d472e.d929d8","fed80139.bb731","14797435.ceb76c"],"x":1315,"y":1500,"wires":[["bdd01f93.7c345"]]},{"id":"67decb70.f59fd4","type":"mqtt in","z":"59556271.2c7d9c","name":"","topic":"pive2mqtt/SLRCtrl/#","qos":"2","datatype":"auto","broker":"87a36cb6.d5267","x":150,"y":700,"wires":[["3230d58.ce7f82a"]]},{"id":"3230d58.ce7f82a","type":"switch","z":"59556271.2c7d9c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"pive2mqtt/SLRCtrl/StateSLR","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/HWManAuto","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/CHManAuto","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/CHOffOn","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/HWOffOn","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/savedSP","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":410,"y":720,"wires":[["4dd73596.969b4c"],["324d6652.84f70a"],["30ffbb6b.8026f4"],["c5df3ac3.1f7b58"],["ca4cfd4f.df8f7"],["456fe0bd.50723","bc36a956.10e6b8"]]},{"id":"a1c6d288.fdf4d","type":"link in","z":"59556271.2c7d9c","name":"HWManSwitchsub","links":["324d6652.84f70a","efb35a04.6c8188","4dd73596.969b4c"],"x":1095,"y":3340,"wires":[["ed39835f.f557"]]},{"id":"324d6652.84f70a","type":"link out","z":"59556271.2c7d9c","name":"/SLRCtrl/HWManAuto","links":["a1c6d288.fdf4d"],"x":735,"y":700,"wires":[]},{"id":"80412a28.156d38","type":"comment","z":"59556271.2c7d9c","name":"/HWManAuto","info":"","x":830,"y":700,"wires":[]},{"id":"38725115.c4162e","type":"comment","z":"59556271.2c7d9c","name":"to HW Off/On Switch","info":"","x":1490,"y":3500,"wires":[]},{"id":"1e41f74d.c75ed9","type":"comment","z":"59556271.2c7d9c","name":"pub HW off/heat to SLR","info":"","x":1960,"y":1340,"wires":[]},{"id":"2dc94e18.c82d52","type":"comment","z":"59556271.2c7d9c","name":"pub CH off/heat to SLR","info":"","x":760,"y":1340,"wires":[]},{"id":"8275c764.785a18","type":"comment","z":"59556271.2c7d9c","name":"to CH Off/On Switch","info":"","x":1470,"y":4000,"wires":[]},{"id":"906b1880.1f22c8","type":"link out","z":"59556271.2c7d9c","name":"HWAutoManModepub","links":["eba899f3.80f6e8"],"x":995,"y":3380,"wires":[]},{"id":"eba899f3.80f6e8","type":"link in","z":"59556271.2c7d9c","name":"pub SLR Ctrl HW","links":["906b1880.1f22c8"],"x":1035,"y":580,"wires":[["a96073a5.9e3f7"]]},{"id":"a96073a5.9e3f7","type":"change","z":"59556271.2c7d9c","name":"HW Man/Auto","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":580,"wires":[["10e55900.967727"]]},{"id":"ed39835f.f557","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"resetHW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":3340,"wires":[["dd7c7702.d55da8","4141d544.e102ac"]]},{"id":"7dc79e73.bed19","type":"rbe","z":"59556271.2c7d9c","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":700,"y":3380,"wires":[["194ad4bb.d6396b"]]},{"id":"2dc3717b.4c84ee","type":"rbe","z":"59556271.2c7d9c","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":700,"y":3820,"wires":[["d38cbea.897774"]]},{"id":"9958c193.1eb46","type":"link out","z":"59556271.2c7d9c","name":"CHAutoManModepub","links":["d22f30cd.97856"],"x":995,"y":3820,"wires":[]},{"id":"d22f30cd.97856","type":"link in","z":"59556271.2c7d9c","name":"pub SLR Ctrl CH","links":["9958c193.1eb46"],"x":1035,"y":620,"wires":[["57885a3a.a79574"]]},{"id":"57885a3a.a79574","type":"change","z":"59556271.2c7d9c","name":"CH Man/Auto","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":620,"wires":[["10e55900.967727"]]},{"id":"30ffbb6b.8026f4","type":"link out","z":"59556271.2c7d9c","name":"/SLRCtrl/CHManAuto","links":["638fbbe.9222144"],"x":735,"y":740,"wires":[]},{"id":"e80b011f.119cf","type":"comment","z":"59556271.2c7d9c","name":"/CHManAuto","info":"","x":830,"y":740,"wires":[]},{"id":"638fbbe.9222144","type":"link in","z":"59556271.2c7d9c","name":"CHManSwitchsub","links":["30ffbb6b.8026f4","60928d68.b5a7f4"],"x":1115,"y":3780,"wires":[["d4b14275.30ee5"]]},{"id":"d4b14275.30ee5","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":3780,"wires":[["6c0799e6.70e6c8","4e49bcfb.557a84"]]},{"id":"a186b4e6.7d41f8","type":"comment","z":"59556271.2c7d9c","name":"CH Auto/Man sub","info":"","x":1180,"y":3740,"wires":[]},{"id":"f030f90a.1e3958","type":"comment","z":"59556271.2c7d9c","name":"HW Auto/Man sub","info":"","x":1170,"y":3300,"wires":[]},{"id":"9ba86994.a070c8","type":"change","z":"59556271.2c7d9c","name":"savedSP","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/savedSP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":660,"wires":[["10e55900.967727"]]},{"id":"3040cd2.364f332","type":"rbe","z":"59556271.2c7d9c","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":400,"y":1540,"wires":[["8806e75e.e6dfe8"]]},{"id":"3b1f0948.2b2196","type":"switch","z":"59556271.2c7d9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"offline","vt":"str"},{"t":"eq","v":"online","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":560,"wires":[["3ce6940a.be349c"],["508b0eaf.94951"]]},{"id":"3ce6940a.be349c","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/slr2-offline.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":560,"wires":[["be9131a6.3aa91"]]},{"id":"508b0eaf.94951","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/slr2-online.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["be9131a6.3aa91"]]},{"id":"be9131a6.3aa91","type":"ui_media","z":"59556271.2c7d9c","group":"aaa48299.7b526","name":"Hive Status Icon","width":1,"height":1,"order":3,"category":"Images","file":"HW_On.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":780,"y":600,"wires":[[]]},{"id":"4acd294a.63f598","type":"comment","z":"59556271.2c7d9c","name":"Toggle HW Override","info":"","x":1730,"y":3340,"wires":[]},{"id":"32078f8d.85d32","type":"comment","z":"59556271.2c7d9c","name":"Toggle CH Override","info":"","x":1730,"y":3840,"wires":[]},{"id":"52f6cc55.25b724","type":"comment","z":"59556271.2c7d9c","name":"Switch HW IP","info":"","x":1230,"y":1500,"wires":[]},{"id":"34d73ca9.17c6f4","type":"ui_button","z":"59556271.2c7d9c","name":"Hot Water Control/Status","group":"aaa48299.7b526","order":13,"width":0,"height":0,"passthru":true,"label":"Hot Water Control/Status","tooltip":"Toggle HW - Off/On","color":"","bgcolor":"","icon":"","payload":"HWOnOff","payloadType":"str","topic":"toggleHW","topicType":"str","x":1270,"y":1580,"wires":[["9241c5e9.2dca48"]]},{"id":"9241c5e9.2dca48","type":"function","z":"59556271.2c7d9c","name":"HW State/Toggle","func":"if (msg.topic === 'offonSwitch'){\n    if (msg.payload === 'off'){                      //off or heat\n        hwstate = 0;\n    }   \n    else {\n        hwstate = 1;\n    }\n}\n\n\nif (msg.payload === 'HWOnOff' && msg.topic === 'toggleHW'){                 //toggle state with button\n    msg.topic = 'offonSwitch';\n    if (hwstate === 0 ){\n        hwstate = 1 ;\n        msg.payload = 'heat';\n    }\n    else {\n        hwstate = 0;\n        msg.payload = 'off';\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1510,"y":1580,"wires":[["ff01687f.2436b8"]]},{"id":"8c531055.ff21e","type":"comment","z":"59556271.2c7d9c","name":"Switch CH IP","info":"","x":70,"y":1500,"wires":[]},{"id":"8f7ca123.4d7ac","type":"comment","z":"59556271.2c7d9c","name":"Every second, check for CH/HW off or on as stored in daily on/off timeslots","info":"","x":540,"y":3600,"wires":[]},{"id":"fd2515fc.182558","type":"comment","z":"59556271.2c7d9c","name":"Override HW (in timer mode)","info":"","x":1760,"y":3500,"wires":[]},{"id":"26adc2aa.c1f0fe","type":"comment","z":"59556271.2c7d9c","name":"Display Override start/end if override active","info":"","x":2280,"y":3460,"wires":[]},{"id":"919b4e94.964cc","type":"comment","z":"59556271.2c7d9c","name":"SLR subscribed topics","info":"","x":740,"y":120,"wires":[]},{"id":"73186588.ea4bac","type":"comment","z":"59556271.2c7d9c","name":"sub to controls, off/on/thermostat setting etc","info":"","x":230,"y":660,"wires":[]},{"id":"bbe140b3.0854a","type":"comment","z":"59556271.2c7d9c","name":"Man/Tmr switch and push button toggles for CH","info":"","x":460,"y":3780,"wires":[]},{"id":"13261bb8.ab8f94","type":"comment","z":"59556271.2c7d9c","name":"Man/Tmr switch and push button toggles for HW","info":"","x":460,"y":3340,"wires":[]},{"id":"f26514b5.51d288","type":"change","z":"59556271.2c7d9c","name":"HW heat","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1820,"wires":[["b3e97038.bd34b"]]},{"id":"1a7ffbf7.5e88d4","type":"change","z":"59556271.2c7d9c","name":"HW off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1860,"wires":[["55fafb3d.08f2e4"]]},{"id":"318ce9b3.fb5906","type":"change","z":"59556271.2c7d9c","name":"CH heat","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1960,"wires":[["90810ddc.d59c2"]]},{"id":"3709c03a.be855","type":"change","z":"59556271.2c7d9c","name":"CH off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2000,"wires":[["8f3eae1c.e3d7f"]]},{"id":"6f53d6d4.3ea448","type":"comment","z":"59556271.2c7d9c","name":"/savedSP","info":"","x":820,"y":860,"wires":[]},{"id":"6a40cbe.f5c8b34","type":"link out","z":"59556271.2c7d9c","name":"/SLRCtrl/savedSP","links":["f1f9fe55.27dd6"],"x":735,"y":860,"wires":[]},{"id":"52734077.b6ea8","type":"link in","z":"59556271.2c7d9c","name":"pub SLR savedSP","links":["78a3e523.d8302c","43e59dc.cd4a764","7fba4ced.9cb5d4","756402cc.bb292c","4549d651.2384f8"],"x":1035,"y":660,"wires":[["9ba86994.a070c8"]]},{"id":"f3287b50.0b1378","type":"ui_button","z":"59556271.2c7d9c","name":"Sat CH","group":"4e5fc46e.0580dc","order":6,"width":1,"height":1,"passthru":true,"label":"Sat","tooltip":"Show Saturday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Sat","payloadType":"str","topic":"6","topicType":"str","x":280,"y":4520,"wires":[["c03f202d.ec53f"]]},{"id":"7ce47dbc.0147a4","type":"change","z":"59556271.2c7d9c","name":"Restore SP","rules":[{"t":"set","p":"payload","pt":"msg","to":"boostsavedSPCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":4120,"wires":[["78a3e523.d8302c"]]},{"id":"95ef8634.b19ee8","type":"switch","z":"59556271.2c7d9c","name":"Boost End?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1710,"y":4120,"wires":[["7ce47dbc.0147a4","a75efbf9.3c2cc8"]]},{"id":"78a3e523.d8302c","type":"link out","z":"59556271.2c7d9c","name":"boostSPCH out","links":["52734077.b6ea8","d1ca1dce.c5eed"],"x":2395,"y":4160,"wires":[]},{"id":"14c8aff3.f4ac","type":"change","z":"59556271.2c7d9c","name":"BoostCH Setup","rules":[{"t":"set","p":"boostSecsCH","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"SSE","tot":"flow"},{"t":"set","p":"boostTimeEndCH","pt":"flow","to":"msg.payload + msg.boostSecsCH","tot":"jsonata"},{"t":"set","p":"boostsavedSPCH","pt":"flow","to":"thermSP","tot":"flow"},{"t":"set","p":"boostCH","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":4200,"wires":[["917ac068.1658a"]]},{"id":"d1fac17b.51807","type":"ui_text","z":"59556271.2c7d9c","group":"9adbac80.1043b","order":15,"width":4,"height":1,"name":"Boost remaining CH","label":"Boost Time Remaining","format":"{{msg.remain}}","layout":"row-spread","x":2220,"y":4080,"wires":[]},{"id":"89999a99.cd93d8","type":"function","z":"59556271.2c7d9c","name":"CH Boost?","func":"msg.topic='';\nonCH = 'off';\n\nboostTimeEndCH = flow.get('boostTimeEndCH');\nboostCH = flow.get('boostCH');\nboostRemainingCH = 0;\nnowsse = flow.get('SSE');\n\nif (boostCH){                                                           //if boost is true, then\n    if (nowsse < boostTimeEndCH){                                      //if current time is less or equal boost end time\n        boostRemainingCH = boostTimeEndCH - nowsse; //boost remaining in mins\n        flow.set('boostRemainingCH',boostRemainingCH);\n        flow.set('boostTxtCH','Active');\n        onCH = 'heat'; //heat demand\n    }\n    else {\n        onCH = 'off';                                                   //boost ended\n        boostRemainingCH = 0;                                         //mins remaining\n        flow.set('boostCH', false);                                     //reset boost to false\n        flow.set('boostTxtCH','InActive');\n    }\n}\n\nflow.set('StateCH', onCH);\nmsg.payload = onCH;\nmsg.boostRemainingCH = boostRemainingCH;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":4080,"wires":[["95ef8634.b19ee8","34a4f0ee.999ea","2f297222.f0575e"]]},{"id":"afe253ef.5265e","type":"ui_button","z":"59556271.2c7d9c","name":"Boost +30m","group":"9adbac80.1043b","order":11,"width":1,"height":1,"passthru":true,"label":"+ 30m","tooltip":"Activate CH Boost for 30mins","color":"","bgcolor":"","icon":"","payload":"1800","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4160,"wires":[["2cebbbc3.20c4c4"]]},{"id":"71e4baaf.ccdcd4","type":"comment","z":"59556271.2c7d9c","name":"pub Therm SP","info":"","x":2490,"y":4160,"wires":[]},{"id":"d34dc21a.c33ac","type":"comment","z":"59556271.2c7d9c","name":"BOOST CH","info":"","x":1930,"y":4200,"wires":[]},{"id":"917ac068.1658a","type":"change","z":"59556271.2c7d9c","name":"CH Man Active","rules":[{"t":"set","p":"savedModeCH","pt":"flow","to":"ctrlModeCH","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"manActiveCH","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":4240,"wires":[["66753ad.0f947c4","1464f60c.d524ca"]]},{"id":"41170606.ff3378","type":"link in","z":"59556271.2c7d9c","name":"ManTmrModeCH","links":["66753ad.0f947c4","6c1a0e54.732fc"],"x":375,"y":3860,"wires":[["4e49bcfb.557a84"]]},{"id":"66753ad.0f947c4","type":"link out","z":"59556271.2c7d9c","name":"BoostUpdateModeCH","links":["41170606.ff3378"],"x":2395,"y":4200,"wires":[]},{"id":"5d484035.1324","type":"comment","z":"59556271.2c7d9c","name":"Update Mode CH","info":"","x":2500,"y":4200,"wires":[]},{"id":"a75efbf9.3c2cc8","type":"change","z":"59556271.2c7d9c","name":"Restore Mode CH","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedModeCH","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"},{"t":"set","p":"boostCH","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostTxtCH","pt":"flow","to":"InActive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":4160,"wires":[["66753ad.0f947c4"]]},{"id":"158891e0.2725ce","type":"change","z":"59556271.2c7d9c","name":"Boost SP","rules":[{"t":"set","p":"boostSPCH","pt":"msg","to":"temp","tot":"flow"},{"t":"set","p":"boostSPCH","pt":"flow","to":"msg.boostSPCH + 1","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"boostSPCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":4320,"wires":[["78a3e523.d8302c"]]},{"id":"259b7dd0.426d72","type":"switch","z":"59556271.2c7d9c","name":"Boost True?","property":"boostCH","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":3900,"wires":[["2df81c9a.610404"],["89999a99.cd93d8"]]},{"id":"c4fa6623.d6cfc8","type":"ui_button","z":"59556271.2c7d9c","name":"Boost +60m","group":"9adbac80.1043b","order":12,"width":1,"height":1,"passthru":true,"label":"+ 60m","tooltip":"Activate CH Boost for 60mins","color":"","bgcolor":"","icon":"","payload":"3600","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4220,"wires":[["2cebbbc3.20c4c4"]]},{"id":"2819dd93.c95412","type":"ui_button","z":"59556271.2c7d9c","name":"Boost Cancel","group":"9adbac80.1043b","order":14,"width":1,"height":1,"passthru":true,"label":"Cancel","tooltip":"Cancel CH Boost","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4300,"wires":[["720ed73e.682708"]]},{"id":"720ed73e.682708","type":"change","z":"59556271.2c7d9c","name":"Boost 0","rules":[{"t":"set","p":"boostTimeEndCH","pt":"flow","to":"SSE","tot":"flow"},{"t":"set","p":"boostTxtCH","pt":"flow","to":"InActive","tot":"str"},{"t":"set","p":"boostTimeTxtCH","pt":"flow","to":"00:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":4360,"wires":[[]]},{"id":"f6ddff59.9ed3c","type":"change","z":"59556271.2c7d9c","name":"Restore Mode HW","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedModeHW","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetHW","tot":"str"},{"t":"set","p":"boostHW","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostTxtHW","pt":"flow","to":"InActive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":3620,"wires":[["230f317d.d7a77e"]]},{"id":"6bafdbdf.8db3f4","type":"switch","z":"59556271.2c7d9c","name":"Boost End?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1710,"y":3620,"wires":[["f6ddff59.9ed3c"]]},{"id":"230f317d.d7a77e","type":"link out","z":"59556271.2c7d9c","name":"BoostUpdateModeCH","links":["450c00d1.4c2ce"],"x":2395,"y":3660,"wires":[]},{"id":"2dae7cca.efb5e4","type":"change","z":"59556271.2c7d9c","name":"HW Man Active","rules":[{"t":"set","p":"savedModeHW","pt":"flow","to":"ctrlModeHW","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetHW","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"manActiveHW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":3700,"wires":[["230f317d.d7a77e","a27f0229.a3b03"]]},{"id":"a5ca1757.30f158","type":"ui_text","z":"59556271.2c7d9c","group":"e22da41f.72dcc8","order":14,"width":4,"height":1,"name":"Boost remaining HW","label":"Boost Time Remaining","format":"{{msg.remain}}","layout":"row-spread","x":2220,"y":3580,"wires":[]},{"id":"eafe30e.88e92d","type":"ui_button","z":"59556271.2c7d9c","name":"Boost +30m","group":"e22da41f.72dcc8","order":10,"width":1,"height":1,"passthru":true,"label":"+ 30m","tooltip":"Activate HW Boost for 30mins","color":"","bgcolor":"","icon":"","payload":"1800","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3660,"wires":[["8cff8c44.b77b"]]},{"id":"b1077635.14a838","type":"ui_button","z":"59556271.2c7d9c","name":"Boost +60m","group":"e22da41f.72dcc8","order":11,"width":1,"height":1,"passthru":true,"label":"+ 60m","tooltip":"Activate HW Boost for 60mins","color":"","bgcolor":"","icon":"","payload":"3600","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3700,"wires":[["8cff8c44.b77b"]]},{"id":"38edcf0f.511dc","type":"change","z":"59556271.2c7d9c","name":"BoostHW Setup","rules":[{"t":"set","p":"boostSecsHW","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"SSE","tot":"flow"},{"t":"set","p":"boostTimeEndHW","pt":"flow","to":"msg.payload + msg.boostSecsHW","tot":"jsonata"},{"t":"set","p":"boostsavedSPHW","pt":"flow","to":"thermSP","tot":"flow"},{"t":"set","p":"boostHW","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":3660,"wires":[["2dae7cca.efb5e4"]]},{"id":"b0402673.a57738","type":"comment","z":"59556271.2c7d9c","name":"Update Mode HW","info":"","x":2510,"y":3660,"wires":[]},{"id":"b1e33672.eb53a8","type":"comment","z":"59556271.2c7d9c","name":"BOOST HW","info":"","x":1950,"y":3660,"wires":[]},{"id":"fc7d49fb.c034b8","type":"ui_button","z":"59556271.2c7d9c","name":"Boost Cancel","group":"e22da41f.72dcc8","order":13,"width":1,"height":1,"passthru":true,"label":"Cancel","tooltip":"Cancel HW Boost","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3780,"wires":[["75e1ac71.8a0864"]]},{"id":"75e1ac71.8a0864","type":"change","z":"59556271.2c7d9c","name":"Boost 0","rules":[{"t":"set","p":"boostTimeEndHW","pt":"flow","to":"SSE","tot":"flow"},{"t":"set","p":"boostTxtHW","pt":"flow","to":"InActive","tot":"str"},{"t":"set","p":"boostTimeTxtHW","pt":"flow","to":"00:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":3780,"wires":[[]]},{"id":"e8e1eec3.11bd4","type":"function","z":"59556271.2c7d9c","name":"HW Boost?","func":"msg.topic='';\nonHW = 'off';\n\nboostTimeEndHW = flow.get('boostTimeEndHW');\nboostHW = flow.get('boostHW');\nboostRemainingHW = 0;\nnowsse = flow.get('SSE');\n\nif (boostHW){                                                           //if boost is true, then\n    if (nowsse < boostTimeEndHW){                                      //if current time is less or equal boost end time\n        boostRemainingHW = boostTimeEndHW - nowsse; //boost remaining in mins\n        flow.set('boostRemainingHW',boostRemainingHW);\n        flow.set('boostTxtHW','Active');\n        onHW = 'heat'; //heat demand\n    }\n    else {\n        onHW = 'off';                                                   //boost ended\n        boostRemainingHW = 0;                                         //mins remaining\n        flow.set('boost', false);                                     //reset boost to false\n        flow.set('boostTxtHW','InActive');\n    }\n}\n\nflow.set('StateHW', onHW);\nmsg.payload = onHW;\nmsg.boostRemainingHW = boostRemainingHW;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":3500,"wires":[["6bafdbdf.8db3f4","7b2aad97.440bd4","57cb61ca.e2d9a"]]},{"id":"3bed094e.9e1d76","type":"switch","z":"59556271.2c7d9c","name":"Boost True?","property":"boostHW","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":3460,"wires":[["6a22855c.be670c"],["e8e1eec3.11bd4"]]},{"id":"d83de416.8a9638","type":"comment","z":"59556271.2c7d9c","name":"Override CH (in timer mode)","info":"","x":1760,"y":4000,"wires":[]},{"id":"f5796e2d.5e6be","type":"comment","z":"59556271.2c7d9c","name":"Display Override start/end if override active","info":"","x":2280,"y":3960,"wires":[]},{"id":"450c00d1.4c2ce","type":"link in","z":"59556271.2c7d9c","name":"ManTmrModeHW","links":["230f317d.d7a77e"],"x":375,"y":3420,"wires":[["4141d544.e102ac"]]},{"id":"7b2aad97.440bd4","type":"function","z":"59556271.2c7d9c","name":"Boost Tme","func":"function time_convert(num)\n { \n    var minutes = Math.floor(num / 60);  \n    var seconds = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (minutes   < 10) {minutes   = \"0\"+minutes;}\n    if (seconds < 10) {seconds = \"0\"+seconds;}\n  \n    return minutes + \":\" + seconds;         \n}\n\n\nmsg.remain = time_convert(msg.boostRemainingHW);\nflow.set('boostTimeTxtHW',msg.remain);\nmsg.payload = msg.boostRemainingHW;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":3580,"wires":[["6bafdbdf.8db3f4","a5ca1757.30f158"]]},{"id":"2f297222.f0575e","type":"function","z":"59556271.2c7d9c","name":"Boost Tme","func":"function time_convert(num)\n { \n    var minutes = Math.floor(num / 60);  \n    var seconds = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (minutes   < 10) {minutes   = \"0\"+minutes;}\n    if (seconds < 10) {seconds = \"0\"+seconds;}\n  \n    return minutes + \":\" + seconds;         \n}\n\n\nmsg.remain = time_convert(msg.boostRemainingCH);\nflow.set('boostTimeTxtCH',msg.remain);\nmsg.payload = msg.boostRemainingCH;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":4080,"wires":[["d1fac17b.51807","95ef8634.b19ee8"]]},{"id":"efef6f77.e9462","type":"ui_button","z":"59556271.2c7d9c","name":"Boost +90m","group":"e22da41f.72dcc8","order":12,"width":1,"height":1,"passthru":true,"label":"+ 90m","tooltip":"Activate HW Boost for 90mins","color":"","bgcolor":"","icon":"","payload":"5400","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3740,"wires":[["8cff8c44.b77b"]]},{"id":"41328904.a8b588","type":"ui_button","z":"59556271.2c7d9c","name":"Boost +90m","group":"9adbac80.1043b","order":13,"width":1,"height":1,"passthru":true,"label":"+ 90m","tooltip":"Activate CH Boost for 90mins","color":"","bgcolor":"","icon":"","payload":"5400","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4260,"wires":[["2cebbbc3.20c4c4"]]},{"id":"8cff8c44.b77b","type":"switch","z":"59556271.2c7d9c","name":"Boost True?","property":"boostHW","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1950,"y":3720,"wires":[["38edcf0f.511dc"],[]]},{"id":"2cebbbc3.20c4c4","type":"switch","z":"59556271.2c7d9c","name":"Boost True?","property":"boostCH","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1930,"y":4260,"wires":[["158891e0.2725ce","14c8aff3.f4ac"],[]]},{"id":"b8eb5432.457c08","type":"change","z":"59556271.2c7d9c","name":"payload 'heat'","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":1860,"wires":[["bf8a18b3.743738"]]},{"id":"79c753dc.1624ac","type":"change","z":"59556271.2c7d9c","name":"payload 'off'","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"req.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":1820,"wires":[["bf8a18b3.743738"]]},{"id":"d3a5d025.3fc8b","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"DemandCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":248,"y":1166,"wires":[[]]},{"id":"16d7937a.53b36d","type":"change","z":"59556271.2c7d9c","name":"","rules":[{"t":"set","p":"DemandHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1160,"wires":[[]]},{"id":"7bbe997e.1db298","type":"rbe","z":"59556271.2c7d9c","name":"Check for 'Day' change","func":"rbe","gap":"","start":"","inout":"out","property":"dayPart","x":390,"y":3640,"wires":[["5ac873a7.6265ac"]]},{"id":"f228393e.8fe2e8","type":"link out","z":"59556271.2c7d9c","name":"","links":["e0c60c38.cd104","b6b631fd.dd155"],"x":535,"y":3680,"wires":[]},{"id":"5ac873a7.6265ac","type":"change","z":"59556271.2c7d9c","name":"Set selectedDay","rules":[{"t":"set","p":"selectedDayHW","pt":"flow","to":"dayPart","tot":"msg"},{"t":"set","p":"selectedDayHW","pt":"flow","to":"dayPart","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":3680,"wires":[["f228393e.8fe2e8"]]},{"id":"7cad3da9.1d9964","type":"comment","z":"59556271.2c7d9c","name":"Day rollover - update Time Slots","info":"","x":690,"y":3680,"wires":[]},{"id":"3b48463b.1eedea","type":"inject","z":"59556271.2c7d9c","name":"Init Time","props":[{"p":"remain","v":"00:00","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":2180,"y":3540,"wires":[["a5ca1757.30f158"]]},{"id":"e3257349.9d30d","type":"inject","z":"59556271.2c7d9c","name":"Init Time","props":[{"p":"remain","v":"00:00","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":2180,"y":4040,"wires":[["d1fac17b.51807"]]},{"id":"fab99845.aec8d8","type":"change","z":"59556271.2c7d9c","name":"payload 'heat'","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":1920,"wires":[["86e87333.28d5a"]]},{"id":"f2a1c1d6.87aa9","type":"change","z":"59556271.2c7d9c","name":"payload 'off'","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":1960,"wires":[["86e87333.28d5a"]]},{"id":"2734aa5f.32bb46","type":"switch","z":"59556271.2c7d9c","name":"CH Boost","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"60","vt":"str"},{"t":"eq","v":"90","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":340,"y":1960,"wires":[["63aa164.13cd0e8","c688f2aa.6a699"],["eceb435d.379fd","c688f2aa.6a699"],["fadd6220.1f0d3","c688f2aa.6a699"],["690ce0ff.0c886","c688f2aa.6a699"],["f98265f1.719eb8"]]},{"id":"53c3570d.58e928","type":"switch","z":"59556271.2c7d9c","name":"HW Boost","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"60","vt":"str"},{"t":"eq","v":"90","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":340,"y":2200,"wires":[["6697a3eb.2639dc","c688f2aa.6a699"],["7ec322e3.32091c","c688f2aa.6a699"],["63d7e8f7.a2f3a8","c688f2aa.6a699"],["c688f2aa.6a699","c182dbb9.6abb98"],["f98265f1.719eb8"]]},{"id":"fb68031f.44204","type":"link in","z":"59556271.2c7d9c","name":"CHBoost30","links":["63aa164.13cd0e8","e1a4f33a.04a76"],"x":1615,"y":4180,"wires":[["afe253ef.5265e"]]},{"id":"8e92cc4c.e5059","type":"link in","z":"59556271.2c7d9c","name":"CHBoost60","links":["eceb435d.379fd","64a671a3.b3e29"],"x":1615,"y":4220,"wires":[["c4fa6623.d6cfc8"]]},{"id":"ce89c777.17dc28","type":"link in","z":"59556271.2c7d9c","name":"CHBoost90","links":["fadd6220.1f0d3","9f352c34.d0a33"],"x":1615,"y":4260,"wires":[["41328904.a8b588"]]},{"id":"4682ec0d.ed0b24","type":"link in","z":"59556271.2c7d9c","name":"CHBoostC","links":["690ce0ff.0c886","78707308.4e367c"],"x":1575,"y":4300,"wires":[["2819dd93.c95412"]]},{"id":"fe171cec.3acfe","type":"link in","z":"59556271.2c7d9c","name":"HWBoost30","links":["6697a3eb.2639dc","d0d67e6f.55cf4"],"x":1615,"y":3660,"wires":[["eafe30e.88e92d"]]},{"id":"f2531e95.9b10e","type":"link in","z":"59556271.2c7d9c","name":"HWBoost60","links":["7ec322e3.32091c","f9ff54a2.b81bf8"],"x":1615,"y":3700,"wires":[["b1077635.14a838"]]},{"id":"f3f47fff.6d02b","type":"link in","z":"59556271.2c7d9c","name":"HWBoost90","links":["63d7e8f7.a2f3a8","18945264.6243ae"],"x":1615,"y":3740,"wires":[["efef6f77.e9462"]]},{"id":"4443868c.858a88","type":"link in","z":"59556271.2c7d9c","name":"HWBoostC","links":["c182dbb9.6abb98","60088103.67e66"],"x":1575,"y":3780,"wires":[["fc7d49fb.c034b8"]]},{"id":"63aa164.13cd0e8","type":"link out","z":"59556271.2c7d9c","name":"CH30","links":["fb68031f.44204"],"x":555,"y":1980,"wires":[]},{"id":"eceb435d.379fd","type":"link out","z":"59556271.2c7d9c","name":"CH60","links":["8e92cc4c.e5059"],"x":595,"y":2000,"wires":[]},{"id":"fadd6220.1f0d3","type":"link out","z":"59556271.2c7d9c","name":"CH90","links":["ce89c777.17dc28"],"x":555,"y":2020,"wires":[]},{"id":"690ce0ff.0c886","type":"link out","z":"59556271.2c7d9c","name":"CHC","links":["4682ec0d.ed0b24"],"x":595,"y":2040,"wires":[]},{"id":"6697a3eb.2639dc","type":"link out","z":"59556271.2c7d9c","name":"HW30","links":["fe171cec.3acfe"],"x":555,"y":2160,"wires":[]},{"id":"7ec322e3.32091c","type":"link out","z":"59556271.2c7d9c","name":"HW60","links":["f2531e95.9b10e"],"x":595,"y":2180,"wires":[]},{"id":"63d7e8f7.a2f3a8","type":"link out","z":"59556271.2c7d9c","name":"HW90","links":["f3f47fff.6d02b"],"x":555,"y":2200,"wires":[]},{"id":"c182dbb9.6abb98","type":"link out","z":"59556271.2c7d9c","name":"HWC","links":["4443868c.858a88"],"x":595,"y":2220,"wires":[]},{"id":"d6b796e9.ef31d8","type":"switch","z":"59556271.2c7d9c","name":"tmrActive dev","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HW","vt":"str"},{"t":"eq","v":"CH","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":2060,"wires":[["c688f2aa.6a699","5ed96634.fc1388"],["c688f2aa.6a699","2466bf57.69f8a"],["f98265f1.719eb8"]]},{"id":"3b2aa059.04a2a","type":"switch","z":"59556271.2c7d9c","name":"manActive dev","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HW","vt":"str"},{"t":"eq","v":"CH","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":2120,"wires":[["c688f2aa.6a699","5ed96634.fc1388"],["c688f2aa.6a699","2466bf57.69f8a"],["f98265f1.719eb8"]]},{"id":"efb35a04.6c8188","type":"link out","z":"59556271.2c7d9c","name":"HW Man/Tmr","links":["a1c6d288.fdf4d"],"x":935,"y":2120,"wires":[]},{"id":"60928d68.b5a7f4","type":"link out","z":"59556271.2c7d9c","name":"CH Man/Tmr","links":["638fbbe.9222144"],"x":935,"y":2160,"wires":[]},{"id":"2466bf57.69f8a","type":"function","z":"59556271.2c7d9c","name":"CH Tmr/Man","func":"msg.payload = msg.topic.concat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2160,"wires":[["60928d68.b5a7f4"]]},{"id":"5ed96634.fc1388","type":"function","z":"59556271.2c7d9c","name":"HW Tmr/Man","func":"msg.payload = msg.topic.concat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2120,"wires":[["efb35a04.6c8188"]]},{"id":"bb501b84.24af38","type":"comment","z":"59556271.2c7d9c","name":"HTTP /cmd POST handler","info":"","x":150,"y":1700,"wires":[]},{"id":"28862196.468aee","type":"comment","z":"59556271.2c7d9c","name":"HW & CH Timer/Man cmd","info":"","x":850,"y":2080,"wires":[]},{"id":"a00f42e7.dc61b","type":"comment","z":"59556271.2c7d9c","name":"CH Off/On cmd","info":"","x":820,"y":1920,"wires":[]},{"id":"82b7b814.fa8658","type":"comment","z":"59556271.2c7d9c","name":"HW Off/On cmd","info":"","x":820,"y":1780,"wires":[]},{"id":"2489580d.3edda8","type":"comment","z":"59556271.2c7d9c","name":"SP cmd","info":"","x":890,"y":1740,"wires":[]},{"id":"29d97720.a5aea8","type":"comment","z":"59556271.2c7d9c","name":"HW Boost cmds","info":"","x":700,"y":2220,"wires":[]},{"id":"548e9cb4.68db64","type":"comment","z":"59556271.2c7d9c","name":"CH Boost cmds","info":"","x":710,"y":2040,"wires":[]},{"id":"e1a4f33a.04a76","type":"link out","z":"59556271.2c7d9c","name":"getCHBoost30","links":["fb68031f.44204"],"x":1875,"y":1980,"wires":[]},{"id":"64a671a3.b3e29","type":"link out","z":"59556271.2c7d9c","name":"getCHBoost60","links":["8e92cc4c.e5059"],"x":1875,"y":2020,"wires":[]},{"id":"9f352c34.d0a33","type":"link out","z":"59556271.2c7d9c","name":"getCHBoost90","links":["ce89c777.17dc28"],"x":1875,"y":2060,"wires":[]},{"id":"78707308.4e367c","type":"link out","z":"59556271.2c7d9c","name":"getCHBoostC","links":["4682ec0d.ed0b24"],"x":1875,"y":2100,"wires":[]},{"id":"d0d67e6f.55cf4","type":"link out","z":"59556271.2c7d9c","name":"getHWBoost30","links":["fe171cec.3acfe"],"x":1875,"y":2160,"wires":[]},{"id":"f9ff54a2.b81bf8","type":"link out","z":"59556271.2c7d9c","name":"getHWBoost60","links":["f2531e95.9b10e"],"x":1875,"y":2200,"wires":[]},{"id":"18945264.6243ae","type":"link out","z":"59556271.2c7d9c","name":"getHWBoost90","links":["f3f47fff.6d02b"],"x":1875,"y":2240,"wires":[]},{"id":"60088103.67e66","type":"link out","z":"59556271.2c7d9c","name":"getHWBoostC","links":["4443868c.858a88"],"x":1875,"y":2280,"wires":[]},{"id":"b00aa991.7c8298","type":"switch","z":"59556271.2c7d9c","name":"Check :cmd","property":"req.params.cmd","propertyType":"msg","rules":[{"t":"eq","v":"page","vt":"str"},{"t":"eq","v":"HWOff","vt":"str"},{"t":"eq","v":"HWOn","vt":"str"},{"t":"eq","v":"CHOn","vt":"str"},{"t":"eq","v":"CHOff","vt":"str"},{"t":"eq","v":"CHBoost30","vt":"str"},{"t":"eq","v":"CHBoost60","vt":"str"},{"t":"eq","v":"CHBoost90","vt":"str"},{"t":"eq","v":"CHBoostC","vt":"str"},{"t":"eq","v":"HWBoost30","vt":"str"},{"t":"eq","v":"HWBoost60","vt":"str"},{"t":"eq","v":"HWBoost90","vt":"str"},{"t":"eq","v":"HWBoostC","vt":"str"},{"t":"eq","v":"SP","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":15,"x":1410,"y":1920,"wires":[["57e98ed0.95bd4"],["15bb6e70.8b64b2","79c753dc.1624ac"],["15bb6e70.8b64b2","b8eb5432.457c08"],["fab99845.aec8d8","15bb6e70.8b64b2"],["15bb6e70.8b64b2","f2a1c1d6.87aa9"],["e1a4f33a.04a76","15bb6e70.8b64b2"],["15bb6e70.8b64b2","64a671a3.b3e29"],["15bb6e70.8b64b2","9f352c34.d0a33"],["15bb6e70.8b64b2","78707308.4e367c"],["d0d67e6f.55cf4","15bb6e70.8b64b2"],["15bb6e70.8b64b2","f9ff54a2.b81bf8"],["15bb6e70.8b64b2","18945264.6243ae"],["15bb6e70.8b64b2","60088103.67e66"],["a7693c90.1fc38"],["e4b2cb5d.797fb8"]]},{"id":"247c0be9.d81a94","type":"comment","z":"59556271.2c7d9c","name":"to CHBoost switches","info":"","x":1990,"y":2040,"wires":[]},{"id":"802bb629.3a9108","type":"comment","z":"59556271.2c7d9c","name":"to HWBoost switches","info":"","x":2000,"y":2220,"wires":[]},{"id":"cefffed5.81223","type":"catch","z":"59556271.2c7d9c","name":"No HW!","scope":["7eb001ea.8e977"],"uncaught":false,"x":850,"y":2580,"wires":[["4313361c.4ba038"]]},{"id":"4313361c.4ba038","type":"link out","z":"59556271.2c7d9c","name":"Init HW - No file!","links":["a3506a5d.d67878","71828f24.11c44"],"x":995,"y":2580,"wires":[]},{"id":"a3506a5d.d67878","type":"link in","z":"59556271.2c7d9c","name":"Init HW file","links":["4313361c.4ba038"],"x":35,"y":2360,"wires":[["4ce16059.421dd"]]},{"id":"71828f24.11c44","type":"link in","z":"59556271.2c7d9c","name":"Init CH file","links":["4313361c.4ba038","d208d801.e29f38"],"x":35,"y":4140,"wires":[["cf34bb79.036518"]]},{"id":"d208d801.e29f38","type":"link out","z":"59556271.2c7d9c","name":"Init CH - No file!","links":["71828f24.11c44"],"x":995,"y":4340,"wires":[]},{"id":"8fb35e58.e2fdb","type":"catch","z":"59556271.2c7d9c","name":"No CH!","scope":["50ea6272.dd06cc"],"uncaught":false,"x":850,"y":4340,"wires":[["d208d801.e29f38"]]},{"id":"54c62613.a65738","type":"link out","z":"59556271.2c7d9c","name":"Slider SP","links":["b7c57d34.caa1f"],"x":1415,"y":740,"wires":[]},{"id":"f1f9fe55.27dd6","type":"link in","z":"59556271.2c7d9c","name":"ThermSPInput","links":["6a40cbe.f5c8b34","e9da200e.20f25"],"x":1035,"y":740,"wires":[["3e33db84.61e2a4"]]},{"id":"3bed693e.69da46","type":"switch","z":"59556271.2c7d9c","name":"","property":"switchStateCH","propertyType":"flow","rules":[{"t":"eq","v":"On","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1420,"wires":[["e9f42e14.eb589"]]},{"id":"dcf58c2d.e606f","type":"change","z":"59556271.2c7d9c","name":"CH Off/On pub","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":540,"wires":[["10e55900.967727"]]},{"id":"de6dd073.0c1fe","type":"change","z":"59556271.2c7d9c","name":"HW Off/On pub","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":500,"wires":[["10e55900.967727"]]},{"id":"48495696.59ce08","type":"link in","z":"59556271.2c7d9c","name":"HWOffOnpub","links":["180ba1b.73e5d5e"],"x":1035,"y":500,"wires":[["de6dd073.0c1fe"]]},{"id":"5f055392.e4378c","type":"link in","z":"59556271.2c7d9c","name":"CHOffOnpub","links":["53bf5c8a.92e514"],"x":1035,"y":540,"wires":[["dcf58c2d.e606f"]]},{"id":"53bf5c8a.92e514","type":"link out","z":"59556271.2c7d9c","name":"","links":["5f055392.e4378c"],"x":715,"y":1540,"wires":[]},{"id":"180ba1b.73e5d5e","type":"link out","z":"59556271.2c7d9c","name":"","links":["48495696.59ce08"],"x":1875,"y":1540,"wires":[]},{"id":"ceadabe.9d3f858","type":"comment","z":"59556271.2c7d9c","name":"pub HW off/heat","info":"","x":1980,"y":1540,"wires":[]},{"id":"a8471f4a.b2ab9","type":"comment","z":"59556271.2c7d9c","name":"pub HW off/heat","info":"","x":820,"y":1540,"wires":[]},{"id":"c5df3ac3.1f7b58","type":"link out","z":"59556271.2c7d9c","name":"/SLRCtrl/CHOffOn","links":["febd03c9.b1c54"],"x":735,"y":780,"wires":[]},{"id":"ca4cfd4f.df8f7","type":"link out","z":"59556271.2c7d9c","name":"/SLRCtrl/HWOffOn","links":["2343c709.3cf6b8"],"x":735,"y":820,"wires":[]},{"id":"9e550123.ef2da","type":"comment","z":"59556271.2c7d9c","name":"/CHOffOn","info":"","x":820,"y":780,"wires":[]},{"id":"392688db.4596a8","type":"comment","z":"59556271.2c7d9c","name":"/HWOffOn","info":"","x":820,"y":820,"wires":[]},{"id":"2343c709.3cf6b8","type":"link in","z":"59556271.2c7d9c","name":"subHWOffOnIP","links":["ca4cfd4f.df8f7"],"x":1295,"y":1440,"wires":[["bdd01f93.7c345"]]},{"id":"febd03c9.b1c54","type":"link in","z":"59556271.2c7d9c","name":"subHWOffOnIP","links":["c5df3ac3.1f7b58"],"x":135,"y":1440,"wires":[["8806e75e.e6dfe8"]]},{"id":"f75bd655.539cc8","type":"comment","z":"59556271.2c7d9c","name":"sub CH IP","info":"","x":60,"y":1440,"wires":[]},{"id":"37cb427d.235b0e","type":"comment","z":"59556271.2c7d9c","name":"sub HW IP","info":"","x":1220,"y":1440,"wires":[]},{"id":"ff01687f.2436b8","type":"rbe","z":"59556271.2c7d9c","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1560,"y":1540,"wires":[["bdd01f93.7c345"]]},{"id":"cec87a0c.35a028","type":"rbe","z":"59556271.2c7d9c","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":620,"y":1540,"wires":[["53bf5c8a.92e514"]]},{"id":"621244a8.5489bc","type":"delay","z":"59556271.2c7d9c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":4000,"wires":[["d675c15d.52cab"]]},{"id":"62ffad9c.e88ad4","type":"rbe","z":"59556271.2c7d9c","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1780,"y":1540,"wires":[["180ba1b.73e5d5e"]]},{"id":"65cf02ca.e0082c","type":"delay","z":"59556271.2c7d9c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":3500,"wires":[["ede885d6.9235e8"]]},{"id":"cba2d799.5953b8","type":"link out","z":"59556271.2c7d9c","name":"OnInitHW","links":["7db21da8.418dc4"],"x":1315,"y":2360,"wires":[]},{"id":"7db21da8.418dc4","type":"link in","z":"59556271.2c7d9c","name":"InitBoostHW","links":["cba2d799.5953b8"],"x":1475,"y":3660,"wires":[["fc7d49fb.c034b8","9a44dfc7.d7399"]]},{"id":"9033bc4c.b627","type":"link out","z":"59556271.2c7d9c","name":"OnInitCH","links":["78c11d5.14019e4","a1686247.99382"],"x":1215,"y":4140,"wires":[]},{"id":"78c11d5.14019e4","type":"link in","z":"59556271.2c7d9c","name":"InitBoostCH","links":["9033bc4c.b627"],"x":1495,"y":4160,"wires":[["c78a53c0.6fd69","2819dd93.c95412"]]},{"id":"bf189e51.8fd78","type":"comment","z":"59556271.2c7d9c","name":"Init BOOST CH","info":"","x":1400,"y":4160,"wires":[]},{"id":"d4ab46d8.aa7f28","type":"comment","z":"59556271.2c7d9c","name":"Init BOOST HW","info":"","x":1380,"y":3660,"wires":[]},{"id":"9eb6b1ea.6c026","type":"comment","z":"59556271.2c7d9c","name":"publish controls, off/on/thermostat setting etc","info":"","x":1570,"y":640,"wires":[]},{"id":"e4b2cb5d.797fb8","type":"template","z":"59556271.2c7d9c","name":"HTML ERR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>CMD Error</title>\n  </head>\n  <body> \n    <h1>ERROR, BAD CMD - {{req.params.cmd}}</h1>\n    <br>\n    <h2>Valid Commands:-</h2>\n    <h3>page&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;\n      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; GUI page</h3>\n    <h3>SP?temp=xx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Set\n      Thermostat SP to xx (Range 1 to 30)</h3>\n    <h3>HWOn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Hot Water - Switch Off</h3>\n    <h3>HWOn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Hot Water - Switch Off</h3>\n    <h3>CHOff&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - Switch Off</h3>\n    <h3>CHOn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - Switch On</h3>\n    <h3>HWBoost30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - 30 minute Boost</h3>\n    <h3>HWBoost60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - 60 minute Boost</h3>\n    <h3>HWBoost90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - 90 minute Boost</h3>\n    <h3>HWBoostC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - Clear Boost</h3>\n    <h3>CHBoost30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - 30 minute Boost</h3>\n    <h3>CHBoost60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - 60 minute Boost</h3>\n    <h3>CHBoost90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - 90 minute Boost</h3>\n    <h3>CHBoostC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - Clear Boost</h3>\n  </body>\n</html>\n","x":1750,"y":1800,"wires":[["b7bdfc83.e29a"]]},{"id":"6647b839.21b7a8","type":"trigger","z":"59556271.2c7d9c","name":"Startup timeout","op1":"startup","op2":"startupTimeout","op1type":"str","op2type":"str","duration":"3","extend":false,"overrideDelay":false,"units":"s","reset":"resetTimeout","bytopic":"all","topic":"topic","outputs":1,"x":140,"y":800,"wires":[["feaeea73.03f878"]]},{"id":"a1686247.99382","type":"link in","z":"59556271.2c7d9c","name":"initStartup","links":["9033bc4c.b627"],"x":35,"y":880,"wires":[["6647b839.21b7a8","edf6c364.72d25","f100796c.2f3818","f0ac9466.6d53d8","32838d00.387134","c790f3cf.32e99"]]},{"id":"feaeea73.03f878","type":"gate","z":"59556271.2c7d9c","name":"","controlTopic":"resetCH","defaultState":"closed","openCmd":"startup","closeCmd":"startupTimeout","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":330,"y":800,"wires":[["3230d58.ce7f82a"]]},{"id":"edf6c364.72d25","type":"change","z":"59556271.2c7d9c","name":"HWMan","rules":[{"t":"set","p":"payload","pt":"msg","to":"manActiveHW","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":840,"wires":[["fb26efd1.0277b"]]},{"id":"fb26efd1.0277b","type":"delay","z":"59556271.2c7d9c","name":"Init - Delay defaults","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":1000,"wires":[["feaeea73.03f878"]]},{"id":"bc36a956.10e6b8","type":"change","z":"59556271.2c7d9c","name":"close gate on SP","rules":[{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"startupTimeout","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":880,"wires":[["feaeea73.03f878"]]},{"id":"f100796c.2f3818","type":"change","z":"59556271.2c7d9c","name":"CHMan","rules":[{"t":"set","p":"payload","pt":"msg","to":"manActiveCH","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":880,"wires":[["fb26efd1.0277b"]]},{"id":"32838d00.387134","type":"change","z":"59556271.2c7d9c","name":"HWOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":960,"wires":[["fb26efd1.0277b"]]},{"id":"f0ac9466.6d53d8","type":"change","z":"59556271.2c7d9c","name":"CHOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":920,"wires":[["fb26efd1.0277b"]]},{"id":"c790f3cf.32e99","type":"change","z":"59556271.2c7d9c","name":"SP","rules":[{"t":"set","p":"payload","pt":"msg","to":"18","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/savedSP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":1000,"wires":[["fb26efd1.0277b"]]},{"id":"d600c9dd.66b548","type":"comment","z":"59556271.2c7d9c","name":"setup SLR default control values and publish if no values received on start","info":"","x":520,"y":920,"wires":[]},{"id":"1464f60c.d524ca","type":"change","z":"59556271.2c7d9c","name":"CH On","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":4280,"wires":[["1aaba7b2.8546f8"]]},{"id":"1aaba7b2.8546f8","type":"link out","z":"59556271.2c7d9c","name":"BoostUpdateCHON","links":["95b7f95c.bf8848"],"x":2395,"y":4280,"wires":[]},{"id":"ac77e945.c50748","type":"comment","z":"59556271.2c7d9c","name":"Update Off/On CH","info":"","x":2510,"y":4280,"wires":[]},{"id":"a27f0229.a3b03","type":"change","z":"59556271.2c7d9c","name":"HW On","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":3740,"wires":[["14797435.ceb76c"]]},{"id":"14797435.ceb76c","type":"link out","z":"59556271.2c7d9c","name":"BoostUpdateHWON","links":["cf154313.05cc6"],"x":2395,"y":3740,"wires":[]},{"id":"fb660a9a.c4e8f8","type":"comment","z":"59556271.2c7d9c","name":"Update Off/On HW","info":"","x":2510,"y":3740,"wires":[]},{"id":"dc6a7067.0e888","type":"change","z":"59556271.2c7d9c","name":"Get CH Mode Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"system_mode_heat\": \"\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1400,"wires":[["615493ab.90cebc"]]},{"id":"5b0ceaf8.a5fa74","type":"change","z":"59556271.2c7d9c","name":"Get HW Mode Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"system_mode_water\": \"\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1400,"wires":[["b9a05ae5.8acfc8"]]},{"id":"bb86307a.064c5","type":"change","z":"59556271.2c7d9c","name":"Create Thermostat  Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"thermSP","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1420,"wires":[["3bed693e.69da46"]]},{"id":"a7693c90.1fc38","type":"switch","z":"59556271.2c7d9c","name":"SP - temp 1 to 30?","property":"payload.temp","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"30","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":2160,"wires":[["7567f794.b46158","15bb6e70.8b64b2"],["181a700a.d2cad"]]},{"id":"181a700a.d2cad","type":"template","z":"59556271.2c7d9c","name":"SP temp ERR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>SP ERR</h1>\n    </body>\n</html>","x":1580,"y":2180,"wires":[["b7bdfc83.e29a"]]},{"id":"7567f794.b46158","type":"change","z":"59556271.2c7d9c","name":"temp to payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":2220,"wires":[["4549d651.2384f8"]]},{"id":"4549d651.2384f8","type":"link out","z":"59556271.2c7d9c","name":"/SP Get Out","links":["52734077.b6ea8"],"x":1495,"y":2220,"wires":[]},{"id":"140df049.33852","type":"comment","z":"59556271.2c7d9c","name":"to saved SP","info":"","x":1590,"y":2220,"wires":[]},{"id":"147840ac.724bef","type":"change","z":"59556271.2c7d9c","name":"SLR State pub","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/StateSLR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":460,"wires":[["10e55900.967727"]]},{"id":"56b31a2f.394b34","type":"link in","z":"59556271.2c7d9c","name":"StateSLRpub","links":["553ed96e.cb94f8"],"x":1035,"y":460,"wires":[["147840ac.724bef"]]},{"id":"553ed96e.cb94f8","type":"link out","z":"59556271.2c7d9c","name":"StateSLR","links":["56b31a2f.394b34"],"x":335,"y":480,"wires":[]},{"id":"4dd73596.969b4c","type":"link out","z":"59556271.2c7d9c","name":"/SLRCtrl/StateSLR","links":["a1c6d288.fdf4d"],"x":735,"y":660,"wires":[]},{"id":"4c7523e5.f5ef2c","type":"comment","z":"59556271.2c7d9c","name":"/StateSLR","info":"","x":820,"y":660,"wires":[]},{"id":"ba7cf37d.0f617","type":"change","z":"59556271.2c7d9c","name":"CH TS SP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \"Temp \")","tot":"jsonata"},{"t":"set","p":"curSP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":4700,"wires":[["b64168e7.3ca7c8"]]},{"id":"98d05310.01d02","type":"ui_numeric","z":"59556271.2c7d9c","d":true,"name":"Temp SP","label":"Temp SP","tooltip":"","group":"9adbac80.1043b","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"30","step":"0.5","x":340,"y":4760,"wires":[[]]},{"id":"b64168e7.3ca7c8","type":"ui_slider","z":"59556271.2c7d9c","name":"Temp SP","label":"Temp","tooltip":"","group":"9adbac80.1043b","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"30","step":"0.5","x":1380,"y":4700,"wires":[["5fa98f8b.4e576"]]},{"id":"5fa98f8b.4e576","type":"change","z":"59556271.2c7d9c","name":"New SP","rules":[{"t":"set","p":"newSP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":4700,"wires":[[]]},{"id":"dac7a132.53238","type":"function","z":"59556271.2c7d9c","name":"Reset SP","func":"msg.payload = '0';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":4380,"wires":[["b64168e7.3ca7c8"]]},{"id":"3550b33.f143c4c","type":"switch","z":"59556271.2c7d9c","name":"SP not  -1?","property":"tempSP","propertyType":"msg","rules":[{"t":"neq","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":4040,"wires":[["b208f364.1a693"]]},{"id":"ed84b46e.3458e8","type":"rbe","z":"59556271.2c7d9c","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1440,"y":4040,"wires":[["e9da200e.20f25"]]},{"id":"b208f364.1a693","type":"change","z":"59556271.2c7d9c","name":"SP to payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"tempSP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":4040,"wires":[["ed84b46e.3458e8"]]},{"id":"e9da200e.20f25","type":"link out","z":"59556271.2c7d9c","name":"TS Temp SP Out","links":["f1f9fe55.27dd6"],"x":1535,"y":4040,"wires":[]},{"id":"12eb1514.b2116b","type":"function","z":"59556271.2c7d9c","name":"Start in ms","func":"let time = msg.payload;\ntt=time.split(\":\");\nmsec=((tt[0]*3600)+(tt[1]*60))*1000;\nmsg.payload = msec;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":4620,"wires":[["e41b2f06.13771"]]},{"id":"d364a527.4f64a8","type":"function","z":"59556271.2c7d9c","name":"End in ms","func":"let time = msg.payload;\ntt=time.split(\":\");\nmsec=((tt[0]*3600)+(tt[1]*60))*1000;\nmsg.payload = msec;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":4660,"wires":[["3162248f.ad8cbc"]]},{"id":"3c184dd3.3405a2","type":"function","z":"59556271.2c7d9c","name":"Start in ms","func":"let time = msg.payload;\ntt=time.split(\":\");\nmsec=((tt[0]*3600)+(tt[1]*60))*1000;\nmsg.payload = msec;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":2880,"wires":[["336cc0f9.a502e"]]},{"id":"81181057.86b43","type":"function","z":"59556271.2c7d9c","name":"End in ms","func":"let time = msg.payload;\ntt=time.split(\":\");\nmsec=((tt[0]*3600)+(tt[1]*60))*1000;\nmsg.payload = msec;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":2920,"wires":[["44114f52.e5bc"]]},{"id":"87a36cb6.d5267","type":"mqtt-broker","name":"local mqtt broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aaa48299.7b526","type":"ui_group","name":"SLR/SLT Control/Status","tab":"ba08abb2.6e0ea8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4723d56a.5d74cc","type":"ui_group","name":"HW Daily Time Slots","tab":"ba08abb2.6e0ea8","order":4,"disp":true,"width":"4","collapse":false},{"id":"e22da41f.72dcc8","type":"ui_group","name":"HW Edit Time Slot","tab":"ba08abb2.6e0ea8","order":5,"disp":true,"width":"4","collapse":false},{"id":"9adbac80.1043b","type":"ui_group","name":"CH Edit Time Slot","tab":"ba08abb2.6e0ea8","order":3,"disp":true,"width":"4","collapse":false},{"id":"4e5fc46e.0580dc","type":"ui_group","name":"CH Daily Time Slots","tab":"ba08abb2.6e0ea8","order":2,"disp":true,"width":"4","collapse":false},{"id":"2d4355f4.616c0a","type":"ui_group","name":"Default","tab":"5e2e41aa.9826b","order":1,"disp":true,"width":"6","collapse":true},{"id":"ba08abb2.6e0ea8","type":"ui_tab","name":"Pi-ve Dashboard - Beta 2.03","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5e2e41aa.9826b","type":"ui_tab","name":"Home","icon":"dashboard","order":9}]