Old Node-RED flows/Pi-ve flow v1-30beta
[{"id":"807d94c.a1e0d68","type":"tab","label":"Pi-ve v1.30","disabled":false,"info":""},{"id":"4c0219ec.bc2b48","type":"mqtt in","z":"807d94c.a1e0d68","name":"","topic":"pive2mqtt/SLR/#","qos":"2","datatype":"auto","broker":"c5d162de.95589","x":140,"y":280,"wires":[["71d8790b.438d88"]]},{"id":"3f27eef7.04f092","type":"split","z":"807d94c.a1e0d68","name":"SplitKeys","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":120,"y":400,"wires":[["4a974874.1a7698","c6e3b5fd.f80348"]]},{"id":"4a974874.1a7698","type":"switch","z":"807d94c.a1e0d68","name":"SLR MQTT Topics","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"linkquality","vt":"str"},{"t":"eq","v":"local_temperature_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_water","vt":"str"},{"t":"eq","v":"running_state_heat","vt":"str"},{"t":"eq","v":"running_state_water","vt":"str"},{"t":"eq","v":"system_mode","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_heat","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_water","vt":"str"},{"t":"eq","v":"system_mode_heat","vt":"str"},{"t":"eq","v":"system_mode_water","vt":"str"},{"t":"eq","v":"last_seen","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":470,"y":300,"wires":[[],["fe5481bf.bd1a3"],["4cb25506.b68eec"],["389e3438.70067c"],["a2f26a0c.3212f8"],["8597cd93.cf261"],["1c60ab17.7ade45"],["971d4d1d.40a24"],["5d697786.2d3778"],["6ebccf6a.d80ef"],["a10f5d38.83fcc"],["849d1923.f11898"]]},{"id":"76366c07.97aa24","type":"inject","z":"807d94c.a1e0d68","name":"CH system_mode (payload) / 1min Ticker","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"system_mode_heat\": \"\"}","payloadType":"str","x":210,"y":80,"wires":[["c2cffe4b.2a006"]]},{"id":"9100cf5b.b2e9f","type":"mqtt out","z":"807d94c.a1e0d68","name":"Controller/heat/set/occupied_heating_setpoint","topic":"pive2mqtt/SLR/heat/set/occupied_heating_setpoint","qos":"2","retain":"true","broker":"c5d162de.95589","x":1300,"y":200,"wires":[]},{"id":"9a86b4fb.c64178","type":"mqtt out","z":"807d94c.a1e0d68","name":"Controller/heat/set/system_mode","topic":"pive2mqtt/SLR/heat/set/system_mode","qos":"2","retain":"true","broker":"c5d162de.95589","x":1260,"y":260,"wires":[]},{"id":"6c45a8d0.1b6768","type":"function","z":"807d94c.a1e0d68","name":"System Heat Payload/Boost off?","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_heat\": value}\nmsg.value = value\nif (msg.value === 'heat'){\n    flow.set('switchStateCH', \"On\");\n}\nelse {\n    flow.set('switchStateCH', \"Off\");\n    flow.set('boostTimeEndCH', flow.get('SSE'));    //effectively ends boost (if active)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1340,"wires":[["b3faeb78.9568d8","120b8199.9fc99e","fa7c7053.0a768"]]},{"id":"5cb2b355.86f57c","type":"function","z":"807d94c.a1e0d68","name":"System Water Payload/Boost off?","func":"var value = msg.payload;\nmsg.value = value\nmsg.payload = {\"system_mode_water\": value}\nflow.set('switchStateHW', msg.value);\nif (msg.value === 'heat'){\n    flow.set('switchStateHW', \"On\");\n}\nelse {\n    flow.set('switchStateHW', \"Off\");\n    flow.set('boostTimeEndHW', flow.get('SSE'));    //effectively ends boost (if active)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":1340,"wires":[["fadfd567.0b47e8","71054637.23fee8","86d5a155.46278"]]},{"id":"c2cffe4b.2a006","type":"mqtt out","z":"807d94c.a1e0d68","name":"Controller/get","topic":"pive2mqtt/SLR/get","qos":"2","retain":"true","broker":"c5d162de.95589","x":200,"y":140,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"71054637.23fee8","type":"function","z":"807d94c.a1e0d68","name":"\"temperature_setpoint_hold_water\" pub to SLR","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":1380,"wires":[["5f5fadb3.836ed4"]]},{"id":"af564239.89f13","type":"mqtt out","z":"807d94c.a1e0d68","name":"Controller/set","topic":"pive2mqtt/SLR/set","qos":"2","retain":"true","broker":"c5d162de.95589","x":1190,"y":140,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"120b8199.9fc99e","type":"function","z":"807d94c.a1e0d68","name":"\"temperature_setpoint_hold_heat\" pub to SLR","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1380,"wires":[["f501882c.117a88"]]},{"id":"cd2c66e1.16cb68","type":"link out","z":"807d94c.a1e0d68","name":"HW Payload out","links":["79c0a34e.54967c"],"x":1575,"y":1400,"wires":[]},{"id":"79c0a34e.54967c","type":"link in","z":"807d94c.a1e0d68","name":"Controller/get","links":["cd2c66e1.16cb68","bded5310.8d646","ffee2a96.057c78"],"x":55,"y":140,"wires":[["c2cffe4b.2a006"]]},{"id":"ffee2a96.057c78","type":"link out","z":"807d94c.a1e0d68","name":"CH Payload out","links":["79c0a34e.54967c"],"x":395,"y":1400,"wires":[]},{"id":"5f5fadb3.836ed4","type":"link out","z":"807d94c.a1e0d68","name":"Controller/set","links":["bc5d6a3a.1d1d38"],"x":2215,"y":1380,"wires":[]},{"id":"bc5d6a3a.1d1d38","type":"link in","z":"807d94c.a1e0d68","name":"Controller/set","links":["5f5fadb3.836ed4","f501882c.117a88","fadfd567.0b47e8","b3faeb78.9568d8"],"x":1035,"y":140,"wires":[["af564239.89f13"]]},{"id":"f501882c.117a88","type":"link out","z":"807d94c.a1e0d68","name":"Controller/set","links":["bc5d6a3a.1d1d38"],"x":1015,"y":1380,"wires":[]},{"id":"fadfd567.0b47e8","type":"link out","z":"807d94c.a1e0d68","name":"Controller/set","links":["bc5d6a3a.1d1d38","1d5dc33b.7b0dad"],"x":1835,"y":1340,"wires":[]},{"id":"b3faeb78.9568d8","type":"link out","z":"807d94c.a1e0d68","name":"Controller/set","links":["bc5d6a3a.1d1d38"],"x":635,"y":1340,"wires":[]},{"id":"53a10ad1.76c2c4","type":"delay","z":"807d94c.a1e0d68","name":"Delay Therm Payload & pub","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":1460,"wires":[["4c9f0c37.16b854"]]},{"id":"6ebccf6a.d80ef","type":"link out","z":"807d94c.a1e0d68","name":"system_mode_heat","links":["a589eb81.20f098","fddde02d.ff846"],"x":655,"y":480,"wires":[]},{"id":"a10f5d38.83fcc","type":"link out","z":"807d94c.a1e0d68","name":"system_mode_water","links":["bc1bd10b.98732"],"x":675,"y":520,"wires":[]},{"id":"4cb25506.b68eec","type":"link out","z":"807d94c.a1e0d68","name":"occupied_heating_setpoint_heat","links":["e439906c.aae5"],"x":655,"y":200,"wires":[]},{"id":"a2f26a0c.3212f8","type":"link out","z":"807d94c.a1e0d68","name":"running_state_heat","links":["eecfdf4f.402fb","5e5ffe2b.c2ab6"],"x":655,"y":280,"wires":[]},{"id":"eecfdf4f.402fb","type":"link in","z":"807d94c.a1e0d68","name":"running_state_heat","links":["a2f26a0c.3212f8"],"x":75,"y":1080,"wires":[["75da72d.569428c","1d28657a.52dfeb","7c321e99.241d"]]},{"id":"8597cd93.cf261","type":"link out","z":"807d94c.a1e0d68","name":"running_state_water","links":["a41eeb9e.e97aa8","9331ed15.b485"],"x":675,"y":320,"wires":[]},{"id":"a41eeb9e.e97aa8","type":"link in","z":"807d94c.a1e0d68","name":"running_state_water","links":["8597cd93.cf261"],"x":1035,"y":1080,"wires":[["caf33838.abd2f8","bef65e28.34dfc","eae42b87.4fdaf8"]]},{"id":"fe5481bf.bd1a3","type":"link out","z":"807d94c.a1e0d68","name":"local_temperature_heat","links":["6447227c.b6835c","26c6923b.47bdde"],"x":655,"y":160,"wires":[]},{"id":"6447227c.b6835c","type":"link in","z":"807d94c.a1e0d68","name":"Temp Disp","links":["fe5481bf.bd1a3"],"x":1035,"y":980,"wires":[["e32c4bbf.2de5f8","2769b597.662e7a"]]},{"id":"b0a36c55.b0619","type":"comment","z":"807d94c.a1e0d68","name":"Pi-ve - CH/HW Controller Project (Pi Zero W + Hive SLR/SLT) Beta 1.30","info":"","x":270,"y":40,"wires":[]},{"id":"22e933ec.f745fc","type":"comment","z":"807d94c.a1e0d68","name":"local_temperature_heat","info":"","x":780,"y":160,"wires":[]},{"id":"f11580c6.ce172","type":"comment","z":"807d94c.a1e0d68","name":"occupied_heating_setpoint_heat","info":"","x":810,"y":200,"wires":[]},{"id":"5ee4511a.d2339","type":"comment","z":"807d94c.a1e0d68","name":"running_state_water","info":"","x":790,"y":320,"wires":[]},{"id":"94add4e.6d6c128","type":"link in","z":"807d94c.a1e0d68","name":"Controller/heat/set/occupied_heating_setpoint","links":["4c9f0c37.16b854","3e9ed23e.863e1e","539dcc76.2b5964","ec71a52d.7e3698"],"x":1035,"y":200,"wires":[["9100cf5b.b2e9f"]]},{"id":"4c9f0c37.16b854","type":"link out","z":"807d94c.a1e0d68","name":"Controller/heat/set/occupied_heating_setpoint","links":["94add4e.6d6c128"],"x":1015,"y":1460,"wires":[]},{"id":"7bf9c27c.dc6a2c","type":"comment","z":"807d94c.a1e0d68","name":"running_state_heat","info":"","x":770,"y":280,"wires":[]},{"id":"33d94e0a.4b5e82","type":"comment","z":"807d94c.a1e0d68","name":"system_mode_heat","info":"","x":770,"y":480,"wires":[]},{"id":"a4f231da.00413","type":"comment","z":"807d94c.a1e0d68","name":"system_mode_water","info":"","x":790,"y":520,"wires":[]},{"id":"1c60ab17.7ade45","type":"link out","z":"807d94c.a1e0d68","name":"system_mode","links":["bbca81c.524588"],"x":655,"y":440,"wires":[]},{"id":"516357c.04d1ba8","type":"comment","z":"807d94c.a1e0d68","name":"system_mode","info":"","x":750,"y":440,"wires":[]},{"id":"971d4d1d.40a24","type":"link out","z":"807d94c.a1e0d68","name":"temperature_setpoint_hold_heat","links":["74310ead.91b41","ffe572b5.3a925"],"x":655,"y":360,"wires":[]},{"id":"8b12536.6b77bb","type":"comment","z":"807d94c.a1e0d68","name":"temperature_setpoint_hold_heat","info":"","x":810,"y":360,"wires":[]},{"id":"5d697786.2d3778","type":"link out","z":"807d94c.a1e0d68","name":"temperature_setpoint_hold_water","links":["aece101.52c99f","9e7ac1eb.398c8"],"x":675,"y":400,"wires":[]},{"id":"7e230058.78cd3","type":"comment","z":"807d94c.a1e0d68","name":"temperature_setpoint_hold_water","info":"","x":830,"y":400,"wires":[]},{"id":"389e3438.70067c","type":"link out","z":"807d94c.a1e0d68","name":"occupied_heating_setpoint_water","links":["1d5dc33b.7b0dad"],"x":675,"y":240,"wires":[]},{"id":"a27637c9.f3cbb8","type":"comment","z":"807d94c.a1e0d68","name":"occupied_heating_setpoint_water","info":"","x":830,"y":240,"wires":[]},{"id":"b4b1925c.ff086","type":"comment","z":"807d94c.a1e0d68","name":"Heat and Hot Water On/Off flow - triggers relevant mqtt messages","info":"","x":1130,"y":1340,"wires":[]},{"id":"57a836a5.c5cdb8","type":"comment","z":"807d94c.a1e0d68","name":"Display CH Thermostat Sliders - Get Changes. Publish to SLR and save","info":"","x":1350,"y":800,"wires":[]},{"id":"288a47b7.93f728","type":"comment","z":"807d94c.a1e0d68","name":"Display Thermostat Temperature Gauge and Value","info":"","x":1530,"y":980,"wires":[]},{"id":"74efde18.26315","type":"link in","z":"807d94c.a1e0d68","name":"Controller/heat/set/system_mode","links":["83d9d7b7.0f43a8"],"x":1035,"y":260,"wires":[["9a86b4fb.c64178"]]},{"id":"b3c03fdf.97506","type":"comment","z":"807d94c.a1e0d68","name":"Display CH and HW demand_state and demand icons","info":"","x":800,"y":1080,"wires":[]},{"id":"185281bf.e1b50e","type":"comment","z":"807d94c.a1e0d68","name":"mqqt publish topics to SLR","info":"","x":1130,"y":100,"wires":[]},{"id":"73529bb2.0d8d94","type":"comment","z":"807d94c.a1e0d68","name":"mqqt subscribe to SLR topics","info":"","x":180,"y":240,"wires":[]},{"id":"71d8790b.438d88","type":"json","z":"807d94c.a1e0d68","name":"","property":"payload","action":"","pretty":false,"x":110,"y":360,"wires":[["3f27eef7.04f092"]]},{"id":"49e4a380.8f30bc","type":"comment","z":"807d94c.a1e0d68","name":"SLR/SLT status (online/offline)","info":"","x":280,"y":480,"wires":[]},{"id":"c6e3b5fd.f80348","type":"trigger","z":"807d94c.a1e0d68","name":"online trigger 65 secs","op1":"online","op2":"offline","op1type":"str","op2type":"str","duration":"65","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":160,"y":520,"wires":[["ba1036a0.442e58","d01e232a.c5ec3"]]},{"id":"c0d5cbb0.64eba8","type":"template","z":"807d94c.a1e0d68","name":"HTML page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK - {{req.params.cmd}}</h1>\n    </body>\n</html>","x":1750,"y":1760,"wires":[["e8ff14fc.ee3bc8"]]},{"id":"e8ff14fc.ee3bc8","type":"http response","z":"807d94c.a1e0d68","name":"","x":2010,"y":1760,"wires":[]},{"id":"8c24adec.7eb08","type":"http in","z":"807d94c.a1e0d68","name":"","url":"/cmd","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1820,"wires":[["d7c53531.c911b8"]]},{"id":"a82fe5cc.0a20c8","type":"switch","z":"807d94c.a1e0d68","name":"HW state","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"On","vt":"str"},{"t":"cont","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":1840,"wires":[["c5fcbdb6.605fb","59c5ea15.ac2a44"],["c5fcbdb6.605fb","4b0f02a.19541fc"]]},{"id":"ca170748.0b0ac8","type":"link out","z":"807d94c.a1e0d68","name":"HW On","links":["5267cb08.b3eac4"],"x":935,"y":1820,"wires":[]},{"id":"cc6ae35c.d7f71","type":"link out","z":"807d94c.a1e0d68","name":"HW Off","links":["5267cb08.b3eac4"],"x":935,"y":1860,"wires":[]},{"id":"62491ec9.07aa9","type":"link out","z":"807d94c.a1e0d68","name":"/GetHW","links":["5267cb08.b3eac4"],"x":2215,"y":1840,"wires":[]},{"id":"2d5c6707.d23ec8","type":"switch","z":"807d94c.a1e0d68","name":"Check topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"HW","vt":"str"},{"t":"eq","v":"CH","vt":"str"},{"t":"eq","v":"SP","vt":"str"},{"t":"eq","v":"CHBoost","vt":"str"},{"t":"eq","v":"HWBoost","vt":"str"},{"t":"eq","v":"tmrActive","vt":"str"},{"t":"eq","v":"manActive","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":110,"y":1980,"wires":[["a82fe5cc.0a20c8"],["bb76fc84.24309"],["9fd35ab.74257a8"],["d42e7059.c3d46"],["8f3cbc34.4eee2"],["66a15ee3.0eb8"],["dd0059d5.1363d8"],["67cefe3c.d12b5"]]},{"id":"d7c53531.c911b8","type":"split","z":"807d94c.a1e0d68","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":90,"y":1880,"wires":[["2d5c6707.d23ec8"]]},{"id":"bb76fc84.24309","type":"switch","z":"807d94c.a1e0d68","name":"CH state","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"On","vt":"str"},{"t":"cont","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":1880,"wires":[["c5fcbdb6.605fb","a0a6f1fc.06e4"],["c5fcbdb6.605fb","8cfbf652.4e4f48"]]},{"id":"b41169b1.911b78","type":"link out","z":"807d94c.a1e0d68","name":"CH On","links":["456ae380.381f1c"],"x":935,"y":1960,"wires":[]},{"id":"9457d136.cc2f6","type":"link out","z":"807d94c.a1e0d68","name":"CH Off","links":["f58a9dac.df5d6","456ae380.381f1c"],"x":935,"y":2000,"wires":[]},{"id":"d6b6e26b.694fb","type":"link out","z":"807d94c.a1e0d68","name":"/GetCH","links":["456ae380.381f1c"],"x":2215,"y":1940,"wires":[]},{"id":"5c9e0d04.a433a4","type":"comment","z":"807d94c.a1e0d68","name":"HTTP GETs","info":"","x":1410,"y":1700,"wires":[]},{"id":"9fd35ab.74257a8","type":"switch","z":"807d94c.a1e0d68","name":"SP Value","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"btwn","v":"1","vt":"num","v2":"30","v2t":"num"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":3,"x":340,"y":1780,"wires":[["67cefe3c.d12b5"],["702f8a4b.290114","c5fcbdb6.605fb"],["67cefe3c.d12b5"]]},{"id":"702f8a4b.290114","type":"link out","z":"807d94c.a1e0d68","name":"/SP Out","links":["8d49cf86.a6335"],"x":815,"y":1740,"wires":[]},{"id":"67cefe3c.d12b5","type":"template","z":"807d94c.a1e0d68","name":"ERR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>ERR</h1>\n    </body>\n    <meta http-equiv=\"refresh\" content=\"3; url=/ctrl/page\" />\n</html>","x":550,"y":1740,"wires":[["792162de.07191c"]]},{"id":"792162de.07191c","type":"http response","z":"807d94c.a1e0d68","name":"","x":890,"y":1700,"wires":[]},{"id":"c5fcbdb6.605fb","type":"template","z":"807d94c.a1e0d68","name":"OK","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK</h1>\n    </body>\n    <meta http-equiv=\"refresh\" content=\"3; url=/ctrl/page\" />\n</html>","x":550,"y":1700,"wires":[["792162de.07191c"]]},{"id":"da578c2.138ed7","type":"http in","z":"807d94c.a1e0d68","name":"","url":"/ctrl/:cmd","method":"get","upload":false,"swaggerDoc":"","x":1410,"y":1780,"wires":[["1cec5b3d.0b9085"]]},{"id":"2769b597.662e7a","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1000,"wires":[[]]},{"id":"756436bf.dc78c8","type":"template","z":"807d94c.a1e0d68","name":"ctrl page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta http-equiv=\"refresh\" content=\"30\">\n    <title>Pi-ve ctrl v0.47</title>\n    <style>\n    body {font-family: Arial, serif;}\n      \n#slidecontainer {\n    width: 100%;\n}\n\nbutton {/* Customize the button here*/\n  font-size:20px;\n  width:100px;\n  height:35px;\n  background:lightblue;\n  border-radius: 12px;\n}      \n      \n.slider {\n    -webkit-appearance: none;\n    -webkit-transform: rotate(0deg);\n    width: 400px;\n    height: 10px;\n  position:absolute;\n    top:50%;\n    left:50%;\n    left:0px;\n    top:230px;\n    background: #e2dcdc;\n    outline: none;\n    opacity: 0.7;\n    -webkit-transition: .2s;\n    transition: opacity .2s;\n}\n\ninput[type=\"submit\"] {\n  -webkit-appearance: none;\n  -moz-appearance:    none;\n  appearance:         none;\n  font-size:20px;\n  padding: 0px;\n  height: 35px;\n  width: 100px;\n  border-radius: 12px;\n}\n          \nsection {\n    display: table;\n    width: 100%;\n    background-color: ;\n  \tmax-width: 420px;\n  \tbackground-color: ;\n}\n\n\n.bcol-1, .bcol-2, .bcol-3, .bcol-4 {\n    width: 0%;\n    display: table-cell;\n    background-color: ;\n}\n\n      \n}\n</style> </head>\n  <body>\n    <h1>Pi-ve HW/CH Controller</h1>\n    <h2><span style=\" color:blue; background-color: #e2dcdc;\">Temperature:\n        {{flow.temp}} C</span></h2>\n    <h2 style=\" color:blue;\">Set Thermostat Setpoint</h2>\n    <form action=\"/cmd\" method=\"POST\" id=\"form\" style=\"width: 455px;\">\n      <p> <input name=\"SP\" min=\"0\" max=\"30\" value=\"20\" step=\"0.5\" class=\"slider\"\n\n          id=\"myRange\" type=\"range\"> </p>\n      <h3>SP Temp: <span id=\"sp\"></span>C</h3>\n      <br>\n      <br>\n      <button type=\"submit\" value=\"SP\">Submit</button>\n      <p></p>\n      <br>\n    </form>\n    <h2><span style=\"color: #3333ff; background-color: #e2dcdc;\">HW -\n        {{flow.switchStateHW}} / {{flow.modeHW}} / Demand = {{flow.DemandHW}}</span></h2>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"HW\" value=\"On\">HWOn</button>\n        </form>\n      </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"HW\" value=\"Off\">HWOff</button>\n          </form>\n        </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"tmrActive\" value=\"HW\">Timer\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"manActive\" value=\"HW\">Manual\n              </button></form> </div>\n      </div>\n    </section>\n    <h2> <span style=\"color: #3333ff; background-color: #e2dcdc;\">CH -\n        {{flow.switchStateCH}} / {{flow.modeCH}} / Demand = {{flow.DemandCH}}</span></h2>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"CH\" value=\"On\">CHOn</button>\n        </form>\n      </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"CH\" value=\"Off\">CHOff</button>\n          </form>\n        </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"tmrActive\" value=\"CH\">Timer\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"manActive\" value=\"CH\">Manual\n              </button></form> </div>\n      </div>\n    </section>\n    <p> </p>\n    <br>\n    <h2><span style=\"color: #3333ff; background-color: #e2dcdc;\">HW Boost -\n        {{flow.boostTxtHW}} {{flow.boostTimeTxtHW}}</span> </h2>\n    <p> </p>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"30\">+30m</button>\n        </form>\n      </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"60\">+60m\n              </button></form> </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"90\">+90m\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"HWBoost\" value=\"Off\">Off\n              </button></form> </div>\n      </div>\n    </section>\n    <h2><span style=\"color: #3333ff; background-color: #e2dcdc;\">CH Boost -\n        {{flow.boostTxtCH}} {{flow.boostTimeTxtCH}}<br>\n      </span></h2>\n    <section>\n      <div class=\"bcol-1\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"30\">+30m\n            </button></form> </div>\n      <div class=\"bcol-2\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"60\">+60m\n              </button></form> </div>\n      </div>\n      <div class=\"bcol-3\"></div>\n      <div class=\"section\">\n        <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"90\">+90m\n            </button></form> </div>\n      <div class=\"bcol-4\">\n        <div class=\"section\">\n          <form action=\"/cmd\" method=\"post\"> <button name=\"CHBoost\" value=\"Off\">Off\n              </button></form> </div>\n      </div>\n    </section>\n    <script>      \nlet thermSP = {{flow.thermSP}};\nvar slider = document.getElementById(\"myRange\");\ndocument.getElementById(\"myRange\").defaultValue = thermSP;\n\nslider = document.getElementById(\"myRange\");\nvar output = document.getElementById(\"sp\");\noutput.innerHTML = slider.value;\n\nslider.oninput = function() {\n  output.innerHTML = this.value;\n}\n\nslider.onmouseup = function () {\n  document.getElementById(\"form\").submit();\n} \n  </script>\n    \n  </body>\n</html>","x":1760,"y":1720,"wires":[["e8ff14fc.ee3bc8"]]},{"id":"40e68022.48d25","type":"ui_slider","z":"807d94c.a1e0d68","name":"","label":"Thermostat SP","tooltip":"","group":"22efc0.bc80d04","order":5,"width":6,"height":2,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"1","max":"30","step":"0.5","x":1180,"y":740,"wires":[["ec71a52d.7e3698","5370a6f1.6a9108"]]},{"id":"d1959768.993928","type":"ui_text","z":"807d94c.a1e0d68","group":"22efc0.bc80d04","order":1,"width":"3","height":1,"name":"Last Seen","label":"Last Seen:","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":480,"wires":[]},{"id":"75da72d.569428c","type":"ui_text","z":"807d94c.a1e0d68","group":"22efc0.bc80d04","order":7,"width":"2","height":1,"name":"CH Demand","label":"Demand:","format":"","layout":"row-spread","x":210,"y":1080,"wires":[]},{"id":"caf33838.abd2f8","type":"ui_text","z":"807d94c.a1e0d68","group":"22efc0.bc80d04","order":15,"width":"2","height":1,"name":"HW Demand","label":"Demand:","format":"","layout":"row-spread","x":1170,"y":1080,"wires":[]},{"id":"735bb97e.772558","type":"ui_text","z":"807d94c.a1e0d68","group":"22efc0.bc80d04","order":17,"width":"2","height":1,"name":"HW State","label":"State:","format":"","layout":"row-spread","x":1780,"y":1500,"wires":[]},{"id":"86b4ea7e.b1baf8","type":"ui_text","z":"807d94c.a1e0d68","group":"22efc0.bc80d04","order":10,"width":"2","height":1,"name":"CH State","label":"State:","format":"","layout":"row-spread","x":620,"y":1500,"wires":[]},{"id":"ba1036a0.442e58","type":"ui_text","z":"807d94c.a1e0d68","group":"22efc0.bc80d04","order":2,"width":"2","height":1,"name":"State","label":"State:","format":"{{value}}","layout":"row-spread","x":490,"y":520,"wires":[]},{"id":"e32c4bbf.2de5f8","type":"ui_gauge","z":"807d94c.a1e0d68","name":"Thermostat Temp Gauge","group":"22efc0.bc80d04","order":4,"width":"6","height":"3","gtype":"gage","title":"SLR Thermostat Temperature","label":"","format":"{{value | number:2}}","min":0,"max":"30","colors":["#a9402d","#e6e600","#3acb4a"],"seg1":"15","seg2":"18","x":1210,"y":960,"wires":[]},{"id":"849d1923.f11898","type":"function","z":"807d94c.a1e0d68","name":"Store 'Last Seen'","func":"let thisString = new Date(msg.payload);\nlet spl = thisString.toString().split(\" \");\nlet tme = spl[4].toString().split(\":\");\n\nmsg.payload = tme[0] + \":\" + tme[1];\nflow.set('lastSeen', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":440,"wires":[["d1959768.993928"]]},{"id":"4cae5470.cdf88c","type":"ui_switch","z":"807d94c.a1e0d68","name":"HW Switch","label":"Manual Mode - Off/On","tooltip":"","group":"22efc0.bc80d04","order":19,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"offonSwitch","topicType":"str","style":"","onvalue":"heat","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":1470,"y":1460,"wires":[["8e86e2.ae80292","735bb97e.772558","6feab7c0.ca3068","41b5e902.5fbcc8","5cb2b355.86f57c"]]},{"id":"cce47c09.e1c62","type":"ui_switch","z":"807d94c.a1e0d68","name":"CH Switch","label":"Manual Mode - Off/On","tooltip":"","group":"22efc0.bc80d04","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"offonSwitch","topicType":"str","style":"","onvalue":"heat","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":310,"y":1460,"wires":[["fbe87885.d67f88","86b4ea7e.b1baf8","d03a4425.0cf638","7889a055.998bb","6c45a8d0.1b6768","e4e77549.eb2e28"]]},{"id":"939c3a28.190858","type":"change","z":"807d94c.a1e0d68","name":"-> weekday/dayIndex HW","rules":[{"t":"set","p":"dayIndexHW","pt":"flow","to":"$number(msg.topic)\t","tot":"jsonata"},{"t":"set","p":"selectedDayHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2540,"wires":[["37da2a10.72b9d6"]]},{"id":"7064845e.c9774c","type":"ui_button","z":"807d94c.a1e0d68","name":"Sun HW","group":"87aeb55.3e6ea48","order":7,"width":"1","height":"1","passthru":true,"label":"Sun","tooltip":"Show Sunday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions ","color":"","bgcolor":"","icon":"","payload":"Sun","payloadType":"str","topic":"0","topicType":"str","x":280,"y":2540,"wires":[["939c3a28.190858"]]},{"id":"87e206c8.adb098","type":"ui_button","z":"807d94c.a1e0d68","name":"Mon HW","group":"87aeb55.3e6ea48","order":1,"width":"1","height":"1","passthru":true,"label":"Mon","tooltip":"Show Monday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Mon","payloadType":"str","topic":"1","topicType":"str","x":280,"y":2580,"wires":[["939c3a28.190858"]]},{"id":"ecd4c036.b79dc","type":"ui_button","z":"807d94c.a1e0d68","name":"Tue HW","group":"87aeb55.3e6ea48","order":2,"width":"1","height":"1","passthru":true,"label":"Tue","tooltip":"Show Tuesday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Tue","payloadType":"str","topic":"2","topicType":"str","x":280,"y":2620,"wires":[["939c3a28.190858"]]},{"id":"1564ccfd.8f1a73","type":"ui_button","z":"807d94c.a1e0d68","name":"Wed HW","group":"87aeb55.3e6ea48","order":3,"width":"1","height":"1","passthru":true,"label":"Wed","tooltip":"Show Wednesday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Wed","payloadType":"str","topic":"3","topicType":"str","x":280,"y":2660,"wires":[["939c3a28.190858"]]},{"id":"a1c6aab1.4bee98","type":"ui_button","z":"807d94c.a1e0d68","name":"Thu HW","group":"87aeb55.3e6ea48","order":4,"width":"1","height":"1","passthru":true,"label":"Thu","tooltip":"Show Thursday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Thu","payloadType":"str","topic":"4","topicType":"str","x":280,"y":2700,"wires":[["939c3a28.190858"]]},{"id":"230a4130.2defee","type":"ui_button","z":"807d94c.a1e0d68","name":"Fri HW","group":"87aeb55.3e6ea48","order":5,"width":"1","height":"1","passthru":true,"label":"Fri","tooltip":"Show Friday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Fri","payloadType":"str","topic":"5","topicType":"str","x":270,"y":2740,"wires":[["939c3a28.190858"]]},{"id":"13053924.802267","type":"ui_button","z":"807d94c.a1e0d68","name":"Sat HW","group":"87aeb55.3e6ea48","order":6,"width":"1","height":"1","passthru":true,"label":"Sat","tooltip":"Show Saturday HW Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Sat","payloadType":"str","topic":"6","topicType":"str","x":280,"y":2780,"wires":[["939c3a28.190858"]]},{"id":"37da2a10.72b9d6","type":"file in","z":"807d94c.a1e0d68","name":"Read HW (1)","filename":"Pive-HW","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":870,"y":2540,"wires":[["3a14e4f.f8fcb1c"]]},{"id":"3a14e4f.f8fcb1c","type":"json","z":"807d94c.a1e0d68","name":"","property":"payload","action":"","pretty":false,"x":610,"y":2580,"wires":[["b7d784e6.094d08"]]},{"id":"eeed4db5.3d7a4","type":"link in","z":"807d94c.a1e0d68","name":"Submit HW","links":["6ff2b363.6043ac","3b33938d.819abc"],"x":935,"y":2360,"wires":[["5c7e4d81.8aff34","fbfa7020.ab9e9","37da2a10.72b9d6"]]},{"id":"2bda398e.00bf96","type":"change","z":"807d94c.a1e0d68","name":"-> weekday/dayIndexHW","rules":[{"t":"set","p":"dayIndexHW","pt":"flow","to":"dayIndexHW","tot":"msg"},{"t":"set","p":"selectedDayHW","pt":"flow","to":"dayHW","tot":"msg"},{"t":"set","p":"dbWriteLockHW","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostHW","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":2460,"wires":[["5c7e4d81.8aff34","fbfa7020.ab9e9","37da2a10.72b9d6"]]},{"id":"b7d784e6.094d08","type":"change","z":"807d94c.a1e0d68","name":"set weekdayHW","rules":[{"t":"set","p":"stored-dbHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2640,"wires":[["b246e0e4.4da17"]]},{"id":"5c7e4d81.8aff34","type":"function","z":"807d94c.a1e0d68","name":"Reset Start/End","func":"msg.payload = '00:00';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":2600,"wires":[["1d981f30.1de791","2825e910.ce5c66"]]},{"id":"fbfa7020.ab9e9","type":"function","z":"807d94c.a1e0d68","name":"Reset Timeslot Title","func":"msg.payload = '<-- Select Day/Time Slot';\nflow.set('selectTSHW', \"-\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":2560,"wires":[["22019230.56fc1e"]]},{"id":"38430540.5693ba","type":"function","z":"807d94c.a1e0d68","name":"get date/time","func":"let date = Date();\nvar DayIndex = []; \nDayIndex['Sun'] = 0;\nDayIndex['Mon'] = 1;\nDayIndex['Tue'] = 2;\nDayIndex['Wed'] = 3;\nDayIndex['Thu'] = 4;\nDayIndex['Fri'] = 5;\nDayIndex['Sat'] = 6;    //'Day' , DayIndex for lookup\n            \nlet day = date.substring(0, 3);\nmsg.dayIndexHW = DayIndex[day];\nmsg.dayHW = day;\nmsg.payload = date;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":2420,"wires":[["2bda398e.00bf96"]]},{"id":"b246e0e4.4da17","type":"switch","z":"807d94c.a1e0d68","name":"Select Day of Week HW","property":"selectedDayHW","propertyType":"flow","rules":[{"t":"eq","v":"Sun","vt":"str"},{"t":"eq","v":"Mon","vt":"str"},{"t":"eq","v":"Tue","vt":"str"},{"t":"eq","v":"Wed","vt":"str"},{"t":"eq","v":"Thu","vt":"str"},{"t":"eq","v":"Fri","vt":"str"},{"t":"eq","v":"Sat","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":610,"y":2760,"wires":[["4030ebd4.beef84"],["8f427289.e940f"],["44d75118.06885"],["7c04536f.a625fc"],["ab4c6d27.9399e"],["3b40cfd8.d5f36"],["7c8d27d9.870d28"]]},{"id":"1d981f30.1de791","type":"ui_text_input","z":"807d94c.a1e0d68","name":"TS Start","label":"Start","tooltip":"","group":"afa437fa.3e5728","order":2,"width":"0","height":"0","passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1380,"y":2880,"wires":[["448a0607.4b11e8"]]},{"id":"2825e910.ce5c66","type":"ui_text_input","z":"807d94c.a1e0d68","name":"TSEnd","label":"End","tooltip":"","group":"afa437fa.3e5728","order":3,"width":"0","height":"0","passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1370,"y":2920,"wires":[["3aeb841e.acc1ac"]]},{"id":"22019230.56fc1e","type":"ui_text_input","z":"807d94c.a1e0d68","name":"Day/Time Slot","label":"Time Slot","tooltip":"","group":"afa437fa.3e5728","order":1,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1400,"y":2840,"wires":[[]]},{"id":"8bcebd04.49b7b","type":"inject","z":"807d94c.a1e0d68","name":"OnInit Setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"resetHW","payload":"","payloadType":"date","x":1130,"y":2360,"wires":[["38430540.5693ba","61003aed.1c59c4"]]},{"id":"4030ebd4.beef84","type":"change","z":"807d94c.a1e0d68","name":"Get Sun array (0)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[0][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2640,"wires":[["2690bfd9.42a7b"]]},{"id":"8f427289.e940f","type":"change","z":"807d94c.a1e0d68","name":"Get Mon array (1)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[1][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2680,"wires":[["2690bfd9.42a7b"]]},{"id":"44d75118.06885","type":"change","z":"807d94c.a1e0d68","name":"Get Tue array (2)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[2][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2720,"wires":[["2690bfd9.42a7b"]]},{"id":"7c04536f.a625fc","type":"change","z":"807d94c.a1e0d68","name":"Get Wed array (3)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[3][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2760,"wires":[["2690bfd9.42a7b"]]},{"id":"ab4c6d27.9399e","type":"change","z":"807d94c.a1e0d68","name":"Get Thu array (4)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[4][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2800,"wires":[["2690bfd9.42a7b"]]},{"id":"3b40cfd8.d5f36","type":"change","z":"807d94c.a1e0d68","name":"Get Fri array (5)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[5][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":2840,"wires":[["2690bfd9.42a7b"]]},{"id":"7c8d27d9.870d28","type":"change","z":"807d94c.a1e0d68","name":"Get Sat array (6)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[6][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2880,"wires":[["2690bfd9.42a7b"]]},{"id":"448a0607.4b11e8","type":"moment","z":"807d94c.a1e0d68","name":"","topic":"","input":"","inputType":"msg","inTz":"","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"","output":"","outputType":"msg","outTz":"","x":1580,"y":2880,"wires":[["53537cb1.f55774"]]},{"id":"70924e91.ba546","type":"change","z":"807d94c.a1e0d68","name":"HW TS Start","rules":[{"t":"set","p":"dayHW","pt":"flow","to":"payload.title","tot":"msg"},{"t":"set","p":"savedDaySlotPayloadHW","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \"On Time \")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(msg.payload, \" \")","tot":"jsonata"},{"t":"set","p":"StartTimeHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":2880,"wires":[["1d981f30.1de791"]]},{"id":"3aeb841e.acc1ac","type":"moment","z":"807d94c.a1e0d68","name":"","topic":"","input":"","inputType":"msg","inTz":"","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"","output":"","outputType":"msg","outTz":"","x":1580,"y":2920,"wires":[["a438a0fb.ff0e4"]]},{"id":"e7c3d55b.8cb1e8","type":"change","z":"807d94c.a1e0d68","name":"HW TS End","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \" - \")","tot":"jsonata"},{"t":"set","p":"EndTimeHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":2920,"wires":[["2825e910.ce5c66"]]},{"id":"2d6793e1.71f07c","type":"change","z":"807d94c.a1e0d68","name":"HW Day/TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"},{"t":"set","p":"selectTSHW","pt":"flow","to":"$substring(msg.payload, 14, 1)\t","tot":"jsonata"},{"t":"set","p":"selectedTSIndexHW","pt":"flow","to":"$number($substring(msg.payload, 14, 1)\t) -1","tot":"jsonata"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":2840,"wires":[["22019230.56fc1e"]]},{"id":"2690bfd9.42a7b","type":"function","z":"807d94c.a1e0d68","name":"Format HW timeslots","func":"newPayload = [];                                        //init new Array\nflow.set('savedSelectedDayHW', msg.payload);            //save whole week HW array\nflow.set('savedSelectedTimeSlotHW', msg.period);        //time slot elements from day selected\nflow.set('TSArraySizeHW', msg.period.length);           //save length of daily time slot selected (eg 8)\nselectedDayHW = flow.get('selectedDayHW');              //get day selected eg \"Sat\"             \n\nfunction timeConv(totalMins) {                          //convert mins to \"hh:mm\" function\nlet hours = Math.floor(totalMins / 60);\nlet minutes = totalMins - (hours*60);\n\n// If you want strings with leading zeroes:\nminutes = String(minutes).padStart(2, \"0\");\nhours = String(hours).padStart(2, \"0\");\ntimeString = (hours + \":\" + minutes);\nreturn timeString;\n}\n\n\n// create array ready to populate\nlet StartEndArrHW = new Array(2);                       //to contain start and end mins since midnight\nfor (var i = 0; i < msg.period.length; i++) {           //create msg.period.length of them\n  StartEndArrHW[i] = new Array(2);\n}\n\n\n//now loop through each element of selected day time slots (in msg.period) to \n//make time slot info in HW TS List on dashboard AND a StartEnd time array stored and used elsewhere\nmsg.period.forEach(doit,0);                             //loop thru daily time slots.. init i to be 0\nfunction doit(entry,i) {\n    StartEndArrHW[i][0] = entry.startTime;              //store start/end times in array\n    StartEndArrHW[i][1] = entry.endTime;\n    \n    i++;                                                //time slot number = index+1 then create 'title' and 'description' for dashboard\n    newentry = {'title' : selectedDayHW + ' Time Slot ' +i,\n                'description' : 'On Time ' + timeConv(entry.startTime) + ' - ' + timeConv(entry.endTime)\n    }\n    newPayload.push(newentry);                          //put newly created element into newPayload array\n}\n\nflow.set('StartEndArrHW', StartEndArrHW);               //save start/end array\nmsg.payload=newPayload;                                 //and put new payload into payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":2640,"wires":[["5141f849.b2c1a8"]]},{"id":"53537cb1.f55774","type":"function","z":"807d94c.a1e0d68","name":"newStartTime","func":"//if empty string returned from formatter, then send old StartTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newStartTimeHW', '12345678901' + flow.get('StartTimeHW'));\n    msg.payload = '12345678901' + flow.get('StartTimeHW');\n}\nelse {\n    flow.set('newStartTimeHW', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":2880,"wires":[["dd5627e3.aeb6a8"]]},{"id":"5141f849.b2c1a8","type":"ui_list","z":"807d94c.a1e0d68","group":"87aeb55.3e6ea48","name":"HW TS List","order":9,"width":"4","height":"11","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":1150,"y":2720,"wires":[["2d6793e1.71f07c","70924e91.ba546","e7c3d55b.8cb1e8"]]},{"id":"88a89715.eb7d48","type":"change","z":"807d94c.a1e0d68","name":"Restore Daily TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedDaySlotPayloadHW","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2940,"wires":[["70924e91.ba546","e7c3d55b.8cb1e8"]]},{"id":"a438a0fb.ff0e4","type":"function","z":"807d94c.a1e0d68","name":"newEndTime","func":"//if empty string returned from formatter, then send old EndTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newEndTimeHW', '12345678901' + flow.get('EndTimeHW'));\n    msg.payload = '12345678901' + flow.get('EndTimeHW');\n}\nelse {\n    flow.set('newEndTimeHW', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1770,"y":2920,"wires":[["e38deeff.dee8a"]]},{"id":"dd5627e3.aeb6a8","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"newStartTimeHW","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":2880,"wires":[[]]},{"id":"413abc71.66d514","type":"ui_button","z":"807d94c.a1e0d68","name":"Cancel HW","group":"afa437fa.3e5728","order":5,"width":"1","height":"1","passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Cancel","payloadType":"str","topic":"topic","topicType":"msg","x":650,"y":2980,"wires":[["88a89715.eb7d48","6b777994.157d78"]]},{"id":"e38deeff.dee8a","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"newEndTimeHW","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":2920,"wires":[[]]},{"id":"6b777994.157d78","type":"ui_toast","z":"807d94c.a1e0d68","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":1350,"y":3040,"wires":[]},{"id":"7047bff2.0a923","type":"switch","z":"807d94c.a1e0d68","name":"SAVE ERROR - No TS Selected","property":"selectTSHW","propertyType":"flow","rules":[{"t":"eq","v":"-","vt":"str"},{"t":"neq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":3100,"wires":[["6b777994.157d78"],["7528d501.a66b1c"]]},{"id":"8424533e.a50d6","type":"switch","z":"807d94c.a1e0d68","name":"ERR - No TS Selected","property":"selectTSHW","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":3040,"wires":[["104c1552.214b8b"],["6b777994.157d78"]]},{"id":"4b6e1f7e.cfa52","type":"switch","z":"807d94c.a1e0d68","name":"ERROR - 8 TS Limit","property":"TSArraySizeHW","propertyType":"flow","rules":[{"t":"gte","v":"8","vt":"num"},{"t":"lt","v":"8","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":3160,"wires":[["6b777994.157d78"],["1d6c9514.1c38bb"]]},{"id":"8048849e.851648","type":"change","z":"807d94c.a1e0d68","name":"DEL #1 Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"DELETE Error - Cannot Delete Time Slot  #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":3000,"wires":[["6b777994.157d78"]]},{"id":"a12e5cd4.7016a","type":"change","z":"807d94c.a1e0d68","name":"ADD Error - Select TS Mess","rules":[{"t":"set","p":"payload","pt":"msg","to":"ADD Error - Select Day/Time Slot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3200,"wires":[["6b777994.157d78"]]},{"id":"548b3aec.875934","type":"ui_button","z":"807d94c.a1e0d68","name":"Save HW","group":"afa437fa.3e5728","order":4,"width":"1","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SAVE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":3100,"wires":[["7047bff2.0a923"]]},{"id":"7528d501.a66b1c","type":"function","z":"807d94c.a1e0d68","name":"Save EDIT","func":"dayIndexHW = flow.get('dayIndexHW');\nHWSelTS = flow.get('savedSelectedTimeSlotHW');\nsavedSelectedDayHW = flow.get('savedSelectedDayHW');\nNET = flow.get('newEndTimeHW');\nNST = flow.get('newStartTimeHW');\n\nNETmin = NET.split(':');\nNETmin = (Number(NETmin[0]) * 60) + Number(NETmin[1]);\nNSTmin = NST.split(':');\nNSTmin = (Number(NSTmin[0]) * 60) + Number(NSTmin[1]);\nmsg.NETmin = NETmin;\nmsg.NSTmin = NSTmin;\n\nvalidCheck = true;\nerrorMess = \"OK\";\nStartEndArrHW = flow.get('StartEndArrHW');\nTSArraySizeHW = flow.get('TSArraySizeHW');\n\nselectedTSIndexHW = flow.get('selectedTSIndexHW');                      //Selected TS index\n\nmsg.dayIndexHW = dayIndexHW;\nmsg.HWSelTS = HWSelTS;\nmsg.NET = NET;\nmsg.NST = NST;\n\n//carry out sanity checks on new values dependant on position within total array being edited\nif (NETmin < NSTmin ){                                                  //firstly end time must never be less than start time\n        errorMess = \"SAVE ERROR - End < Start Time\";\n}\nelse if (selectedTSIndexHW+1 ==1 && TSArraySizeHW > 1) {                //first and only element being edited?\n    if (NETmin > StartEndArrHW[selectedTSIndexHW+1][0] ) {              //check if ET < next ST\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n}  \nelse if (selectedTSIndexHW+1 == TSArraySizeHW && TSArraySizeHW > 1) {   //last element?\n    if (NSTmin < StartEndArrHW[selectedTSIndexHW-1][1]) {               //check if ST < prev ET\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\nelse if (TSArraySizeHW > 1) {\n    if (NETmin > StartEndArrHW[selectedTSIndexHW+1][0] ) {              //neither first nor last, so check both prev and next\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n    if (NSTmin < StartEndArrHW[selectedTSIndexHW-1][1]) {\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\n\nmsg.errorMess = errorMess;\n\nHWSelTS[selectedTSIndexHW]['startTime'] = NSTmin;                       //set selected TS starttime to new value (in mins)\nHWSelTS[selectedTSIndexHW]['endTime'] = NETmin;                         //similar for endtime\nsavedSelectedDayHW[dayIndexHW][1] = HWSelTS;                            //now insert modified array back into weekly array\n\nmsg.postHWSelTS = HWSelTS;\nmsg.payload = savedSelectedDayHW;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":3100,"wires":[["471e1da3.deadc4"]]},{"id":"cdfc57d8.f15598","type":"ui_button","z":"807d94c.a1e0d68","name":"Del HW","group":"afa437fa.3e5728","order":7,"width":"1","height":"1","passthru":true,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"DELETE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":3040,"wires":[["8424533e.a50d6"]]},{"id":"104c1552.214b8b","type":"switch","z":"807d94c.a1e0d68","name":"ERR - Del #1","property":"selectedTSIndexHW","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":2980,"wires":[["9af566ac.7b8118"],["8048849e.851648"]]},{"id":"84bc18b2.93ada8","type":"ui_button","z":"807d94c.a1e0d68","name":"Add HW","group":"afa437fa.3e5728","order":6,"width":"1","height":"1","passthru":false,"label":"Add","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ADD Error - Maximum 8 Time Slots","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":3160,"wires":[["4b6e1f7e.cfa52","8be02624.d5eea8"]]},{"id":"1d6c9514.1c38bb","type":"function","z":"807d94c.a1e0d68","name":"ADD new TS to day array","func":"//ADD.. ie insert new TS either between 2 entries, or appended to whole daily TS array\n\nmsg.payload = flow.get('savedSelectedTimeSlotHW');\nmsg.selectedDayHW = flow.get('savedSelectedTimeSlotHW');\nmsg.selectedTSIndexHW = flow.get('selectedTSIndexHW');\n\nnewTSArray = [];\nnewDayArrayHW = [];\nselectedTSIndexHW = flow.get('selectedTSIndexHW');\nselectedDayHW = flow.get('selectedDayHW');\nStartEndArrHW = flow.get('StartEndArrHW');\nerrorMess = \"OK\";\n\ni = 0;\nmsg.mpl = msg.payload.length;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexHW) {                                       //id day index is not selected TS\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n    }\n    else {\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n                                                                        //now make new entry values based on StartEndArrHW: values\n        \n        if (i==msg.payload.length -1){                                  //appending last entry?\n            newentry = {                                                //yes...\n                startTime : (StartEndArrHW[i][1]),                      //previous end time\n                endTime : ((24*60)-1)                                   //new end time 1 min to midnight\n            }\n            newTSArray.push(newentry);\n        }\n        else {                                                          //inserting new TS...so\n            if ( (StartEndArrHW[i+1][0]) - (StartEndArrHW[i][1]) >2 ){  //is there space for entry between two ts?\n                newentry = {                                            //yes\n                startTime : (StartEndArrHW[i][1]),                      //previous end time\n                endTime : (StartEndArrHW[i+1][0])                       //next TS start time\n                }\n                if (((StartEndArrHW[i][1])) < 24*60 && (StartEndArrHW[i][1] +1) <24*60) {\n                    newTSArray.push(newentry);\n                }\n                else {\n                    errorMess = \"ADD ERROR - Time Goes Into Next Day!\"; //last time goes into next day\n                }\n            }\n            else {\n                errorMess = \"ADD ERROR - Cannot Insert Time Slot\";      //no time between slots\n            }\n        }\n    }\n    i++;\n}\n\nmsg.errorMess = errorMess;\nnewDayArrayHW = [selectedDayHW, newTSArray];                            //reconstruct array for day\nmsg.newDayArrayHW = newDayArrayHW;\nflow.set('newDayArrayHW', msg.newDayArrayHW);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":3160,"wires":[["830850be.43827"]]},{"id":"8be02624.d5eea8","type":"switch","z":"807d94c.a1e0d68","name":"ERROR - No TS Selected","property":"selectTSHW","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":3200,"wires":[[],["a12e5cd4.7016a"]]},{"id":"471e1da3.deadc4","type":"switch","z":"807d94c.a1e0d68","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":3100,"wires":[["962bbd20.16e3e","d57c5780.e9e4c8"],["962bbd20.16e3e"]]},{"id":"9af566ac.7b8118","type":"function","z":"807d94c.a1e0d68","name":"remove TS from selected day HW","func":"//for each element of the array input, copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nmsg.payload = flow.get('savedSelectedTimeSlotHW');\nmsg.selectedDay = flow.get('savedSelectedTimeSlotHW');          //eg 'Wed'\nmsg.selectedTSIndexHW = flow.get('selectedTSIndexHW');\n\nnewTSArray = [];\nnewDayArrayHW = [];\nselectedTSIndexHW = flow.get('selectedTSIndexHW');              //array index picked from list of day TS eg 4\nselectedDayHW = flow.get('selectedDayHW');                      //day picked eg \"Mon\"\n\ni = 0;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexHW) {                               //id day index is not selected TS\n        newentry = TSEntry;                                     //then make newentry = element\n        newTSArray.push(newentry);                              //and push onto new array\n    }\n    i++;\n}\n\nnewDayArrayHW = [selectedDayHW, newTSArray];                        //reconstruct array for day\nmsg.newDayArrayHW = newDayArrayHW;\nflow.set('newDayArrayHW', msg.newDayArrayHW);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":2980,"wires":[["2dd0b6dd.e12afa"]]},{"id":"830850be.43827","type":"switch","z":"807d94c.a1e0d68","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"neq","v":"OK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":3160,"wires":[["962bbd20.16e3e"],["a15ac6b4.4b5c98","962bbd20.16e3e"]]},{"id":"962bbd20.16e3e","type":"change","z":"807d94c.a1e0d68","name":"Set SAVE Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"errorMess","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":3100,"wires":[["8780ad6d.822fe"]]},{"id":"d57c5780.e9e4c8","type":"link out","z":"807d94c.a1e0d68","name":"Update HW","links":["260cc462.dd7f6c"],"x":2095,"y":2980,"wires":[]},{"id":"2dd0b6dd.e12afa","type":"function","z":"807d94c.a1e0d68","name":"reconstruct day array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexHW = flow.get('dayIndexHW');\nmsg.payload = flow.get('savedSelectedDayHW');\nnewDayArrayHW = flow.get('newDayArrayHW');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexHW) {                                              //id day index is not modified day\n        newentry = dayEntry;                                            //then make newentry = element\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    else {\n        newentry = newDayArrayHW;                                       //get modified day array\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":2980,"wires":[["d57c5780.e9e4c8"]]},{"id":"a15ac6b4.4b5c98","type":"function","z":"807d94c.a1e0d68","name":"Reconstruct week array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexHW = flow.get('dayIndexHW');\nmsg.payload = flow.get('savedSelectedDayHW');\nnewDayArrayHW = flow.get('newDayArrayHW');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexHW) {                                               //id day index is not modified day\n        newentry = dayEntry;                                             //then make newentry = element\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    else {\n        newentry = newDayArrayHW;                                          //get modified day array\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":3180,"wires":[["d57c5780.e9e4c8"]]},{"id":"8780ad6d.822fe","type":"ui_toast","z":"807d94c.a1e0d68","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"SAVE Status","x":2290,"y":3100,"wires":[]},{"id":"24476a85.f61fd6","type":"comment","z":"807d94c.a1e0d68","name":"Update  db HW ","info":"","x":1960,"y":2640,"wires":[]},{"id":"a40e500f.ef7dc","type":"comment","z":"807d94c.a1e0d68","name":"EDIT Time Slot timers","info":"","x":1800,"y":2840,"wires":[]},{"id":"f1a264e3.e49a58","type":"comment","z":"807d94c.a1e0d68","name":"Update  dbHW & Refresh List","info":"","x":2240,"y":2980,"wires":[]},{"id":"e818cb7b.819228","type":"comment","z":"807d94c.a1e0d68","name":"HW Start/End Picker","info":"","x":1410,"y":2800,"wires":[]},{"id":"602e2ef3.c8ece","type":"comment","z":"807d94c.a1e0d68","name":"HW Daily Time Slots","info":"","x":1170,"y":2680,"wires":[]},{"id":"b9335e62.52cc7","type":"comment","z":"807d94c.a1e0d68","name":"HW Array Updated, so refresh dashboard","info":"","x":760,"y":2360,"wires":[]},{"id":"292049e1.518b56","type":"comment","z":"807d94c.a1e0d68","name":"Init HW Weekly Schedule","info":"","x":410,"y":2320,"wires":[]},{"id":"e04a1ce0.d23ca","type":"inject","z":"807d94c.a1e0d68","name":"Init HW Objects","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2320,"wires":[["2192c7d2.d059e8"]]},{"id":"2192c7d2.d059e8","type":"ui_button","z":"807d94c.a1e0d68","name":"INIT HW","group":"87aeb55.3e6ea48","order":8,"width":"1","height":"1","passthru":true,"label":"C","tooltip":"Initialise HW Time Slots to Default Values - Double tap to Activate","color":"","bgcolor":"","icon":"","payload":"open","payloadType":"str","topic":"control","topicType":"str","x":160,"y":2360,"wires":[["372f5329.a6ebcc"]]},{"id":"67b7634d.77f9cc","type":"function","z":"807d94c.a1e0d68","name":"Init HW Data","func":"let dayPeriod = [0,1,2,3,4,5,6,7];  // array 8 periods in a day\n\ndpLen = dayPeriod.length;           //init day periods\nfor (i = 0; i < dpLen; i++) {\n    dayPeriod[i] = {\n        startTime : (i*120+480),\n        endTime : (i*120+480) +60\n    }\n}\n\nlet HWDay = [['Sun', dayPeriod],\n            ['Mon', dayPeriod],\n            ['Tue', dayPeriod],\n            ['Wed', dayPeriod],\n            ['Thu', dayPeriod],\n            ['Fri', dayPeriod],\n            ['Sat', dayPeriod]];    //array 7 days\n\n\nmsg.payload = HWDay;                //return with whole HWDay object in msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":2440,"wires":[["1b2aa0bb.0323af"]]},{"id":"1b2aa0bb.0323af","type":"link out","z":"807d94c.a1e0d68","name":"Init DB HW","links":["260cc462.dd7f6c"],"x":495,"y":2440,"wires":[]},{"id":"ac2a39a1.c35df8","type":"change","z":"807d94c.a1e0d68","name":"set db lock (true)","rules":[{"t":"set","p":"dbWriteLockHW","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":2680,"wires":[["ef9b0ab1.47f4f8"]]},{"id":"ef9b0ab1.47f4f8","type":"file","z":"807d94c.a1e0d68","name":"Save Pive-HW","filename":"Pive-HW","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2060,"y":2720,"wires":[["f8960376.558d"]]},{"id":"f8960376.558d","type":"change","z":"807d94c.a1e0d68","name":"reset db lock (false)","rules":[{"t":"set","p":"dbWriteLockHW","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":2760,"wires":[["6ff2b363.6043ac"]]},{"id":"260cc462.dd7f6c","type":"link in","z":"807d94c.a1e0d68","name":"dbWriteHW","links":["d57c5780.e9e4c8","1b2aa0bb.0323af"],"x":1895,"y":2680,"wires":[["ac2a39a1.c35df8"]]},{"id":"6ff2b363.6043ac","type":"link out","z":"807d94c.a1e0d68","name":"DB Updated HW","links":["eeed4db5.3d7a4"],"x":2235,"y":2760,"wires":[]},{"id":"9ac6a1a6.d71de","type":"change","z":"807d94c.a1e0d68","name":"extract now time","rules":[{"t":"set","p":"nowDay","pt":"flow","to":"$substring(msg.payload, 0, 3)\t","tot":"jsonata"},{"t":"set","p":"nowMins","pt":"flow","to":"($number($substring(msg.payload, 16, 2)) *60) + ($number($substring(msg.payload, 19, 2))) ","tot":"jsonata"},{"t":"set","p":"nowDay","pt":"msg","to":"$substring(msg.payload, 0, 3)\t","tot":"jsonata"},{"t":"set","p":"nowMins","pt":"msg","to":"($number($substring(msg.payload, 16, 2)) *60) + ($number($substring(msg.payload, 19, 2))) ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":3700,"wires":[["d08c684b.6b6428","820d7e5c.15623"]]},{"id":"6fd74b36.566f44","type":"function","z":"807d94c.a1e0d68","name":"get date/time","func":"msg.payload = Date();                               //get date in payload ready to extract parts next...\nflow.set('SSE',(Math.round(Date.now() / 1000)))     //and store time in seconds since epoch (used for BOOST)\n\nmsg.dayPart = msg.payload.substring(0, 3);          //get Day part of Date in msg.dayPart\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":3640,"wires":[["9ac6a1a6.d71de","9ad1c96c.296258"]]},{"id":"d08c684b.6b6428","type":"switch","z":"807d94c.a1e0d68","name":"db WR Lock?","property":"dbWriteLockHW","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":3500,"wires":[[],["7201e50c.5cc92c"]]},{"id":"276a9331.3c750c","type":"inject","z":"807d94c.a1e0d68","name":"1 Sec Ticker","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":120,"y":3580,"wires":[["6fd74b36.566f44"]]},{"id":"7201e50c.5cc92c","type":"file in","z":"807d94c.a1e0d68","name":"Read HW (2)","filename":"Pive-HW","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":3460,"wires":[["32750ecf.0a2fa2"]]},{"id":"32750ecf.0a2fa2","type":"json","z":"807d94c.a1e0d68","name":"","property":"payload","action":"","pretty":false,"x":490,"y":3460,"wires":[["df11213e.ecc47"]]},{"id":"df11213e.ecc47","type":"change","z":"807d94c.a1e0d68","name":"get array parts","rules":[{"t":"set","p":"dbHW","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"savedarraydayHW","pt":"flow","to":"dbHW[0][0]","tot":"flow"},{"t":"set","p":"savedarrayTSHW","pt":"flow","to":"dbHW[0][1]","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":3460,"wires":[["34469cab.1fcdf4"]]},{"id":"af481884.a93bc8","type":"function","z":"807d94c.a1e0d68","name":"TS HW on/off - inc override check ","func":"hwOVERRIDE=flow.get('overActiveHW');            //get override active - true or false\nmsg.overActiveHW = flow.get('overActiveHW');\nmsg.topic='';\nonHW = 'off';\ndbHW = flow.get('dbHW');\nnowDay = msg.nowDay;\nnowMins = msg.nowMins;\n\nif (hwOVERRIDE && nowMins >= (flow.get('overrideEndTimeHW'))){      //if override active AND time >= stored override end time\n    flow.set('overActiveHW', false);                                //then set override false and reset all the override variables\n    flow.set('overrideStartTimeHW', 0);\n    flow.set('overrideEndTimeHW', 0);\n    hwOVERRIDE = false;\n    msg.topic = 'resetHW';                                          //set topic to 'resetHW'\n    msg.payload = 0;\n}\n\nfor (var day = 0; day < dbHW.length; day++) {                           //for each element of dbHW (ie the days)\n    if (dbHW[day][0]===nowDay){                                         //check each 'day' array element [0] for current day\n        for (var ts = 0; ts < dbHW[day][1].length; ts++) {              //for each element of dbHW[day][1] (ie the ts objects)\n            if((nowMins >= dbHW[day][1][ts].startTime && nowMins < dbHW[day][1][ts].endTime)){\n                onHW = 'heat';                                            //HWon true if nowMins is between>=start and <end\n            }\n        }\n    }\n}    \n\nif (hwOVERRIDE) {      //override active? if so, invert onHW\n    if (onHW == 'heat') {\n        onHW = 'off';\n    }\n    else {\n        onHW = 'heat';\n    }\n}\nmsg.hwOVERRIDE = hwOVERRIDE;\nflow.set('StateHW', onHW);\nmsg.payload = onHW;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":3460,"wires":[["cf55cca9.350b6","c1bf700b.bd698"]]},{"id":"8e86e2.ae80292","type":"ui_led","z":"807d94c.a1e0d68","order":18,"group":"22efc0.bc80d04","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"off","valueType":"str"},{"color":"#008000","value":"heat","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"HW Ctrl","x":1780,"y":1460,"wires":[]},{"id":"820d7e5c.15623","type":"switch","z":"807d94c.a1e0d68","name":"db WR Lock?","property":"dbWriteLockCH","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":4000,"wires":[[],["a6d7d049.01fb5"]]},{"id":"a6d7d049.01fb5","type":"file in","z":"807d94c.a1e0d68","name":"Read CH (2)","filename":"Pive-CH","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":3960,"wires":[["d6420de5.5b215"]]},{"id":"d6420de5.5b215","type":"json","z":"807d94c.a1e0d68","name":"","property":"payload","action":"","pretty":false,"x":490,"y":3960,"wires":[["85548f2.7904f7"]]},{"id":"85548f2.7904f7","type":"change","z":"807d94c.a1e0d68","name":"get array parts","rules":[{"t":"set","p":"dbCH","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"savedarraydayCH","pt":"flow","to":"dbCH[0][0]","tot":"flow"},{"t":"set","p":"savedarrayTSCH","pt":"flow","to":"dbCH[0][1]","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":3960,"wires":[["f40d3bf0.1b70c8"]]},{"id":"b15458de.d59128","type":"function","z":"807d94c.a1e0d68","name":"TS CH on/off - inc override check ","func":"chOVERRIDE=flow.get('overActiveCH');            //get override active - true or false\nmsg.overActiveCH = flow.get('overActiveCH');\nmsg.topic='';\nonCH = 'off';\ndbCH = flow.get('dbCH');\nnowDay = msg.nowDay;\nnowMins = msg.nowMins;\n\nif (chOVERRIDE && nowMins >= (flow.get('overrideEndTimeCH'))){      //if override active AND time >= stored override end time\n    flow.set('overActiveCH', false);                                //then set override false and reset all the override variables\n    flow.set('overrideStartTimeCH', 0);\n    flow.set('overrideEndTimeCH', 0);\n    chOVERRIDE = false;\n    msg.topic = 'resetCH';                                          //set topic to 'resetCH'\n    msg.payload = 0;\n}\n\nfor (var day = 0; day < dbCH.length; day++) {                           //for each element of dbCH (ie the days)\n    if (dbCH[day][0]===nowDay){                                         //check each 'day' array element [0] for current day\n        for (var ts = 0; ts < dbCH[day][1].length; ts++) {              //for each element of dbCH[day][1] (ie the ts objects)\n            if((nowMins >= dbCH[day][1][ts].startTime && nowMins < dbCH[day][1][ts].endTime)){\n                onCH = 'heat';                                            //CHon true if nowMins is between>=start and <end\n            }\n        }\n    }\n}    \n\nif (chOVERRIDE) {      //override active? if so, invert onCH\n    if (onCH == 'heat') {\n        onCH = 'off';\n    }\n    else {\n        onCH = 'heat';\n    }\n}\nmsg.chOVERRIDE = chOVERRIDE;\nflow.set('StateCH', onCH);\nmsg.payload = onCH;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":3960,"wires":[["b1709876.ee7478","fb960cff.17f14"]]},{"id":"fbe87885.d67f88","type":"ui_led","z":"807d94c.a1e0d68","order":11,"group":"22efc0.bc80d04","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"off","valueType":"str"},{"color":"#008000","value":"heat","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"CH Ctrl","x":620,"y":1460,"wires":[]},{"id":"487ec206.3d0fac","type":"function","z":"807d94c.a1e0d68","name":"Reconstruct week array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexCH = flow.get('dayIndexCH');\nmsg.payload = flow.get('savedSelectedDayCH');\nnewDayArrayCH = flow.get('newDayArrayCH');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexCH) {                                               //id day index is not modified day\n        newentry = dayEntry;                                             //then make newentry = element\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    else {\n        newentry = newDayArrayCH;                                          //get modified day array\n        newWeekArray.push(newentry);                                     //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":4960,"wires":[["846a9e70.748fc"]]},{"id":"846a9e70.748fc","type":"link out","z":"807d94c.a1e0d68","name":"Update CH","links":["a0dd7cf4.775e1","4c69a920.cbacb8"],"x":2095,"y":4760,"wires":[]},{"id":"217cc3db.b0766c","type":"switch","z":"807d94c.a1e0d68","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"neq","v":"OK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":4940,"wires":[["ddc39996.5cedf8"],["487ec206.3d0fac","ddc39996.5cedf8"]]},{"id":"9b029e7c.8e1ff","type":"function","z":"807d94c.a1e0d68","name":"reconstruct day array","func":"//for each element of the array input, check copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nnewTSArray = flow.get('newTSArray');\ndayindexCH = flow.get('dayIndexCH');\nmsg.payload = flow.get('savedSelectedDayCH');\nnewDayArrayCH = flow.get('newDayArrayCH');\n\nnewWeekArray = [];\nnewTSArray = [];\n\ni = 0;\nmsg.payload.forEach(doDay);\n\nfunction doDay(dayEntry) {\n    if (i != dayindexCH) {                                              //id day index is not modified day\n        newentry = dayEntry;                                            //then make newentry = element\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    else {\n        newentry = newDayArrayCH;                                       //get modified day array\n        newWeekArray.push(newentry);                                    //and push onto new array\n    }\n    i++;\n}\n\n\nmsg.newWeekarray = newWeekArray;\nmsg.payload = newWeekArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":4760,"wires":[["846a9e70.748fc"]]},{"id":"8ddc546f.b6cd48","type":"switch","z":"807d94c.a1e0d68","name":"ERR Check for OK","property":"errorMess","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":4880,"wires":[["ddc39996.5cedf8","846a9e70.748fc"],["ddc39996.5cedf8"]]},{"id":"ddc39996.5cedf8","type":"change","z":"807d94c.a1e0d68","name":"Set SAVE Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"errorMess","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":4880,"wires":[["83ba988a.49d5a8"]]},{"id":"1a9faa95.e5fef5","type":"function","z":"807d94c.a1e0d68","name":"remove TS from selected day CH","func":"//for each element of the array input, copy it into a new temp array, skipping the selected array \n//(check for array element 0 and skip that one)\n\nmsg.payload = flow.get('savedSelectedTimeSlotCH');\nmsg.selectedDay = flow.get('savedSelectedTimeSlotCH');          //eg 'Wed'\nmsg.selectedTSIndexCH = flow.get('selectedTSIndexCH');\n\nnewTSArray = [];\nnewDayArrayCH = [];\nselectedTSIndexCH = flow.get('selectedTSIndexCH');\nselectedDayCH = flow.get('selectedDayCH');\n\ni = 0;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexCH) {                               //id day index is not selected TS\n        newentry = TSEntry;                                     //then make newentry = element\n        newTSArray.push(newentry);                              //and push onto new array\n    }\n    i++;\n}\n\nnewDayArrayCH = [selectedDayCH, newTSArray];                        //reconstruct array for day\nmsg.newDayArrayCH = newDayArrayCH;\nflow.set('newDayArrayCH', msg.newDayArrayCH);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":4760,"wires":[["9b029e7c.8e1ff"]]},{"id":"83ba988a.49d5a8","type":"ui_toast","z":"807d94c.a1e0d68","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"SAVE Status","x":2290,"y":4880,"wires":[]},{"id":"2e2a416e.f0553e","type":"switch","z":"807d94c.a1e0d68","name":"ERROR - 8 TS Limit","property":"TSArraySizeCH","propertyType":"flow","rules":[{"t":"gte","v":"8","vt":"num"},{"t":"lt","v":"8","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":4940,"wires":[["cfa28e15.e112d"],["46c8009c.12146"]]},{"id":"5bdef9ed.410e98","type":"switch","z":"807d94c.a1e0d68","name":"ERR - Del #1","property":"selectedTSIndexCH","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":4760,"wires":[["1a9faa95.e5fef5"],["353d9809.69bde8"]]},{"id":"9ea44fd7.02f72","type":"switch","z":"807d94c.a1e0d68","name":"SAVE ERROR - No TS Selected","property":"selectTSCH","propertyType":"flow","rules":[{"t":"eq","v":"-","vt":"str"},{"t":"neq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":4880,"wires":[["cfa28e15.e112d"],["10692010.77937"]]},{"id":"cfa28e15.e112d","type":"ui_toast","z":"807d94c.a1e0d68","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":1350,"y":4820,"wires":[]},{"id":"fed0735f.ae63e","type":"ui_button","z":"807d94c.a1e0d68","name":"Add CH","group":"d5810b9d.396c48","order":6,"width":"1","height":"1","passthru":false,"label":"Add","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ADD Error - Maximum 8 Time Slots","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":4940,"wires":[["2e2a416e.f0553e","c033c52.331ab38"]]},{"id":"353d9809.69bde8","type":"change","z":"807d94c.a1e0d68","name":"DEL #1 Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"DELETE Error - Cannot Delete Time Slot #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":4780,"wires":[["cfa28e15.e112d"]]},{"id":"7e74b16b.b40ad","type":"switch","z":"807d94c.a1e0d68","name":"ERR - No TS Selected","property":"selectTSCH","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":4820,"wires":[["5bdef9ed.410e98"],["cfa28e15.e112d"]]},{"id":"26bf6edc.c60492","type":"ui_button","z":"807d94c.a1e0d68","name":"Save CH","group":"d5810b9d.396c48","order":4,"width":"1","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SAVE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":4880,"wires":[["9ea44fd7.02f72"]]},{"id":"2849f4e1.dbc47c","type":"ui_button","z":"807d94c.a1e0d68","name":"Cancel CH","group":"d5810b9d.396c48","order":5,"width":"1","height":"1","passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Cancel","payloadType":"str","topic":"topic","topicType":"msg","x":630,"y":4760,"wires":[["7bc3c9bd.36fce8","cfa28e15.e112d"]]},{"id":"cd55405.3abd3c","type":"change","z":"807d94c.a1e0d68","name":"ADD Error - Select TS Mess","rules":[{"t":"set","p":"payload","pt":"msg","to":"ADD Error - Select Day/Time Slot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":4980,"wires":[["cfa28e15.e112d"]]},{"id":"c033c52.331ab38","type":"switch","z":"807d94c.a1e0d68","name":"ERROR - No TS Selected","property":"selectTSCH","propertyType":"flow","rules":[{"t":"neq","v":"-","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":4980,"wires":[[],["cd55405.3abd3c"]]},{"id":"a999c752.f5c508","type":"ui_button","z":"807d94c.a1e0d68","name":"Del CH","group":"d5810b9d.396c48","order":7,"width":"1","height":"1","passthru":true,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"DELETE Error - Select Day/Timeslot","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":4820,"wires":[["7e74b16b.b40ad"]]},{"id":"7bc3c9bd.36fce8","type":"change","z":"807d94c.a1e0d68","name":"Restore Daily TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedDaySlotPayloadCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4720,"wires":[["814fe6a6.a9b308","a30d10b3.5f788"]]},{"id":"814fe6a6.a9b308","type":"change","z":"807d94c.a1e0d68","name":"CH TS Start","rules":[{"t":"set","p":"dayCH","pt":"flow","to":"payload.title","tot":"msg"},{"t":"set","p":"savedDaySlotPayloadCH","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \"On Time \")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(msg.payload, \" \")","tot":"jsonata"},{"t":"set","p":"StartTimeCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":4660,"wires":[["ee05c198.a0474"]]},{"id":"a30d10b3.5f788","type":"change","z":"807d94c.a1e0d68","name":"CH TS End","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(msg.payload, \" - \")","tot":"jsonata"},{"t":"set","p":"EndTimeCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1149,"y":4700,"wires":[["b29814d2.74d4c8"]]},{"id":"ee05c198.a0474","type":"ui_text_input","z":"807d94c.a1e0d68","name":"TS Start","label":"Start","tooltip":"","group":"d5810b9d.396c48","order":2,"width":0,"height":0,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1380,"y":4660,"wires":[["1759f521.87ff4b"]]},{"id":"358e0ef1.d864b2","type":"ui_list","z":"807d94c.a1e0d68","group":"2c575afb.6509b6","name":"CH TS List","order":9,"width":"4","height":"11","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":1150,"y":4500,"wires":[["58c3db5e.714bd4","814fe6a6.a9b308","a30d10b3.5f788"]]},{"id":"b29814d2.74d4c8","type":"ui_text_input","z":"807d94c.a1e0d68","name":"TSEnd","label":"End","tooltip":"","group":"d5810b9d.396c48","order":3,"width":0,"height":0,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1370,"y":4700,"wires":[["e519ed05.41fb4"]]},{"id":"1759f521.87ff4b","type":"moment","z":"807d94c.a1e0d68","name":"","topic":"","input":"","inputType":"msg","inTz":"","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"","output":"","outputType":"msg","outTz":"","x":1580,"y":4660,"wires":[["f03e2454.ec1868"]]},{"id":"e17f5289.9c43e","type":"function","z":"807d94c.a1e0d68","name":"Reset Start/End","func":"msg.payload = '00:00';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":4380,"wires":[["ee05c198.a0474","b29814d2.74d4c8"]]},{"id":"58c3db5e.714bd4","type":"change","z":"807d94c.a1e0d68","name":"CH Day/TS","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"},{"t":"set","p":"selectTSCH","pt":"flow","to":"$substring(msg.payload, 14, 1)\t","tot":"jsonata"},{"t":"set","p":"selectedTSIndexCH","pt":"flow","to":"$number($substring(msg.payload, 14, 1)) -1","tot":"jsonata"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":4620,"wires":[["fe1ef2a0.77ad"]]},{"id":"3f498f0e.ab6a9","type":"function","z":"807d94c.a1e0d68","name":"Format CH timeslots","func":"newPayload = [];                                        //init new Array\nflow.set('savedSelectedDayCH', msg.payload);            //save whole week CH array\nflow.set('savedSelectedTimeSlotCH', msg.period);        //time slot elements from day selected\nflow.set('TSArraySizeCH', msg.period.length);           //save length of daily time slot selected (eg 8)\nselectedDayCH = flow.get('selectedDayCH');              //get day selected eg \"Sat\"             \n\nfunction timeConv(totalMins) {                          //convert mins to \"hh:mm\" function\nlet hours = Math.floor(totalMins / 60);\nlet minutes = totalMins - (hours*60);\n\n// If you want strings with leading zeroes:\nminutes = String(minutes).padStart(2, \"0\");\nhours = String(hours).padStart(2, \"0\");\ntimeString = (hours + \":\" + minutes);\nreturn timeString;\n}\n\n\n// create array ready to populate\nlet StartEndArrCH = new Array(2);                       //to contain start and end mins since midnight\nfor (var i = 0; i < msg.period.length; i++) {           //create msg.period.length of them\n  StartEndArrCH[i] = new Array(2);\n}\n\n\n//now loop through each element of selected day time slots (in msg.period) to \n//make time slot info in CH TS List on dashboard AND a StartEnd time array stored and used elsewhere\nmsg.period.forEach(doit,0);                             //loop thru daily time slots.. init i to be 0\nfunction doit(entry,i) {\n    StartEndArrCH[i][0] = entry.startTime;              //store start/end times in array\n    StartEndArrCH[i][1] = entry.endTime;\n    \n    i++;                                                //time slot number = index+1 then create 'title' and 'description' for dashboard\n    newentry = {'title' : selectedDayCH + ' Time Slot ' +i,\n                'description' : 'On Time ' + timeConv(entry.startTime) + ' - ' + timeConv(entry.endTime)\n    }\n    newPayload.push(newentry);                          //put newly created element into newPayload array\n}\n\nflow.set('StartEndArrCH', StartEndArrCH);               //save start/end array\nmsg.payload=newPayload;                                 //and put new payload into payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":4420,"wires":[["358e0ef1.d864b2"]]},{"id":"e519ed05.41fb4","type":"moment","z":"807d94c.a1e0d68","name":"","topic":"","input":"","inputType":"msg","inTz":"","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"","output":"","outputType":"msg","outTz":"","x":1580,"y":4700,"wires":[["d2991843.d92838"]]},{"id":"f03e2454.ec1868","type":"function","z":"807d94c.a1e0d68","name":"newStartTime","func":"//if empty string returned from formatter, then send old StartTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newStartTimeCH', '12345678901' + flow.get('StartTimeCH'));\n    msg.payload = '12345678901' + flow.get('StartTimeCH');\n}\nelse {\n    flow.set('newStartTimeCH', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":4660,"wires":[["73096219.b2024c"]]},{"id":"4e90b3ac.706d9c","type":"link in","z":"807d94c.a1e0d68","name":"Submit CH","links":["4c5597c2.4e0c28","be4e6dde.5a321","3b33938d.819abc"],"x":895,"y":4120,"wires":[["e17f5289.9c43e","b7b8402c.991d","5d043734.0deaa8"]]},{"id":"e0b4f3da.0cf07","type":"change","z":"807d94c.a1e0d68","name":"-> weekday/dayIndexCH","rules":[{"t":"set","p":"dayIndexCH","pt":"flow","to":"dayIndexCH","tot":"msg"},{"t":"set","p":"selectedDayCH","pt":"flow","to":"dayCH","tot":"msg"},{"t":"set","p":"dbWriteLockCH","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostCH","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":4220,"wires":[["5d043734.0deaa8","e17f5289.9c43e","b7b8402c.991d"]]},{"id":"fe1ef2a0.77ad","type":"ui_text_input","z":"807d94c.a1e0d68","name":"Day/Time Slot","label":"Time Slot","tooltip":"","group":"d5810b9d.396c48","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1400,"y":4620,"wires":[[]]},{"id":"f88d63cc.564e5","type":"change","z":"807d94c.a1e0d68","name":"Get Mon array (1)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[1][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4460,"wires":[["3f498f0e.ab6a9"]]},{"id":"5e3c70b2.0188e","type":"change","z":"807d94c.a1e0d68","name":"Get Tue array (2)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[2][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4500,"wires":[["3f498f0e.ab6a9"]]},{"id":"49948ddf.020744","type":"change","z":"807d94c.a1e0d68","name":"Get Wed array (3)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[3][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4540,"wires":[["3f498f0e.ab6a9"]]},{"id":"1cf1e217.95378e","type":"change","z":"807d94c.a1e0d68","name":"Get Thu array (4)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[4][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4580,"wires":[["3f498f0e.ab6a9"]]},{"id":"cfb5bf35.d23ed","type":"change","z":"807d94c.a1e0d68","name":"Get Fri array (5)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[5][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":4620,"wires":[["3f498f0e.ab6a9"]]},{"id":"5e4e411a.b69d1","type":"change","z":"807d94c.a1e0d68","name":"Get Sat array (6)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[6][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4660,"wires":[["3f498f0e.ab6a9"]]},{"id":"ad02c07a.45eab","type":"change","z":"807d94c.a1e0d68","name":"Get Sun array (0)","rules":[{"t":"set","p":"period","pt":"msg","to":"payload[0][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4420,"wires":[["3f498f0e.ab6a9"]]},{"id":"d2991843.d92838","type":"function","z":"807d94c.a1e0d68","name":"newEndTime","func":"//if empty string returned from formatter, then send old EndTime with 11 characters prepended\nif (msg.payload.length === 0) {\n    flow.set('newEndTimeCH', '12345678901' + flow.get('EndTimeCH'));\n    msg.payload = '12345678901' + flow.get('EndTimeCH');\n}\nelse {\n    flow.set('newEndTimeCH', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1770,"y":4700,"wires":[["f25e9674.1334c8"]]},{"id":"73096219.b2024c","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"newStartTimeCH","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":4660,"wires":[[]]},{"id":"b7b8402c.991d","type":"function","z":"807d94c.a1e0d68","name":"Reset Timeslot Title","func":"msg.payload = '<-- Select Day/Time Slot';\nflow.set('selectTSCH', \"-\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":4340,"wires":[["fe1ef2a0.77ad"]]},{"id":"5d043734.0deaa8","type":"file in","z":"807d94c.a1e0d68","name":"Read-CH (1)","filename":"Pive-CH","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":870,"y":4280,"wires":[["96a1f1e3.b80fb"]]},{"id":"95580d00.32c54","type":"switch","z":"807d94c.a1e0d68","name":"Select Day of WeekCH","property":"selectedDayCH","propertyType":"flow","rules":[{"t":"eq","v":"Sun","vt":"str"},{"t":"eq","v":"Mon","vt":"str"},{"t":"eq","v":"Tue","vt":"str"},{"t":"eq","v":"Wed","vt":"str"},{"t":"eq","v":"Thu","vt":"str"},{"t":"eq","v":"Fri","vt":"str"},{"t":"eq","v":"Sat","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":600,"y":4540,"wires":[["ad02c07a.45eab"],["f88d63cc.564e5"],["5e3c70b2.0188e"],["49948ddf.020744"],["1cf1e217.95378e"],["cfb5bf35.d23ed"],["5e4e411a.b69d1"]]},{"id":"f25e9674.1334c8","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"newEndTimeCH","pt":"flow","to":"$substring(msg.payload, 11, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":4700,"wires":[[]]},{"id":"96a1f1e3.b80fb","type":"json","z":"807d94c.a1e0d68","name":"","property":"payload","action":"","pretty":false,"x":610,"y":4340,"wires":[["207bf5df.3cf62a"]]},{"id":"871709c8.49a108","type":"change","z":"807d94c.a1e0d68","name":"-> weekday/dayIndexCH","rules":[{"t":"set","p":"dayIndexCH","pt":"flow","to":"$number(msg.topic)\t","tot":"jsonata"},{"t":"set","p":"selectedDayCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":4280,"wires":[["5d043734.0deaa8"]]},{"id":"484222b4.a162ac","type":"inject","z":"807d94c.a1e0d68","name":"OnInit Setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"resetCH","payload":"","payloadType":"date","x":1070,"y":4120,"wires":[["1b0d4b11.fc2f55","c9bd02f0.4aff8"]]},{"id":"207bf5df.3cf62a","type":"change","z":"807d94c.a1e0d68","name":"set weekdayCH","rules":[{"t":"set","p":"stored-dbCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":4420,"wires":[["95580d00.32c54"]]},{"id":"1d8f68ec.4f87b7","type":"ui_button","z":"807d94c.a1e0d68","name":"Sun CH","group":"2c575afb.6509b6","order":7,"width":"1","height":"1","passthru":true,"label":"Sun","tooltip":"Show Sunday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Sun","payloadType":"str","topic":"0","topicType":"str","x":280,"y":4280,"wires":[["871709c8.49a108"]]},{"id":"15722e51.f7e902","type":"ui_button","z":"807d94c.a1e0d68","name":"Mon CH","group":"2c575afb.6509b6","order":1,"width":"1","height":"1","passthru":true,"label":"Mon","tooltip":"Show Monday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Mon","payloadType":"str","topic":"1","topicType":"str","x":280,"y":4320,"wires":[["871709c8.49a108"]]},{"id":"bb035168.4123f","type":"ui_button","z":"807d94c.a1e0d68","name":"Tue CH","group":"2c575afb.6509b6","order":2,"width":"1","height":"1","passthru":true,"label":"Tue","tooltip":"Show Tuesday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Tue","payloadType":"str","topic":"2","topicType":"str","x":280,"y":4360,"wires":[["871709c8.49a108"]]},{"id":"a354741a.a763f8","type":"ui_button","z":"807d94c.a1e0d68","name":"Wed CH","group":"2c575afb.6509b6","order":3,"width":"1","height":"1","passthru":true,"label":"Wed","tooltip":"Show Wednesday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Wed","payloadType":"str","topic":"3","topicType":"str","x":280,"y":4400,"wires":[["871709c8.49a108"]]},{"id":"f628f7dd.099448","type":"ui_button","z":"807d94c.a1e0d68","name":"Thu CH","group":"2c575afb.6509b6","order":4,"width":"1","height":"1","passthru":true,"label":"Thu","tooltip":"Show Thursday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Thu","payloadType":"str","topic":"4","topicType":"str","x":280,"y":4440,"wires":[["871709c8.49a108"]]},{"id":"6b06247d.8a144c","type":"ui_button","z":"807d94c.a1e0d68","name":"Fri CH","group":"2c575afb.6509b6","order":5,"width":"1","height":"1","passthru":true,"label":"Fri","tooltip":"Show Friday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Fri","payloadType":"str","topic":"5","topicType":"str","x":270,"y":4480,"wires":[["871709c8.49a108"]]},{"id":"7375f852.e66aa8","type":"comment","z":"807d94c.a1e0d68","name":"Update  dbCH & Refresh List","info":"","x":2240,"y":4760,"wires":[]},{"id":"b6030be8.9da4c8","type":"comment","z":"807d94c.a1e0d68","name":"EDIT Time Slot timers","info":"","x":1800,"y":4620,"wires":[]},{"id":"ab32d8dc.dd6108","type":"comment","z":"807d94c.a1e0d68","name":"CH Start/End Picker","info":"","x":1410,"y":4580,"wires":[]},{"id":"8124bd38.a99cb","type":"comment","z":"807d94c.a1e0d68","name":"CH Daily Time Slots","info":"","x":1170,"y":4460,"wires":[]},{"id":"c352bdd2.c6477","type":"comment","z":"807d94c.a1e0d68","name":"CH Array Updated, so refresh dashboard","info":"","x":720,"y":4120,"wires":[]},{"id":"92c923a1.eb3b6","type":"comment","z":"807d94c.a1e0d68","name":"Init CH Weekly Schedule","info":"","x":410,"y":4100,"wires":[]},{"id":"dbb1bb14.786958","type":"function","z":"807d94c.a1e0d68","name":"Init CH Data","func":"let dayPeriod = [0,1,2,3,4,5,6,7];  // array 8 periods in a day\n\ndpLen = dayPeriod.length;           //init day periods\nfor (i = 0; i < dpLen; i++) {\n    dayPeriod[i] = {\n        startTime : (i*120+480),\n        endTime : (i*120+480) +60\n    }\n}\n\nlet CHDay = [['Sun', dayPeriod],\n            ['Mon', dayPeriod],\n            ['Tue', dayPeriod],\n            ['Wed', dayPeriod],\n            ['Thu', dayPeriod],\n            ['Fri', dayPeriod],\n            ['Sat', dayPeriod]];    //array 7 days\n\n\nmsg.payload = CHDay;                //return with whole HWDay object in msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":4220,"wires":[["f395cb75.e758c8"]]},{"id":"f395cb75.e758c8","type":"link out","z":"807d94c.a1e0d68","name":"Init DB CH","links":["a0dd7cf4.775e1"],"x":495,"y":4220,"wires":[]},{"id":"31a53433.d0fbbc","type":"comment","z":"807d94c.a1e0d68","name":"Update  db CH","info":"","x":2010,"y":4440,"wires":[]},{"id":"6cb60b5d.a07404","type":"change","z":"807d94c.a1e0d68","name":"set db lock (true)","rules":[{"t":"set","p":"dbWriteLockCH","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":4480,"wires":[["3a1c6ace.e4d9f6"]]},{"id":"3a1c6ace.e4d9f6","type":"file","z":"807d94c.a1e0d68","name":"Save Pive-CH","filename":"Pive-CH","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2100,"y":4520,"wires":[["96849b80.c71df8"]]},{"id":"96849b80.c71df8","type":"change","z":"807d94c.a1e0d68","name":"reset db lock (false)","rules":[{"t":"set","p":"dbWriteLockCH","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":4560,"wires":[["4c5597c2.4e0c28"]]},{"id":"4c5597c2.4e0c28","type":"link out","z":"807d94c.a1e0d68","name":"DB Updated CH","links":["4e90b3ac.706d9c"],"x":2275,"y":4560,"wires":[]},{"id":"a0dd7cf4.775e1","type":"link in","z":"807d94c.a1e0d68","name":"dbWriteCH","links":["846a9e70.748fc","f395cb75.e758c8"],"x":1955,"y":4480,"wires":[["6cb60b5d.a07404"]]},{"id":"24690992.9ec086","type":"link out","z":"807d94c.a1e0d68","name":"ch ctrl","links":["456ae380.381f1c"],"x":1375,"y":4000,"wires":[]},{"id":"debd52b4.340db","type":"link out","z":"807d94c.a1e0d68","name":"hw ctrl","links":["5267cb08.b3eac4"],"x":1375,"y":3500,"wires":[]},{"id":"456ae380.381f1c","type":"link in","z":"807d94c.a1e0d68","name":"MAN CH Off/On","links":["5ec24d33.bd64c4","9457d136.cc2f6","d6b6e26b.694fb","24690992.9ec086","b41169b1.911b78","1c1a8a44.438ad6","45bcdb4f.b685c4","2a1f35aa.340dea"],"x":155,"y":1500,"wires":[["cce47c09.e1c62"]]},{"id":"cf55cca9.350b6","type":"rbe","z":"807d94c.a1e0d68","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1120,"y":3500,"wires":[["9da3538b.5eddd"]]},{"id":"b1709876.ee7478","type":"rbe","z":"807d94c.a1e0d68","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1120,"y":4000,"wires":[["7d4c9823.65fee8"]]},{"id":"2d9b02a8.4f377e","type":"ui_button","z":"807d94c.a1e0d68","name":"","group":"afa437fa.3e5728","order":15,"width":0,"height":0,"passthru":true,"label":"HW Override Timer","tooltip":"HW Override Current Setting - (Timer Mode Only)","color":"","bgcolor":"","icon":"","payload":"toggleHW","payloadType":"str","topic":"toggleHW","topicType":"str","x":1730,"y":3380,"wires":[["fe233f50.e09bd"]]},{"id":"e99b84ea.f704f8","type":"ui_led","z":"807d94c.a1e0d68","order":16,"group":"afa437fa.3e5728","width":0,"height":0,"label":"Override Active:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"HW Override Active","x":2030,"y":3460,"wires":[]},{"id":"c1bf700b.bd698","type":"function","z":"807d94c.a1e0d68","name":"Set/Reset HW Override","func":"let stTmHW = 0;\noverrideEndTimeHW = 0;                              //init override end time to 0\nstateHW=flow.get('overActiveHW');                     //override active? true/false\n\nif (msg.topic=='resetHW') {                           //reset received in topic\n    startHW = false;\n    stateHW = false;\n    msg.payload = 0;\n    msg.topic = '';\n    flow.set('overActiveHW',false);\n    flow.set('overrideStartTimeHW', 0);\n    flow.set('overrideEndTimeHW', 0);\n    \n}\n\nelse if (msg.topic=='toggleHW'){\n    if (stateHW=== false){\n        stateHW = true;\n        msg.payload = 1;\n        flow.set('overActiveHW',true);                          //override active\n        stTm= flow.get('nowMins');                              //override start time = nowMins\n        flow.set('overrideStartTimeHW',flow.get('nowMins'));    //save override start time\n    }\n    else {\n        stateHW = false;\n        msg.payload = 0;\n        flow.set('overActiveHW',false);                         //override inactive\n        flow.set('overrideStartTimeHW', 0);\n        flow.set('overrideEndTimeHW', 0);\n    }\n}\n\n//if override active... calc and store override end time\nif (stateHW){                                                //if override active then calc and store stop time\n    dbHW = flow.get('dbHW');                                    //get weekly TS array\n    nowDay = flow.get('nowDay');                                //current day\n    nowMins = flow.get('nowMins');                              //and current time since 00:00 in mins\n    stTmHW = flow.get('overrideStartTimeHW');\n\n    for (var day = 0; day < dbHW.length; day++) {               //for each element of dbHW (ie the days)\n        if (dbHW[day][0]===nowDay){                             //check each 'day' array element [0] for current day\n            for (var ts = 0; ts < dbHW[day][1].length; ts++) {  //for each element of dbHW[day][1] (ie the ts objects)\n                if((stTmHW >= dbHW[day][1][ts].startTime && stTm <= dbHW[day][1][ts].endTime)){\n                    overrideEndTimeHW = dbHW[day][1][ts].endTime;   //if start time is between start/end of a TS then TS end=override end\n                }\n                if((stTmHW < dbHW[day][1][ts].startTime) && (overrideEndTimeHW === 0)){\n                    overrideEndTimeHW = dbHW[day][1][ts].startTime; //if start time is lt start of a TS then TS start=override end\n                }\n            }\n        }\n    }\n    \n    if(overrideEndTimeHW === 0){\n        overrideEndTimeHW = 1439;                               //if no end time set, then now must be after last TS, so set end=23:59\n        \n    }\n    flow.set('overrideEndTimeHW', overrideEndTimeHW);           //checked all TS slots, so store end time\n}\nmsg.payload = stateHW;                                            //return true/false as payload to control override active led\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nstateHW = 0;\nstart = true;\nflow.set('overActiveHW',false);","finalize":"","x":1750,"y":3460,"wires":[["e99b84ea.f704f8","33aa7e8a.564a32","7fab1c3d.8c8364"]]},{"id":"25e9fa1c.744bb6","type":"ui_text","z":"807d94c.a1e0d68","group":"afa437fa.3e5728","order":17,"width":"2","height":"1","name":"Override Start","label":"Start","format":"{{value}}","layout":"row-spread","x":2380,"y":3380,"wires":[]},{"id":"5287456e.50f36c","type":"ui_text","z":"807d94c.a1e0d68","group":"afa437fa.3e5728","order":18,"width":"2","height":"1","name":"Override End","label":"End","format":"{{value}}","layout":"row-spread","x":2370,"y":3420,"wires":[]},{"id":"33aa7e8a.564a32","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideStartTimeHW","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3380,"wires":[["1e2c009c.0a7f5f"]]},{"id":"7fab1c3d.8c8364","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideEndTimeHW","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3420,"wires":[["2c1360c0.f8357"]]},{"id":"2c1360c0.f8357","type":"function","z":"807d94c.a1e0d68","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveHW')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3420,"wires":[["5287456e.50f36c"]]},{"id":"1e2c009c.0a7f5f","type":"function","z":"807d94c.a1e0d68","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveHW')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3380,"wires":[["25e9fa1c.744bb6"]]},{"id":"101bd845.392628","type":"ui_text","z":"807d94c.a1e0d68","group":"d5810b9d.396c48","order":17,"width":"2","height":"1","name":"Override Start","label":"Start","format":"{{value}}","layout":"row-spread","x":2380,"y":3880,"wires":[]},{"id":"2006a05d.42f89","type":"function","z":"807d94c.a1e0d68","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveCH')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3880,"wires":[["101bd845.392628"]]},{"id":"a4192d28.64813","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideStartTimeCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3880,"wires":[["2006a05d.42f89"]]},{"id":"fb960cff.17f14","type":"function","z":"807d94c.a1e0d68","name":"Set/Reset CH Override","func":"let stTmCH = 0;\noverrideEndTimeCH = 0;                              //init override end time to 0\nstateCH=flow.get('overActiveCH');                     //override active? true/false\n\nif (msg.topic=='resetCH') {                           //reset received in topic\n    startCH = false;\n    stateCH = false;\n    msg.payload = 0;\n    msg.topic = '';\n    flow.set('overActiveCH',false);\n    flow.set('overrideStartTimeCH', 0);\n    flow.set('overrideEndTimeCH', 0);\n    \n}\n\nelse if (msg.topic=='toggleCH'){\n    if (stateCH=== false){\n        stateCH = true;\n        msg.payload = 1;\n        flow.set('overActiveCH',true);                          //override active\n        stTm= flow.get('nowMins');                              //override start time = nowMins\n        flow.set('overrideStartTimeCH',flow.get('nowMins'));    //save override start time\n    }\n    else {\n        stateCH = false;\n        msg.payload = 0;\n        flow.set('overActiveCH',false);                         //override inactive\n        flow.set('overrideStartTimeCH', 0);\n        flow.set('overrideEndTimeCH', 0);\n    }\n}\n\n//if override active... calc and store override end time\nif (stateCH){                                                   //if override active then calc and store stop time\n    dbCH = flow.get('dbCH');                                    //get weekly TS array\n    nowDay = flow.get('nowDay');                                //current day\n    nowMins = flow.get('nowMins');                              //and current time since 00:00 in mins\n    stTmCH = flow.get('overrideStartTimeCH');\n\n    for (var day = 0; day < dbCH.length; day++) {               //for each element of dbCH (ie the days)\n        if (dbCH[day][0]===nowDay){                             //check each 'day' array element [0] for current day\n            for (var ts = 0; ts < dbCH[day][1].length; ts++) {  //for each element of dbCH[day][1] (ie the ts objects)\n                if((stTmCH >= dbCH[day][1][ts].startTime && stTm <= dbCH[day][1][ts].endTime)){\n                    overrideEndTimeCH = dbCH[day][1][ts].endTime;   //if start time is between start/end of a TS then TS end=override end\n                }\n                if((stTmCH < dbCH[day][1][ts].startTime) && (overrideEndTimeCH === 0)){\n                    overrideEndTimeCH = dbCH[day][1][ts].startTime; //if start time is lt start of a TS then TS start=override end\n                }\n            }\n        }\n    }\n    \n    if(overrideEndTimeCH === 0){\n        overrideEndTimeCH = 1439;                               //if no end time set, then now must be after last TS, so set end=23:59\n        \n    }\n    flow.set('overrideEndTimeCH', overrideEndTimeCH);           //checked all TS slots, so store end time\n}\nmsg.payload = stateCH;                                            //return true/false as payload to control override active led\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nstateCH = 0;\nstart = true;\nflow.set('overActiveCH',false);","finalize":"","x":1740,"y":3960,"wires":[["2fe471a3.d92d3e","a4192d28.64813","b5a8a93f.bee5a8"]]},{"id":"5f68ab5.ed12a54","type":"ui_button","z":"807d94c.a1e0d68","name":"","group":"d5810b9d.396c48","order":15,"width":0,"height":0,"passthru":true,"label":"CH Override Timer","tooltip":"CH Override Current Setting - (Timer Mode Only)","color":"","bgcolor":"","icon":"","payload":"toggleCH","payloadType":"str","topic":"toggleCH","topicType":"str","x":1730,"y":3880,"wires":[["c18dcb4e.9acba8"]]},{"id":"2fe471a3.d92d3e","type":"ui_led","z":"807d94c.a1e0d68","order":16,"group":"d5810b9d.396c48","width":0,"height":0,"label":"Override Active:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"CH Override Active","x":2030,"y":3960,"wires":[]},{"id":"b5a8a93f.bee5a8","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"overrideEndTimeCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":3920,"wires":[["d04eaa94.342f58"]]},{"id":"d04eaa94.342f58","type":"function","z":"807d94c.a1e0d68","name":"min to hh:mm","func":"function time_convert(num)\n { \n    var hours = Math.floor(num / 60);  \n    var minutes = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n  \n    return hours + \":\" + minutes;         \n}\n\n\nif (flow.get('overActiveCH')){\n    // call function\n    msg.payload= time_convert(msg.payload);\n}\nelse {\n    msg.payload = \"--:--\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":3920,"wires":[["e14ac709.78a1f8"]]},{"id":"e14ac709.78a1f8","type":"ui_text","z":"807d94c.a1e0d68","group":"d5810b9d.396c48","order":18,"width":"2","height":"1","name":"Override End","label":"End","format":"{{value}}","layout":"row-spread","x":2370,"y":3920,"wires":[]},{"id":"1b0d4b11.fc2f55","type":"function","z":"807d94c.a1e0d68","name":"get date/time","func":"let date = Date();\nvar DayIndex = []; \nDayIndex['Sun'] = 0;\nDayIndex['Mon'] = 1;\nDayIndex['Tue'] = 2;\nDayIndex['Wed'] = 3;\nDayIndex['Thu'] = 4;\nDayIndex['Fri'] = 5;\nDayIndex['Sat'] = 6;    //'Day' , DayIndex for lookup\n            \nlet day = date.substring(0, 3);\nmsg.dayIndexCH = DayIndex[day];\nmsg.dayCH = day;\nmsg.payload = date;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":4180,"wires":[["e0b4f3da.0cf07"]]},{"id":"10692010.77937","type":"function","z":"807d94c.a1e0d68","name":"Save EDIT","func":"dayIndexCH = flow.get('dayIndexCH');\nCHSelTS = flow.get('savedSelectedTimeSlotCH');\nsavedSelectedDayCH = flow.get('savedSelectedDayCH');\nNET = flow.get('newEndTimeCH');\nNST = flow.get('newStartTimeCH');\n\nNETmin = NET.split(':');\nNETmin = (Number(NETmin[0]) * 60) + Number(NETmin[1]);\nNSTmin = NST.split(':');\nNSTmin = (Number(NSTmin[0]) * 60) + Number(NSTmin[1]);\nmsg.NETmin = NETmin;\nmsg.NSTmin = NSTmin;\n\nvalidCheck = true;\nerrorMess = \"OK\";\nStartEndArrCH = flow.get('StartEndArrCH');\nTSArraySizeCH = flow.get('TSArraySizeCH');\n\nselectedTSIndexCH = flow.get('selectedTSIndexCH');                      //Selected TS index\n\nmsg.dayIndexCH = dayIndexCH;\nmsg.CHSelTS = CHSelTS;\nmsg.NET = NET;\nmsg.NST = NST;\n\n//carry out sanity checks on new values dependant on position within total array being edited\nif (NETmin < NSTmin ){                                                  //firstly end time must never be less than start time\n        errorMess = \"SAVE ERROR - End < Start Time\";\n}\nelse if (selectedTSIndexCH+1 ==1 && TSArraySizeCH > 1) {                //first and only element being edited?\n    if (NETmin > StartEndArrCH[selectedTSIndexCH+1][0] ) {              //check if ET < next ST\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n}  \nelse if (selectedTSIndexCH+1 == TSArraySizeCH && TSArraySizeCH > 1) {   //last element?\n    if (NSTmin < StartEndArrCH[selectedTSIndexCH-1][1]) {               //check if ST < prev ET\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\nelse if (TSArraySizeCH > 1) {\n    if (NETmin > StartEndArrCH[selectedTSIndexCH+1][0] ) {              //neither first nor last, so check both prev and next\n        errorMess = \"SAVE ERROR - End Time > Next Start\";\n    }\n    if (NSTmin < StartEndArrCH[selectedTSIndexCH-1][1]) {\n        errorMess = \"SAVE ERROR - Start Time < Prev End\";\n    }\n}\n\nmsg.errorMess = errorMess;\n\nCHSelTS[selectedTSIndexCH]['startTime'] = NSTmin;                       //set selected TS starttime to new value (in mins)\nCHSelTS[selectedTSIndexCH]['endTime'] = NETmin;                         //similar for endtime\nsavedSelectedDayCH[dayIndexCH][1] = CHSelTS;                            //now insert modified array back into weekly array\n\nmsg.postCHSelTS = CHSelTS;\nmsg.payload = savedSelectedDayCH;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":4880,"wires":[["8ddc546f.b6cd48"]]},{"id":"46c8009c.12146","type":"function","z":"807d94c.a1e0d68","name":"ADD new TS to day array","func":"//ADD.. ie insert new TS either between 2 entries, or appended to whole daily TS array\n\nmsg.payload = flow.get('savedSelectedTimeSlotCH');\nmsg.selectedDayCH = flow.get('savedSelectedTimeSlotCH');\nmsg.selectedTSIndexCH = flow.get('selectedTSIndexCH');\n\nnewTSArray = [];\nnewDayArrayCH = [];\nselectedTSIndexCH = flow.get('selectedTSIndexCH');\nselectedDayCH = flow.get('selectedDayCH');\nStartEndArrCH = flow.get('StartEndArrCH');\nerrorMess = \"OK\";\n\ni = 0;\nmsg.mpl = msg.payload.length;\nmsg.payload.forEach(doTS);\n\nfunction doTS(TSEntry) {\n    if (i != selectedTSIndexCH) {                                       //id day index is not selected TS\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n    }\n    else {\n        newentry = TSEntry;                                             //then make newentry = element\n        newTSArray.push(newentry);                                      //and push onto new array\n                                                                        //now make new entry values based on StartEndArrCH: values\n        \n        if (i==msg.payload.length -1){                                  //appending last entry?\n            newentry = {                                                //yes...\n                startTime : (StartEndArrCH[i][1]),                      //previous end time\n                endTime : ((24*60)-1)                                   //new end time 1 min to midnight\n            }\n        newTSArray.push(newentry);    \n        }\n        else {                                                          //inserting new TS...so\n            if ( (StartEndArrCH[i+1][0]) - (StartEndArrCH[i][1]) >2 ){  //is there space for entry between two ts?\n                newentry = {                                            //yes\n                startTime : (StartEndArrCH[i][1]),                      //previous end time\n                endTime : (StartEndArrCH[i+1][0])                       //next TS start time\n                }\n                if (((StartEndArrCH[i][1])) < 24*60 && (StartEndArrCH[i][1] +1) <24*60) {\n                    newTSArray.push(newentry);\n                }\n                else {\n                    errorMess = \"ADD ERROR - Time Goes Into Next Day!\"; //last time goes into next day\n                }\n            }\n            else {\n                errorMess = \"ADD ERROR - Cannot Insert Time Slot\";      //no time between slots\n            }\n        }\n    }\n    i++;\n}\n\nmsg.errorMess = errorMess;\nnewDayArrayCH = [selectedDayCH, newTSArray];                            //reconstruct array for day\nmsg.newDayArrayCH = newDayArrayCH;\nflow.set('newDayArrayCH', msg.newDayArrayCH);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":4940,"wires":[["217cc3db.b0766c"]]},{"id":"36f42ec1.7355f2","type":"ui_media","z":"807d94c.a1e0d68","group":"22efc0.bc80d04","name":"HW Icon","width":"1","height":"1","order":16,"category":"Images","file":"HW_On.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1620,"y":1120,"wires":[[]]},{"id":"23d00aa8.b469c6","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/HW_Off.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1120,"wires":[["36f42ec1.7355f2"]]},{"id":"8edfe938.68afa8","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/HW_On.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1080,"wires":[["36f42ec1.7355f2"]]},{"id":"bef65e28.34dfc","type":"switch","z":"807d94c.a1e0d68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":1120,"wires":[["8edfe938.68afa8"],["23d00aa8.b469c6"]]},{"id":"46c102ee.8a9a7c","type":"ui_media","z":"807d94c.a1e0d68","group":"22efc0.bc80d04","name":"CH Icon","width":"1","height":"1","order":9,"category":"Images","file":"HW_On.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":660,"y":1120,"wires":[[]]},{"id":"dc39f648.417318","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/CH_On.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1080,"wires":[["46c102ee.8a9a7c"]]},{"id":"7da9c7cf.255278","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/CH_Off.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1120,"wires":[["46c102ee.8a9a7c"]]},{"id":"1d28657a.52dfeb","type":"switch","z":"807d94c.a1e0d68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":1120,"wires":[["dc39f648.417318"],["7da9c7cf.255278"]]},{"id":"41585844.723d08","type":"change","z":"807d94c.a1e0d68","name":"thermSP","rules":[{"t":"set","p":"thermSP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":820,"wires":[["807eba87.b82478"]]},{"id":"4f3e9227.4dc3cc","type":"ui_switch","z":"807d94c.a1e0d68","name":"Man/Tmr Mode HW","label":"Man<>Timer","tooltip":"","group":"afa437fa.3e5728","order":20,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"resetHW","topicType":"str","style":"","onvalue":"tmrActiveHW","onvalueType":"str","onicon":"","oncolor":"","offvalue":"manActiveHW","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":870,"y":3380,"wires":[["364ed2c3.08ebde"]]},{"id":"fdcf45e7.5541f8","type":"function","z":"807d94c.a1e0d68","name":"","func":"if (msg.payload === 'tmrActiveHW'){\n    flow.set('ctrlModeHW',msg.payload);\n    flow.set('modeHW','Timer');\n    msg.topic = 'ctrlModeHW';\n}\nelse {\n    flow.set('ctrlModeHW','manActiveHW');\n    flow.set('modeHW','Manual');\n    msg.topic = 'ctrlModeHW';\n    msg.payload = 'manActiveHW';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":3420,"wires":[["ab830e33.397e5","fe233f50.e09bd","6bbd7da7.c48844"]]},{"id":"ab830e33.397e5","type":"gate","z":"807d94c.a1e0d68","name":"man/tmr?","controlTopic":"ctrlModeHW","defaultState":"closed","openCmd":"tmrActiveHW","closeCmd":"manActiveHW","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1000,"y":3460,"wires":[["af481884.a93bc8"]]},{"id":"fe233f50.e09bd","type":"gate","z":"807d94c.a1e0d68","name":"","controlTopic":"ctrlModeHW","defaultState":"closed","openCmd":"tmrActiveHW","closeCmd":"manActiveHW","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1690,"y":3420,"wires":[["c1bf700b.bd698"]]},{"id":"4f378035.dffff","type":"ui_switch","z":"807d94c.a1e0d68","name":"Man/Tmr Mode CH","label":"Man<>Timer","tooltip":"","group":"d5810b9d.396c48","order":20,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"resetCH","topicType":"str","style":"","onvalue":"tmrActiveCH","onvalueType":"str","onicon":"","oncolor":"","offvalue":"manActiveCH","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":870,"y":3880,"wires":[["42d294f6.46eefc"]]},{"id":"dd07ecd8.490e5","type":"function","z":"807d94c.a1e0d68","name":"","func":"if (msg.payload === 'tmrActiveCH'){\n    flow.set('ctrlModeCH',msg.payload);\n    flow.set('modeCH','Timer');\n    msg.topic = 'ctrlModeCH';\n    }\nelse {\n    flow.set('ctrlModeCH','manActiveCH');\n    flow.set('modeCH','Manual');\n    msg.topic = 'ctrlModeCH';\n    msg.payload = 'manActiveCH';\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":3920,"wires":[["bba43853.6c96e8","c18dcb4e.9acba8","42e389af.b666b8"]]},{"id":"bba43853.6c96e8","type":"gate","z":"807d94c.a1e0d68","name":"man/tmr?","controlTopic":"ctrlModeCH","defaultState":"closed","openCmd":"tmrActiveCH","closeCmd":"manActiveCH","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1000,"y":3960,"wires":[["b15458de.d59128"]]},{"id":"c18dcb4e.9acba8","type":"gate","z":"807d94c.a1e0d68","name":"","controlTopic":"ctrlModeCH","defaultState":"closed","openCmd":"tmrActiveCH","closeCmd":"manActiveCH","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":1690,"y":3920,"wires":[["fb960cff.17f14"]]},{"id":"79a8c807.8863a8","type":"ui_media","z":"807d94c.a1e0d68","group":"afa437fa.3e5728","name":"HW Mode","width":"1","height":"1","order":21,"category":"Images","file":"tmrActiveCH.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1420,"y":3340,"wires":[[]]},{"id":"6bbd7da7.c48844","type":"function","z":"807d94c.a1e0d68","name":"set image","func":"msg.payload = \"/Images/\" + msg.payload + \".png\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3380,"wires":[["79a8c807.8863a8"]]},{"id":"fe221bd8.712cb8","type":"ui_media","z":"807d94c.a1e0d68","group":"d5810b9d.396c48","name":"CH Mode","width":"1","height":"1","order":21,"category":"Images","file":"tmrActiveCH.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1420,"y":3840,"wires":[[]]},{"id":"42e389af.b666b8","type":"function","z":"807d94c.a1e0d68","name":"set image","func":"msg.payload = \"/Images/\" + msg.payload + \".png\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3880,"wires":[["fe221bd8.712cb8"]]},{"id":"d8bcfec9.21a89","type":"ui_button","z":"807d94c.a1e0d68","name":"Central Heat Control/Status","group":"22efc0.bc80d04","order":6,"width":0,"height":0,"passthru":true,"label":"Central Heating Control/Status","tooltip":"Toggle CH - Off/On","color":"","bgcolor":"","icon":"","payload":"CHOnOff","payloadType":"str","topic":"toggleCH","topicType":"str","x":120,"y":1580,"wires":[["d03a4425.0cf638"]]},{"id":"48e8eda6.26c6c4","type":"ui_template","z":"807d94c.a1e0d68","group":"1ea34d06.1438c3","name":"Button font - 11.5px","order":0,"width":0,"height":0,"format":"<style>\n.md-button {\n    font-size: 11.5px !important;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":1650,"y":80,"wires":[[]]},{"id":"dafef695.7a5c88","type":"ui_button","z":"807d94c.a1e0d68","name":"Mode HW","group":"afa437fa.3e5728","order":19,"width":0,"height":0,"passthru":true,"label":"Manual On/Off - Timer Mode","tooltip":"Toggle HW Mode - Manual/Timer","color":"","bgcolor":"","icon":"","payload":"HWModeToggle","payloadType":"str","topic":"topic","topicType":"msg","x":340,"y":3380,"wires":[["b12ef65d.dfc608"]]},{"id":"451835ae.d7b70c","type":"ui_button","z":"807d94c.a1e0d68","name":"Mode CH","group":"d5810b9d.396c48","order":19,"width":0,"height":0,"passthru":true,"label":"Manual On/Off - Timer Mode","tooltip":"Toggle CH Mode - Manual/Timer","color":"","bgcolor":"","icon":"","payload":"CHModeToggle","payloadType":"str","topic":"topic","topicType":"msg","x":340,"y":3880,"wires":[["737a4b0f.266b44"]]},{"id":"b12ef65d.dfc608","type":"function","z":"807d94c.a1e0d68","name":"Toggle/Reset HW","func":"if (msg.topic === 'resetHW'){\n    if (msg.payload === 'tmrActiveHW'){\n        state = 0;                          //tmr switch active\n    }\n    else {\n        state = 1;                          //man switch active\n    }\n}\n\n\nif (msg.payload === 'HWModeToggle') {\n    if(state === 0){\n        state = 1;\n        msg.payload = 'manActiveHW';\n    }\n    else {\n        state = 0;\n        msg.payload = 'tmrActiveHW';\n    }\n}\n\nmsg.topic = '';\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed\nstate=0;","finalize":"","x":530,"y":3380,"wires":[["e18b7dc1.6035f"]]},{"id":"737a4b0f.266b44","type":"function","z":"807d94c.a1e0d68","name":"Toggle/Reset CH","func":"if (msg.topic === 'resetCH'){\n    if (msg.payload === 'tmrActiveCH'){\n        state = 0;\n    }\n    else {\n        state = 1;\n    }\n}\n\n\n\nif (msg.payload === 'CHModeToggle') {\n    if(state === 0){\n        state = 1;\n        msg.payload = 'manActiveCH';\n    }\n    else {\n        state = 0;\n        msg.payload = 'tmrActiveCH';\n    }\n}\n\nmsg.topic = '';\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed\nstate=0;","finalize":"","x":530,"y":3880,"wires":[["d99d15c2.6b3d98"]]},{"id":"d03a4425.0cf638","type":"function","z":"807d94c.a1e0d68","name":"CH State/Toggle","func":"if (msg.topic === 'offonSwitch'){\n    if (msg.payload === 'off'){                      //off or heat\n        chstate = 0;\n    }   \n    else {\n        chstate = 1;\n    }\n}\n\n\nif (msg.payload === 'CHOnOff' && msg.topic === 'toggleCH'){                 //toggle state with button\n    msg.topic = 'offonSwitch';\n    if (chstate === 0 ){\n        chstate = 1 ;\n        msg.payload = 'heat';\n    }\n    else {\n        chstate = 0;\n        msg.payload = 'off';\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed","finalize":"","x":360,"y":1580,"wires":[["1625a25a.06ba7e"]]},{"id":"372f5329.a6ebcc","type":"function","z":"807d94c.a1e0d68","name":"","func":"const now = new Date();\nconst thisSecEpoch = Math.round(now.getTime()/1000);\n\ndiff = thisSecEpoch - prevSecEpoch\nprevSecEpoch = thisSecEpoch;\nmsg.initTimeSlotsHW = false;\nmsg.payload = \"\";\n\nif(diff >=3){\n    msg.payload = \"Press Button twice within 2 seconds to initialise default Hot Water time slots\"\n    msg.topic = \"INITIALISE HOT WATER TIME SLOTS\";\n    ctr = 0;                            //reset press/click counter if activation >= 3 secs\n}\nelse {\n    ctr ++;\n}\n\nif (ctr >=1) {                          //more than 3 presses/clicks within 3 secs\n    msg.payload = \"Resetting ...\"\n    msg.topic = \"INITIALISE HOT WATER TIME SLOTS\";\n    msg.initTimeSlotsHW = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nprevSecEpoch = 0;","finalize":"","x":160,"y":2400,"wires":[["149d79e7.fb9d56","37cf4029.c3273"]]},{"id":"149d79e7.fb9d56","type":"ui_toast","z":"807d94c.a1e0d68","position":"top right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":370,"y":2400,"wires":[]},{"id":"37cf4029.c3273","type":"switch","z":"807d94c.a1e0d68","name":"","property":"msg.initTimeSlotsHW","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":2440,"wires":[["67b7634d.77f9cc"]]},{"id":"5e4c7cfa.de5ca4","type":"switch","z":"807d94c.a1e0d68","name":"","property":"msg.initTimeSlotsCH","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":4220,"wires":[["dbb1bb14.786958"]]},{"id":"eb7fe906.0e4218","type":"ui_toast","z":"807d94c.a1e0d68","position":"top right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status Toast","x":370,"y":4180,"wires":[]},{"id":"dcb990d3.38058","type":"ui_button","z":"807d94c.a1e0d68","name":"INIT CH","group":"2c575afb.6509b6","order":8,"width":"1","height":"1","passthru":true,"label":"C","tooltip":"Initialise CH Time Slots to Default Values - Double tap to Activate","color":"","bgcolor":"","icon":"","payload":"open","payloadType":"str","topic":"control","topicType":"str","x":160,"y":4140,"wires":[["bd0f4188.e2057"]]},{"id":"22adae2b.b4eaa2","type":"inject","z":"807d94c.a1e0d68","name":"Init CH Objects","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":4100,"wires":[["dcb990d3.38058"]]},{"id":"5bed594c.964408","type":"comment","z":"807d94c.a1e0d68","name":"Change Dashboard BUTTON font size","info":"","x":1710,"y":40,"wires":[]},{"id":"bd0f4188.e2057","type":"function","z":"807d94c.a1e0d68","name":"","func":"const now = new Date();\nconst thisSecEpoch = Math.round(now.getTime()/1000);\n\ndiff = thisSecEpoch - prevSecEpoch\nprevSecEpoch = thisSecEpoch;\nmsg.initTimeSlotsCH = false;\nmsg.payload = \"\";\n\nif(diff >=3){\n    msg.payload = \"Press Button twice within 2 seconds to initialise default Central Heating time slots\"\n    msg.topic = \"INITIALISE CENTRAL HEATING TIME SLOTS\";\n    ctr = 0;                            //reset press/click counter if activation >= 3 secs\n}\nelse {\n    ctr ++;\n}\n\nif (ctr >=1) {                          //more than 3 presses/clicks within 3 secs\n    msg.payload = \"Resetting ...\"\n    msg.topic = \"INITIALISE CENTRAL HEATING TIME SLOTS\";\n    msg.initTimeSlotsCH = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nprevSecEpoch = 0;","finalize":"","x":162,"y":4179.60009765625,"wires":[["5e4c7cfa.de5ca4","eb7fe906.0e4218"]]},{"id":"322b2f66.2bdba","type":"mqtt out","z":"807d94c.a1e0d68","name":"pub SLR Control (ie Off/On/Therm setting.. etc)","topic":"","qos":"2","retain":"true","broker":"c5d162de.95589","x":1580,"y":580,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"5267cb08.b3eac4","type":"link in","z":"807d94c.a1e0d68","name":"MAN HW Off/On","links":["debd52b4.340db","cc6ae35c.d7f71","62491ec9.07aa9","ca170748.0b0ac8","c36d472e.d929d8","fed80139.bb731","f9c557a8.e591e8"],"x":1315,"y":1500,"wires":[["4cae5470.cdf88c"]]},{"id":"187910f1.53103f","type":"mqtt in","z":"807d94c.a1e0d68","name":"","topic":"pive2mqtt/SLRCtrl/#","qos":"2","datatype":"auto","broker":"c5d162de.95589","x":150,"y":700,"wires":[["f44a7002.2463d"]]},{"id":"f44a7002.2463d","type":"switch","z":"807d94c.a1e0d68","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"pive2mqtt/SLRCtrl/HWManAuto","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/CHManAuto","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/CHOffOn","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/HWOffOn","vt":"str"},{"t":"eq","v":"pive2mqtt/SLRCtrl/savedSP","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":720,"wires":[["82d1337b.7f195"],["23b5689d.3d8df8"],["c9843d9e.8d443"],["87ec8ad9.8cea38"],["41585844.723d08","64c23dad.f92224"]]},{"id":"cb1ba9a5.121528","type":"link in","z":"807d94c.a1e0d68","name":"HWManSwitchsub","links":["82d1337b.7f195","af792d8c.84358"],"x":1095,"y":3340,"wires":[["d934193d.8c5528"]]},{"id":"82d1337b.7f195","type":"link out","z":"807d94c.a1e0d68","name":"apiary2mqtt/SLRCtrl/HWManAuto","links":["cb1ba9a5.121528"],"x":735,"y":700,"wires":[]},{"id":"a1e4b3d0.ba36e","type":"comment","z":"807d94c.a1e0d68","name":"/HWManAuto","info":"","x":830,"y":700,"wires":[]},{"id":"e9897995.904798","type":"comment","z":"807d94c.a1e0d68","name":"to HW Off/On Switch","info":"","x":1490,"y":3500,"wires":[]},{"id":"608b3652.6d24f8","type":"comment","z":"807d94c.a1e0d68","name":"pub HW off/heat to SLR","info":"","x":1960,"y":1340,"wires":[]},{"id":"bac34a67.c7bf28","type":"comment","z":"807d94c.a1e0d68","name":"pub CH off/heat to SLR","info":"","x":760,"y":1340,"wires":[]},{"id":"ed922e6f.c6ec7","type":"comment","z":"807d94c.a1e0d68","name":"to CH Off/On Switch","info":"","x":1490,"y":4000,"wires":[]},{"id":"364ed2c3.08ebde","type":"link out","z":"807d94c.a1e0d68","name":"HWAutoManModepub","links":["9f997a88.ec3e08"],"x":995,"y":3380,"wires":[]},{"id":"9f997a88.ec3e08","type":"link in","z":"807d94c.a1e0d68","name":"pub SLR Ctrl HW","links":["364ed2c3.08ebde"],"x":1035,"y":580,"wires":[["d81f84e3.b8d138"]]},{"id":"d81f84e3.b8d138","type":"change","z":"807d94c.a1e0d68","name":"HW Man/Auto","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":580,"wires":[["322b2f66.2bdba"]]},{"id":"d934193d.8c5528","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"resetHW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":3340,"wires":[["fdcf45e7.5541f8","b12ef65d.dfc608"]]},{"id":"e18b7dc1.6035f","type":"rbe","z":"807d94c.a1e0d68","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":700,"y":3380,"wires":[["4f3e9227.4dc3cc"]]},{"id":"d99d15c2.6b3d98","type":"rbe","z":"807d94c.a1e0d68","name":"changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":700,"y":3880,"wires":[["4f378035.dffff"]]},{"id":"42d294f6.46eefc","type":"link out","z":"807d94c.a1e0d68","name":"CHAutoManModepub","links":["edb14b52.b11298"],"x":995,"y":3880,"wires":[]},{"id":"edb14b52.b11298","type":"link in","z":"807d94c.a1e0d68","name":"pub SLR Ctrl CH","links":["42d294f6.46eefc"],"x":1035,"y":620,"wires":[["8034b49f.dd0578"]]},{"id":"8034b49f.dd0578","type":"change","z":"807d94c.a1e0d68","name":"CH Man/Auto","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":620,"wires":[["322b2f66.2bdba"]]},{"id":"23b5689d.3d8df8","type":"link out","z":"807d94c.a1e0d68","name":"apiary2mqtt/SLRCtrl/CHManAuto","links":["bae9f2c5.a9c8"],"x":735,"y":740,"wires":[]},{"id":"fbeeaeb0.e2584","type":"comment","z":"807d94c.a1e0d68","name":"/CHManAuto","info":"","x":830,"y":740,"wires":[]},{"id":"bae9f2c5.a9c8","type":"link in","z":"807d94c.a1e0d68","name":"CHManSwitchsub","links":["23b5689d.3d8df8","ed509482.fc5318"],"x":1115,"y":3840,"wires":[["d64ccf2e.c11b1"]]},{"id":"d64ccf2e.c11b1","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":3840,"wires":[["dd07ecd8.490e5","737a4b0f.266b44"]]},{"id":"42f4da5d.60aec4","type":"comment","z":"807d94c.a1e0d68","name":"CH Auto/Man sub","info":"","x":1180,"y":3800,"wires":[]},{"id":"69db69fb.5c9218","type":"comment","z":"807d94c.a1e0d68","name":"HW Auto/Man sub","info":"","x":1170,"y":3300,"wires":[]},{"id":"5370a6f1.6a9108","type":"change","z":"807d94c.a1e0d68","name":"savedSP","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/savedSP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":660,"wires":[["322b2f66.2bdba"]]},{"id":"1625a25a.06ba7e","type":"rbe","z":"807d94c.a1e0d68","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":400,"y":1540,"wires":[["cce47c09.e1c62"]]},{"id":"d01e232a.c5ec3","type":"switch","z":"807d94c.a1e0d68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"offline","vt":"str"},{"t":"eq","v":"online","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":560,"wires":[["91ac59f.3934ba8"],["747efd5b.806fd4"]]},{"id":"91ac59f.3934ba8","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/slr2-offline.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":560,"wires":[["bd559380.a5d64"]]},{"id":"747efd5b.806fd4","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Images/slr2-online.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["bd559380.a5d64"]]},{"id":"bd559380.a5d64","type":"ui_media","z":"807d94c.a1e0d68","group":"22efc0.bc80d04","name":"Hive Status Icon","width":"1","height":"1","order":3,"category":"Images","file":"HW_On.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":780,"y":600,"wires":[[]]},{"id":"8b09c284.ba88","type":"comment","z":"807d94c.a1e0d68","name":"Toggle HW Override","info":"","x":1730,"y":3340,"wires":[]},{"id":"85a4ad68.6c2a2","type":"comment","z":"807d94c.a1e0d68","name":"Toggle CH Override","info":"","x":1730,"y":3840,"wires":[]},{"id":"da5837aa.106638","type":"comment","z":"807d94c.a1e0d68","name":"Switch HW IP","info":"","x":1230,"y":1500,"wires":[]},{"id":"55afca15.514e54","type":"ui_button","z":"807d94c.a1e0d68","name":"Hot Water Control/Status","group":"22efc0.bc80d04","order":14,"width":0,"height":0,"passthru":true,"label":"Hot Water Control/Status","tooltip":"Toggle HW - Off/On","color":"","bgcolor":"","icon":"","payload":"HWOnOff","payloadType":"str","topic":"toggleHW","topicType":"str","x":1270,"y":1580,"wires":[["6feab7c0.ca3068"]]},{"id":"6feab7c0.ca3068","type":"function","z":"807d94c.a1e0d68","name":"HW State/Toggle","func":"if (msg.topic === 'offonSwitch'){\n    if (msg.payload === 'off'){                      //off or heat\n        hwstate = 0;\n    }   \n    else {\n        hwstate = 1;\n    }\n}\n\n\nif (msg.payload === 'HWOnOff' && msg.topic === 'toggleHW'){                 //toggle state with button\n    msg.topic = 'offonSwitch';\n    if (hwstate === 0 ){\n        hwstate = 1 ;\n        msg.payload = 'heat';\n    }\n    else {\n        hwstate = 0;\n        msg.payload = 'off';\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1510,"y":1580,"wires":[["eab6f400.5f4418"]]},{"id":"a598f801.dc2c78","type":"comment","z":"807d94c.a1e0d68","name":"Switch CH IP","info":"","x":70,"y":1500,"wires":[]},{"id":"9a78a1a6.86418","type":"comment","z":"807d94c.a1e0d68","name":"Every second, check for CH/HW off or on as stored in daily on/off timeslots","info":"","x":540,"y":3640,"wires":[]},{"id":"63229255.8472ac","type":"comment","z":"807d94c.a1e0d68","name":"Override HW (in timer mode)","info":"","x":1760,"y":3500,"wires":[]},{"id":"42dedb77.c64984","type":"comment","z":"807d94c.a1e0d68","name":"Display Override start/end if override active","info":"","x":2280,"y":3460,"wires":[]},{"id":"9411af6c.47db9","type":"comment","z":"807d94c.a1e0d68","name":"SLR subscribed topics","info":"","x":740,"y":120,"wires":[]},{"id":"f399fb4.ddc8308","type":"comment","z":"807d94c.a1e0d68","name":"sub to controls, off/on/thermostat setting etc","info":"","x":230,"y":660,"wires":[]},{"id":"1abd2b04.0fef65","type":"comment","z":"807d94c.a1e0d68","name":"Man/Tmr switch and push button toggles for CH","info":"","x":460,"y":3840,"wires":[]},{"id":"49fa10b9.b3638","type":"comment","z":"807d94c.a1e0d68","name":"Man/Tmr switch and push button toggles for HW","info":"","x":460,"y":3340,"wires":[]},{"id":"59c5ea15.ac2a44","type":"change","z":"807d94c.a1e0d68","name":"HW heat","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1820,"wires":[["ca170748.0b0ac8"]]},{"id":"4b0f02a.19541fc","type":"change","z":"807d94c.a1e0d68","name":"HW off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1860,"wires":[["cc6ae35c.d7f71"]]},{"id":"a0a6f1fc.06e4","type":"change","z":"807d94c.a1e0d68","name":"CH heat","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1960,"wires":[["b41169b1.911b78"]]},{"id":"8cfbf652.4e4f48","type":"change","z":"807d94c.a1e0d68","name":"CH off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2000,"wires":[["9457d136.cc2f6"]]},{"id":"dcc6644.1523598","type":"comment","z":"807d94c.a1e0d68","name":"/savedSP","info":"","x":820,"y":860,"wires":[]},{"id":"807eba87.b82478","type":"link out","z":"807d94c.a1e0d68","name":"apiary2mqtt/SLRCtrl/savedSP","links":["ad866afc.6fb328"],"x":735,"y":860,"wires":[]},{"id":"8d49cf86.a6335","type":"link in","z":"807d94c.a1e0d68","name":"pub SLR savedSP","links":["c99e4704.5e7e88","43e59dc.cd4a764","7fba4ced.9cb5d4","702f8a4b.290114"],"x":1035,"y":660,"wires":[["5370a6f1.6a9108"]]},{"id":"3c87fbc0.6ecb74","type":"ui_button","z":"807d94c.a1e0d68","name":"Sat CH","group":"2c575afb.6509b6","order":6,"width":"1","height":"1","passthru":true,"label":"Sat","tooltip":"Show Saturday CH Time Slots in below list - Then Select a Time Slot to enable Edit functions","color":"","bgcolor":"","icon":"","payload":"Sat","payloadType":"str","topic":"6","topicType":"str","x":280,"y":4520,"wires":[["871709c8.49a108"]]},{"id":"5d9c9b50.c324f4","type":"change","z":"807d94c.a1e0d68","name":"Restore SP","rules":[{"t":"set","p":"payload","pt":"msg","to":"boostsavedSPCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":4120,"wires":[["c99e4704.5e7e88"]]},{"id":"8fe442a7.87293","type":"switch","z":"807d94c.a1e0d68","name":"Boost End?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1710,"y":4120,"wires":[["5d9c9b50.c324f4","17cd370b.9eb659"]]},{"id":"c99e4704.5e7e88","type":"link out","z":"807d94c.a1e0d68","name":"boostSPCH out","links":["8d49cf86.a6335","d1ca1dce.c5eed"],"x":2395,"y":4160,"wires":[]},{"id":"f5d9b57d.f6dac8","type":"change","z":"807d94c.a1e0d68","name":"BoostCH Setup","rules":[{"t":"set","p":"boostSecsCH","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"SSE","tot":"flow"},{"t":"set","p":"boostTimeEndCH","pt":"flow","to":"msg.payload + msg.boostSecsCH","tot":"jsonata"},{"t":"set","p":"boostsavedSPCH","pt":"flow","to":"thermSP","tot":"flow"},{"t":"set","p":"boostCH","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":4200,"wires":[["426332e4.e3e8fc"]]},{"id":"8edc9bf3.da5478","type":"ui_text","z":"807d94c.a1e0d68","group":"d5810b9d.396c48","order":13,"width":"4","height":"1","name":"Boost remaining CH","label":"Boost Time Remaining","format":"{{msg.remain}}","layout":"row-spread","x":2220,"y":4080,"wires":[]},{"id":"c03e0976.b5f6a8","type":"function","z":"807d94c.a1e0d68","name":"CH Boost?","func":"msg.topic='';\nonCH = 'off';\n\nboostTimeEndCH = flow.get('boostTimeEndCH');\nboostCH = flow.get('boostCH');\nboostRemainingCH = 0;\nnowsse = flow.get('SSE');\n\nif (boostCH){                                                           //if boost is true, then\n    if (nowsse < boostTimeEndCH){                                      //if current time is less or equal boost end time\n        boostRemainingCH = boostTimeEndCH - nowsse; //boost remaining in mins\n        flow.set('boostRemainingCH',boostRemainingCH);\n        flow.set('boostTxtCH','Active');\n        onCH = 'heat'; //heat demand\n    }\n    else {\n        onCH = 'off';                                                   //boost ended\n        boostRemainingCH = 0;                                         //mins remaining\n        flow.set('boostCH', false);                                     //reset boost to false\n        flow.set('boostTxtCH','InActive');\n    }\n}\n\nflow.set('StateCH', onCH);\nmsg.payload = onCH;\nmsg.boostRemainingCH = boostRemainingCH;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":4000,"wires":[["8fe442a7.87293","b1709876.ee7478","94fdb1e6.52a65"]]},{"id":"d938472f.dcad88","type":"ui_button","z":"807d94c.a1e0d68","name":"Boost +30m","group":"d5810b9d.396c48","order":9,"width":"1","height":"1","passthru":true,"label":"+ 30m","tooltip":"Activate CH Boost for 30mins","color":"","bgcolor":"","icon":"","payload":"1800","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4160,"wires":[["50f905c8.e2cc6c"]]},{"id":"299408bd.71b358","type":"comment","z":"807d94c.a1e0d68","name":"pub Therm SP","info":"","x":2490,"y":4160,"wires":[]},{"id":"ea8660cb.f446c","type":"comment","z":"807d94c.a1e0d68","name":"BOOST CH","info":"","x":1930,"y":4200,"wires":[]},{"id":"426332e4.e3e8fc","type":"change","z":"807d94c.a1e0d68","name":"CH Man Active","rules":[{"t":"set","p":"savedModeCH","pt":"flow","to":"ctrlModeCH","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"manActiveCH","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":4240,"wires":[["b8562fbb.7245d","59b4570f.70d078"]]},{"id":"edc14dab.24e9","type":"link in","z":"807d94c.a1e0d68","name":"ManTmrModeCH","links":["b8562fbb.7245d","6c1a0e54.732fc"],"x":375,"y":3920,"wires":[["737a4b0f.266b44"]]},{"id":"b8562fbb.7245d","type":"link out","z":"807d94c.a1e0d68","name":"BoostUpdateModeCH","links":["edc14dab.24e9"],"x":2395,"y":4200,"wires":[]},{"id":"a76fe30a.98ef8","type":"comment","z":"807d94c.a1e0d68","name":"Update Mode CH","info":"","x":2500,"y":4200,"wires":[]},{"id":"17cd370b.9eb659","type":"change","z":"807d94c.a1e0d68","name":"Restore Mode CH","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedModeCH","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"},{"t":"set","p":"boostCH","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostTxtCH","pt":"flow","to":"InActive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":4160,"wires":[["b8562fbb.7245d"]]},{"id":"50b31f18.77416","type":"change","z":"807d94c.a1e0d68","name":"Boost SP","rules":[{"t":"set","p":"boostSPCH","pt":"msg","to":"temp","tot":"flow"},{"t":"set","p":"boostSPCH","pt":"flow","to":"msg.boostSPCH + 1","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"boostSPCH","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":4320,"wires":[["c99e4704.5e7e88"]]},{"id":"f40d3bf0.1b70c8","type":"switch","z":"807d94c.a1e0d68","name":"Boost True?","property":"boostCH","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":3960,"wires":[["bba43853.6c96e8"],["c03e0976.b5f6a8"]]},{"id":"d6678cdf.2591d","type":"ui_button","z":"807d94c.a1e0d68","name":"Boost +60m","group":"d5810b9d.396c48","order":10,"width":"1","height":"1","passthru":true,"label":"+ 60m","tooltip":"Activate CH Boost for 60mins","color":"","bgcolor":"","icon":"","payload":"3600","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4200,"wires":[["50f905c8.e2cc6c"]]},{"id":"5fa6b370.040a2c","type":"ui_button","z":"807d94c.a1e0d68","name":"Boost Cancel","group":"d5810b9d.396c48","order":12,"width":"1","height":"1","passthru":true,"label":"Cancel","tooltip":"Cancel CH Boost","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4280,"wires":[["2423230f.33439c"]]},{"id":"2423230f.33439c","type":"change","z":"807d94c.a1e0d68","name":"Boost 0","rules":[{"t":"set","p":"boostTimeEndCH","pt":"flow","to":"SSE","tot":"flow"},{"t":"set","p":"boostTxtCH","pt":"flow","to":"InActive","tot":"str"},{"t":"set","p":"boostTimeTxtCH","pt":"flow","to":"00:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":4360,"wires":[[]]},{"id":"57fcb601.c58978","type":"change","z":"807d94c.a1e0d68","name":"Restore Mode HW","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedModeHW","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetHW","tot":"str"},{"t":"set","p":"boostHW","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"boostTxtHW","pt":"flow","to":"InActive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":3620,"wires":[["f6e69732.b87798"]]},{"id":"384db9fa.60d3b6","type":"switch","z":"807d94c.a1e0d68","name":"Boost End?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1710,"y":3620,"wires":[["57fcb601.c58978"]]},{"id":"f6e69732.b87798","type":"link out","z":"807d94c.a1e0d68","name":"BoostUpdateModeCH","links":["d6d2ee34.990e6"],"x":2395,"y":3660,"wires":[]},{"id":"5108c066.51208","type":"change","z":"807d94c.a1e0d68","name":"HW Man Active","rules":[{"t":"set","p":"savedModeHW","pt":"flow","to":"ctrlModeHW","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"resetHW","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"manActiveHW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":3700,"wires":[["f6e69732.b87798","d452afda.6b4f1"]]},{"id":"b88121db.b6a4d","type":"ui_text","z":"807d94c.a1e0d68","group":"afa437fa.3e5728","order":13,"width":"4","height":"1","name":"Boost remaining HW","label":"Boost Time Remaining","format":"{{msg.remain}}","layout":"row-spread","x":2220,"y":3580,"wires":[]},{"id":"f211089d.6a4cc8","type":"ui_button","z":"807d94c.a1e0d68","name":"Boost +30m","group":"afa437fa.3e5728","order":9,"width":"1","height":"1","passthru":true,"label":"+ 30m","tooltip":"Activate HW Boost for 30mins","color":"","bgcolor":"","icon":"","payload":"1800","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3660,"wires":[["9f2c024f.0fcc1"]]},{"id":"85b49d9e.c36eb","type":"ui_button","z":"807d94c.a1e0d68","name":"Boost +60m","group":"afa437fa.3e5728","order":10,"width":"1","height":"1","passthru":true,"label":"+ 60m","tooltip":"Activate HW Boost for 60mins","color":"","bgcolor":"","icon":"","payload":"3600","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3700,"wires":[["9f2c024f.0fcc1"]]},{"id":"10a4f7ee.5c2998","type":"change","z":"807d94c.a1e0d68","name":"BoostHW Setup","rules":[{"t":"set","p":"boostSecsHW","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"SSE","tot":"flow"},{"t":"set","p":"boostTimeEndHW","pt":"flow","to":"msg.payload + msg.boostSecsHW","tot":"jsonata"},{"t":"set","p":"boostsavedSPHW","pt":"flow","to":"thermSP","tot":"flow"},{"t":"set","p":"boostHW","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":3660,"wires":[["5108c066.51208"]]},{"id":"12e891cc.8a40ae","type":"comment","z":"807d94c.a1e0d68","name":"Update Mode HW","info":"","x":2510,"y":3660,"wires":[]},{"id":"6e7c650e.3a055c","type":"comment","z":"807d94c.a1e0d68","name":"BOOST HW","info":"","x":1950,"y":3660,"wires":[]},{"id":"c90331df.afd65","type":"ui_button","z":"807d94c.a1e0d68","name":"Boost Cancel","group":"afa437fa.3e5728","order":12,"width":"1","height":"1","passthru":true,"label":"Cancel","tooltip":"Cancel HW Boost","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3780,"wires":[["8d4b0803.615b88"]]},{"id":"8d4b0803.615b88","type":"change","z":"807d94c.a1e0d68","name":"Boost 0","rules":[{"t":"set","p":"boostTimeEndHW","pt":"flow","to":"SSE","tot":"flow"},{"t":"set","p":"boostTxtHW","pt":"flow","to":"InActive","tot":"str"},{"t":"set","p":"boostTimeTxtHW","pt":"flow","to":"00:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":3780,"wires":[[]]},{"id":"c040f064.4f395","type":"function","z":"807d94c.a1e0d68","name":"HW Boost?","func":"msg.topic='';\nonHW = 'off';\n\nboostTimeEndHW = flow.get('boostTimeEndHW');\nboostHW = flow.get('boostHW');\nboostRemainingHW = 0;\nnowsse = flow.get('SSE');\n\nif (boostHW){                                                           //if boost is true, then\n    if (nowsse < boostTimeEndHW){                                      //if current time is less or equal boost end time\n        boostRemainingHW = boostTimeEndHW - nowsse; //boost remaining in mins\n        flow.set('boostRemainingHW',boostRemainingHW);\n        flow.set('boostTxtHW','Active');\n        onHW = 'heat'; //heat demand\n    }\n    else {\n        onHW = 'off';                                                   //boost ended\n        boostRemainingHW = 0;                                         //mins remaining\n        flow.set('boost', false);                                     //reset boost to false\n        flow.set('boostTxtHW','InActive');\n    }\n}\n\nflow.set('StateHW', onHW);\nmsg.payload = onHW;\nmsg.boostRemainingHW = boostRemainingHW;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":3500,"wires":[["384db9fa.60d3b6","7c542a50.f8dd44","cf55cca9.350b6"]]},{"id":"34469cab.1fcdf4","type":"switch","z":"807d94c.a1e0d68","name":"Boost True?","property":"boostHW","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":3460,"wires":[["ab830e33.397e5"],["c040f064.4f395"]]},{"id":"28f5f872.3e34f8","type":"comment","z":"807d94c.a1e0d68","name":"Override CH (in timer mode)","info":"","x":1760,"y":4000,"wires":[]},{"id":"ac9fad07.4d45d","type":"comment","z":"807d94c.a1e0d68","name":"Display Override start/end if override active","info":"","x":2280,"y":3960,"wires":[]},{"id":"d6d2ee34.990e6","type":"link in","z":"807d94c.a1e0d68","name":"ManTmrModeHW","links":["f6e69732.b87798"],"x":375,"y":3420,"wires":[["b12ef65d.dfc608"]]},{"id":"7c542a50.f8dd44","type":"function","z":"807d94c.a1e0d68","name":"Boost Tme","func":"function time_convert(num)\n { \n    var minutes = Math.floor(num / 60);  \n    var seconds = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (minutes   < 10) {minutes   = \"0\"+minutes;}\n    if (seconds < 10) {seconds = \"0\"+seconds;}\n  \n    return minutes + \":\" + seconds;         \n}\n\n\nmsg.remain = time_convert(msg.boostRemainingHW);\nflow.set('boostTimeTxtHW',msg.remain);\nmsg.payload = msg.boostRemainingHW;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":3580,"wires":[["384db9fa.60d3b6","b88121db.b6a4d"]]},{"id":"94fdb1e6.52a65","type":"function","z":"807d94c.a1e0d68","name":"Boost Tme","func":"function time_convert(num)\n { \n    var minutes = Math.floor(num / 60);  \n    var seconds = num % 60;\n  \n    // Appends 0 when unit is less than 10\n    if (minutes   < 10) {minutes   = \"0\"+minutes;}\n    if (seconds < 10) {seconds = \"0\"+seconds;}\n  \n    return minutes + \":\" + seconds;         \n}\n\n\nmsg.remain = time_convert(msg.boostRemainingCH);\nflow.set('boostTimeTxtCH',msg.remain);\nmsg.payload = msg.boostRemainingCH;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":4080,"wires":[["8edc9bf3.da5478","8fe442a7.87293"]]},{"id":"2c65ef8c.697ca","type":"ui_button","z":"807d94c.a1e0d68","name":"Boost +90m","group":"afa437fa.3e5728","order":11,"width":"1","height":"1","passthru":true,"label":"+ 90m","tooltip":"Activate HW Boost for 90mins","color":"","bgcolor":"","icon":"","payload":"5400","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":3740,"wires":[["9f2c024f.0fcc1"]]},{"id":"19ff6e58.8a5c22","type":"ui_button","z":"807d94c.a1e0d68","name":"Boost +90m","group":"d5810b9d.396c48","order":11,"width":"1","height":"1","passthru":true,"label":"+ 90m","tooltip":"Activate CH Boost for 90mins","color":"","bgcolor":"","icon":"","payload":"5400","payloadType":"num","topic":"topic","topicType":"msg","x":1710,"y":4240,"wires":[["50f905c8.e2cc6c"]]},{"id":"9f2c024f.0fcc1","type":"switch","z":"807d94c.a1e0d68","name":"Boost True?","property":"boostHW","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1950,"y":3720,"wires":[["10a4f7ee.5c2998"],[]]},{"id":"50f905c8.e2cc6c","type":"switch","z":"807d94c.a1e0d68","name":"Boost True?","property":"boostCH","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1930,"y":4260,"wires":[["50b31f18.77416","f5d9b57d.f6dac8"],[]]},{"id":"e18a0902.06f678","type":"change","z":"807d94c.a1e0d68","name":"payload 'heat'","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":1860,"wires":[["62491ec9.07aa9"]]},{"id":"59eb4b7c.b1c0d4","type":"change","z":"807d94c.a1e0d68","name":"payload 'off'","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"req.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":1820,"wires":[["62491ec9.07aa9"]]},{"id":"7c321e99.241d","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"DemandCH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":248,"y":1166,"wires":[[]]},{"id":"eae42b87.4fdaf8","type":"change","z":"807d94c.a1e0d68","name":"","rules":[{"t":"set","p":"DemandHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1160,"wires":[[]]},{"id":"9ad1c96c.296258","type":"rbe","z":"807d94c.a1e0d68","name":"Check for 'Day' change","func":"rbe","gap":"","start":"","inout":"out","property":"dayPart","x":390,"y":3680,"wires":[["ff7479aa.1b0678"]]},{"id":"3b33938d.819abc","type":"link out","z":"807d94c.a1e0d68","name":"","links":["4e90b3ac.706d9c","eeed4db5.3d7a4"],"x":535,"y":3720,"wires":[]},{"id":"ff7479aa.1b0678","type":"change","z":"807d94c.a1e0d68","name":"Set selectedDay","rules":[{"t":"set","p":"selectedDayHW","pt":"flow","to":"dayPart","tot":"msg"},{"t":"set","p":"selectedDayHW","pt":"flow","to":"dayPart","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":3720,"wires":[["3b33938d.819abc"]]},{"id":"fe5510e8.3fa7d","type":"comment","z":"807d94c.a1e0d68","name":"Day rollover - update Time Slots","info":"","x":690,"y":3720,"wires":[]},{"id":"d5f2b448.e19d08","type":"inject","z":"807d94c.a1e0d68","name":"Init Time","props":[{"p":"remain","v":"00:00","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":2180,"y":3540,"wires":[["b88121db.b6a4d"]]},{"id":"6e2f5dcc.a16eb4","type":"inject","z":"807d94c.a1e0d68","name":"Init Time","props":[{"p":"remain","v":"00:00","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":2180,"y":4040,"wires":[["8edc9bf3.da5478"]]},{"id":"7d3e3a10.930e54","type":"change","z":"807d94c.a1e0d68","name":"payload 'heat'","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":1920,"wires":[["d6b6e26b.694fb"]]},{"id":"548e1875.0b0388","type":"change","z":"807d94c.a1e0d68","name":"payload 'off'","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":1960,"wires":[["d6b6e26b.694fb"]]},{"id":"d42e7059.c3d46","type":"switch","z":"807d94c.a1e0d68","name":"CH Boost","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"60","vt":"str"},{"t":"eq","v":"90","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":340,"y":1960,"wires":[["b1c4be23.77e24","c5fcbdb6.605fb"],["a8af604d.fd6f","c5fcbdb6.605fb"],["67a763e2.96093c","c5fcbdb6.605fb"],["6930534d.073e9c","c5fcbdb6.605fb"],["67cefe3c.d12b5"]]},{"id":"8f3cbc34.4eee2","type":"switch","z":"807d94c.a1e0d68","name":"HW Boost","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"60","vt":"str"},{"t":"eq","v":"90","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":340,"y":2200,"wires":[["a2e261b3.b0ea","c5fcbdb6.605fb"],["e523657d.342778","c5fcbdb6.605fb"],["c9574d1d.637cc","c5fcbdb6.605fb"],["c5fcbdb6.605fb","7b4342ae.f3b63c"],["67cefe3c.d12b5"]]},{"id":"fbeafc7b.6e28f","type":"link in","z":"807d94c.a1e0d68","name":"CHBoost30","links":["b1c4be23.77e24","c3b22c39.d777f"],"x":1615,"y":4160,"wires":[["d938472f.dcad88"]]},{"id":"4d4732b1.9c974c","type":"link in","z":"807d94c.a1e0d68","name":"CHBoost60","links":["a8af604d.fd6f","b097f372.21783"],"x":1615,"y":4200,"wires":[["d6678cdf.2591d"]]},{"id":"38972d4d.3b74c2","type":"link in","z":"807d94c.a1e0d68","name":"CHBoost90","links":["67a763e2.96093c","5cb12df8.23b3f4"],"x":1615,"y":4240,"wires":[["19ff6e58.8a5c22"]]},{"id":"cc17464f.088058","type":"link in","z":"807d94c.a1e0d68","name":"CHBoostC","links":["6930534d.073e9c","44dd84ca.7364cc"],"x":1575,"y":4280,"wires":[["5fa6b370.040a2c"]]},{"id":"ead06ca6.bd9c7","type":"link in","z":"807d94c.a1e0d68","name":"HWBoost30","links":["a2e261b3.b0ea","19ce2b35.1c2ff5"],"x":1615,"y":3660,"wires":[["f211089d.6a4cc8"]]},{"id":"f006cb09.7491d8","type":"link in","z":"807d94c.a1e0d68","name":"HWBoost60","links":["e523657d.342778","c4c7c3c4.f53d5"],"x":1615,"y":3700,"wires":[["85b49d9e.c36eb"]]},{"id":"d74f779b.5c6b48","type":"link in","z":"807d94c.a1e0d68","name":"HWBoost90","links":["c9574d1d.637cc","a27b92ff.41ade"],"x":1615,"y":3740,"wires":[["2c65ef8c.697ca"]]},{"id":"2fead012.17135","type":"link in","z":"807d94c.a1e0d68","name":"HWBoostC","links":["7b4342ae.f3b63c","e83ad51d.2533c8"],"x":1575,"y":3780,"wires":[["c90331df.afd65"]]},{"id":"b1c4be23.77e24","type":"link out","z":"807d94c.a1e0d68","name":"CH30","links":["fbeafc7b.6e28f"],"x":555,"y":1980,"wires":[]},{"id":"a8af604d.fd6f","type":"link out","z":"807d94c.a1e0d68","name":"CH60","links":["4d4732b1.9c974c"],"x":595,"y":2000,"wires":[]},{"id":"67a763e2.96093c","type":"link out","z":"807d94c.a1e0d68","name":"CH90","links":["38972d4d.3b74c2"],"x":555,"y":2020,"wires":[]},{"id":"6930534d.073e9c","type":"link out","z":"807d94c.a1e0d68","name":"CHC","links":["cc17464f.088058"],"x":595,"y":2040,"wires":[]},{"id":"a2e261b3.b0ea","type":"link out","z":"807d94c.a1e0d68","name":"HW30","links":["ead06ca6.bd9c7"],"x":555,"y":2160,"wires":[]},{"id":"e523657d.342778","type":"link out","z":"807d94c.a1e0d68","name":"HW60","links":["f006cb09.7491d8"],"x":595,"y":2180,"wires":[]},{"id":"c9574d1d.637cc","type":"link out","z":"807d94c.a1e0d68","name":"HW90","links":["d74f779b.5c6b48"],"x":555,"y":2200,"wires":[]},{"id":"7b4342ae.f3b63c","type":"link out","z":"807d94c.a1e0d68","name":"HWC","links":["2fead012.17135"],"x":595,"y":2220,"wires":[]},{"id":"66a15ee3.0eb8","type":"switch","z":"807d94c.a1e0d68","name":"tmrActive dev","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HW","vt":"str"},{"t":"eq","v":"CH","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":2060,"wires":[["c5fcbdb6.605fb","41c27013.4ecd7"],["c5fcbdb6.605fb","bccd2888.fb90c8"],["67cefe3c.d12b5"]]},{"id":"dd0059d5.1363d8","type":"switch","z":"807d94c.a1e0d68","name":"manActive dev","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HW","vt":"str"},{"t":"eq","v":"CH","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":2120,"wires":[["c5fcbdb6.605fb","41c27013.4ecd7"],["c5fcbdb6.605fb","bccd2888.fb90c8"],["67cefe3c.d12b5"]]},{"id":"af792d8c.84358","type":"link out","z":"807d94c.a1e0d68","name":"HW Man/Tmr","links":["cb1ba9a5.121528"],"x":935,"y":2120,"wires":[]},{"id":"ed509482.fc5318","type":"link out","z":"807d94c.a1e0d68","name":"CH Man/Tmr","links":["bae9f2c5.a9c8"],"x":935,"y":2160,"wires":[]},{"id":"bccd2888.fb90c8","type":"function","z":"807d94c.a1e0d68","name":"CH Tmr/Man","func":"msg.payload = msg.topic.concat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2160,"wires":[["ed509482.fc5318"]]},{"id":"41c27013.4ecd7","type":"function","z":"807d94c.a1e0d68","name":"HW Tmr/Man","func":"msg.payload = msg.topic.concat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2120,"wires":[["af792d8c.84358"]]},{"id":"8913b926.ffc498","type":"comment","z":"807d94c.a1e0d68","name":"HTTP /cmd POST handler","info":"","x":150,"y":1700,"wires":[]},{"id":"966f2518.cfb258","type":"comment","z":"807d94c.a1e0d68","name":"HW & CH Timer/Man cmd","info":"","x":850,"y":2080,"wires":[]},{"id":"e4f782f5.6ae5c","type":"comment","z":"807d94c.a1e0d68","name":"CH Off/On cmd","info":"","x":820,"y":1920,"wires":[]},{"id":"b8f05f68.e4c0f","type":"comment","z":"807d94c.a1e0d68","name":"HW Off/On cmd","info":"","x":820,"y":1780,"wires":[]},{"id":"159a8950.d97a67","type":"comment","z":"807d94c.a1e0d68","name":"SP cmd","info":"","x":890,"y":1740,"wires":[]},{"id":"2c81e0af.75d63","type":"comment","z":"807d94c.a1e0d68","name":"HW Boost cmds","info":"","x":700,"y":2220,"wires":[]},{"id":"60d5ef13.4130d","type":"comment","z":"807d94c.a1e0d68","name":"CH Boost cmds","info":"","x":710,"y":2040,"wires":[]},{"id":"c3b22c39.d777f","type":"link out","z":"807d94c.a1e0d68","name":"getCHBoost30","links":["fbeafc7b.6e28f"],"x":1715,"y":1960,"wires":[]},{"id":"b097f372.21783","type":"link out","z":"807d94c.a1e0d68","name":"getCHBoost60","links":["4d4732b1.9c974c"],"x":1715,"y":2000,"wires":[]},{"id":"5cb12df8.23b3f4","type":"link out","z":"807d94c.a1e0d68","name":"getCHBoost90","links":["38972d4d.3b74c2"],"x":1715,"y":2040,"wires":[]},{"id":"44dd84ca.7364cc","type":"link out","z":"807d94c.a1e0d68","name":"getCHBoostC","links":["cc17464f.088058"],"x":1715,"y":2080,"wires":[]},{"id":"19ce2b35.1c2ff5","type":"link out","z":"807d94c.a1e0d68","name":"getHWBoost30","links":["ead06ca6.bd9c7"],"x":1715,"y":2140,"wires":[]},{"id":"c4c7c3c4.f53d5","type":"link out","z":"807d94c.a1e0d68","name":"getHWBoost60","links":["f006cb09.7491d8"],"x":1715,"y":2180,"wires":[]},{"id":"a27b92ff.41ade","type":"link out","z":"807d94c.a1e0d68","name":"getHWBoost90","links":["d74f779b.5c6b48"],"x":1715,"y":2220,"wires":[]},{"id":"e83ad51d.2533c8","type":"link out","z":"807d94c.a1e0d68","name":"getHWBoostC","links":["2fead012.17135"],"x":1715,"y":2260,"wires":[]},{"id":"1cec5b3d.0b9085","type":"switch","z":"807d94c.a1e0d68","name":"Check :cmd","property":"req.params.cmd","propertyType":"msg","rules":[{"t":"eq","v":"page","vt":"str"},{"t":"eq","v":"HWOff","vt":"str"},{"t":"eq","v":"HWOn","vt":"str"},{"t":"eq","v":"CHOn","vt":"str"},{"t":"eq","v":"CHOff","vt":"str"},{"t":"eq","v":"CHBoost30","vt":"str"},{"t":"eq","v":"CHBoost60","vt":"str"},{"t":"eq","v":"CHBoost90","vt":"str"},{"t":"eq","v":"CHBoostC","vt":"str"},{"t":"eq","v":"HWBoost30","vt":"str"},{"t":"eq","v":"HWBoost60","vt":"str"},{"t":"eq","v":"HWBoost90","vt":"str"},{"t":"eq","v":"HWBoostC","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":14,"x":1410,"y":1920,"wires":[["756436bf.dc78c8"],["c0d5cbb0.64eba8","59eb4b7c.b1c0d4"],["c0d5cbb0.64eba8","e18a0902.06f678"],["7d3e3a10.930e54","c0d5cbb0.64eba8"],["c0d5cbb0.64eba8","548e1875.0b0388"],["c3b22c39.d777f","c0d5cbb0.64eba8"],["c0d5cbb0.64eba8","b097f372.21783"],["c0d5cbb0.64eba8","5cb12df8.23b3f4"],["c0d5cbb0.64eba8","44dd84ca.7364cc"],["19ce2b35.1c2ff5","c0d5cbb0.64eba8"],["c0d5cbb0.64eba8","c4c7c3c4.f53d5"],["c0d5cbb0.64eba8","a27b92ff.41ade"],["c0d5cbb0.64eba8","e83ad51d.2533c8"],["ae88c9e6.d67578"]]},{"id":"954932e1.93697","type":"comment","z":"807d94c.a1e0d68","name":"to CHBoost switches","info":"","x":1830,"y":2020,"wires":[]},{"id":"d5ffef7e.b5c06","type":"comment","z":"807d94c.a1e0d68","name":"to HWBoost switches","info":"","x":1840,"y":2200,"wires":[]},{"id":"2bd6810d.e22ece","type":"catch","z":"807d94c.a1e0d68","name":"No HW!","scope":["37da2a10.72b9d6"],"uncaught":false,"x":850,"y":2580,"wires":[["ebb83fd1.e3fe8"]]},{"id":"ebb83fd1.e3fe8","type":"link out","z":"807d94c.a1e0d68","name":"Init HW - No file!","links":["e04e6954.5c7788","e370a701.0f3ca8"],"x":995,"y":2580,"wires":[]},{"id":"e04e6954.5c7788","type":"link in","z":"807d94c.a1e0d68","name":"Init HW file","links":["ebb83fd1.e3fe8"],"x":35,"y":2360,"wires":[["2192c7d2.d059e8"]]},{"id":"e370a701.0f3ca8","type":"link in","z":"807d94c.a1e0d68","name":"Init CH file","links":["ebb83fd1.e3fe8","a22746c9.9a11c8"],"x":35,"y":4140,"wires":[["dcb990d3.38058"]]},{"id":"a22746c9.9a11c8","type":"link out","z":"807d94c.a1e0d68","name":"Init CH - No file!","links":["e370a701.0f3ca8"],"x":995,"y":4340,"wires":[]},{"id":"9f159e3.054b86","type":"catch","z":"807d94c.a1e0d68","name":"No CH!","scope":["5d043734.0deaa8"],"uncaught":false,"x":850,"y":4340,"wires":[["a22746c9.9a11c8"]]},{"id":"ec71a52d.7e3698","type":"link out","z":"807d94c.a1e0d68","name":"Slider SP","links":["94add4e.6d6c128"],"x":1415,"y":740,"wires":[]},{"id":"ad866afc.6fb328","type":"link in","z":"807d94c.a1e0d68","name":"ThermSPInput","links":["807eba87.b82478"],"x":1035,"y":740,"wires":[["40e68022.48d25"]]},{"id":"7d27fcf3.3e4264","type":"switch","z":"807d94c.a1e0d68","name":"","property":"switchStateCH","propertyType":"flow","rules":[{"t":"eq","v":"On","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1420,"wires":[["53a10ad1.76c2c4"]]},{"id":"84259ce8.06c75","type":"change","z":"807d94c.a1e0d68","name":"CH Off/On pub","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":540,"wires":[["322b2f66.2bdba"]]},{"id":"ac630535.c18208","type":"change","z":"807d94c.a1e0d68","name":"HW Off/On pub","rules":[{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":500,"wires":[["322b2f66.2bdba"]]},{"id":"766ba7ec.9d4058","type":"link in","z":"807d94c.a1e0d68","name":"HWOffOnpub","links":["6c95ee28.b427a"],"x":1035,"y":500,"wires":[["ac630535.c18208"]]},{"id":"cb1adb6e.8b2f78","type":"link in","z":"807d94c.a1e0d68","name":"CHOffOnpub","links":["83a92815.c005f8"],"x":1035,"y":540,"wires":[["84259ce8.06c75"]]},{"id":"83a92815.c005f8","type":"link out","z":"807d94c.a1e0d68","name":"","links":["cb1adb6e.8b2f78"],"x":715,"y":1540,"wires":[]},{"id":"6c95ee28.b427a","type":"link out","z":"807d94c.a1e0d68","name":"","links":["766ba7ec.9d4058"],"x":1875,"y":1540,"wires":[]},{"id":"9de629cd.62d078","type":"comment","z":"807d94c.a1e0d68","name":"pub HW off/heat","info":"","x":1980,"y":1540,"wires":[]},{"id":"b80cdfca.3b013","type":"comment","z":"807d94c.a1e0d68","name":"pub HW off/heat","info":"","x":820,"y":1540,"wires":[]},{"id":"c9843d9e.8d443","type":"link out","z":"807d94c.a1e0d68","name":"apiary2mqtt/SLRCtrl/CHOffOn","links":["54ad0ef5.5bf8"],"x":735,"y":780,"wires":[]},{"id":"87ec8ad9.8cea38","type":"link out","z":"807d94c.a1e0d68","name":"apiary2mqtt/SLRCtrl/HWOffOn","links":["c5fec04.746cd4"],"x":735,"y":820,"wires":[]},{"id":"3da7f38d.6f43cc","type":"comment","z":"807d94c.a1e0d68","name":"/CHOffOn","info":"","x":820,"y":780,"wires":[]},{"id":"2262cace.049706","type":"comment","z":"807d94c.a1e0d68","name":"/HWOffOn","info":"","x":820,"y":820,"wires":[]},{"id":"c5fec04.746cd4","type":"link in","z":"807d94c.a1e0d68","name":"subHWOffOnIP","links":["87ec8ad9.8cea38"],"x":1295,"y":1440,"wires":[["4cae5470.cdf88c"]]},{"id":"54ad0ef5.5bf8","type":"link in","z":"807d94c.a1e0d68","name":"subHWOffOnIP","links":["c9843d9e.8d443"],"x":135,"y":1440,"wires":[["cce47c09.e1c62"]]},{"id":"4f3881b1.f482b","type":"comment","z":"807d94c.a1e0d68","name":"sub CH IP","info":"","x":60,"y":1440,"wires":[]},{"id":"8b04039f.3af0d","type":"comment","z":"807d94c.a1e0d68","name":"sub HW IP","info":"","x":1220,"y":1440,"wires":[]},{"id":"eab6f400.5f4418","type":"rbe","z":"807d94c.a1e0d68","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1560,"y":1540,"wires":[["4cae5470.cdf88c"]]},{"id":"7889a055.998bb","type":"rbe","z":"807d94c.a1e0d68","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":620,"y":1540,"wires":[["83a92815.c005f8"]]},{"id":"7d4c9823.65fee8","type":"delay","z":"807d94c.a1e0d68","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":4000,"wires":[["24690992.9ec086"]]},{"id":"41b5e902.5fbcc8","type":"rbe","z":"807d94c.a1e0d68","name":"change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1780,"y":1540,"wires":[["6c95ee28.b427a"]]},{"id":"9da3538b.5eddd","type":"delay","z":"807d94c.a1e0d68","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":3500,"wires":[["debd52b4.340db"]]},{"id":"61003aed.1c59c4","type":"link out","z":"807d94c.a1e0d68","name":"OnInitHW","links":["568bc793.a03c78"],"x":1315,"y":2360,"wires":[]},{"id":"568bc793.a03c78","type":"link in","z":"807d94c.a1e0d68","name":"InitBoostHW","links":["61003aed.1c59c4"],"x":1475,"y":3660,"wires":[["c90331df.afd65","c1bf700b.bd698"]]},{"id":"c9bd02f0.4aff8","type":"link out","z":"807d94c.a1e0d68","name":"OnInitCH","links":["18a12b1.af816d5","7cab764f.aea888"],"x":1255,"y":4120,"wires":[]},{"id":"18a12b1.af816d5","type":"link in","z":"807d94c.a1e0d68","name":"InitBoostCH","links":["c9bd02f0.4aff8"],"x":1495,"y":4160,"wires":[["fb960cff.17f14","5fa6b370.040a2c"]]},{"id":"1ed9a087.2d5d5f","type":"comment","z":"807d94c.a1e0d68","name":"Init BOOST CH","info":"","x":1400,"y":4160,"wires":[]},{"id":"db53fb39.e3f418","type":"comment","z":"807d94c.a1e0d68","name":"Init BOOST HW","info":"","x":1380,"y":3660,"wires":[]},{"id":"40c5f921.9d0548","type":"comment","z":"807d94c.a1e0d68","name":"publish controls, off/on/thermostat setting etc","info":"","x":1570,"y":640,"wires":[]},{"id":"ae88c9e6.d67578","type":"template","z":"807d94c.a1e0d68","name":"HTML ERR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n  </head>\n  <body>\n    <h1>ERROR, BAD CMD - {{req.params.cmd}}</h1>\n    <br>\n    <h2>Valid Commands:-</h2>\n    <h3>page&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;\n      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; GUI page</h3>\n    <h3>HWOff&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Hot Water -&nbsp; Switch Off</h3>\n    <h3>HWOn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Hot Water - Switch Off</h3>\n    <h3>CHOff&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - Switch Off</h3>\n    <h3>CHOn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - Switch On</h3>\n    <h3>HWBoost30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - 30 minute Boost</h3>\n    <h3>HWBoost60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - 60 minute Boost</h3>\n    <h3>HWBoost90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - 90 minute Boost</h3>\n    <h3>HWBoostC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hot\n      Water - Clear Boost</h3>\n    <h3>CHBoost30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - 30 minute Boost</h3>\n    <h3>CHBoost60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - 60 minute Boost</h3>\n    <h3>CHBoost90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - 90 minute Boost</h3>\n    <h3>CHBoostC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n      Central Heating - Clear Boost</h3>\n  </body>\n</html>","x":1750,"y":1800,"wires":[["e8ff14fc.ee3bc8"]]},{"id":"4a3ca1d5.f4bc2","type":"trigger","z":"807d94c.a1e0d68","name":"Startup timeout","op1":"startup","op2":"startupTimeout","op1type":"str","op2type":"str","duration":"3","extend":false,"overrideDelay":false,"units":"s","reset":"resetTimeout","bytopic":"all","topic":"topic","outputs":1,"x":140,"y":800,"wires":[["d97bbab0.a07eb8"]]},{"id":"7cab764f.aea888","type":"link in","z":"807d94c.a1e0d68","name":"initStartup","links":["c9bd02f0.4aff8"],"x":35,"y":880,"wires":[["4a3ca1d5.f4bc2","f7a99964.c750a8","8efd8a91.2d8d18","7af368c0.6574d8","9f37f30b.39218","c98abce4.7c45b"]]},{"id":"d97bbab0.a07eb8","type":"gate","z":"807d94c.a1e0d68","name":"","controlTopic":"resetCH","defaultState":"closed","openCmd":"startup","closeCmd":"startupTimeout","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":330,"y":800,"wires":[["f44a7002.2463d"]]},{"id":"f7a99964.c750a8","type":"change","z":"807d94c.a1e0d68","name":"HWMan","rules":[{"t":"set","p":"payload","pt":"msg","to":"manActiveHW","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":840,"wires":[["a70b43f4.c2d45"]]},{"id":"a70b43f4.c2d45","type":"delay","z":"807d94c.a1e0d68","name":"Init - Delay defaults","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":1000,"wires":[["d97bbab0.a07eb8"]]},{"id":"64c23dad.f92224","type":"change","z":"807d94c.a1e0d68","name":"close gate on SP","rules":[{"t":"set","p":"topic","pt":"msg","to":"resetCH","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"startupTimeout","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":880,"wires":[["d97bbab0.a07eb8"]]},{"id":"8efd8a91.2d8d18","type":"change","z":"807d94c.a1e0d68","name":"CHMan","rules":[{"t":"set","p":"payload","pt":"msg","to":"manActiveCH","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHManAuto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":880,"wires":[["a70b43f4.c2d45"]]},{"id":"9f37f30b.39218","type":"change","z":"807d94c.a1e0d68","name":"HWOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/HWOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":960,"wires":[["a70b43f4.c2d45"]]},{"id":"7af368c0.6574d8","type":"change","z":"807d94c.a1e0d68","name":"CHOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/CHOffOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":920,"wires":[["a70b43f4.c2d45"]]},{"id":"c98abce4.7c45b","type":"change","z":"807d94c.a1e0d68","name":"SP","rules":[{"t":"set","p":"payload","pt":"msg","to":"18","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pive2mqtt/SLRCtrl/savedSP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":1000,"wires":[["a70b43f4.c2d45"]]},{"id":"bc2a46e8.92b228","type":"comment","z":"807d94c.a1e0d68","name":"setup SLR default control values and publish if no values received on start","info":"","x":520,"y":920,"wires":[]},{"id":"59b4570f.70d078","type":"change","z":"807d94c.a1e0d68","name":"CH On","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":4280,"wires":[["2a1f35aa.340dea"]]},{"id":"2a1f35aa.340dea","type":"link out","z":"807d94c.a1e0d68","name":"BoostUpdateCHON","links":["456ae380.381f1c"],"x":2395,"y":4280,"wires":[]},{"id":"360a846c.2f192c","type":"comment","z":"807d94c.a1e0d68","name":"Update Off/On CH","info":"","x":2510,"y":4280,"wires":[]},{"id":"d452afda.6b4f1","type":"change","z":"807d94c.a1e0d68","name":"HW On","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":3740,"wires":[["f9c557a8.e591e8"]]},{"id":"f9c557a8.e591e8","type":"link out","z":"807d94c.a1e0d68","name":"BoostUpdateHWON","links":["5267cb08.b3eac4"],"x":2395,"y":3740,"wires":[]},{"id":"73013c8c.a36914","type":"comment","z":"807d94c.a1e0d68","name":"Update Off/On HW","info":"","x":2510,"y":3740,"wires":[]},{"id":"fa7c7053.0a768","type":"change","z":"807d94c.a1e0d68","name":"Get CH Mode Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"system_mode_heat\": \"\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1400,"wires":[["ffee2a96.057c78"]]},{"id":"86d5a155.46278","type":"change","z":"807d94c.a1e0d68","name":"Get HW Mode Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"system_mode_water\": \"\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1400,"wires":[["cd2c66e1.16cb68"]]},{"id":"e4e77549.eb2e28","type":"change","z":"807d94c.a1e0d68","name":"Create Thermostat  Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"thermSP","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1420,"wires":[["7d27fcf3.3e4264"]]},{"id":"c5d162de.95589","type":"mqtt-broker","name":"local mqtt broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"22efc0.bc80d04","type":"ui_group","name":"SLR/SLT Control/Status","tab":"a64ae55.d258218","order":1,"disp":true,"width":"6","collapse":false},{"id":"87aeb55.3e6ea48","type":"ui_group","name":"HW Daily Time Slots","tab":"a64ae55.d258218","order":2,"disp":true,"width":"4","collapse":false},{"id":"afa437fa.3e5728","type":"ui_group","name":"HW Edit Time Slot","tab":"a64ae55.d258218","order":3,"disp":true,"width":"4","collapse":false},{"id":"d5810b9d.396c48","type":"ui_group","name":"CH Edit Time Slot","tab":"a64ae55.d258218","order":6,"disp":true,"width":"4","collapse":false},{"id":"2c575afb.6509b6","type":"ui_group","name":"CH Daily Time Slots","tab":"a64ae55.d258218","order":5,"disp":true,"width":"4","collapse":false},{"id":"1ea34d06.1438c3","type":"ui_group","name":"Default","tab":"5e2e41aa.9826b","order":1,"disp":true,"width":"6","collapse":true},{"id":"a64ae55.d258218","type":"ui_tab","name":"Pi-ve Dashboard - Beta 1.30","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5e2e41aa.9826b","type":"ui_tab","name":"Home","icon":"dashboard","order":9}]